workflows/0714_Research Agent.json
{"createdAt":"2025-07-14T04:48:40.857Z","updatedAt":"2025-07-14T04:51:01.000Z","id":"7fyTGySVvKfpFs5o","name":"0714_Research Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"2e9858b3-61e8-4cde-b2a1-f84be3db5dd1","name":"When chat message received","webhookId":"69270b64-5065-4937-87a5-a950b7fe30e5"},{"parameters":{"options":{"systemMessage":"あなたは優秀なアシスタントです。\n\n以下のツールを使って、情報収集してください。"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[220,0],"id":"36e3e9f7-5e41-41c0-a28d-ffea545fd801","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[160,220],"id":"501b1891-7033-40eb-b71d-8661ef9594b4","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NMm1O0ZYMrpQVDiG","name":"Google Gemini(PaLM) Api account 9"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[320,220],"id":"e77c1fb1-9db2-4b1e-a392-dc3100f20c9b","name":"Simple Memory"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,480],"id":"11fa5a55-8a9c-4270-a7b7-5f8f2526f3ac","name":"When Executed by Another Workflow"},{"parameters":{"description":"情報収集を行う際には、このツールを使ってください。","workflowId":{"__rl":true,"value":"7fyTGySVvKfpFs5o","mode":"list","cachedResultName":"0714_Research Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[480,220],"id":"ea903e07-f223-4c64-b23f-3f382ade5b79","name":"Research Agent"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"あなたは優秀なリサーチャーです。\n以下のツールを使ってユーザーが求める情報をリサーチしてください。\n- \"Message a model in Perplexity\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[220,480],"id":"1bb63199-4d1a-4c77-b8e9-5b2929b92788","name":"AI Agent1"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[220,700],"id":"0f8c3772-fc87-49fc-bd70-8bef6b5035ff","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"NMm1O0ZYMrpQVDiG","name":"Google Gemini(PaLM) Api account 9"}}},{"parameters":{"model":"sonar","messages":{"message":[{"content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexityTool","typeVersion":1,"position":[520,700],"id":"540f32a2-716a-4793-bec1-4cc2f8c34829","name":"Message a model in Perplexity","credentials":{"perplexityApi":{"id":"tSwqH0DkkfCVIBPI","name":"Perplexity account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Research Agent":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Message a model in Perplexity":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4166dc10-d2d6-4119-b10b-bea2a11e9b19","triggerCount":0,"tags":[]}