workflows/20250613_test_notion連携用.json
{"createdAt":"2025-06-13T02:01:39.656Z","updatedAt":"2025-06-16T01:36:27.000Z","id":"2hc2vH63DwZAL3YV","name":"20250613_test_notion連携用","active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"2111746d-b916-800e-95b2-df214da5594b","mode":"list","cachedResultName":"顧客データベース","cachedResultUrl":"https://www.notion.so/2111746db916800e95b2df214da5594b"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[0,0],"id":"ccee23a8-b57a-4033-83c3-08d8900f9b4a","name":"Notion Trigger","credentials":{"notionApi":{"id":"QqSdrPma5jBH8adF","name":"Notion account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# 指示\nNotion DBに更新された企業名（{{ $json['企業名'] }}）を読み方とセットで、テキストとして出力してください。\n\n## 出力例\n株式会社ABC（読み方：かぶしきがいしゃえーびーしー）"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,0],"id":"c41a24f7-85b8-44d9-92c2-134c77c261d2","name":"OpenAI","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"resource":"block","blockId":{"__rl":true,"value":"2111746db91680428092dea7e56945d2","mode":"id"},"blockUi":{"blockValues":[{"type":"bulleted_list_item","textContent":"={{ $json.message.content }}"}]}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[580,0],"id":"9df84fc6-45e6-4fc2-a028-c1d03693504d","name":"Notion","credentials":{"notionApi":{"id":"QqSdrPma5jBH8adF","name":"Notion account"}}}],"connections":{"Notion Trigger":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Notion","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Notion Trigger":{"lastTimeChecked":"2025-06-13T12:15:00.000Z","possibleDuplicates":["2111746d-b916-80d2-98c8-eaf1954780af"]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"486916aa-799a-4ba8-8443-508ea935e65a","triggerCount":1,"tags":[]}