workflows/20250624_note writer automation_1.json
{"createdAt":"2025-06-23T05:27:13.208Z","updatedAt":"2025-06-25T09:19:27.000Z","id":"UDq6xXZp9zQg7Hwh","name":"20250624_note writer automation_1","active":false,"isArchived":true,"nodes":[{"parameters":{"formTitle":"n8n JSON Input","formDescription":"n8nのJSON Fileを入力してください。","formFields":{"values":[{"fieldLabel":"File","fieldType":"file"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"8e2dda29-579f-4b30-838f-1d2bf479feb0","name":"On form submission","webhookId":"e49a1e53-a968-4d4f-8ff5-020afa433725"},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは「生成AI × ノーコード自動化」専門のテクニカルライターです。\n\n# 指示\nユーザがアップロードした ## n8n ワークフロー JSON を読み取り、\n1. ワークフローの目的（誰の／どんな課題を解決するか）\n2. 全体像 → 成果物サンプル → ステップ解説\n3. 各ノードの役割・設定ポイント\n4. 運用のコツ・応用例\nの順で、**note 記事**（Markdown 規約）を作成してください。\n\n## n8n ワークフロー JSON\n{{ JSON.stringify($json.File || $json[0].File, null, 2) }}\n\n## 文章トーン\n- 読者は「非エンジニアだが業務で自動化を始めたい人」  \n- 丁寧語で分かりやすく、専門用語には必ず一言解説を添える  \n- *見出し* は h2 (##) / h3 (###) を使用し、1 行につき 30〜40 文字で簡潔に  \n\n## 構成テンプレート\n以下の YAML を「設計書」とみなし、記事骨格を準拠させる。  \n```yaml\nmeta:\n  title: \"<ワークフローの端的なキャッチコピー>\"\n  description: \"<140 文字以内の導入文>\"\n\nbody:\n  - type: intro\n    content: |\n      ## <課題を感じるシーン>\n      <読者の“あるある”を箇条書き 3 点>\n  - type: solution_overview\n    content: |\n      ## n8n が解決すること\n      - <どう自動化されるかを一言で>\n      - <今回作るワークフロー図を簡易説明>\n  - type: workflow_capture\n    content: |\n      > n8n ワークフロー全体キャプチャ（画像を貼る想定）\n  - type: step_by_step\n    children:\n      - id: \"<各ノード id>\"\n        node_name: \"<ノード名>\"\n        markdown: |\n          ### <ステップ見出し>\n          1. ノードを追加  \n          2. 必須パラメータ: **<主要パラメータ>**  \n          3. チェックポイント: <よくあるつまずき>  \n  - type: conclusion\n    content: |\n      ---  \n      以上でワークフロー完成です。次回は <次回予告>。\n```\n\n---\n\n**出力フォーマット（厳守）**\n\n```markdown\n<タイトル行>\n\n<本文全体を Markdown で出力>\n```\n\n---","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[440,0],"id":"3321b4f9-5c67-4942-8cde-bb5797c94a6c","name":"AI Agent"},{"parameters":{"operation":"fromJson","binaryPropertyName":"File","destinationKey":"File","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[220,0],"id":"2492fc04-5a05-4a82-b9b0-cec41ae87dbb","name":"Extract from File"},{"parameters":{"method":"POST","url":"https://api.notion.com/v1/pages","authentication":"predefinedCredentialType","nodeCredentialType":"notionApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"parent","value":"={{ { \"page_id\": \"21c1746db91680198f9cf38d1b06b167\" } }}"},{"name":"children","value":"={{ $json.data }}"}]},"options":{}},"id":"d0f2ad13-2536-481d-9904-fdfc04ca0195","name":"Upload via Notion API1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1412,0],"retryOnFail":true,"maxTries":2,"credentials":{"notionApi":{"id":"QqSdrPma5jBH8adF","name":"Notion account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e5363ffc-51ef-4a98-a9c2-4efd0c6bcc7b","name":"data","value":"={{ JSON.parse($json.text.replaceAll(/\\n|\\s{2}/g, '').replace('```json','').replace('```','')) }}","type":"array"}]},"options":{}},"id":"e43b08dc-e4a8-457c-a225-d5fafea64bf4","name":"JSON Parser1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1192,0]},{"parameters":{"promptType":"define","text":"=Convert the following Markdown into a Notion blocks JSON array.\nReturn only the JSON (no code-fence, no extra text).\n```\n{{ $json.output }}\n```","messages":{"messageValues":[{"message":"=You help the user convert markdown to notion blocks. In your response, return only the notion blocks json so that the user may upload directly via the notion api.\n\n# Notion rules\n1. ensure all heading blocks use rich_text.\n2. If you output a code block, set `code.language` to \\\"plain text\\\" unless you know the exact language name that Notion supports.\n\n# notion blocks json sample\n## heading_1\n{\n  \"object\": \"block\",\n  \"id\": \"c02fc1d3-db8b-45c5-a222-27595b15aea7\",\n  \"type\": \"heading_1\",\n  \"heading_1\": {\n    \"rich_text\": [{\n      \"type\": \"text\",\n      \"text\": {\n        \"content\": \"見出し1のテキスト\",\n        \"link\": null\n      },\n      \"annotations\": {\n        \"bold\": false,\n        \"italic\": false,\n        \"strikethrough\": false,\n        \"underline\": false,\n        \"code\": false,\n        \"color\": \"default\"\n      },\n      \"plain_text\": \"見出し1のテキスト\",\n      \"href\": null\n    }],\n    \"color\": \"default\",\n    \"is_toggleable\": false\n  }\n}\n\n## heading_2\n{\n  \"object\": \"block\",\n  \"id\": \"c02fc1d3-db8b-45c5-a222-27595b15aea7\",\n  \"type\": \"heading_2\",\n  \"heading_2\": {\n    \"rich_text\": [{\n      \"type\": \"text\",\n      \"text\": {\n        \"content\": \"見出し2のテキスト\",\n        \"link\": null\n      },\n      \"annotations\": {\n        \"bold\": false,\n        \"italic\": false,\n        \"strikethrough\": false,\n        \"underline\": false,\n        \"code\": false,\n        \"color\": \"green\"\n      },\n      \"plain_text\": \"見出し2のテキスト\",\n      \"href\": null\n    }],\n    \"color\": \"default\",\n    \"is_toggleable\": false\n  }\n}\n\n## bulleted_list_item\n{\n  \"object\": \"block\",\n  \"type\": \"bulleted_list_item\",\n  \"bulleted_list_item\": {\n    \"rich_text\": [{\n      \"type\": \"text\",\n      \"text\": {\n        \"content\": \"箇条書きアイテム\",\n        \"link\": null\n      }\n    }],\n    \"color\": \"default\",\n    \"children\": [{\n      \"type\": \"paragraph\"\n    }]\n  }\n}\n\n## numbered_list_item\n{\n  \"object\": \"block\",\n  \"type\": \"numbered_list_item\",\n  \"numbered_list_item\": {\n    \"rich_text\": [{\n      \"type\": \"text\",\n      \"text\": {\n        \"content\": \"番号付きリストアイテム\",\n        \"link\": null\n      }\n    }],\n    \"color\": \"default\"\n  }\n}\n\n## paragraph\n{\n  \"object\": \"block\",\n  \"type\": \"paragraph\",\n  \"paragraph\": {\n    \"rich_text\": [{\n      \"type\": \"text\",\n      \"text\": {\n        \"content\": \"段落のテキスト内容\",\n        \"link\": null\n      }\n    }],\n    \"color\": \"default\"\n  }\n}\n\n## to_do\n{\n  \"object\": \"block\",\n  \"type\": \"to_do\",\n  \"to_do\": {\n    \"rich_text\": [{\n      \"type\": \"text\",\n      \"text\": {\n        \"content\": \"タスクの内容\",\n        \"link\": null\n      },\n      \"annotations\": {\n        \"bold\": false,\n        \"italic\": false,\n        \"strikethrough\": false,\n        \"underline\": false,\n        \"code\": false,\n        \"color\": \"default\"\n      },\n      \"plain_text\": \"タスクの内容\",\n      \"href\": null\n    }],\n    \"checked\": false\n  }\n}\n\n"}]}},"id":"08a46b4d-3249-4041-8e09-857b50367632","name":"Markdown to Notion Block1","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[816,0]},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[904,220],"id":"ecaa41fb-68bc-4d68-8544-e0a65eedbad0","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"pkkgMgQ2rSCnE7kR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"claude-sonnet-4-20250514","cachedResultName":"Claude 4 Sonnet"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.3,"position":[460,220],"id":"8f86e8bc-238e-4237-848e-549a005eb5ba","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"rabpp1nGzL9jItA2","name":"Anthropic account"}}}],"connections":{"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Markdown to Notion Block1","type":"main","index":0}]]},"JSON Parser1":{"main":[[{"node":"Upload via Notion API1","type":"main","index":0}]]},"Markdown to Notion Block1":{"main":[[{"node":"JSON Parser1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Markdown to Notion Block1","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"79cc88c6-9471-4e83-89f2-248a4f8e0dbe","triggerCount":0,"tags":[{"createdAt":"2025-06-18T07:58:49.669Z","updatedAt":"2025-07-03T09:01:04.709Z","id":"w3Cnd8StpKPr7ekR","name":"on test"}]}