workflows/20250702_Auto drafting mail for meeting_v02.json
{"createdAt":"2025-07-02T08:09:56.588Z","updatedAt":"2025-07-02T09:19:48.000Z","id":"7FaFBKPmgevonkMr","name":"20250702_Auto drafting mail for meeting_v02","active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"to:(ruchida@rstreet.co.jp) subject:TEST"},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[0,-200],"id":"dbc9e356-8597-4878-bd78-efed982b99f4","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bec68fec-a5d0-41d6-8836-e7ea25fab658","leftValue":"={{ $json.choices[0].message.content }}","rightValue":"Yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[580,-200],"id":"14504176-7927-4013-b3f5-588144ee81d2","name":"If"},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは「生成AI教習所」の内田陸として会議調整メールを執筆します。\n\n# 処理手順\n\n## 1. スケジュール情報の取得\n必ず以下のツールを呼び出してください：\n- 「内田陸's free schedule」ツール\n- 「梶原俊一's free schedule」ツール\n- 「落合建介's free schedule」ツール\n\n\n## 2. メール内容の分析\n受信メールから以下を抽出してください：\n\n### 所要時間の特定\nメール本文から会議時間を抽出（例：「30分程度」「1時間」「1〜2時間」「半日」）\n- 明記されていない場合：**1時間をデフォルト**とする\n\n### 候補時間帯の理解\n- 先方が提示した時間帯 = **先方の空き時間**\n- この時間帯内で上記所要時間の会議枠を探索する\n\n## 3. 会議枠の探索と選定\n\n### A. 候補日時が提示されている場合\n各時間帯内で以下を実行：\n1. **会議枠候補の生成**：所要時間に基づく全ての可能な会議枠を作成\n2. **有効性チェック**：各候補が対象者全員の連続空きスロット内に完全に収まるかを確認\n3. **最適枠の選定**：有効な候補から最も早い時間を選択\n\n### B. 候補日時が提示されていない場合\n対象者全員の共通空き時間から、所要時間分の会議が収まるスロットを特定\n\n## 4. 返信メール作成\n- 宛先：相手会社名・氏名\n- 挨拶：生成AI教習所の内田として\n- 日時提示：「YYYY年MM月DD日（曜日）HH:MM-HH:MM」形式\n\n## 受信メール\n{{ $('Gmail Trigger').item.json.text }}\n\n# 具体例\n\n## 所要時間抽出パターン\n| メール表現 | 抽出時間 |\n|------------|----------|\n| 「30分程度の打ち合わせ」 | 30分 |\n| 「1時間の会議」 | 1時間 |\n| 「1〜2時間程度を想定」 | 1時間と2時間 |\n| 「半日程度」 | 3〜4時間 |\n| 記載なし | 1時間（デフォルト） |\n\n## 会議枠生成例\n**先方提示：7月4日（金）10:00〜14:00、所要時間：1時間**\n- 生成候補：10:00-11:00, 11:00-12:00, 12:00-13:00, 13:00-14:00\n- 内田の空き：11:00-16:00、梶原の空き：11:00-23:59、落合の空き：12:00-14:00\n- 有効候補：12:00-13:00, 13:00-14:00\n- **選定結果：12:00-13:00**（最も早い時間）\n\n# 出力例\n\n## パターン1：確定可能\n山田様\n\n平素より大変お世話になっております。\n生成AI教習所の内田でございます。\n\nご提案いただきました候補日程の件、ありがとうございます。\n対象者全員のスケジュールを確認いたしましたところ、下記日程にて調整させていただけますでしょうか。\n\n**確定日時：2025年07月04日（金曜日）11:00-12:00**\n\n改めて会議詳細につきましては、別途ご連絡させていただきます。\n\n何卒よろしくお願い申し上げます。\n\n内田\n\n## パターン2：複数候補\n山田様\n\n平素より大変お世話になっております。\n生成AI教習所の内田でございます。\n\nご提案いただきました候補日程を確認いたしました。\n下記の時間帯でご都合はいかがでしょうか。\n\n**候補1：2025年07月04日（金曜日）11:00-12:00**\n**候補2：2025年07月04日（金曜日）12:00-13:00**\n\nご都合の良い時間をお知らせいただければと思います。\n\n何卒よろしくお願い申し上げます。\n\n内田\n\n## パターン3：代替提案\n山田様\n\n平素より大変お世話になっております。\n生成AI教習所の内田でございます。\n\nご提案いただきました候補日程を確認いたしましたが、恐れ入りますが当方のスケジュールと調整が困難でございます。\nつきましては、下記の候補日程はいかがでしょうか。\n\n**候補1：2025年07月02日（水曜日）10:00-11:00**\n**候補2：2025年07月03日（木曜日）13:00-14:00**\n**候補3：2025年07月05日（土曜日）11:00-12:00**\n\nご都合の良い日時をお知らせいただければと思います。\n\n何卒よろしくお願い申し上げます。\n\n内田\n\n# 重要ルール\n\n## 必須事項\n- 対象者全員のスケジュールツール呼び出し\n- メール本文からの所要時間正確抽出\n- 先方時間帯の正しい解釈（空き時間として）\n- 連続空きスロット内での完全収容確認\n- 対象者全員の共通時間のみでの候補生成\n\n## 禁止事項\n- 先方時間帯の固定会議時間としての誤解釈\n- 空きスロット境界を超える会議提案\n- 複数スロットにまたがる会議提案","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1068,-200],"id":"ea452849-117a-4e1d-bdd9-ca18fc27ec4b","name":"AI Agent"},{"parameters":{"resource":"draft","subject":"=RE: {{ $('Gmail Trigger').item.json.subject }}","emailType":"html","message":"={{ $json.message }}","options":{"replyTo":"={{ $('Gmail Trigger').item.json.headers[\"message-id\"] }}","threadId":"={{ $('Gmail Trigger').item.json.threadId }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1696,-200],"id":"31aa14d6-1683-4ba9-909f-6c217e9b1662","name":"Gmail","webhookId":"cf5c04fe-9ed8-4d91-add8-670ca695f8a5","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"jsCode":"// ----- 入力 -----\nconst replyPlain = $input.first().json.output;                    // AI が作った本文(プレーン)\nconst originalHtml = $('Gmail Trigger').first().json.html            // 元メール HTML\n                    || $('Gmail Trigger').first().json.text;          // HTML が無ければテキスト\n\n// ----- HTML 形式に整形 -----\nconst replyHtml = replyPlain\n  .replace(/\\n/g, '<br>');                         // 改行を <br> に\n\n// Gmail が自動で折り畳んでくれる \"gmail_quote\" ブロック\nconst quotedHtml = `\n<br><br>\n<div class=\"gmail_quote\">\n  <blockquote class=\"gmail_quote\"\n    style=\"margin:0 0 0 .8ex;border-left:1px solid #ccc;padding-left:1ex\">\n    ${originalHtml}\n  </blockquote>\n</div>`;\n\n// ----- 出力 -----\n// itemオブジェクトを新規作成\nconst item = {\n  message: replyHtml + quotedHtml             // Gmail ノードの message に渡す\n};\n\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1476,-200],"id":"2c5c9fd0-484c-43fa-92b7-e83791cc7a62","name":"Code"},{"parameters":{"method":"POST","url":"={{ $execution.resumeUrl.split('/').slice(0, 3).join('/') }}/webhook/token-estim8r-data","sendBody":true,"bodyParameters":{"parameters":[{"name":"executionId","value":"={{$execution.id}}"},{"name":"workflowId","value":"={{$workflow.id}}"},{"name":"workflowName","value":"={{$workflow.name}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1940,-200],"id":"e4e24b62-0038-4d98-a65e-45403ed23f8c","name":"Send Token Estim8r Data"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=# 指示\n## メール本文の内容を確認し、内容が会議の日程調整に関わるものであれば、「Yes」と出力してください。そうでなければ「No」と出力ください。メール本文が会議調整に関わるものかどうかは## 会議調整メールの例を確認ください。\n「Yes」、「No」以外は出力しないでください。\n\n## 会議調整メールの例\n株式会社XXX社\nYYY様\n平素より大変お世話になっております。\n早速のご調整をいただきありがとうございます。\n5月12日(月)13:00 - 14:00 にて、何卒よろしくお願いいたします。\n追ってWeb会議のURLをお送りさせていただきます。\n引き続き、どうぞよろしくお願いいたします。\nZZZ\n\n## メール本文\n {{ $json.text }}\n\n"}]},"simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,-200],"id":"3da0306f-0511-41e7-b5e8-de6cde3dabfa","name":"Message a model","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e91d98fc-1e81-4dbf-8dec-6286bf537c80","name":"member_1","value":"内田陸","type":"string"},{"id":"5fae171d-acb5-443e-a336-628fcc3afbd0","name":"member_2","value":"梶原俊一","type":"string"},{"id":"249a5e47-c7d6-44a3-b0b2-25d9b70752bd","name":"member_3","value":"落合建介","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[820,-260],"id":"44d97802-f131-4768-807c-a1b295233e45","name":"Edit Fields"},{"parameters":{"description":"このツールを呼び出して、内田陸の今後1週間の空き時間を取得してください。","workflowId":{"__rl":true,"value":"QJEwr3iNXoXzPosM","mode":"list","cachedResultName":"Uchida san's schedule_2"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"Input"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1156,20],"id":"1f28e68f-1f2f-4e9b-9f38-655d7e035316","name":"内田陸's free schedule"},{"parameters":{"description":"このツールを呼び出して、梶原俊一の今後1週間の空き時間を取得してください。","workflowId":{"__rl":true,"value":"ow4XQWTdsrDHbWD3","mode":"list","cachedResultName":"Kajiwara san's schedule_2"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"Input"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1300,20],"id":"4e9d7f69-b7ff-49c4-a1d2-745e905d3641","name":"梶原俊一's free schedule"},{"parameters":{"description":"このツールを呼び出して、落合建介の今後1週間の空き時間を取得してください。","workflowId":{"__rl":true,"value":"mpIKA6eOGmDJ7Irw","mode":"list","cachedResultName":"Ochiai san's schedule_2"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"Input"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1460,20],"id":"22cadfb6-b500-4dbe-9f7e-12f4b9fa8004","name":"落合建介's free schedule"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1020,20],"id":"dcc14542-9387-4b3c-9ba9-4220c5bb6928","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Gmail":{"main":[[{"node":"Send Token Estim8r Data","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"If","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"内田陸's free schedule":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"梶原俊一's free schedule":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"落合建介's free schedule":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1750731344,"possibleDuplicates":["197597ea59a0acde"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f0f9f04b-8d5b-492a-9b53-94be96de4364","triggerCount":1,"tags":[]}