workflows/20250704_YYY-san's schedule.json
{"createdAt":"2025-07-04T09:37:15.444Z","updatedAt":"2025-07-04T12:10:46.000Z","id":"6tpzpTgwk30xijQG","name":"20250704_YYY-san's schedule","active":false,"isArchived":false,"nodes":[{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"events","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[440,0],"id":"7dd20d07-c739-4408-a019-1b82e358873e","name":"Aggregate"},{"parameters":{"workflowInputs":{"values":[{"name":"Input"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"41ace78c-610d-44c6-afad-88097e33432a","name":"When Executed by Another Workflow"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=次の1ヶ月の予定一覧です（日時はすべて JST）。\n\n{{ $json.events\n    .sort((a, b) => a.start.dateTime.localeCompare(b.start.dateTime))\n    .map(e => `• ${e.summary} ｜ ${e.start.dateTime} 〜 ${e.end.dateTime}`)\n    .join('\\n') }}\n\n各日の予定時間帯とイベント名を箇条書きでまとめてください。","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[20,380],"id":"4cdff944-e8b0-4979-a889-2e3fdec8c3bc","name":"OpenAI","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"ruchida@rstreet.co.jp","mode":"list","cachedResultName":"ruchida@rstreet.co.jp"},"returnAll":true,"timeMax":"={{ $now.plus({ month: 1 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[220,0],"id":"bd7117c2-eabf-40a2-bb07-d68a0612d9c5","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"RWBDOCdnjcMlP7IO","name":"Google Calendar account"}}},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[660,0],"id":"8910aeed-63fb-4100-bf0d-dc20a7d2d159","name":"Code"}],"connections":{"Aggregate":{"main":[[{"node":"Code","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"388f4135-aa6e-456d-9dc7-78ac0d7cd491","triggerCount":0,"tags":[{"createdAt":"2025-07-04T09:36:37.071Z","updatedAt":"2025-07-04T09:36:37.071Z","id":"zaojHB67WrioH2wv","name":"past version"}]}