workflows/20250612_test_workflow.json
{"createdAt":"2025-06-09T06:51:57.368Z","updatedAt":"2025-06-12T09:55:27.000Z","id":"079S5ZpQ3Tw9aAyF","name":"20250612_test_workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"TEST","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,200],"id":"d76e4d3d-d07a-4ff9-90da-b7248e14a9ad","name":"Webhook1","webhookId":"8b4ffe90-258d-4435-83a7-4bee1f573cae"},{"parameters":{"action":"hmac","type":"SHA256","value":"={{ $json.body.payload.plainToken }}","secret":"gdo7UwQHSK-uu0gBs6Nb3w"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[220,200],"id":"fbff860d-d84b-4f5d-bf5e-0db03a7b0d2f","name":"Crypto"},{"parameters":{"assignments":{"assignments":[{"id":"1dd1d790-16e1-46bb-b902-b33ab49481fa","name":"body","value":"={ \"encryptedToken\":\"{{ $json.data }}\",\"plainToken\":\"{{ $json.body.payload.plainToken }}\"}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,200],"id":"38fc35d1-54e2-4feb-a256-fcf3f1c3ff4f","name":"Edit Fields1"},{"parameters":{"respondWith":"json","responseBody":"={{ $json.body }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-type","value":"application/json"}]}}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.2,"position":[660,200],"id":"f7288560-dbcd-478d-a908-c30e888b2013","name":"Respond to Webhook"},{"parameters":{"authentication":"oAuth2","url":"https://api.zoom.us/v2/past_webinars/{{ $json.body.payload.object.uuid }}/participants?page_size=300","options":{"splitIntoItems":true}},"id":"b7e39980-dd7b-42c0-be4b-a3a0444df6e1","name":"List Webinar Participants","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[360,-260]},{"parameters":{"authentication":"oAuth2","url":"https://api.zoom.us/v2/past_webinars/{{ $json.body.payload.object.uuid }}/qa?page_size=100","options":{"splitIntoItems":true}},"id":"b5793601-ab53-491b-beab-825be3a8ac63","name":"List Webinar Q&A","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[360,20]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json[\"answer\"] }}","operation":"isEmpty"}]},"options":{}},"id":"27110430-d156-46d2-9f14-477dd52aa6f8","name":"Filter Unanswered","type":"n8n-nodes-base.if","typeVersion":2,"position":[660,20]},{"parameters":{"batchSize":1,"options":{}},"id":"e8a52a39-08ee-4cc0-bf9a-43ee278497c4","name":"Split Questions","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[920,-20]},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{}]},"options":{}},"id":"ed6a5c61-2b36-4204-9f27-574276583ab1","name":"Aggregate Q&A","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[1560,-40]},{"parameters":{"batchSize":1,"options":{}},"id":"259f412e-551d-49a7-8582-a4ecb64f814c","name":"Split Participants","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[620,-260]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"email_body","value":"={{`{{firstName}} 様\\n\\nウェビナーにご参加いただきありがとうございました。資料は添付しております。\\n未回答のご質問と回答を以下に記載します：\\n\\n` + $json[\"answers\"].map(a => 'Q: ' + a.question + '\\nA: ' + a.text).join('\\n\\n') + '\\n\\n--\\n運営チーム'}}"}]},"options":{}},"id":"15e66efa-585d-4bd0-9c3b-e47e78e0a016","name":"Compose Email Body","type":"n8n-nodes-base.set","typeVersion":2,"position":[1820,-140]},{"parameters":{"sendTo":"={{ $json.email }}","subject":"ウェビナーご参加御礼と資料・Q&A","message":"={{ $node[\"Compose Email Body\"].json[\"email_body\"] }}","options":{}},"id":"66868d02-7d41-4aad-bfbe-9bbafe55b69b","name":"Gmail – Send Email","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[2080,-120],"webhookId":"aaab0444-5ec8-4506-be69-1dc634ee9e7d","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1140,-40],"id":"5b19172e-5d46-447c-8323-7e6dc1fd84eb","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1200,180],"id":"ff586252-3dc6-4258-b042-3118787af514","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"pkkgMgQ2rSCnE7kR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"httpMethod":"POST","path":"TEST","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[20,-120],"id":"f19db7a4-5350-478a-8f00-6154bb208275","name":"Webhook","webhookId":"8b4ffe90-258d-4435-83a7-4bee1f573cae"}],"connections":{"Webhook1":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"List Webinar Participants":{"main":[[{"node":"Split Participants","type":"main","index":0}]]},"List Webinar Q&A":{"main":[[{"node":"Filter Unanswered","type":"main","index":0}]]},"Filter Unanswered":{"main":[[{"node":"Split Questions","type":"main","index":0}]]},"Aggregate Q&A":{"main":[[{"node":"Compose Email Body","type":"main","index":0}]]},"Compose Email Body":{"main":[[{"node":"Gmail – Send Email","type":"main","index":0}]]},"Split Questions":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Aggregate Q&A","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"List Webinar Participants","type":"main","index":0},{"node":"List Webinar Q&A","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"37def83d-cf89-4d34-8259-304d88b15b09","triggerCount":2,"tags":[]}