workflows/Append Business contacts DB by Outlook trigger.json
{"createdAt":"2025-06-10T05:22:34.944Z","updatedAt":"2025-06-10T07:01:26.000Z","id":"dtFqFj1mbrShIES1","name":"Append Business contacts DB by Outlook trigger","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bec68fec-a5d0-41d6-8836-e7ea25fab658","leftValue":"={{ $json.output }}","rightValue":"Yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[656,-610],"id":"cc113120-f39b-41d1-8ac3-ac83ad96759d","name":"If"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2020d066-2c6b-40b7-8681-fd4550f9b3fe","leftValue":"={{ $json.property_email }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1096,-610],"id":"a4fd3828-0232-4a5e-adaa-8022f126b2b0","name":"If2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a2f4abf2-39bf-4870-9079-d559c4434ea7","leftValue":"={{ $json.object }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1912,-460],"id":"1cf785c2-76f8-488a-b30f-7f6c54daddde","name":"If3"},{"parameters":{"promptType":"define","text":"=# 背景\n弊社の社名は株式会社アールストリート、主要サービス名は生成AI教習所です。弊社に所属する社員には梶原俊一、内田陸がいます。\n\n# 指示\n## メール本文の内容を確認し、弊社がメールのやり取りを行なっている顧客様が所属している企業名を抽出してください。\n\n## 出力例\n株式会社XXX\n\n## メール本文\n{{ $('Microsoft Outlook Trigger').item.json.bodyPreview }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1316,-460],"id":"ed5313da-f853-45fd-9e3a-95e80eced55f","name":"顧客抽出Agent"},{"parameters":{"promptType":"define","text":"=# 指示\n## メール本文の内容を確認し、内容が会議調整に関わるものであれば、「Yes」と出力してください。そうでなければ「No」と出力ください。メール本文が会議調整に関わるものかどうかは## 会議調整メールの例を確認ください。\n「Yes」、「No」以外は出力しないでください。\n\n## 会議調整メールの例\n株式会社XXX社\nYYY様\n平素より大変お世話になっております。\n早速のご調整をいただきありがとうございます。\n5月12日(月)13:00 - 14:00 にて、何卒よろしくお願いいたします。\n追ってWeb会議のURLをお送りさせていただきます。\n引き続き、どうぞよろしくお願いいたします。\nZZZ\n\n## メール本文\n {{ $json.bodyPreview }}\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[280,-610],"id":"912f82b5-bb11-4892-baaa-8a84515c5687","name":"メール確認Agent"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ec380ee1-2314-4cc6-83de-9376488f084b","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2572,-260],"id":"9555443c-7c88-4647-b910-2f556c72db47","name":"SS分岐"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ec380ee1-2314-4cc6-83de-9376488f084b","leftValue":"={{ $json.row_number }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2352,-660],"id":"3755b2eb-d096-464e-977e-86d3b818f951","name":"SS分岐1"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"filters":{},"options":{}},"type":"n8n-nodes-base.microsoftOutlookTrigger","typeVersion":1,"position":[60,-610],"id":"f4b7f2e2-aad1-4f54-9520-748091d815e4","name":"Microsoft Outlook Trigger","credentials":{"microsoftOutlookOAuth2Api":{"id":"tUwGx8kpbmrAe1dV","name":"Microsoft Outlook account"}}},{"parameters":{"resource":"account","operation":"getAll","options":{}},"type":"n8n-nodes-base.salesforce","typeVersion":1,"position":[876,-610],"id":"077c47d8-c484-4151-934b-c21b36d4da4b","name":"Salesforce-担当者検索","credentials":{"salesforceOAuth2Api":{"id":"51glzVcOnsDwsw6s","name":"Salesforce account"}}},{"parameters":{"resource":"account","operation":"upsert","externalId":"=[empty]","externalIdValue":"1","name":"1","additionalFields":{}},"type":"n8n-nodes-base.salesforce","typeVersion":1,"position":[1394,-760],"id":"68200343-69c7-4411-b742-87d84eb3fd36","name":"Salesforce-履歴追加","credentials":{"salesforceOAuth2Api":{"id":"51glzVcOnsDwsw6s","name":"Salesforce account"}}},{"parameters":{"resource":"account","operation":"getAll","options":{}},"type":"n8n-nodes-base.salesforce","typeVersion":1,"position":[1692,-460],"id":"e2a96e79-a97e-4a77-b010-b4793f314f7c","name":"Salesforce-顧客検索","credentials":{"salesforceOAuth2Api":{"id":"51glzVcOnsDwsw6s","name":"Salesforce account"}}},{"parameters":{"resource":"account","name":"1","additionalFields":{}},"type":"n8n-nodes-base.salesforce","typeVersion":1,"position":[2132,-260],"id":"0e48ddd0-b6a9-4e64-b7bb-55d6a871e595","name":"Salesforce-顧客追加","credentials":{"salesforceOAuth2Api":{"id":"51glzVcOnsDwsw6s","name":"Salesforce account"}}},{"parameters":{"resource":"account","name":"1","additionalFields":{}},"type":"n8n-nodes-base.salesforce","typeVersion":1,"position":[2572,-760],"id":"67ee12e9-91b4-4ca5-9b03-2118a5560442","name":"Salesforce-顧客追加1","credentials":{"salesforceOAuth2Api":{"id":"51glzVcOnsDwsw6s","name":"Salesforce account"}}},{"parameters":{"resource":"account","operation":"upsert","externalId":"=[empty]","externalIdValue":"1","name":"1","additionalFields":{}},"type":"n8n-nodes-base.salesforce","typeVersion":1,"position":[2792,-760],"id":"6a99d733-8732-4f8c-a6aa-0c81cd0395f1","name":"Salesforce-履歴追加1","credentials":{"salesforceOAuth2Api":{"id":"51glzVcOnsDwsw6s","name":"Salesforce account"}}},{"parameters":{"resource":"account","name":"1","additionalFields":{}},"type":"n8n-nodes-base.salesforce","typeVersion":1,"position":[2572,-560],"id":"175ff216-5da0-40d7-893b-00e60b79df68","name":"Salesforce-顧客追加2","credentials":{"salesforceOAuth2Api":{"id":"51glzVcOnsDwsw6s","name":"Salesforce account"}}},{"parameters":{"resource":"account","operation":"upsert","externalId":"=[empty]","externalIdValue":"1","name":"1","additionalFields":{}},"type":"n8n-nodes-base.salesforce","typeVersion":1,"position":[2792,-560],"id":"362903b4-fd91-4f60-bd23-6688108e8a30","name":"Salesforce-履歴追加2","credentials":{"salesforceOAuth2Api":{"id":"51glzVcOnsDwsw6s","name":"Salesforce account"}}},{"parameters":{"resource":"account","name":"1","additionalFields":{}},"type":"n8n-nodes-base.salesforce","typeVersion":1,"position":[2792,-360],"id":"0555a403-ae01-4ffb-b1ce-dcda994008f8","name":"Salesforce-顧客追加3","credentials":{"salesforceOAuth2Api":{"id":"51glzVcOnsDwsw6s","name":"Salesforce account"}}},{"parameters":{"resource":"account","operation":"upsert","externalId":"=[empty]","externalIdValue":"1","name":"1","additionalFields":{}},"type":"n8n-nodes-base.salesforce","typeVersion":1,"position":[3012,-360],"id":"ff9530e7-4bf8-46bf-bd70-1f25e9c4b85f","name":"Salesforce-履歴追加3","credentials":{"salesforceOAuth2Api":{"id":"51glzVcOnsDwsw6s","name":"Salesforce account"}}},{"parameters":{"resource":"account","name":"1","additionalFields":{}},"type":"n8n-nodes-base.salesforce","typeVersion":1,"position":[2792,-160],"id":"dcb79c44-81d4-4e3a-b1b9-7dd27876a969","name":"Salesforce-顧客追加4","credentials":{"salesforceOAuth2Api":{"id":"51glzVcOnsDwsw6s","name":"Salesforce account"}}},{"parameters":{"resource":"account","operation":"upsert","externalId":"=[empty]","externalIdValue":"1","name":"1","additionalFields":{}},"type":"n8n-nodes-base.salesforce","typeVersion":1,"position":[3012,-160],"id":"347c41e3-2dbc-4e4b-919c-595da5ea130e","name":"Salesforce-履歴追加4","credentials":{"salesforceOAuth2Api":{"id":"51glzVcOnsDwsw6s","name":"Salesforce account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[368,-390],"id":"e1ec94d8-0f22-4047-b025-5473ca241d6f","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1404,-240],"id":"92b7d001-6fbd-4317-9306-0cc0440a1d06","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"resource":"table","operation":"getRows","workbook":{"__rl":true,"value":"01YCBXTK2NZWGM7MKDEFEYHMNSWZ6OTQ32","mode":"list","cachedResultName":"Sample1","cachedResultUrl":"https://rstreet-my.sharepoint.com/personal/ruchida_rstreet_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7BCF8CCD4D-43B1-4921-83B1-B2B67CE9C37A%7D&file=Sample1.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{771A5986-1B25-FC4C-98F5-F90C6E684817}","mode":"list","cachedResultName":"シート1","cachedResultUrl":"https://rstreet-my.sharepoint.com/personal/ruchida_rstreet_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7BCF8CCD4D-43B1-4921-83B1-B2B67CE9C37A%7D&file=Sample1.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=%E3%82%B7%E3%83%BC%E3%83%881!A1"},"table":{"__rl":true,"value":"=s","mode":"id"},"filters":{}},"type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[2132,-660],"id":"c8ecb481-2b38-4d99-aca4-a5288e6c8fa2","name":"Microsoft Excel 365","credentials":{"microsoftExcelOAuth2Api":{"id":"28TOg4IdyBFmFe42","name":"Microsoft Excel account"}}},{"parameters":{"resource":"table","operation":"getRows","workbook":{"__rl":true,"value":"01YCBXTK2NZWGM7MKDEFEYHMNSWZ6OTQ32","mode":"list","cachedResultName":"Sample1","cachedResultUrl":"https://rstreet-my.sharepoint.com/personal/ruchida_rstreet_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7BCF8CCD4D-43B1-4921-83B1-B2B67CE9C37A%7D&file=Sample1.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1"},"worksheet":{"__rl":true,"value":"{771A5986-1B25-FC4C-98F5-F90C6E684817}","mode":"list","cachedResultName":"シート1","cachedResultUrl":"https://rstreet-my.sharepoint.com/personal/ruchida_rstreet_onmicrosoft_com/_layouts/15/Doc.aspx?sourcedoc=%7BCF8CCD4D-43B1-4921-83B1-B2B67CE9C37A%7D&file=Sample1.xlsx&action=default&mobileredirect=true&DefaultItemOpen=1&activeCell=%E3%82%B7%E3%83%BC%E3%83%881!A1"},"table":{"__rl":true,"value":"=","mode":"id"},"filters":{}},"type":"n8n-nodes-base.microsoftExcel","typeVersion":2.1,"position":[2352,-260],"id":"8aa03f59-52fa-42d4-8b4e-43488d20d084","name":"Microsoft Excel 3651","credentials":{"microsoftExcelOAuth2Api":{"id":"28TOg4IdyBFmFe42","name":"Microsoft Excel account"}}}],"connections":{"If":{"main":[[{"node":"Salesforce-担当者検索","type":"main","index":0}],[]]},"If2":{"main":[[{"node":"Salesforce-履歴追加","type":"main","index":0}],[{"node":"顧客抽出Agent","type":"main","index":0}]]},"If3":{"main":[[{"node":"Microsoft Excel 365","type":"main","index":0}],[{"node":"Salesforce-顧客追加","type":"main","index":0}]]},"顧客抽出Agent":{"main":[[{"node":"Salesforce-顧客検索","type":"main","index":0}]]},"メール確認Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"SS分岐":{"main":[[{"node":"Salesforce-顧客追加3","type":"main","index":0}],[{"node":"Salesforce-顧客追加4","type":"main","index":0}]]},"SS分岐1":{"main":[[{"node":"Salesforce-顧客追加1","type":"main","index":0}],[{"node":"Salesforce-顧客追加2","type":"main","index":0}]]},"Microsoft Outlook Trigger":{"main":[[{"node":"メール確認Agent","type":"main","index":0}]]},"Salesforce-担当者検索":{"main":[[{"node":"If2","type":"main","index":0}]]},"Salesforce-顧客検索":{"main":[[{"node":"If3","type":"main","index":0}]]},"Salesforce-顧客追加":{"main":[[{"node":"Microsoft Excel 3651","type":"main","index":0}]]},"Salesforce-顧客追加1":{"main":[[{"node":"Salesforce-履歴追加1","type":"main","index":0}]]},"Salesforce-顧客追加2":{"main":[[{"node":"Salesforce-履歴追加2","type":"main","index":0}]]},"Salesforce-顧客追加3":{"main":[[{"node":"Salesforce-履歴追加3","type":"main","index":0}]]},"Salesforce-顧客追加4":{"main":[[{"node":"Salesforce-履歴追加4","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"メール確認Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"顧客抽出Agent","type":"ai_languageModel","index":0}]]},"Microsoft Excel 365":{"main":[[{"node":"SS分岐1","type":"main","index":0}]]},"Microsoft Excel 3651":{"main":[[{"node":"SS分岐","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1749106795,"possibleDuplicates":["1973ee3d3a9ce2b5"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9a98e947-1d64-4185-a415-417c1a02d8ce","triggerCount":1,"tags":[]}