workflows/Append meeting memo_v01.json
{"createdAt":"2025-06-04T04:57:14.277Z","updatedAt":"2025-07-03T09:31:08.000Z","id":"NJGDV90ZsyQHA20I","name":"Append meeting memo_v01","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"2081746d-b916-80f3-b23d-e6d55c6d3f25","mode":"list","cachedResultName":"顧客DB","cachedResultUrl":"https://www.notion.so/2081746db91680f3b23de6d55c6d3f25"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[0,-140],"id":"3474a938-d094-41fd-bdf5-67b4cf9fd864","name":"Notion Trigger","credentials":{"notionApi":{"id":"QqSdrPma5jBH8adF","name":"Notion account"}}},{"parameters":{"resource":"block","blockId":{"__rl":true,"value":"2081746db91680ac886dc5227e5356ad","mode":"id"},"blockUi":{"blockValues":[{"type":"toggle","textContent":"={{ $('Notion Trigger').item.json['企業名'] }}（読み方：{{ $json.message.content }}）"}]}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[816,-140],"id":"a6bc43b5-1c70-4d38-ae5a-c14229951434","name":"Notion1","credentials":{"notionApi":{"id":"QqSdrPma5jBH8adF","name":"Notion account"}}},{"parameters":{"resource":"block","blockId":{"__rl":true,"value":"={{ $json.results[0].id }}","mode":"id"},"blockUi":{"blockValues":[{"textContent":"=顧客企業"}]}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1036,-140],"id":"3a7e9750-8563-4ef7-ba68-24d2368af455","name":"Notion","credentials":{"notionApi":{"id":"QqSdrPma5jBH8adF","name":"Notion account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"daa7033c-0ca1-48ff-b912-a998438a0cda","leftValue":"={{ $json['商談ステータス'] }}","rightValue":"初回商談準備中","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[220,-140],"id":"d3002fc9-335b-457c-bdb5-f6f34d1ac1a8","name":"If"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# 指示\n以下の## 単語を確認し、ふりがなをひらがなで出力してください。他の単語は出力せず、ひらがなのふりがなのみを出力してください。\n## 単語\n {{ $json['企業名'] }}\n## 例\n### 入力単語\nn8n\n### 出力するひらがな\nえぬえいとえぬ","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[440,-140],"id":"056d53c4-988a-40f1-b1dd-ba1d17151956","name":"OpenAI1","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}}],"connections":{"Notion Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"Notion1":{"main":[[{"node":"Notion","type":"main","index":0}]]},"If":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"OpenAI1":{"main":[[{"node":"Notion1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Notion Trigger":{"lastTimeChecked":"2025-07-03T09:31:00.000Z","possibleDuplicates":["2111746d-b916-80d5-936c-c3fdb97b0c83"]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ae05583a-e720-4489-9ac4-4a2c6486c365","triggerCount":1,"tags":[{"createdAt":"2025-06-18T09:35:28.296Z","updatedAt":"2025-07-03T09:34:07.873Z","id":"6LG0nAjoGruqaSGj","name":"published on note"},{"createdAt":"2025-06-18T06:02:05.329Z","updatedAt":"2025-07-03T09:34:21.359Z","id":"gLHg8oyeUvCcFN2z","name":"progress"}]}