workflows/Append row in github stars sheet.json
{"createdAt":"2025-07-08T08:20:10.847Z","updatedAt":"2025-07-29T07:24:43.000Z","id":"q121PyXdC89ywizQ","name":"Append row in github stars sheet","active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-460,100],"id":"816b0bfc-6b51-44a7-8bf6-91200c2abf5b","name":"Schedule Trigger"},{"parameters":{"url":"=https://api.github.com/repos/langgenius/dify","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"$vars.GithubAPI"},{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"User-Agent","value":"dify-star-tracker"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[420,100],"id":"813e69ad-ef67-4a0d-9a6c-079d5c3a867a","name":"HTTP Request(dify)"},{"parameters":{"jsCode":"// リポジトリ情報から総スター数を取得\nconst repoInfo = $input.all()[0].json;\nconst totalStars = repoInfo.stargazers_count;\n\n// GraphQL APIでは一度に100件まで取得可能\nconst perPage = 100;\nconst totalPages = Math.ceil(totalStars / perPage);\n\nconsole.log(`Total stars: ${totalStars}, Pages needed: ${totalPages}`);\n\nreturn [{\n  json: {\n    totalStars: totalStars,\n    totalPages: totalPages,\n    perPage: perPage,\n    currentPage: 1\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,100],"id":"64345098-de8d-44e2-8244-9ea877a5333d","name":"Code(dify)"},{"parameters":{"url":"=https://api.github.com/repos/n8n-io/n8n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=$vars.GithubAPI"},{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"User-Agent","value":"n8n-star-tracker"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-20,100],"id":"95743ea9-4634-4dd6-a028-10b8d84e6d7b","name":"HTTP Request(n8n)"},{"parameters":{"jsCode":"// リポジトリ情報から総スター数を取得\nconst repoInfo = $input.all()[0].json;\nconst totalStars = repoInfo.stargazers_count;\n\n// GraphQL APIでは一度に100件まで取得可能\nconst perPage = 100;\nconst totalPages = Math.ceil(totalStars / perPage);\n\nconsole.log(`Total stars: ${totalStars}, Pages needed: ${totalPages}`);\n\nreturn [{\n  json: {\n    totalStars: totalStars,\n    totalPages: totalPages,\n    perPage: perPage,\n    currentPage: 1\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[200,100],"id":"600893f1-e508-430f-a7ae-0483eb487393","name":"Code(n8n)"},{"parameters":{"jsCode":"const today = new Date();\nconst day = String(today.getDate()).padStart(2, '0');\nconst month = String(today.getMonth() + 1).padStart(2, '0'); // 月は0から始まるため+1\nconst year = today.getFullYear();\n\nreturn {\n  date: `${day}-${month}-${year}`\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,100],"id":"1e4bcfc9-6337-4c42-b36c-1c077793fcad","name":"Code"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4","mode":"list","cachedResultName":"master_githubstars comparison_v02","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"シート1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"total-stars(Dify)":"={{ $json.totalStars }}","total-stars(n8n)":"={{ $('Code(n8n)').item.json.totalStars }}","date":"={{ $('Code').item.json.date }}"},"matchingColumns":["date"],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"total-stars(Dify)","displayName":"total-stars(Dify)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"total-stars(n8n)","displayName":"total-stars(n8n)","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[860,100],"id":"246e1bfd-ad14-44d0-84a5-64c6fb6bc047","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Request(dify)":{"main":[[{"node":"Code(dify)","type":"main","index":0}]]},"HTTP Request(n8n)":{"main":[[{"node":"Code(n8n)","type":"main","index":0}]]},"Code(n8n)":{"main":[[{"node":"HTTP Request(dify)","type":"main","index":0}]]},"Code(dify)":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request(n8n)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f84b8959-e9cf-4976-869e-fe292f1d1146","triggerCount":1,"tags":[{"createdAt":"2025-07-08T11:07:35.684Z","updatedAt":"2025-07-08T11:07:35.684Z","id":"vvfWgqZsnpuwtXLo","name":"github stars comparison"}]}