workflows/Append customer management DB.json
{"createdAt":"2025-06-04T09:45:23.368Z","updatedAt":"2025-07-01T08:47:58.000Z","id":"oGpnKCxRHJ0sdiqM","name":"Append customer management DB","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"to:(sales@rstreet.co.jp,skajiwara@rstreet.co.jp) OR to:(sales@rstreet.co.jp,ruchida@rstreet.co.jp) "},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[0,-80],"id":"6a94a593-e62e-4e05-95ec-b6d18540a11f","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# 指示\n## メール本文の内容を確認し、内容が具体的な日程を決めている会議調整に関わるものであれば、「Yes」と出力してください。そうでなければ「No」と出力ください。メール本文が会議調整に関わるものかどうかは## 会議調整メールの例を確認ください。\n「Yes」、「No」以外は出力しないでください。\n\n## 会議調整メールの例\n株式会社XXX社\nYYY様\n平素より大変お世話になっております。\n早速のご調整をいただきありがとうございます。\n5月12日(月)13:00 - 14:00 にて、何卒よろしくお願いいたします。\n追ってWeb会議のURLをお送りさせていただきます。\n引き続き、どうぞよろしくお願いいたします。\nZZZ\n\n## メール本文\n {{ $json.text }}\n\n"}]},"simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,-80],"id":"286f907f-6abf-4ab1-999d-403eb65ff6f2","name":"OpenAI","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bec68fec-a5d0-41d6-8836-e7ea25fab658","leftValue":"={{ $json.choices[0].message.content }}","rightValue":"Yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[596,-80],"id":"112c9e14-b0bf-400a-aae8-72f9ee578291","name":"If"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# 背景\n弊社の社名は株式会社アールストリート、主要サービス名は生成AI教習所です。弊社に所属する社員には梶原俊一、内田陸がいます。\n\n# 指示\n## メール本文の内容を確認し、弊社がメールのやり取りを行なっている顧客様が所属している企業名を抽出してください。\n\n## 出力例\n株式会社XXX\n\n## メール本文\n {{ $('Gmail Trigger').item.json.text }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[816,-80],"id":"75248e1c-332f-43a9-807d-88cfb4fe9a96","name":"OpenAI1","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"resource":"databasePage","operation":"getAll","databaseId":{"__rl":true,"value":"2081746d-b916-80f3-b23d-e6d55c6d3f25","mode":"list","cachedResultName":"顧客管理DB","cachedResultUrl":"https://www.notion.so/2081746db91680f3b23de6d55c6d3f25"},"filterType":"manual","filters":{"conditions":[{"key":"企業名|title","condition":"contains","titleValue":"={{ $json.message.content }}"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1192,-80],"id":"8230d5ea-a21d-4e54-95ed-7388e6b488a6","name":"Notion","alwaysOutputData":true,"credentials":{"notionApi":{"id":"QqSdrPma5jBH8adF","name":"Notion account"}}},{"parameters":{"resource":"databasePage","databaseId":{"__rl":true,"value":"2081746d-b916-80f3-b23d-e6d55c6d3f25","mode":"list","cachedResultName":"顧客管理DB","cachedResultUrl":"https://www.notion.so/2081746db91680f3b23de6d55c6d3f25"},"title":"={{ $('OpenAI1').item.json.message.content }}","propertiesUi":{"propertyValues":[{"key":"商談ステータス|select","selectValue":"初回商談準備中"}]},"options":{}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1632,-80],"id":"4ed7cefa-b1e0-4025-bec0-06be6265183f","name":"Notion1","credentials":{"notionApi":{"id":"QqSdrPma5jBH8adF","name":"Notion account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d206f975-db18-458e-9de5-896901642c9a","leftValue":"={{ $json.name }}","rightValue":"={{ $('OpenAI1').item.json.message.content }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1412,-80],"id":"64c6883b-74d3-480c-b5c3-50036f9b9b31","name":"If1"}],"connections":{"Gmail Trigger":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"OpenAI1","type":"main","index":0}],[]]},"OpenAI1":{"main":[[{"node":"Notion","type":"main","index":0}]]},"Notion":{"main":[[{"node":"If1","type":"main","index":0}]]},"Notion1":{"main":[[]]},"If1":{"main":[[],[{"node":"Notion1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1749106795,"possibleDuplicates":["1973ee3d3a9ce2b5","1973ebfff9540ec5"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f96e1174-17dc-497a-82c7-36f5bb1777e3","triggerCount":1,"tags":[]}