workflows/Auto drafting mail for meeting.json
{"createdAt":"2025-06-20T07:57:45.114Z","updatedAt":"2025-06-20T07:58:16.000Z","id":"9bJP9DsG2L3mZQtH","name":"Auto drafting mail for meeting","active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"to:(ruchida@rstreet.co.jp,sales@rstreet.co.jp) "},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[0,-200],"id":"a8fa1eea-4a60-44ed-b7c5-929da4fa8dd8","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# 指示\n## メール本文の内容を確認し、内容が会議の日程調整に関わるものであれば、「Yes」と出力してください。そうでなければ「No」と出力ください。メール本文が会議調整に関わるものかどうかは## 会議調整メールの例を確認ください。\n「Yes」、「No」以外は出力しないでください。\n\n## 会議調整メールの例\n株式会社XXX社\nYYY様\n平素より大変お世話になっております。\n早速のご調整をいただきありがとうございます。\n5月12日(月)13:00 - 14:00 にて、何卒よろしくお願いいたします。\n追ってWeb会議のURLをお送りさせていただきます。\n引き続き、どうぞよろしくお願いいたします。\nZZZ\n\n## メール本文\n {{ $json.text }}\n\n"}]},"simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,-200],"id":"93eda57b-8e0c-4fc7-91d0-9bf9ce31725c","name":"OpenAI","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bec68fec-a5d0-41d6-8836-e7ea25fab658","leftValue":"={{ $json.choices[0].message.content }}","rightValue":"Yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[596,-200],"id":"3860a131-c352-4a5a-bcc9-fccd026b1c34","name":"If"},{"parameters":{"promptType":"define","text":"=# 役割\n- あなたは「生成AI教習所」の内田陸としてメールを執筆します。\n\n# 指示\n1. 受信メールを確認し、候補日時が記載されているかチェックする\n2. 候補日時が記載されている場合：\n   - 提案された候補日時と ## チームメンバー の1ヶ月分の予定を突き合わせ、最も早い一致時間帯を1つ確定させる\n   - もし一致枠が無い場合は、両名が空いている別候補を最大３件（早い順）提示する\n3. 候補日時が記載されていない場合：\n   - ## チームメンバー の今後1ヶ月の予定を確認し、両名が空いている時間帯から最小３件（早い順）の候補日程を提示する\n4. 上記を踏まえた返信メール本文を生成する\n\n## 受信メール\n{{ $('Gmail Trigger').item.json.text }}\n\n## チームメンバー\n- 内田陸\n- 梶原俊一\n\n# 出力例\n（相手会社名）\n（相手氏名） 様\n\n平素より大変お世話になっております。\n生成AI教習所の内田でございます。\n\n（本文：確定日時の連絡または候補日程の提示）\n\n何卒よろしくお願い申し上げます。\n\n内田\n\n# 備考\nツールを使うことで ## チームメンバー の今後1ヶ月の予定が確認できます。","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[848,-200],"id":"717dba95-74c9-44c1-bf7e-2a0a72c391bd","name":"AI Agent"},{"parameters":{"resource":"draft","subject":"=RE: {{ $('Gmail Trigger').item.json.subject }}","emailType":"html","message":"={{ $json.message }}","options":{"replyTo":"={{ $('Gmail Trigger').item.json.headers[\"message-id\"] }}","threadId":"={{ $('Gmail Trigger').item.json.threadId }}"},"path":"6b0aaa51-6c38-4fbf-b56c-1e8db850f17b"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1476,-200],"id":"423ed41e-23e6-4887-bedd-554352bc4e22","name":"Gmail","webhookId":"6b0aaa51-6c38-4fbf-b56c-1e8db850f17b","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"jsCode":"// ----- 入力 -----\nconst replyPlain = $input.first().json.output;                    // AI が作った本文(プレーン)\nconst originalHtml = $('Gmail Trigger').first().json.html            // 元メール HTML\n                    || $('Gmail Trigger').first().json.text;          // HTML が無ければテキスト\n\n// ----- HTML 形式に整形 -----\nconst replyHtml = replyPlain\n  .replace(/\\n/g, '<br>');                         // 改行を <br> に\n\n// Gmail が自動で折り畳んでくれる \"gmail_quote\" ブロック\nconst quotedHtml = `\n<br><br>\n<div class=\"gmail_quote\">\n  <blockquote class=\"gmail_quote\"\n    style=\"margin:0 0 0 .8ex;border-left:1px solid #ccc;padding-left:1ex\">\n    ${originalHtml}\n  </blockquote>\n</div>`;\n\n// ----- 出力 -----\n// itemオブジェクトを新規作成\nconst item = {\n  message: replyHtml + quotedHtml             // Gmail ノードの message に渡す\n};\n\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1256,-200],"id":"e026bfa2-2740-4ebb-a984-d1be2e5e25b2","name":"Code"},{"parameters":{"description":"このツールを呼び出して、内田陸の今後1ヶ月の予定を取得してください。","workflowId":{"__rl":true,"value":"VYxpfBhlme8n3qAV","mode":"list","cachedResultName":"Uchida san's schedule"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[936,20],"id":"326d6483-c064-4a27-b8b9-8cec10c24cb8","name":"Uchida san's schedule"},{"parameters":{"description":"このツールを呼び出して、梶原俊一の今後1ヶ月の予定を取得してください。","workflowId":{"__rl":true,"value":"1GhfXG6OoiO58l7C","mode":"list","cachedResultName":"Kajiwara san's schedule"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1056,20],"id":"83a3398c-146b-4185-8fa3-b55cc5307bcd","name":"Kajiwara san's schedule"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[816,20],"id":"83e12300-ee7e-4baf-8c65-dc1fa225f65b","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}],[]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Uchida san's schedule":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Kajiwara san's schedule":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1750404346,"possibleDuplicates":["197597ea59a0acde"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ae83896b-2300-4137-83d6-a993bcc971db","triggerCount":1,"tags":[{"createdAt":"2025-06-18T06:02:05.329Z","updatedAt":"2025-07-03T09:34:21.359Z","id":"gLHg8oyeUvCcFN2z","name":"progress"}]}