workflows/Auto check calendar and reply.json
{"createdAt":"2025-06-05T04:41:13.901Z","updatedAt":"2025-07-03T07:27:16.000Z","id":"CIt95cDNAhFv7PgZ","name":"Auto check calendar and reply","active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"to:(sales@rstreet.co.jp,skajiwara@rstreet.co.jp) OR to:(sales@rstreet.co.jp,ruchida@rstreet.co.jp) "},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[0,-180],"id":"77c3f8b7-3735-47d9-ac5e-6ee18f853eb5","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# 指示\n## メール本文の内容を確認し、内容が会議の日程調整に関わるものであれば、「Yes」と出力してください。そうでなければ「No」と出力ください。メール本文が会議調整に関わるものかどうかは## 会議調整メールの例を確認ください。\n「Yes」、「No」以外は出力しないでください。\n\n## 会議調整メールの例\n株式会社XXX社\nYYY様\n平素より大変お世話になっております。\n早速のご調整をいただきありがとうございます。\n5月12日(月)13:00 - 14:00 にて、何卒よろしくお願いいたします。\n追ってWeb会議のURLをお送りさせていただきます。\n引き続き、どうぞよろしくお願いいたします。\nZZZ\n\n## メール本文\n {{ $json.text }}\n\n"}]},"simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,-180],"id":"48978a12-f04c-4b25-8e31-6d46e2b9031b","name":"OpenAI","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bec68fec-a5d0-41d6-8836-e7ea25fab658","leftValue":"={{ $json.choices[0].message.content }}","rightValue":"Yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[596,-180],"id":"a21b00ff-9edf-46b6-a6a5-db702c8c564b","name":"If"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=# 背景\n弊社は株式会社アールストリート、主要サービスは生成AI教習所です。\n返信時の注意点：\n- 相手の提案日時とこちらのスケジュールを照合する\n- 可能な限り最も近日に商談が行われるように調整する\n\n# 指示\n## メール本文 の内容を確認し、返信の文章を考えてください。返信の文章には件名を含めないでください。\n\n重要：## 1週間の予定　に書かれたスケジュール情報を必ず確認し、以下のルールに従ってください：\n- ## 1週間の予定 に記載されている日時のみ予定が埋まっており、それ以外の時間は全て空いている\n例：2025-06-11の枠が## 1週間の予定 になければ、6月11日は終日提案可能\n\n## メール本文\n {{ $('Gmail Trigger').item.json.text }}\n\n## 1週間の予定\n{{ $json.message.content }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1632,-180],"id":"ec67c314-6d00-40e2-8296-51b8a0ba9729","name":"OpenAI1","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"ruchida@rstreet.co.jp","mode":"list","cachedResultName":"ruchida@rstreet.co.jp"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[816,-180],"id":"9ed50527-4555-4763-a4cb-b606492c728e","name":"Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"RWBDOCdnjcMlP7IO","name":"Google Calendar account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=次の1週間の予定一覧です（日時はすべて JST）。\n\n{{ $json.events\n    .sort((a, b) => a.start.dateTime.localeCompare(b.start.dateTime))\n    .map(e => `• ${e.summary} ｜ ${e.start.dateTime} 〜 ${e.end.dateTime}`)\n    .join('\\n') }}\n\n各日の予定時間帯とイベント名を箇条書きでまとめてください。","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[1256,-180],"id":"e0ca68ee-b404-4b8d-ae7a-102f3685302d","name":"OpenAI2","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"events","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1036,-180],"id":"6b5952da-8646-4b58-98a4-e8f041b5a24b","name":"Aggregate"},{"parameters":{"resource":"draft","subject":"=Re: {{ $('Gmail Trigger').item.json.subject }}","message":"={{ $json.message.content }}","options":{"ccList":"={{ $('Gmail Trigger').item.json.cc.value[0].address }}","replyTo":"={{ $('Gmail Trigger').item.json.from.value[0].address }}","threadId":"={{ $('Gmail Trigger').item.json.threadId }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2008,-180],"id":"25d750e2-2675-4927-a9f0-c855dc49dbde","name":"Gmail","webhookId":"57eca272-3cd5-4147-b962-1e4c56b85edb","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Google Calendar","type":"main","index":0}],[]]},"OpenAI1":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Google Calendar":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"OpenAI2":{"main":[[{"node":"OpenAI1","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"OpenAI2","type":"main","index":0}]]},"Gmail":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1749553156,"possibleDuplicates":["197597ea59a0acde"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a37ce5a1-c67e-4991-9a0a-a045d9e4c949","triggerCount":1,"tags":[]}