workflows/Auto Writing note on Google doc_v02.json
{"createdAt":"2025-06-26T04:03:08.307Z","updatedAt":"2025-07-03T09:35:36.000Z","id":"VymCZahoKZqcidAv","name":"Auto Writing note on Google doc_v02","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Auto Writing note","formDescription":"Agentがnote記事を執筆します。\nテーマにあたるn8n Workflow(JSON)を入力してください。","formFields":{"values":[{"fieldLabel":"File","fieldType":"file"},{"fieldLabel":"Who","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Uchida"},{"option":"Kajiwara"},{"option":"Yamada"}]}}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-120,-360],"id":"a20bc3b0-afcb-4280-b869-59b5a9c82650","name":"On form submission","webhookId":"ce22ce90-adeb-4a2d-b513-4e435b7f5e8c"},{"parameters":{"promptType":"define","text":"=# 役割\nあなたはユーザーの代わりにnote記事を執筆するエージェントです。ユーザーのnote記事の書き方を完璧に模倣します。\n\n## ユーザー\n{{ $('On form submission').item.json.Who }}\n\n# 指示\n以下の手順で note 記事（Markdown 規約）を作成してください：\n1. ## n8n ワークフロー JSON を分析\n2. ユーザーの書き方を完璧に模倣するために、ツールを利用して、最も適切な yaml 設定を参照\n3. # 出力形式に従って記事を作成\n\n## n8n ワークフロー JSON\n{{ JSON.stringify($json.File || $json[0].File, null, 2) }}\n\n# 出力形式\n```markdown\n<タイトル>\n\n<本文全体を Markdown で出力>\n```","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[412,-360],"id":"190c69c1-82e3-4d97-b63d-c03139953c82","name":"AI Agent"},{"parameters":{"operation":"fromJson","binaryPropertyName":"File","destinationKey":"File","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[100,-360],"id":"ca3459b6-e3bb-40dd-a4d3-c0fbfa05bb12","name":"Extract from File"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"uploadType","value":"multipart"},{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"contentType":"raw","rawContentType":"multipart/related; boundary=divider","body":"={{ $json.rawData }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2576,-360],"id":"b7876648-30bb-4a92-a8bc-b93b03a7bf3f","name":"CreateGoogleDoc1","notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"OKVmS3F6n6iswMuB","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e7ee03ac-13e3-4fca-a7bc-57c8fc56dc42","name":"document_name","value":"={{$now}}","type":"string"},{"id":"48a07ef2-ae46-4bfc-aa7e-d92a74ef46d6","name":"html_content","value":"={{ $json.data }}","type":"string"},{"id":"22b02fba-ba72-423a-b92f-1191a183a554","name":"drive_folder_id","value":"1i2gELyC1JoJvmfcMCqY768zT6I8UglbD","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2136,-360],"id":"2d3eedc3-3f6f-470a-a9d8-8196c295ef4b","name":"set_fields","notesInFlow":true},{"parameters":{"jsCode":"const boundary = 'divider';\nconst docName = $input.first().json.document_name;\nconst folderId = $input.first().json.drive_folder_id;\nconst htmlContent = $input.first().json.html_content;\n\nconst metadata = JSON.stringify({\n  name: docName,\n  mimeType: \"application/vnd.google-apps.document\",\n  parents: [folderId]\n});\n\nconst htmlWithStyles = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    /* Add bottom margin to block elements for spacing */\n    p,\n    ul,\n    ol,\n    table,\n    h1,\n    h2,\n    h3,\n    h4,\n    h5,\n    h6 {\n      margin-bottom: 10pt;\n    }\n\n    h2 {\n      margin-top: 20pt;\n    }\n\n    /* Prevent margin collapse issues or excessive space inside lists */\n    li {\n       margin-bottom: 2pt; /* Optional: small space between list items */\n    }\n\n    /* Remove margin from the last child within common containers if needed */\n    /* This might be overly aggressive, test without it first */\n    /*\n    body > *:last-child,\n    li > *:last-child {\n       margin-bottom: 0;\n    }\n    */\n  </style>\n</head>\n<body>\n  ${htmlContent}\n</body>\n</html>\n`;\n\n// Construct the body with literal \\r\\n ONLY\nlet body = `--${boundary}\\r\\n`;\nbody += `Content-Type: application/json; charset=UTF-8\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${metadata}\\r\\n`;\nbody += `--${boundary}\\r\\n`;\nbody += `Content-Type: text/html\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${htmlWithStyles}\\r\\n`; // Add the HTML content\nbody += `--${boundary}--\\r\\n`; // Final boundary\n\nreturn {\n  rawData: body \n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2356,-360],"id":"0869a7db-6bd5-47d8-bd91-d35c60969016","name":"Prepare_Request"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.output }}","options":{"emoji":true,"tables":true}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[1916,-360],"id":"db8ff5e8-407b-4dcc-a537-ece3c330aa17","name":"Markdown"},{"parameters":{"operation":"completion","completionTitle":"完了","completionMessage":"下書きが作成されました。\n\n以下のリンクよりご確認ください。\nhttps://drive.google.com/drive/folders/1i2gELyC1JoJvmfcMCqY768zT6I8UglbD","options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[2796,-360],"id":"d9b93c09-d253-4dc8-9f8f-dd5f29978938","name":"Form","webhookId":"6780c16d-984b-4f27-8ac4-b4be4f0274b6"},{"parameters":{"description":"Uchidaさんとしてnote記事を作成する場合には、このノードから出力されるyaml設定を参照してください。","workflowId":{"__rl":true,"value":"D3se8Dxy5CL2oVCc","mode":"list","cachedResultName":"Writing note as Uchida"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"Input"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[440,-140],"id":"aca3ad32-9b3b-44ac-bdaf-e5de0decb398","name":"Writing note as Uchida"},{"parameters":{"description":"Kajiwaraさんとしてnote記事を作成する場合には、このノードから出力されるyaml設定を参照してください。","workflowId":{"__rl":true,"value":"6ZegQYwBDJjfxUtt","mode":"list","cachedResultName":"Writing note as Kajiwara"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"Input"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[560,-140],"id":"a352965a-1710-445d-b346-1d5beb33f42d","name":"Writing note as Kajiwara"},{"parameters":{"description":"Yamadaさんとしてnote記事を作成する場合には、このノードから出力されるyaml設定を参照してください。","workflowId":{"__rl":true,"value":"ZLpv02c6M5qIKU6z","mode":"list","cachedResultName":"Writing note as Yamada"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"Input"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[680,-140],"id":"3bdbafc0-56b1-4cdd-8a21-fe280d55718f","name":"Writing note as Yamada"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.content }}","rightValue":"meeting","operator":{"type":"string","operation":"equals"},"id":"e9789cc0-8a27-4c1a-876b-3891248713bf"}],"combinator":"and"},"renameOutput":true,"outputKey":"meeting"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d2ed73c8-8917-4d14-9c61-f86d91c62201","leftValue":"={{ $json.message.content }}","rightValue":"webinar","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"webinar"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c0a0fa18-fbfb-4fae-ab21-0d8019456631","leftValue":"={{ $json.message.content }}","rightValue":"minutes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"minutes"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bffd0938-130d-427c-9c7f-7e4ade571e8d","leftValue":"={{ $json.message.content }}","rightValue":"other","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"other"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1260,-380],"id":"22d6929a-b2a8-4677-8632-913fbe8f2722","name":"Switch"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=# 指示\n以下の内容を分析して、カテゴリを1つ選んでください：\n- meeting：会議に関する内容\n- webinar: ウェビナーに関する内容\n- minutes：議事録に関する内容\n- other：その他の内容\n\n## 内容\n{{ JSON.stringify($('Extract from File').item.json.File, null, 2) }}\n\n# 備考\n回答は「meeting」「webinar」「minutes」「other」のいずれか1つだけを返してください。","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[880,-360],"id":"2f2df7c5-cf45-4098-b139-bc61f933bf6f","name":"Message a model","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=# 役割\nあなたはユーザーの代わりにnote記事を執筆するエージェントです。提出されたnote記事を分析し、その品質をさらに向上します。\n\n## ユーザー\n{{ $('On form submission').item.json.Who }}\n\n# 指示\n以下の手順で note 記事（Markdown 規約）を作成してください：\n1. 前段のAI Agentノードが作成した ## note記事 の内容を確認・分析してください。\n2. あるべきnote記事を理解するために、ツールを利用して、最も適切な yaml 設定を参照\n3. ## note記事 の内容を修正して品質を向上させてください。\n\n## note記事\n{{ $('AI Agent').item.json.output }}\n\n# 出力形式\n```markdown\n<タイトル>\n\n<本文全体を Markdown で出力>\n```","options":{"maxIterations":3}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1508,-1060],"id":"82a67f96-a5e6-466b-a745-d49ef54bd6c2","name":"AI Agent1"},{"parameters":{"promptType":"define","text":"=# 役割\nあなたはユーザーの代わりにnote記事を執筆するエージェントです。提出されたnote記事を分析し、その品質をさらに向上します。\n\n## ユーザー\n{{ $('On form submission').item.json.Who }}\n\n# 指示\n以下の手順で note 記事（Markdown 規約）を作成してください：\n1. 前段のAI Agentノードが作成した ## note記事 の内容を確認・分析してください。\n2. あるべきnote記事を理解するために、ツールを利用して、最も適切な yaml 設定を参照\n3. ## note記事 の内容を修正して品質を向上させてください。\n\n## note記事\n{{ $('AI Agent').item.json.output }}\n\n# 出力形式\n```markdown\n<タイトル>\n\n<本文全体を Markdown で出力>\n```","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1508,-660],"id":"a6bf6769-e44a-493e-bc5f-fd6a50c88899","name":"AI Agent2"},{"parameters":{"description":"note記事の内容がmeetingに関する内容の場合には、このノードから出力されるyaml設定を参照してください。","workflowId":{"__rl":true,"value":"nuuQs8jC5HVKlh8a","mode":"list","cachedResultName":"Writing note about meeting"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"Input"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1596,-840],"id":"c41e1461-7b8e-48e1-9ca7-5d7594cca62f","name":"Writing note about meeting"},{"parameters":{"description":"note記事の内容がwebinarに関する内容の場合には、このノードから出力されるyaml設定を参照してください。","workflowId":{"__rl":true,"value":"FcqSS858l5EzlaEJ","mode":"list","cachedResultName":"Writing note about webinar"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1596,-440],"id":"eab01286-5571-4fd8-93c3-cb22a55c2e22","name":"Writing note about webinar"},{"parameters":{"description":"note記事の内容がminutesに関する内容の場合には、このノードから出力されるyaml設定を参照してください。","workflowId":{"__rl":true,"value":"SAtA0b7PBaD2IoLK","mode":"list","cachedResultName":"Writing note about minutes"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1596,-40],"id":"fd8c28a3-8e80-4f59-906f-6dda1020b4bc","name":"Writing note about minutes1"},{"parameters":{"description":"note記事の内容がotherに関する内容の場合には、このノードから出力されるyaml設定を参照してください。","workflowId":{"__rl":true,"value":"aQDoFO5l8cFZeaWb","mode":"list","cachedResultName":"Writing note about other"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Input', ``, 'string') }}"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1596,460],"id":"85f9806c-1706-422d-a2eb-aa165500b2f0","name":"Writing note about other1"},{"parameters":{"promptType":"define","text":"=# 役割\nあなたはユーザーの代わりにnote記事を執筆するエージェントです。提出されたnote記事を分析し、その品質をさらに向上します。\n\n## ユーザー\n{{ $('On form submission').item.json.Who }}\n\n# 指示\n以下の手順で note 記事（Markdown 規約）を作成してください：\n1. 前段のAI Agentノードが作成した ## note記事 の内容を確認・分析してください。\n2. あるべきnote記事を理解するために、ツールを利用して、最も適切な yaml 設定を参照\n3. ## note記事 の内容を修正して品質を向上させてください。\n\n## note記事\n{{ $('AI Agent').item.json.output }}\n\n# 出力形式\n```markdown\n<タイトル>\n\n<本文全体を Markdown で出力>\n```","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1508,-260],"id":"4d33bc42-1a53-4450-9734-f4bccaaedf8f","name":"AI Agent3"},{"parameters":{"promptType":"define","text":"=# 役割\nあなたはユーザーの代わりにnote記事を執筆するエージェントです。提出されたnote記事を分析し、その品質をさらに向上します。\n\n## ユーザー\n{{ $('On form submission').item.json.Who }}\n\n# 指示\n以下の手順で note 記事（Markdown 規約）を作成してください：\n1. 前段のAI Agentノードが作成した ## note記事 の内容を確認・分析してください。\n2. あるべきnote記事を理解するために、ツールを利用して、最も適切な yaml 設定を参照\n3. ## note記事 の内容を修正して品質を向上させてください。\n\n## note記事\n{{ $('AI Agent').item.json.output }}\n\n# 出力形式\n```markdown\n<タイトル>\n\n<本文全体を Markdown で出力>\n```","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1500,240],"id":"1361b447-10e3-4f55-aab6-4698a7b2c481","name":"AI Agent4"},{"parameters":{"description":"Uchidaさんとしてnote記事を作成する場合には、このノードから出力されるyaml設定を参照してください。","workflowId":{"__rl":true,"value":"D3se8Dxy5CL2oVCc","mode":"list","cachedResultName":"Writing note as Uchida"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"Input"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1716,-840],"id":"5a86d336-694c-4207-89af-9d0cb9cf7ac7","name":"Writing note as Uchida1"},{"parameters":{"description":"Uchidaさんとしてnote記事を作成する場合には、このノードから出力されるyaml設定を参照してください。","workflowId":{"__rl":true,"value":"D3se8Dxy5CL2oVCc","mode":"list","cachedResultName":"Writing note as Uchida"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"Input"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1716,-440],"id":"0664fa8b-0ee6-49ad-a3f7-5960e120dfd1","name":"Writing note as Uchida2"},{"parameters":{"description":"Uchidaさんとしてnote記事を作成する場合には、このノードから出力されるyaml設定を参照してください。","workflowId":{"__rl":true,"value":"D3se8Dxy5CL2oVCc","mode":"list","cachedResultName":"Writing note as Uchida"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"Input"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1716,-40],"id":"03cdb7e4-cfbc-424e-99ea-6a282ae6d5a1","name":"Writing note as Uchida3"},{"parameters":{"description":"Uchidaさんとしてnote記事を作成する場合には、このノードから出力されるyaml設定を参照してください。","workflowId":{"__rl":true,"value":"D3se8Dxy5CL2oVCc","mode":"list","cachedResultName":"Writing note as Uchida"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"Input"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1780,440],"id":"c400bf5c-3a09-40b7-86a9-f83a00b1053d","name":"Writing note as Uchida4"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[320,-140],"id":"8af5013f-89b8-485d-82f6-d59e532b6dec","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1460,440],"id":"bd66e9ca-18fc-4418-a7d9-75128dd96eb5","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1480,-440],"id":"d40260fb-b3fb-44ae-96fe-aa506d3d6026","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1480,-860],"id":"e0a33a7f-b028-4bef-9a08-4c8c25a634a4","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1480,-40],"id":"c03d221a-820e-4331-9c6d-7f62a1bcfb30","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}}],"connections":{"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"set_fields":{"main":[[{"node":"Prepare_Request","type":"main","index":0}]]},"Prepare_Request":{"main":[[{"node":"CreateGoogleDoc1","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"set_fields","type":"main","index":0}]]},"CreateGoogleDoc1":{"main":[[{"node":"Form","type":"main","index":0}]]},"Writing note as Uchida":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Writing note as Kajiwara":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Writing note as Yamada":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"AI Agent1","type":"main","index":0}],[{"node":"AI Agent2","type":"main","index":0}],[{"node":"AI Agent3","type":"main","index":0}],[{"node":"AI Agent4","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Switch","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Writing note about meeting":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Writing note about webinar":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Writing note about minutes1":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"Writing note about other1":{"ai_tool":[[{"node":"AI Agent4","type":"ai_tool","index":0}]]},"AI Agent3":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"AI Agent4":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"Writing note as Uchida1":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Writing note as Uchida2":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Writing note as Uchida3":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"Writing note as Uchida4":{"ai_tool":[[{"node":"AI Agent4","type":"ai_tool","index":0}]]},"Form":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent4","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c613df4e-5e28-4e4f-af75-d702868efda1","triggerCount":1,"tags":[{"createdAt":"2025-07-03T09:34:43.179Z","updatedAt":"2025-07-03T09:34:43.179Z","id":"hYhvZiYkDJFZv9gD","name":"Auto writing \"note\""},{"createdAt":"2025-06-18T07:58:49.669Z","updatedAt":"2025-07-03T09:01:04.709Z","id":"w3Cnd8StpKPr7ekR","name":"on test"}]}