workflows/Auto reply for meeting_v02.json
{"createdAt":"2025-07-03T02:24:50.243Z","updatedAt":"2025-07-03T02:25:56.000Z","id":"9DfbeFUljkbrqfKn","name":"Auto reply for meeting_v02","active":false,"isArchived":true,"nodes":[{"parameters":{"promptType":"define","text":"=# 役割\nあなたは「生成AI教習所」の内田陸として会議調整メールを執筆します。\n\n# 対象者\n- 内田陸\n- 梶原俊一\n\n# 処理手順\n\n## 1. スケジュール情報の取得\n# 対象者に応じて、以下のツールを呼び出してください：\n- 対象者に内田陸が含まれる場合：「Uchida san's free schedule」ツール\n- 対象者に梶原俊一が含まれる場合：「Kajiwara san's free schedule」ツール\n- 対象者に落合建介が含まれる場合：「Ochiai san's free schedule」ツール\n\n\n## 2. メール内容の分析\n受信メールから以下を抽出してください：\n\n### 所要時間の特定\nメール本文から会議時間を抽出（例：「30分程度」「1時間」「1〜2時間」「半日」）\n- 明記されていない場合：**1時間をデフォルト**とする\n\n### 候補時間帯の理解\n- 先方が提示した時間帯 = **先方の空き時間**\n- この時間帯内で上記所要時間の会議枠を探索する\n\n## 3. 会議枠の探索と選定\n\n### A. 候補日時が提示されている場合\n各時間帯内で以下を実行：\n1. **会議枠候補の生成**：所要時間に基づく全ての可能な会議枠を作成\n2. **有効性チェック**：各候補が対象者全員の連続空きスロット内に完全に収まるかを確認\n3. **最適枠の選定**：有効な候補から最も早い時間を選択\n\n### B. 候補日時が提示されていない場合\n対象者全員の共通空き時間から、所要時間分の会議が収まるスロットを特定\n\n## 4. 返信メール作成\n- 宛先：相手会社名・氏名\n- 挨拶：生成AI教習所の内田として\n- 日時提示：「YYYY年MM月DD日（曜日）HH:MM-HH:MM」形式\n\n## 受信メール\n{{ $json.text }}\n\n# 具体例\n\n## 所要時間抽出パターン\n| メール表現 | 抽出時間 |\n|------------|----------|\n| 「30分程度の打ち合わせ」 | 30分 |\n| 「1時間の会議」 | 1時間 |\n| 「1〜2時間程度を想定」 | 1時間と2時間 |\n| 「半日程度」 | 3〜4時間 |\n| 記載なし | 1時間（デフォルト） |\n\n## 会議枠生成例\n**先方提示：7月4日（金）10:00〜14:00、所要時間：1時間**\n- 生成候補：10:00-11:00, 11:00-12:00, 12:00-13:00, 13:00-14:00\n- 内田の空き：11:00-16:00、梶原の空き：11:00-23:59、落合の空き：12:00-14:00\n- 有効候補：12:00-13:00, 13:00-14:00\n- **選定結果：12:00-13:00**（最も早い時間）\n\n# 出力例\n\n## パターン1：確定可能\n山田様\n\n平素より大変お世話になっております。\n生成AI教習所の内田でございます。\n\nご提案いただきました候補日程の件、ありがとうございます。\n対象者全員のスケジュールを確認いたしましたところ、下記日程にて調整させていただけますでしょうか。\n\n**確定日時：2025年07月04日（金曜日）11:00-12:00**\n\n改めて会議詳細につきましては、別途ご連絡させていただきます。\n\n何卒よろしくお願い申し上げます。\n\n内田\n\n## パターン2：複数候補\n山田様\n\n平素より大変お世話になっております。\n生成AI教習所の内田でございます。\n\nご提案いただきました候補日程を確認いたしました。\n下記の時間帯でご都合はいかがでしょうか。\n\n**候補1：2025年07月04日（金曜日）11:00-12:00**\n**候補2：2025年07月04日（金曜日）12:00-13:00**\n\nご都合の良い時間をお知らせいただければと思います。\n\n何卒よろしくお願い申し上げます。\n\n内田\n\n## パターン3：代替提案\n山田様\n\n平素より大変お世話になっております。\n生成AI教習所の内田でございます。\n\nご提案いただきました候補日程を確認いたしましたが、恐れ入りますが当方のスケジュールと調整が困難でございます。\nつきましては、下記の候補日程はいかがでしょうか。\n\n**候補1：2025年07月02日（水曜日）10:00-11:00**\n**候補2：2025年07月03日（木曜日）13:00-14:00**\n**候補3：2025年07月05日（土曜日）11:00-12:00**\n\nご都合の良い日時をお知らせいただければと思います。\n\n何卒よろしくお願い申し上げます。\n\n内田\n\n# 重要ルール\n\n## 必須事項\n- 対象者全員のスケジュールツール呼び出し\n- メール本文からの所要時間正確抽出\n- 先方時間帯の正しい解釈（空き時間として）\n- 連続空きスロット内での完全収容確認\n- 対象者全員の共通時間のみでの候補生成\n\n## 禁止事項\n- 先方時間帯の固定会議時間としての誤解釈\n- 空きスロット境界を超える会議提案\n- 複数スロットにまたがる会議提案\n- 一部の対象者のスケジュールのみでの判断","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[240,0],"id":"8bf13230-a92a-4e06-978f-e7c6aa9d5a3d","name":"AI Agent"},{"parameters":{"jsCode":"// ----- 入力 -----\nconst replyPlain = $input.first().json.output;                    // AI が作った本文(プレーン)\nconst originalHtml = $('When Executed by Another Workflow').first().json.html            // 元メール HTML\n                    || $('When Executed by Another Workflow').first().json.text;          // HTML が無ければテキスト\n\n// ----- HTML 形式に整形 -----\nconst replyHtml = replyPlain\n  .replace(/\\n/g, '<br>');                         // 改行を <br> に\n\n// Gmail が自動で折り畳んでくれる \"gmail_quote\" ブロック\nconst quotedHtml = `\n<br><br>\n<div class=\"gmail_quote\">\n  <blockquote class=\"gmail_quote\"\n    style=\"margin:0 0 0 .8ex;border-left:1px solid #ccc;padding-left:1ex\">\n    ${originalHtml}\n  </blockquote>\n</div>`;\n\n// ----- 出力 -----\n// itemオブジェクトを新規作成\nconst item = {\n  message: replyHtml + quotedHtml             // Gmail ノードの message に渡す\n};\n\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[600,0],"id":"3c541d79-732b-4341-a698-ab12476694a2","name":"Code"},{"parameters":{"method":"POST","url":"={{ $execution.resumeUrl.split('/').slice(0, 3).join('/') }}/webhook/token-estim8r-data","sendBody":true,"bodyParameters":{"parameters":[{"name":"executionId","value":"={{$execution.id}}"},{"name":"workflowId","value":"={{$workflow.id}}"},{"name":"workflowName","value":"={{$workflow.name}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,0],"id":"f85f7ae8-c9db-45d9-a911-a2d39b353fe4","name":"Send Token Estim8r Data"},{"parameters":{"description":"このツールを呼び出して、内田陸の今後1週間の空き時間を取得してください。","workflowId":{"__rl":true,"value":"QJEwr3iNXoXzPosM","mode":"list","cachedResultName":"Uchida san's schedule_2"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Input', ``, 'string') }}"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[280,220],"id":"5f360826-bd5f-4f92-932e-2b0cfd1d2301","name":"Uchida san's free schedule"},{"parameters":{"description":"このツールを呼び出して、梶原俊一の今後1週間の空き時間を取得してください。","workflowId":{"__rl":true,"value":"ow4XQWTdsrDHbWD3","mode":"list","cachedResultName":"Kajiwara san's schedule_2"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Input', ``, 'string') }}"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[440,220],"id":"68413cc7-6497-462b-9803-9555026331f8","name":"Kajiwara san's free schedule"},{"parameters":{"description":"このツールを呼び出して、落合建介の今後1週間の空き時間を取得してください。","workflowId":{"__rl":true,"value":"mpIKA6eOGmDJ7Irw","mode":"list","cachedResultName":"Ochiai san's schedule_2"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Input', ``, 'string') }}"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[600,220],"id":"d4705d22-7aa4-4413-b9c9-7845e21b93ef","name":"Ochiai san's free schedule"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[120,220],"id":"a0b7b925-c5b9-42a8-a71e-2f50b790ca86","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"workflowInputs":{"values":[{"name":"text"},{"name":"subject"},{"name":"message_id"},{"name":"thread_id"},{"name":"html"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"efd3d6b7-2c09-4358-ae3d-fe3570d861d9","name":"When Executed by Another Workflow"},{"parameters":{"resource":"draft","subject":"=RE: {{ $('When Executed by Another Workflow').item.json.subject }}","emailType":"html","message":"={{ $json.message }}","options":{"replyTo":"={{ $('When Executed by Another Workflow').item.json.message_id }}","threadId":"={{ $('When Executed by Another Workflow').item.json.thread_id }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[820,0],"id":"9b6f95a0-34be-44d4-a663-0da79df1b628","name":"Create a draft","webhookId":"37cbfefc-986e-4bff-9071-c0b4c410da70","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Create a draft","type":"main","index":0}]]},"Uchida san's free schedule":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Kajiwara san's free schedule":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Ochiai san's free schedule":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Create a draft":{"main":[[{"node":"Send Token Estim8r Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"04fe704b-814f-4129-8eb0-f7bcaa70f598","triggerCount":0,"tags":[]}