workflows/Auto Writing note on Google doc_v01.json
{"createdAt":"2025-06-25T05:02:37.007Z","updatedAt":"2025-07-04T02:02:47.000Z","id":"xX7aVJCrgQxSuWol","name":"Auto Writing note on Google doc_v01","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"n8n JSON Input","formDescription":"n8nのJSON Fileを入力してください。","formFields":{"values":[{"fieldLabel":"File","fieldType":"file"},{"fieldLabel":"Who","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Uchida"},{"option":"Kajiwara"},{"option":"Yamada"}]}}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,-700],"id":"fd6d4514-e0e8-4536-b977-ef2ac0b538ad","name":"On form submission","webhookId":"ea2e5f97-ebe9-49ff-a0e6-9c96f1fb3817"},{"parameters":{"promptType":"define","text":"=# 命令書\n\nあなたは、n8nのワークフローについて解説するプロのテクニカルライターです。\n以下の#実行手順と#制約条件に従って、読者が理解しやすく、再現性の高いnote記事を作成してください。\n\n# 実行手順\n\n1.  `# 入力データ`として提供される`n8n ワークフロー JSON`を詳細に分析し、ワークフロー全体の目的、トリガー、各ステップ（ノード）の役割を完全に理解してください。\n2.  `ユーザー`の情報を考慮し、どのような読者を対象とした記事なのかを明確にしてください。\n3.  ワークフローに関連する技術情報や設定（例: `yaml`ファイルの設定など）を適宜参照・補足し、記事の具体性と正確性を高めてください。\n4.  分析した内容に基づき、`# 出力形式`と`# noteのマークダウン記法ルール`を厳守して、魅力的なタイトルと分かりやすい本文を持つ記事を生成してください。\n\n# noteのマークダウン記法ルール (厳守)\n\nnoteの仕様に準拠するため、以下のルールのみを使用して記述してください。\n\n-   **見出し:**\n    -   大見出しは `##` + `半角スペース` + `テキスト` で記述します (h2相当)。\n    -   小見出しは `###` + `半角スペース` + `テキスト` で記述します (h3相当)。\n    -   **注意:** `#` (h1) や `####` (h4) など、上記以外の見出し記法は使用しないでください。\n\n-   **引用:**\n    -   `>` + `半角スペース` + `テキスト` で記述します。\n\n-   **箇条書きリスト:**\n    -   `-` + `半角スペース` + `テキスト` で記述します。\n    -   **注意:** `*` 記法との混在は避けるため、常に `-` を使用してください。\n\n-   **番号付きリスト:**\n    -   `1.` + `半角スペース` + `テキスト` の形式で記述します。\n    -   （AIへの補足情報: noteでは入力した数字に関わらず、自動的に1からの連番で表示されます）\n\n-   **強調（太字）:**\n    -   `**テキスト**` のように、アスタリスク2つで囲んで記述します。\n    -   **注意:** `__テキスト__` 記法は仕様が複雑なため、使用しないでください。\n\n-   **取り消し線:**\n    -   `~~テキスト~~` のように、チルダ2つで囲んで記述します。\n\n-   **コード:**\n    -   文中の短いコードは `` `バッククォート` `` で囲みます。\n    -   複数行のコードブロックは ` ``` ` (バッククォート3つ) で囲み、言語名（例: ````json` や ````javascript`）を指定することを推奨します。\n\n-   **区切り線:**\n    -   `---` (ハイフン3つ) のみで行を作成します。\n\n# 入力データ\n\n-   **n8n ワークフロー JSON:**\n    ```json\n    {{ JSON.stringify($json.File || $json[0].File, null, 2) }}\n    ```\n-   **ユーザー:**\n    `{{ $('On form submission').item.json.Who }}`\n\n# 出力形式\n\n以下の形式で、`<ここから出力>`以下のみを生成してください。\nnoteでは記事タイトルが自動的に大見出しになるため、出力の1行目には**マークダウンを含まないプレーンテキストでタイトルのみ**を記述し、**本文中の見出しは必ず `##` (h2) から始めてください。**\n\n---\n<ここから出力>\n\nここが記事のタイトルになります（マークダウンは使いません）\n\n## ここから本文の最初の見出しが始まります\nここに記事の本文全体を、上記の`# noteのマークダウン記法ルール`に厳密に従って記述してください。\nワークフローの概要、各ノードの機能、そして読者がこのワークフローをどのように活用できるかについて、具体的に解説してください。\n\n<ここまで出力>","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[440,-600],"id":"883d90fe-92fc-410e-afb8-32686c2cca32","name":"AI Agent"},{"parameters":{"operation":"fromJson","binaryPropertyName":"File","destinationKey":"File","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[220,-700],"id":"e99978c5-95ae-4f5c-a6cd-c2e8d355be8d","name":"Extract from File"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"uploadType","value":"multipart"},{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"contentType":"raw","rawContentType":"multipart/related; boundary=divider","body":"={{ $json.rawData }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1476,-600],"id":"caee2216-9f27-4a82-89e6-8b60dd5d7fc3","name":"CreateGoogleDoc1","notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"OKVmS3F6n6iswMuB","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e7ee03ac-13e3-4fca-a7bc-57c8fc56dc42","name":"document_name","value":"={{$now}}","type":"string"},{"id":"48a07ef2-ae46-4bfc-aa7e-d92a74ef46d6","name":"html_content","value":"={{ $json.data }}","type":"string"},{"id":"22b02fba-ba72-423a-b92f-1191a183a554","name":"drive_folder_id","value":"1i2gELyC1JoJvmfcMCqY768zT6I8UglbD","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1036,-600],"id":"6fbb404d-7768-4c29-8b67-7fac343a0f6f","name":"set_fields","notesInFlow":true},{"parameters":{"jsCode":"const boundary = 'divider';\nconst docName = $input.first().json.document_name;\nconst folderId = $input.first().json.drive_folder_id;\nconst htmlContent = $input.first().json.html_content;\n\nconst metadata = JSON.stringify({\n  name: docName,\n  mimeType: \"application/vnd.google-apps.document\",\n  parents: [folderId]\n});\n\nconst htmlWithStyles = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    /* Add bottom margin to block elements for spacing */\n    p,\n    ul,\n    ol,\n    table,\n    h1,\n    h2,\n    h3,\n    h4,\n    h5,\n    h6 {\n      margin-bottom: 10pt;\n    }\n\n    h2 {\n      margin-top: 20pt;\n    }\n\n    /* Prevent margin collapse issues or excessive space inside lists */\n    li {\n       margin-bottom: 2pt; /* Optional: small space between list items */\n    }\n\n    /* Remove margin from the last child within common containers if needed */\n    /* This might be overly aggressive, test without it first */\n    /*\n    body > *:last-child,\n    li > *:last-child {\n       margin-bottom: 0;\n    }\n    */\n  </style>\n</head>\n<body>\n  ${htmlContent}\n</body>\n</html>\n`;\n\n// Construct the body with literal \\r\\n ONLY\nlet body = `--${boundary}\\r\\n`;\nbody += `Content-Type: application/json; charset=UTF-8\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${metadata}\\r\\n`;\nbody += `--${boundary}\\r\\n`;\nbody += `Content-Type: text/html\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${htmlWithStyles}\\r\\n`; // Add the HTML content\nbody += `--${boundary}--\\r\\n`; // Final boundary\n\nreturn {\n  rawData: body \n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1256,-600],"id":"a3f3cba8-b331-404c-9017-37d43f4813e0","name":"Prepare_Request"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.output }}","options":{"emoji":true,"tables":true}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[816,-600],"id":"f8bb5ad3-d8e3-4f89-a8b3-34f9ce00b027","name":"Markdown"},{"parameters":{"operation":"completion","completionTitle":"完了","completionMessage":"下書きが作成されました。\n\n以下のリンクよりご確認ください。\nhttps://drive.google.com/drive/folders/1i2gELyC1JoJvmfcMCqY768zT6I8UglbD","options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[1696,-600],"id":"38bdc471-cbf7-4a1b-8aed-3633ebe26598","name":"Form","webhookId":"9a739780-b492-4601-bf65-74f4cdbce7e6"},{"parameters":{"description":"Uchidaさんとしてnote記事を作成する場合には、このノードから出力されるyaml設定を参照してください。","workflowId":{"__rl":true,"value":"D3se8Dxy5CL2oVCc","mode":"list","cachedResultName":"Writing note as Uchida"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"Input"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[620,-380],"id":"d85c7500-f7c7-4cf5-aed0-f940dbbd4c86","name":"Writing note as Uchida"},{"parameters":{"description":"Kajiwaraさんとしてnote記事を作成する場合には、このノードから出力されるyaml設定を参照してください。","workflowId":{"__rl":true,"value":"6ZegQYwBDJjfxUtt","mode":"list","cachedResultName":"Writing note as Kajiwara"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"Input"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[760,-380],"id":"30f6cb56-4509-4a3c-8157-bfd12c81beee","name":"Writing note as Kajiwara"},{"parameters":{"description":"Yamadaさんとしてnote記事を作成する場合には、このノードから出力されるyaml設定を参照してください。","workflowId":{"__rl":true,"value":"ZLpv02c6M5qIKU6z","mode":"list","cachedResultName":"Writing note as Yamada"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"Input"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[900,-380],"id":"a785b603-9d5d-4eef-b8ac-8a1dcd88a717","name":"Writing note as Yamada"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[420,-380],"id":"db66cb4b-e713-41af-b38b-66e772ea324d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}}],"connections":{"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"set_fields":{"main":[[{"node":"Prepare_Request","type":"main","index":0}]]},"Prepare_Request":{"main":[[{"node":"CreateGoogleDoc1","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"set_fields","type":"main","index":0}]]},"CreateGoogleDoc1":{"main":[[{"node":"Form","type":"main","index":0}]]},"Writing note as Uchida":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Writing note as Kajiwara":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Writing note as Yamada":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"038e91ca-2016-4492-a1c9-1159be8dc946","triggerCount":1,"tags":[{"createdAt":"2025-07-03T08:44:53.259Z","updatedAt":"2025-07-03T08:44:53.259Z","id":"WQ2os50uMIbKDpUI","name":"for Toyo様"},{"createdAt":"2025-07-03T09:34:43.179Z","updatedAt":"2025-07-03T09:34:43.179Z","id":"hYhvZiYkDJFZv9gD","name":"Auto writing \"note\""},{"createdAt":"2025-06-18T07:58:49.669Z","updatedAt":"2025-07-03T09:01:04.709Z","id":"w3Cnd8StpKPr7ekR","name":"on test"}]}