workflows/Bachup workflows to git repository on Github.json
{"createdAt":"2025-07-29T06:38:41.697Z","updatedAt":"2025-07-29T08:57:36.000Z","id":"PwA9FV5wuMYC2inA","name":"Bachup workflows to git repository on Github","active":true,"isArchived":false,"nodes":[{"parameters":{"values":{"string":[{"name":"repo.owner","value":"ucchyda"},{"name":"repo.name","value":"n8n-backup"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"id":"c1125501-52ad-433b-8a67-24d969d907e5","name":"Globals","type":"n8n-nodes-base.set","position":[-180,100],"typeVersion":1},{"parameters":{"options":{}},"id":"712ac3c1-5702-4c9a-916e-e1d9e4ebe8a3","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[280,100],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"b6c4e11a-6bc0-46b3-b506-96d2719294b5","name":"If","type":"n8n-nodes-base.if","position":[720,180],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items').item.json.toJsonString() }}"}]},"options":{}},"id":"b2934ec0-b7b9-4e6b-a1c5-1036a31a76aa","name":"If1","type":"n8n-nodes-base.if","position":[1600,460],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"4bfbb2f7-5969-4e62-8282-d2abbf164e94","name":"Code","type":"n8n-nodes-base.code","position":[1280,160],"typeVersion":2},{"parameters":{"authentication":"oAuth2","resource":"file","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"1859233a-7994-4c55-bc07-bc82e216f2c2","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[900,340],"typeVersion":1,"webhookId":"4a027b50-cd0b-4ed9-a3b6-6dbd8a91116d","credentials":{"githubOAuth2Api":{"id":"QeD9jUrYczSonBfq","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $('Loop Over Items').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items').item.json.name }}.json"},"id":"8d583c7e-806a-402b-aeaa-e52404270593","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1960,660],"typeVersion":1,"webhookId":"0802ac20-c607-44e7-8316-1fbbf6448f2a","credentials":{"githubOAuth2Api":{"id":"QeD9jUrYczSonBfq","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"id":"fca878c4-1ae7-4f2f-b319-8d86fb7a01d9","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-400,100],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"241dc997-b8cd-4b14-90af-e20084df52fc","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[2120,680],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"c95ea3ee-7bc0-41f7-8d08-52d1f8d9a1dc","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1740,460],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"aa0fd4ac-fc0f-43ab-b989-a00e1d3c49b1","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1020,360],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"e9eca2e9-9ed1-4442-bca3-10fa977c32b1","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[720,80],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"7d8d3d4b-6e28-45b7-9b8d-f51103a20f4d","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1220,60],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"1894e2be-a875-4d26-8cea-febfd2a0dc41","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"642647a7-c627-497d-aaa8-cdb97329f7f9","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-260,240],"typeVersion":1},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"get","owner":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"69e66656-e8bd-44c1-8bef-a4ae6d3d3c62","name":"Get a file","type":"n8n-nodes-base.github","position":[520,180],"typeVersion":1,"alwaysOutputData":true,"webhookId":"cec24991-b0cf-4daf-92ac-93268317866d","credentials":{"githubOAuth2Api":{"id":"QeD9jUrYczSonBfq","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"filters":{},"requestOptions":{}},"id":"d4db33d7-57c1-4645-ade1-ec251ffb12ac","name":"Get many workflows","type":"n8n-nodes-base.n8n","position":[60,100],"typeVersion":1,"credentials":{"n8nApi":{"id":"AUyHyAgWNH65WOWn","name":"n8n account"}}}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Globals":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get a file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"If","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"583c2cc8-deda-4c7c-ab2c-51d35544502f","triggerCount":1,"tags":[]}