workflows/Calendar Agent_homula.json
{"createdAt":"2025-07-17T12:17:39.202Z","updatedAt":"2025-07-17T12:23:11.000Z","id":"4yrSaNd4B0rmxJYj","name":"Calendar Agent_homula","active":false,"isArchived":false,"nodes":[{"parameters":{"calendar":{"__rl":true,"value":"riku.uchida@homula.jp","mode":"list","cachedResultName":"riku.uchida@homula.jp"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[420,540],"id":"34b13bdf-6a65-4568-b788-ce2c3548f111","name":"Create Event","credentials":{"googleCalendarOAuth2Api":{"id":"8aFrsErq0VCFJMTa","name":"Google Calendar account 2"}}},{"parameters":{"calendar":{"__rl":true,"value":"riku.uchida@homula.jp","mode":"list","cachedResultName":"riku.uchida@homula.jp"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Attendees', ``, 'string') }}"],"description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}","summary":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[600,540],"id":"639e2ded-077c-453e-82c4-cd662b3f9b71","name":"Create Event with Attendee","retryOnFail":true,"credentials":{"googleCalendarOAuth2Api":{"id":"8aFrsErq0VCFJMTa","name":"Google Calendar account 2"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"riku.uchida@homula.jp","mode":"list","cachedResultName":"riku.uchida@homula.jp"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{"end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[780,540],"id":"8e1870cf-9fea-4769-9ed4-8488c7aeb254","name":"Update Event","credentials":{"googleCalendarOAuth2Api":{"id":"8aFrsErq0VCFJMTa","name":"Google Calendar account 2"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"riku.uchida@homula.jp","mode":"list","cachedResultName":"riku.uchida@homula.jp"},"returnAll":true,"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `12:01 AM of the day the user requested`, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `11:59 PM of the day the user requested`, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[940,540],"id":"481cd9de-36cf-442a-963d-713bfcc9f67f","name":"Get Events","credentials":{"googleCalendarOAuth2Api":{"id":"8aFrsErq0VCFJMTa","name":"Google Calendar account 2"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"riku.uchida@homula.jp","mode":"list","cachedResultName":"riku.uchida@homula.jp"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1100,540],"id":"3b03d464-4c67-498c-9d97-e7970b614f8f","name":"Delete Event","credentials":{"googleCalendarOAuth2Api":{"id":"8aFrsErq0VCFJMTa","name":"Google Calendar account 2"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[380,320],"id":"eb4b636b-f89d-4166-b2ce-cee9501bb046","name":"When Executed by Another Workflow"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[200,540],"id":"0608ef06-2ed4-4195-aaea-a7491eff365f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"x41SyoevqgG2gNMs","name":"Google Gemini(PaLM) Api account 3"}}},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは、ツール利用を通じてGoogleカレンダーを操作し、その実行結果を必ず指定されたJSON形式で報告する「カレンダー操作エージェント」です。\n\n# 利用可能なツール\n- `Create Event with Attendee`: 参加者を含む新しいイベントを作成します。\n- 自分一人のイベントの場合は、「Create Event」を使用してください。\n- カレンダーの予定取得を要求された場合は、「Get Events」を使用してください。\n- イベントを削除するには、「Delete Event」を使用してください。その際、まず「Get Events」を使用して削除対象のイベントIDを取得する必要があります。\n- イベントを更新するには、「Update Event」を使用してください。その際、まず「Get Events」を使用して更新対象のイベントIDを取得する必要があります。\n\n# JSON出力フォーマット\n全ての操作結果は、以下のJSON形式で厳密に出力しなければなりません。\n\n## 1. イベント作成 (`CreateEventWithAttendee`)\nイベントの作成に成功した場合、以下のフォーマットで出力します。\n```json\n{\n  \"action\": \"create\",\n  \"status\": \"success\",\n  \"message\": \"イベント「（実際のイベント名）」を（実際の日時）に作成しました。\",\n  \"createdEvent\": {\n    \"id\": \"作成されたイベントのID\",\n    \"title\": \"作成されたイベントのタイトル\",\n    \"startTime\": \"YYYY-MM-DDTHH:MM:SSZ\",\n    \"endTime\": \"YYYY-MM-DDTHH:MM:SSZ\",\n    \"attendees\": [\"attendee1@example.com\", \"attendee2@example.com\"]\n  }\n}\n````\n\n## 2\\. イベント取得 (`Get Events`)\n\nカレンダーから予定を取得した場合、以下のフォーマットで出力します。\n\n```json\n{\n  \"action\": \"get\",\n  \"status\": \"success\",\n  \"message\": \"（期間など）のイベントをO件取得しました。\",\n  \"retrievedEvents\": [\n    {\n      \"id\": \"イベントID_1\",\n      \"title\": \"イベントのタイトル_1\",\n      \"startTime\": \"YYYY-MM-DDTHH:MM:SSZ\",\n      \"endTime\": \"YYYY-MM-DDTHH:MM:SSZ\"\n    },\n    {\n      \"id\": \"イベントID_2\",\n      \"title\": \"イベントのタイトル_2\",\n      \"startTime\": \"YYYY-MM-DDTHH:MM:SSZ\",\n      \"endTime\": \"YYYY-MM-DDTHH:MM:SSZ\"\n    }\n  ]\n}\n```\n\n## 3\\. イベント削除 (`Delete Event`)\n\nイベントの削除に成功した場合、まず`Get Events`でイベントIDを取得し、その後削除を実行します。最終的な出力は以下のフォーマットです。\n\n```json\n{\n  \"action\": \"delete\",\n  \"status\": \"success\",\n  \"message\": \"イベント「（削除したイベント名）」を削除しました。\",\n  \"deletedEvent\": {\n    \"id\": \"削除されたイベントのID\",\n    \"title\": \"削除されたイベントのタイトル\",\n    \"startTime\": \"YYYY-MM-DDTHH:MM:SSZ\",\n    \"endTime\": \"YYYY-MM-DDTHH:MM:SSZ\"\n  }\n}\n```\n\n# ユーザーからの指示\n\n以下の指示を実行し、上記のJSONフォーマットに従って結果を報告してください。\n{{ $json.query }}\n\n````","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[620,320],"id":"10fd01b1-ec9d-4b76-8842-3a56630fa527","name":"Calendar Agent"}],"connections":{"Create Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Create Event with Attendee":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Update Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Get Events":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Delete Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Calendar Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Calendar Agent","type":"ai_languageModel","index":0}]]},"Calendar Agent":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c26e45f4-787b-4bff-acde-1097e86fed13","triggerCount":0,"tags":[{"createdAt":"2025-07-17T12:18:06.544Z","updatedAt":"2025-07-17T12:18:06.544Z","id":"rHPcfSr19Pi3atvf","name":"homula"}]}