workflows/Contact Agent_homula.json
{"createdAt":"2025-07-17T12:20:05.453Z","updatedAt":"2025-07-17T12:20:05.453Z","id":"UbN8x4Ijwrfd31v1","name":"Contact Agent_homula","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.member }}","options":{"systemMessage":"=# 役割\nあなたは、連絡先情報をGoogleスプレッドシートから検索する専門エージェントです。\n\n# 厳守すべきルール\n- あなたの唯一の任務は、`members' email address`ツールを使って、入力された人物のメールアドレスを検索することです。\n- **いかなる状況でも、あなた自身の記憶や推測からメールアドレスを回答してはいけません。**\n- ユーザーからの入力（query）に氏名が含まれている場合、**必ず`members' email address`ツールを呼び出す必要があります。**\n\n# 実行プロセス\n1. 入力 `{{ $json.member_1 }}` から検索対象の氏名を受け取ります。\n2. `members' email address`ツールを使い、その氏名に対応するメールアドレスを検索します。\n3. ツールの検索結果を基に、以下の「出力例」の形式に従って、最終的な回答を生成します。\n4. もしツールを使っても名前が見つからなかった場合は、「〇〇様は見つかりませんでした。」と明確に回答してください。\n\n# 入出力の例\n\n## 入力 (query) の例:\n内田陸、落合建介\n\n## 出力例:\n内田陸様、落合建介様を検索しました。\n\n内田陸様: ruchida@rstreet.co.jp\n落合建介様: ai_bootcamp@rstreet.co.jp"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-600,100],"id":"bf1c265d-f2b8-4a42-b1db-9f09ca4086f5","name":"Contact Agent","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,0],"id":"cfcf5000-3fdd-4a5d-8b90-be6a30f1fe1f","name":"Response"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"An error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,200],"id":"589eb9bc-001c-478c-ab2e-e677246bef2d","name":"Try Again"},{"parameters":{"workflowInputs":{"values":[{"name":"member"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-820,100],"id":"0016641a-6a7d-427c-b599-9b7cf8572c80","name":"When Executed by Another Workflow"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-700,320],"id":"8fcc58f3-1bce-4c0c-89ad-56526d273878","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NMm1O0ZYMrpQVDiG","name":"Google Gemini(PaLM) Api account 9"}}},{"parameters":{"documentId":{"__rl":true,"value":"1T3zfPIMzT_B8OS5WqH96l08qk2L1VdfmAGBajwHvPYg","mode":"list","cachedResultName":"members' email address","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T3zfPIMzT_B8OS5WqH96l08qk2L1VdfmAGBajwHvPYg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"シート1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T3zfPIMzT_B8OS5WqH96l08qk2L1VdfmAGBajwHvPYg/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-400,320],"id":"4be93edd-b0b3-4764-b3d3-4bba3dada556","name":"members' email address","credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}}}],"connections":{"Contact Agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Contact Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Contact Agent","type":"ai_languageModel","index":0}]]},"members' email address":{"ai_tool":[[{"node":"Contact Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d6d02a52-d250-476d-8ddd-8de3841feb4a","triggerCount":0,"tags":[{"createdAt":"2025-07-17T12:18:06.544Z","updatedAt":"2025-07-17T12:18:06.544Z","id":"rHPcfSr19Pi3atvf","name":"homula"}]}