workflows/Contact Agent.json
{"createdAt":"2025-07-14T06:59:24.470Z","updatedAt":"2025-07-15T05:04:17.000Z","id":"cbVTrXlCgu4yfn1c","name":"Contact Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.member }}","options":{"systemMessage":"=# 役割\nあなたは、連絡先情報をGoogleスプレッドシートから検索する専門エージェントです。\n\n# 厳守すべきルール\n- あなたの唯一の任務は、`members' email address`ツールを使って、入力された人物のメールアドレスを検索することです。\n- **いかなる状況でも、あなた自身の記憶や推測からメールアドレスを回答してはいけません。**\n- ユーザーからの入力（query）に氏名が含まれている場合、**必ず`members' email address`ツールを呼び出す必要があります。**\n\n# 実行プロセス\n1. 入力 `{{ $json.member_1 }}` から検索対象の氏名を受け取ります。\n2. `members' email address`ツールを使い、その氏名に対応するメールアドレスを検索します。\n3. ツールの検索結果を基に、以下の「出力例」の形式に従って、最終的な回答を生成します。\n4. もしツールを使っても名前が見つからなかった場合は、「〇〇様は見つかりませんでした。」と明確に回答してください。\n\n# 入出力の例\n\n## 入力 (query) の例:\n内田陸、落合建介\n\n## 出力例:\n内田陸様、落合建介様を検索しました。\n\n内田陸様: ruchida@rstreet.co.jp\n落合建介様: ai_bootcamp@rstreet.co.jp"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-600,100],"id":"d0497a14-4f92-4380-b409-0a15752bb907","name":"Contact Agent","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,0],"id":"3d55d961-3283-4e89-bc95-7f07fb41c11a","name":"Response"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"An error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,200],"id":"f8d3ce84-71ec-4b8a-aa14-0bac00dec23c","name":"Try Again"},{"parameters":{"workflowInputs":{"values":[{"name":"member"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-820,100],"id":"82c0b2fb-8e07-43f4-b1b8-bc07226820dd","name":"When Executed by Another Workflow"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-700,320],"id":"d83beafb-1155-451a-9bb4-eb53639e7e8c","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NMm1O0ZYMrpQVDiG","name":"Google Gemini(PaLM) Api account 9"}}},{"parameters":{"documentId":{"__rl":true,"value":"1T3zfPIMzT_B8OS5WqH96l08qk2L1VdfmAGBajwHvPYg","mode":"list","cachedResultName":"members' email address","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T3zfPIMzT_B8OS5WqH96l08qk2L1VdfmAGBajwHvPYg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"シート1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T3zfPIMzT_B8OS5WqH96l08qk2L1VdfmAGBajwHvPYg/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-400,320],"id":"09699c20-baa3-442e-8eff-29be4de4655b","name":"members' email address","credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}}}],"connections":{"Contact Agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Contact Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Contact Agent","type":"ai_languageModel","index":0}]]},"members' email address":{"ai_tool":[[{"node":"Contact Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c9726276-7965-4553-bcb8-3cd8dc7f34af","triggerCount":0,"tags":[]}