workflows/Creating a  draft to attendee after zoom webinar.json
{"createdAt":"2025-06-12T08:39:16.081Z","updatedAt":"2025-06-25T01:06:53.000Z","id":"fz3Z7j4uF5236pkj","name":"Creating a  draft to attendee after zoom webinar","active":true,"isArchived":false,"nodes":[{"parameters":{"action":"hmac","type":"SHA256","value":"={{ $json.body.payload.plainToken }}","dataPropertyName":"=data","secret":"gdo7UwQHSK-uu0gBs6Nb3w"},"id":"9251094c-4de9-4cda-a11a-9d57baae7ec9","name":"Crypto","type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-2460,380],"onError":"continueRegularOutput"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"body","value":"={\"encryptedToken\":\"{{ $json.data }}\",\"plainToken\":\"{{ $json.body.payload.plainToken }}\"}"}]},"options":{}},"id":"5ed023b7-edc5-408a-b8f3-4906ce476f91","name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[-2240,380]},{"parameters":{"content":"## Zoom Webhook Validation\nconnect webhook trigger in this nodes to encrypt tokens\n","height":300,"width":880,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2740,300],"id":"d3bd4e90-e29b-4ab4-bd20-1ea147ebd1cc","name":"Sticky Note2"},{"parameters":{"respondWith":"json","responseBody":"={{ $json.body }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-type","value":"application/json"}]}}},"id":"72ad1f32-95e3-4c36-b3c2-92267edce973","name":"Respond to Webhook1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-2020,380]},{"parameters":{"httpMethod":"POST","path":"TEST","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2680,380],"id":"4146af02-3715-4943-815f-755fc6cbd958","name":"Webhook1","webhookId":"7481f1cb-7052-4d32-9c9d-04d976cf031b"},{"parameters":{"httpMethod":"POST","path":"TEST","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2680,-80],"id":"3f17904e-fdec-4661-9327-0406c5154b83","name":"Webhook","webhookId":"7481f1cb-7052-4d32-9c9d-04d976cf031b"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.body.payload.object.participant.leave_time }}","rightValue":"2025-06-16","operator":{"type":"string","operation":"contains"},"id":"01c9f58a-6a00-4be9-bfa5-b249b6b5c569"}],"combinator":"and"},"renameOutput":true,"outputKey":"生成AI基礎"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4ca1d4d5-e783-4a46-98dd-1aa732102159","leftValue":"={{ $json.body.payload.object.participant.leave_time }}","rightValue":"2025-06-17","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Difyハンズオン"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a5a061b7-a65d-47a2-b82f-f79cfcaddb84","leftValue":"={{ $json.body.payload.object.participant.leave_time }}","rightValue":"2025-06-18","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AIエージェント「インハウス化」"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"263edbde-c0a1-498d-9810-01986bf7c3d0","leftValue":"={{ $json.body.payload.object.participant.leave_time }}","rightValue":"2025-06-19","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"生成AI基礎"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"710b7852-1073-405f-bb5f-99293a7a1a0b","leftValue":"={{ $json.body.payload.object.participant.leave_time }}","rightValue":"2025-06-20","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Difyハンズオン"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"06f9ecb5-3e3b-430d-8b07-0c78e4c3b793","leftValue":"={{ $json.body.payload.object.participant.leave_time }}","rightValue":"2025-06-23","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AIエージェント「インハウス化」"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2460,-143],"id":"2d85b6a7-5e35-4a0f-85d8-0841e63bbd55","name":"Switch"},{"parameters":{"documentId":{"__rl":true,"value":"1nK5QtTaEdLqTjEmRJwYeqIMTkJS80Go3mSu-zNArtPM","mode":"list","cachedResultName":"顧客マスタ_最新","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nK5QtTaEdLqTjEmRJwYeqIMTkJS80Go3mSu-zNArtPM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1926646777,"mode":"list","cachedResultName":"顧客マスタ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nK5QtTaEdLqTjEmRJwYeqIMTkJS80Go3mSu-zNArtPM/edit#gid=1926646777"},"filtersUI":{"values":[{"lookupColumn":"e-mail","lookupValue":"={{ $('Webhook').item.json.body.payload.object.participant.email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2240,-280],"id":"933e9397-a992-4faa-9168-3248f1ae282f","name":"Google Sheets","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1nK5QtTaEdLqTjEmRJwYeqIMTkJS80Go3mSu-zNArtPM","mode":"list","cachedResultName":"顧客マスタ_最新","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nK5QtTaEdLqTjEmRJwYeqIMTkJS80Go3mSu-zNArtPM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1926646777,"mode":"list","cachedResultName":"顧客マスタ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nK5QtTaEdLqTjEmRJwYeqIMTkJS80Go3mSu-zNArtPM/edit#gid=1926646777"},"filtersUI":{"values":[{"lookupColumn":"e-mail","lookupValue":"={{ $('Webhook').item.json.body.payload.object.participant.email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2240,-80],"id":"ef7f4627-f78f-4326-bce0-7ac1a11afb89","name":"Google Sheets1","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1nK5QtTaEdLqTjEmRJwYeqIMTkJS80Go3mSu-zNArtPM","mode":"list","cachedResultName":"顧客マスタ_最新","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nK5QtTaEdLqTjEmRJwYeqIMTkJS80Go3mSu-zNArtPM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1926646777,"mode":"list","cachedResultName":"顧客マスタ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1nK5QtTaEdLqTjEmRJwYeqIMTkJS80Go3mSu-zNArtPM/edit#gid=1926646777"},"filtersUI":{"values":[{"lookupColumn":"e-mail","lookupValue":"={{ $('Webhook').item.json.body.payload.object.participant.email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-2240,120],"id":"28ee71c4-d4af-48de-a50e-155b90eb54a6","name":"Google Sheets2","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}}},{"parameters":{"resource":"draft","subject":"【本日の資料】 生成AI基礎ウェビナーのご受講ありがとうございました","emailType":"html","message":"=<p>\n  {{ $json['会社名'] }}<br>\n  {{ $json['部署名'] }}<br>\n  {{ $json['役職'] }}<br>\n  {{ $json['姓'] }}様\n</p>\n\n<p>平素より大変お世話になっております。<br>\n生成AI教習所でございます。</p>\n\n<p>\n  この度は生成AI基礎ウェビナーのご受講、誠にありがとうございました。<br>\n  本日の資料をお送りいたします。<br>\n  本日の内容に関するご質問、並びに生成AI研修や生成AIコンサルティングのご相談は、<br>\n  <a href=\"mailto:info@rstreet.co.jp\">info@rstreet.co.jp</a> までお気軽にご連絡ください。\n</p>\n\n<p>\n  また、ご面談の機会を頂戴できましたら、下記日程よりご調整いただけますと幸甚です。<br>\n  <a href=\"https://app.spirinc.com/t/F0g5RHF5Tg0stH5LIpPZV/as/H_xqKvcyff0UmGpKdkBfV/confirm\">\n    日程調整はこちら\n  </a>\n</p>\n\n<p>今後とも何卒よろしくお願いいたします。<br>\n生成AI教習所</p>","options":{"attachmentsUi":{"attachmentsBinary":[{"property":"data"}]},"ccList":"seminar_support@rstreet.co.jp","sendTo":"={{ $('Webhook').item.json.body.payload.object.participant.email }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1800,-280],"id":"d3ac0fd3-548f-475e-86a7-b52925ebe179","name":"Gmail","webhookId":"d61f6bd2-ce28-4e15-a91c-c2e767233ebe","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"resource":"draft","subject":"【本日の資料】 生成AI基礎ウェビナーのご受講ありがとうございました","emailType":"html","message":"=<p>\n  {{ $json['会社名'] }}<br>\n  {{ $json['部署名'] }}<br>\n  {{ $json['役職'] }}<br>\n  {{ $json['姓'] }}様\n</p>\n\n<p>平素より大変お世話になっております。<br>\n生成AI教習所でございます。</p>\n\n<p>\n  この度はDifyハンズオンウェビナーのご受講誠にありがとうございました。<br>\n  本日の資料をお送りいたします。<br>\n  本日の内容に関するご質問、並びに生成AI研修や生成AIコンサルティングのご相談は、<br>\n  <a href=\"mailto:info@rstreet.co.jp\">info@rstreet.co.jp</a> までお気軽にご連絡ください。\n</p>\n\n<p>\n  また、ご面談の機会を頂戴できましたら、下記日程よりご調整いただけますと幸甚です。<br>\n  <a href=\"https://app.spirinc.com/t/F0g5RHF5Tg0stH5LIpPZV/as/H_xqKvcyff0UmGpKdkBfV/confirm\">\n    日程調整はこちら\n  </a>\n</p>\n\n<p>今後とも何卒よろしくお願いいたします。<br>\n生成AI教習所</p>","options":{"attachmentsUi":{"attachmentsBinary":[{"property":"data"}]},"ccList":"seminar_support@rstreet.co.jp","sendTo":"={{ $('Webhook').item.json.body.payload.object.participant.email }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1800,-80],"id":"ca255406-b519-4d6e-9a67-835c7892ce0d","name":"Gmail1","webhookId":"d61f6bd2-ce28-4e15-a91c-c2e767233ebe","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"resource":"draft","subject":"【本日の資料】 生成AI基礎ウェビナーのご受講ありがとうございました","emailType":"html","message":"=<p>\n  {{ $json['会社名'] }}<br>\n  {{ $json['部署名'] }}<br>\n  {{ $json['役職'] }}<br>\n  {{ $json['姓'] }}様\n</p>\n\n<p>平素より大変お世話になっております。<br>\n生成AI教習所でございます。</p>\n\n<p>\n  この度はAIエージェント「インハウス化」ロードマップウェビナーのご受講誠にありがとうございました。<br>\n  本日の資料をお送りいたします。<br>\n  本日の内容に関するご質問、並びに生成AI研修や生成AIコンサルティングのご相談は、<br>\n  <a href=\"mailto:info@rstreet.co.jp\">info@rstreet.co.jp</a> までお気軽にご連絡ください。\n</p>\n\n<p>\n  また、ご面談の機会を頂戴できましたら、下記日程よりご調整いただけますと幸甚です。<br>\n  <a href=\"https://app.spirinc.com/t/F0g5RHF5Tg0stH5LIpPZV/as/H_xqKvcyff0UmGpKdkBfV/confirm\">\n    日程調整はこちら\n  </a>\n</p>\n\n<p>今後とも何卒よろしくお願いいたします。<br>\n生成AI教習所</p>","options":{"attachmentsUi":{"attachmentsBinary":[{"property":"data"}]},"ccList":"seminar_support@rstreet.co.jp","sendTo":"={{ $('Webhook').item.json.body.payload.object.participant.email }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-1800,120],"id":"4da8adb3-6f8b-40b7-b0b6-8c2614baecd6","name":"Gmail2","webhookId":"d61f6bd2-ce28-4e15-a91c-c2e767233ebe","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"11VeSGTPUyCdznXaTl3Bm6skIqgQK5U7Y","mode":"list","cachedResultName":"【共有用】生成AI基礎セミナー 6月版_内田.pdf","cachedResultUrl":"https://drive.google.com/file/d/11VeSGTPUyCdznXaTl3Bm6skIqgQK5U7Y/view?usp=drivesdk"},"options":{"binaryPropertyName":"data"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2020,-280],"id":"ecaea761-41c2-4792-9244-609cb32f5c6d","name":"Google Drive","credentials":{"googleDriveOAuth2Api":{"id":"IdrdQNKG669nhJ05","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"11mB0Y0wy72Rpk-iN336zzyi1xiknuNEf","mode":"list","cachedResultName":"【共有用】生成AI教習所_Difyハンズオンウェビナー_2025年6月.pdf","cachedResultUrl":"https://drive.google.com/file/d/11mB0Y0wy72Rpk-iN336zzyi1xiknuNEf/view?usp=drivesdk"},"options":{"binaryPropertyName":"data"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2020,-80],"id":"21b7a6ba-95bc-49e2-92d7-7d71da211db9","name":"Google Drive1","credentials":{"googleDriveOAuth2Api":{"id":"IdrdQNKG669nhJ05","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"11VeSGTPUyCdznXaTl3Bm6skIqgQK5U7Y","mode":"list","cachedResultName":"【共有用】生成AI基礎セミナー 6月版_内田.pdf","cachedResultUrl":"https://drive.google.com/file/d/11VeSGTPUyCdznXaTl3Bm6skIqgQK5U7Y/view?usp=drivesdk"},"options":{"binaryPropertyName":"data"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2020,120],"id":"b39c5633-b7d5-4483-bcd9-f706272472fa","name":"Google Drive2","credentials":{"googleDriveOAuth2Api":{"id":"IdrdQNKG669nhJ05","name":"Google Drive account"}}}],"connections":{"Crypto":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Google Sheets","type":"main","index":0}],[{"node":"Google Sheets1","type":"main","index":0}],[{"node":"Google Sheets2","type":"main","index":0}],[{"node":"Google Sheets","type":"main","index":0}],[{"node":"Google Sheets1","type":"main","index":0}],[{"node":"Google Sheets2","type":"main","index":0}]]},"Google Sheets":{"main":[[{"node":"Google Drive","type":"main","index":0}]]},"Google Sheets1":{"main":[[{"node":"Google Drive1","type":"main","index":0}]]},"Google Sheets2":{"main":[[{"node":"Google Drive2","type":"main","index":0}]]},"Google Drive":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Google Drive1":{"main":[[{"node":"Gmail1","type":"main","index":0}]]},"Google Drive2":{"main":[[{"node":"Gmail2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"990f2284-d4f4-4b71-8aab-c7481c7f3bf2","triggerCount":2,"tags":[{"createdAt":"2025-06-18T06:02:05.329Z","updatedAt":"2025-07-03T09:34:21.359Z","id":"gLHg8oyeUvCcFN2z","name":"progress"}]}