workflows/generate dynamic line chart from json.json
{"createdAt":"2025-07-07T06:25:53.529Z","updatedAt":"2025-07-07T06:27:48.000Z","id":"2yEtGKS0mhG0mbwT","name":"generate dynamic line chart from json","active":false,"isArchived":false,"nodes":[{"parameters":{"chartType":"line","labelsMode":"array","labelsArray":"={{ $json.jsonData.labels }}","data":"={{ $json.jsonData.salesData }}","chartOptions":{},"datasetOptions":{}},"id":"9ec491a0-4481-4827-87cd-39692b1d4c14","name":"QuickChart","type":"n8n-nodes-base.quickChart","position":[860,500],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"1b3ae0ac-7fa5-406c-8e61-d6a9a6c27f07","name":"jsonData","type":"object","value":"={ \"reportTitle\": \"Quarterly Sales\", \"labels\": [\"Q1\", \"Q2\", \"Q3\", \"Q4\"], \"salesData\": [1250, 1800, 1550, 2100] }"}]},"options":{}},"id":"8fa74a01-9f1e-4ea7-8a03-02cf9f1cdaf4","name":"Edit Fields: Set JSON data to test","type":"n8n-nodes-base.set","position":[540,500],"typeVersion":3.4},{"parameters":{"name":"=chart.{{ $binary.data.fileExtension }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"6197183d-71fa-4003-9a54-5f71d5d04f4f","name":"Google Drive: Upload File","type":"n8n-nodes-base.googleDrive","position":[1140,500],"typeVersion":3,"credentials":{"googleDriveOAuth2Api":{"id":"OKVmS3F6n6iswMuB","name":"Google Drive account"}}},{"parameters":{"content":"## チャートジェネレーター\n**JSONデータから動的な折れ線グラフを生成し、Googleドライブにアップロードします**\n### 使い方とカスタマイズ方法\n\n* **入力データの変更:** `Edit Fields: Set JSON data to test`ノード内の`labels`配列と`salesData`配列を、ご自身のデータに変更してください。ラベルの数とデータポイントの数が一致するようにしてください。\n* **実際のデータソースを使用する:** `Edit Fields: Set JSON data to test`ノードを、以下のような実際のソースからデータを取得するノードに置き換えます。\n    * HTTPリクエスト (API)\n    * Postgres / MongoDBノード (データベース)\n    * Google Sheetsノード\n    * ソースノードからの出力データが同様の形式（`labels`配列と`salesData`配列を提供する）になっていることを確認してください。QuickChartノードの前に、データを正しく構造化するために別のSetノードが必要になる場合があります。\n* **グラフの種類の変更:** QuickChartノードで、`Chart Type`パラメータを変更します（例: `line`を`bar`、`pie`、`doughnut`などに変更）。\n* **グラフの外観をカスタマイズ:** QuickChartノード内の`Chart Options`パラメータを調べ、QuickChartの標準的なJSON設定オプションを使用して、タイトルの追加、色の変更、軸の変更などを行います。\n* **データセットの使用（複雑なグラフに推奨）:** 複数の線や棒グラフ、またはより詳細な制御を行うには、QuickChartノードでデータセットを明示的に設定します。\n    * トップレベルの`Data`フィールドから式を削除します。\n    * `Dataset Options` -> `Add option` -> `Add dataset` に進みます。\n    * データセット内の`Data`フィールドに、`{{ $json.jsonData.salesData }}`のような式を使用して設定します。\n    * この方法で複数のデータセットを追加できます。\n* **出力先の変更:** `Google Drive: Upload File`ノードを他のノードに置き換えて、グラフ画像を異なる方法で処理します。\n    * `Write Binary File`: n8nが実行されているローカルファイルシステムにグラフを保存します。\n    * `Slack` / `Discord` / `Telegram`: メッセージングプラットフォームにグラフを送信します。\n    * `Move Binary Data`: 画像をBase64に変換してHTMLに埋め込んだり、Webhookレスポンスとして返したりします。","height":740,"width":1380},"id":"8f759d23-5858-4bbe-83ec-b9fb9dcc91d1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[60,-80],"typeVersion":1},{"parameters":{},"id":"ffe15d4d-3a35-4d7d-8746-7a771260ff0b","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[220,500],"typeVersion":1}],"connections":{"QuickChart":{"main":[[{"node":"Google Drive: Upload File","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields: Set JSON data to test","type":"main","index":0}]]},"Edit Fields: Set JSON data to test":{"main":[[{"node":"QuickChart","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4e7b9754-d618-414c-b357-ce720e10380f","triggerCount":0,"tags":[]}