workflows/github stars comparison_v02.json
{"createdAt":"2025-07-08T00:07:06.911Z","updatedAt":"2025-07-08T05:55:22.000Z","id":"WeooflikT1VJphzR","name":"github stars comparison_v02","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"8418a1b3-74b0-4145-b540-ba36d68b4dc3","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"update","documentURL":"=1SAd3J_0zqc-Ig2LJrD_FyQgBon2umaRpwG-SOwjnPWc","actionsUi":{"actionFields":[{"action":"insert","locationChoice":"location","index":"={{ $json.commentEndIndex }}","text":"={{ $('AI Agent').item.json.output }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2136,0],"id":"e03875b7-6f6a-400b-a356-fec972fdac97","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"QWyOjlguPBITSjRi","name":"n8n-saas-dev"}}},{"parameters":{"operation":"get","documentURL":"1IjLivlrDc4rHotTyBNeJu15jkINWUcGjgR-cSItGeyo","simple":false},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"6d00cfcd-9b07-442c-84d3-13d21ca586df","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"QWyOjlguPBITSjRi","name":"n8n-saas-dev"}}},{"parameters":{"documentId":{"__rl":true,"value":"1u-WfZ8qIzh5FlUlnXtXxXrYqCOciLv0pXn88jxdlYnw","mode":"list","cachedResultName":"master_githubstars comparison","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u-WfZ8qIzh5FlUlnXtXxXrYqCOciLv0pXn88jxdlYnw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1847741174,"mode":"list","cachedResultName":"langgenius_dify-stars-history","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u-WfZ8qIzh5FlUlnXtXxXrYqCOciLv0pXn88jxdlYnw/edit#gid=1847741174"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[660,0],"id":"1b3a09c3-89f7-48f2-94be-40bf35d2ed9f","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは優秀な分析官です。\n\n# 指示\n前月に示唆したコメントを参考にしながら、difyとn8nのgithub stars数の時系列変化を確認し、今月の値変化から読み取れることを示唆してください。\n\n## difyとn8nのgithub stars数の時系列変化\n{{ JSON.stringify($('Aggregate').item.json.data) }}\n\n## 前月の示唆\n{{ $('Code').item.json.commentText }}\n\n## 現在の日時\n{{ $now }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1320,0],"id":"6f7b21cd-b778-41b8-b522-efc1d008802e","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1408,220],"id":"5702c9fb-e627-4251-abf1-314aa9b1da76","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ZBhCWqXdaUyUv0yT","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"jsCode":"// Google Documentの出力データを取得\nconst documentData = $input.all()[0].json;\nconst content = documentData.body.content;\n\n// 「コメント」見出しを検索\nlet commentStartIndex = null;\n\nfor (let i = 0; i < content.length; i++) {\n  const element = content[i];\n  \n  // paragraph要素で見出しスタイルを持つものをチェック\n  if (element.paragraph && element.paragraph.elements) {\n    for (let j = 0; j < element.paragraph.elements.length; j++) {\n      const textElement = element.paragraph.elements[j];\n      \n      if (textElement.textRun && textElement.textRun.content.includes('コメント')) {\n        commentStartIndex = element.endIndex;\n        break;\n      }\n    }\n  }\n  \n  if (commentStartIndex !== null) break;\n}\n\n// コメント見出しの次の段落を検索\nlet commentText = '';\n\nif (commentStartIndex !== null) {\n  for (let i = 0; i < content.length; i++) {\n    const element = content[i];\n    \n    if (element.startIndex === commentStartIndex && element.paragraph) {\n      // テキスト内容を抽出\n      if (element.paragraph.elements) {\n        for (let j = 0; j < element.paragraph.elements.length; j++) {\n          const textElement = element.paragraph.elements[j];\n          if (textElement.textRun && textElement.textRun.content) {\n            commentText += textElement.textRun.content;\n          }\n        }\n      }\n      break;\n    }\n  }\n}\n\n// 結果を返す\nreturn [{\n  json: {\n    commentText: commentText.trim(),\n    commentStartIndex: commentStartIndex\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0],"id":"f4bdb857-8b83-471f-99cc-097f29f90a04","name":"Code"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[880,0],"id":"95cba06c-de33-4d6f-b8d3-1757ac0db605","name":"Aggregate"},{"parameters":{"operation":"get","documentURL":"1SAd3J_0zqc-Ig2LJrD_FyQgBon2umaRpwG-SOwjnPWc","simple":false},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1696,0],"id":"802d2348-00a6-4dbb-8f0d-26fc28f4e074","name":"Get a document1","credentials":{"googleDocsOAuth2Api":{"id":"QWyOjlguPBITSjRi","name":"n8n-saas-dev"}}},{"parameters":{"jsCode":"// Google Documentの出力データを取得\nconst documentData = $input.all()[0].json;\nconst content = documentData.body.content;\n\n// 「コメント」見出しのエンドインデックスを検索\nlet commentEndIndex = null;\n\nfor (let i = 0; i < content.length; i++) {\n  const element = content[i];\n  \n  // paragraph要素をチェック\n  if (element.paragraph && element.paragraph.elements) {\n    for (let j = 0; j < element.paragraph.elements.length; j++) {\n      const textElement = element.paragraph.elements[j];\n      \n      // textRunの内容が「コメント」を含むかチェック\n      if (textElement.textRun && textElement.textRun.content.includes('コメント')) {\n        commentEndIndex = element.endIndex;\n        break;\n      }\n    }\n  }\n  \n  if (commentEndIndex !== null) break;\n}\n\n// 結果を返す\nreturn [{\n  json: {\n    commentEndIndex: commentEndIndex,\n    message: commentEndIndex ? `コメント見出しのエンドインデックス: ${commentEndIndex}` : 'コメント見出しが見つかりませんでした'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1916,0],"id":"6c386589-055b-464a-8c6b-3ba7db5e73f6","name":"Code1"},{"parameters":{"jsCode":"// 入力データを取得（新しい構造に対応）\nconst inputData = $input.all()[0].json.data; // Adjusted path based on likely structure\n\n// 現在の日付を取得\nconst now = new Date();\nconst currentYear = now.getFullYear();\nconst currentMonth = now.getMonth(); // 0ベース（0=1月、11=12月）\n\n// 先月末の日付を計算\nconst lastMonthEnd = new Date(currentYear, currentMonth, 0);\nconst lastMonthDateString = `${String(lastMonthEnd.getDate()).padStart(2, '0')}-${String(lastMonthEnd.getMonth() + 1).padStart(2, '0')}-${lastMonthEnd.getFullYear()}`;\n\n// 先々月末の日付を計算\nconst twoMonthsAgoEnd = new Date(currentYear, currentMonth - 1, 0);\nconst twoMonthsAgoDateString = `${String(twoMonthsAgoEnd.getDate()).padStart(2, '0')}-${String(twoMonthsAgoEnd.getMonth() + 1).padStart(2, '0')}-${twoMonthsAgoEnd.getFullYear()}`;\n\n// データを検索\nconst lastMonthData = inputData.find(row => row.date === lastMonthDateString);\nconst twoMonthsAgoData = inputData.find(row => row.date === twoMonthsAgoDateString);\n\n// 結果を構築\nconst result = {\n  searchDates: {\n    lastMonth: lastMonthDateString,\n    twoMonthsAgo: twoMonthsAgoDateString\n  },\n  lastMonth: null,\n  twoMonthsAgo: null,\n  comparison: null,\n  errors: []\n};\n\n// 先月末データの処理\nif (lastMonthData) {\n  result.lastMonth = {\n    date: lastMonthData.date,\n    'total-stars(Dify)': lastMonthData['total-stars(Dify)'],\n    'total-stars(n8n)': lastMonthData['total-stars(n8n)'],\n    'day-stars(Dify)': lastMonthData['day-stars(Dify)'],\n    'day-stars(n8n)': lastMonthData['day-stars(n8n)'],\n    row_number: lastMonthData.row_number\n  };\n} else {\n  result.errors.push(`先月末（${lastMonthDateString}）のデータが見つかりませんでした`);\n}\n\n// 先々月末データの処理\nif (twoMonthsAgoData) {\n  result.twoMonthsAgo = {\n    date: twoMonthsAgoData.date,\n    'total-stars(Dify)': twoMonthsAgoData['total-stars(Dify)'],\n    'total-stars(n8n)': twoMonthsAgoData['total-stars(n8n)'],\n    'day-stars(Dify)': twoMonthsAgoData['day-stars(Dify)'],\n    'day-stars(n8n)': twoMonthsAgoData['day-stars(n8n)'],\n    row_number: twoMonthsAgoData.row_number\n  };\n} else {\n  result.errors.push(`先々月末（${twoMonthsAgoDateString}）のデータが見つかりませんでした`);\n}\n\n// 両方のデータがある場合は比較分析を追加\nif (lastMonthData && twoMonthsAgoData) {\n  result.comparison = {\n    monthlyGrowth: {\n      'Dify': lastMonthData['total-stars(Dify)'] - twoMonthsAgoData['total-stars(Dify)'],\n      'n8n': lastMonthData['total-stars(n8n)'] - twoMonthsAgoData['total-stars(n8n)']\n    },\n    percentageGrowth: {\n      'Dify': ((lastMonthData['total-stars(Dify)'] - twoMonthsAgoData['total-stars(Dify)']) / twoMonthsAgoData['total-stars(Dify)'] * 100).toFixed(2),\n      'n8n': ((lastMonthData['total-stars(n8n)'] - twoMonthsAgoData['total-stars(n8n)']) / twoMonthsAgoData['total-stars(n8n)'] * 100).toFixed(2)\n    },\n    leadingProject: {\n      lastMonth: lastMonthData['total-stars(n8n)'] > lastMonthData['total-stars(Dify)'] ? 'n8n' : 'Dify',\n      twoMonthsAgo: twoMonthsAgoData['total-stars(n8n)'] > twoMonthsAgoData['total-stars(Dify)'] ? 'n8n' : 'Dify'\n    },\n    gap: {\n      lastMonth: Math.abs(lastMonthData['total-stars(n8n)'] - lastMonthData['total-stars(Dify)']),\n      twoMonthsAgo: Math.abs(twoMonthsAgoData['total-stars(n8n)'] - twoMonthsAgoData['total-stars(Dify)'])\n    }\n  };\n}\n\nreturn [{ json: result }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,0],"id":"e263fdf1-f8b5-42d0-b3c1-6ca65ca4e189","name":"Code2"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Code","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Get a document1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Get a document1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"Code2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cf38acdd-0cad-4fd2-8552-69b1e0222ad3","triggerCount":0,"tags":[]}