workflows/github stars comparison_agent part.json
{"createdAt":"2025-07-07T23:40:47.391Z","updatedAt":"2025-07-08T12:52:48.000Z","id":"KIUHikcBe2MzGLPq","name":"github stars comparison_agent part","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"d36fafdf-df57-48ab-b715-a10219aba247","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"update","documentURL":"=1IJtVLxHzt2B59BGOM65Of_98dMKkF49b78QJUxAu894","actionsUi":{"actionFields":[{"action":"insert","locationChoice":"location","index":"={{ $json.commentEndIndex }}","text":"={{ $('AI Agent').item.json.output }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[2000,0],"id":"b2ded415-44c9-4db1-b0ff-a3425ab50313","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"QWyOjlguPBITSjRi","name":"n8n-saas-dev"}}},{"parameters":{"operation":"get","documentURL":"1IjLivlrDc4rHotTyBNeJu15jkINWUcGjgR-cSItGeyo","simple":false},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[280,0],"id":"e209e9f9-567b-4f61-891a-926fc9cbf4be","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"QWyOjlguPBITSjRi","name":"n8n-saas-dev"}}},{"parameters":{"documentId":{"__rl":true,"value":"1u-WfZ8qIzh5FlUlnXtXxXrYqCOciLv0pXn88jxdlYnw","mode":"list","cachedResultName":"master_githubstars comparison","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u-WfZ8qIzh5FlUlnXtXxXrYqCOciLv0pXn88jxdlYnw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1847741174,"mode":"list","cachedResultName":"langgenius_dify-stars-history","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1u-WfZ8qIzh5FlUlnXtXxXrYqCOciLv0pXn88jxdlYnw/edit#gid=1847741174"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[720,0],"id":"e5f573fb-f5eb-43cf-af74-2fe39a6f2934","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは優秀な分析官です。\n\n# 指示\n前月に示唆したコメントを参考にしながら、difyとn8nのgithub stars数の時系列変化を確認し、今月の値変化から読み取れることを示唆してください。\n\n## difyとn8nのgithub stars数の時系列変化\n{{ JSON.stringify($json.data) }}\n\n## 前月の示唆\n{{ $('Code').item.json.commentText }}\n\n## 現在の日時\n{{ $now }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1200,0],"id":"554ce55b-21ee-4e80-af03-fff75fca8052","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1160,220],"id":"194a38e9-11b8-4910-9c51-09875e63060f","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ZBhCWqXdaUyUv0yT","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"jsCode":"// Google Documentの出力データを取得\nconst documentData = $input.all()[0].json;\nconst content = documentData.body.content;\n\n// 「コメント」見出しを検索\nlet commentStartIndex = null;\n\nfor (let i = 0; i < content.length; i++) {\n  const element = content[i];\n  \n  // paragraph要素で見出しスタイルを持つものをチェック\n  if (element.paragraph && element.paragraph.elements) {\n    for (let j = 0; j < element.paragraph.elements.length; j++) {\n      const textElement = element.paragraph.elements[j];\n      \n      if (textElement.textRun && textElement.textRun.content.includes('コメント')) {\n        commentStartIndex = element.endIndex;\n        break;\n      }\n    }\n  }\n  \n  if (commentStartIndex !== null) break;\n}\n\n// コメント見出しの次の段落を検索\nlet commentText = '';\n\nif (commentStartIndex !== null) {\n  for (let i = 0; i < content.length; i++) {\n    const element = content[i];\n    \n    if (element.startIndex === commentStartIndex && element.paragraph) {\n      // テキスト内容を抽出\n      if (element.paragraph.elements) {\n        for (let j = 0; j < element.paragraph.elements.length; j++) {\n          const textElement = element.paragraph.elements[j];\n          if (textElement.textRun && textElement.textRun.content) {\n            commentText += textElement.textRun.content;\n          }\n        }\n      }\n      break;\n    }\n  }\n}\n\n// 結果を返す\nreturn [{\n  json: {\n    commentText: commentText.trim(),\n    commentStartIndex: commentStartIndex\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[500,0],"id":"d5a01f3b-420a-4135-9971-844bdb12cfa6","name":"Code"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[940,0],"id":"20ac9ee1-c2b8-4150-9061-24a45742c8bb","name":"Aggregate"},{"parameters":{"operation":"get","documentURL":"1IJtVLxHzt2B59BGOM65Of_98dMKkF49b78QJUxAu894","simple":false},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1580,0],"id":"dd54de2b-4a50-4d41-8a66-077be1edd17f","name":"Get a document1","credentials":{"googleDocsOAuth2Api":{"id":"QWyOjlguPBITSjRi","name":"n8n-saas-dev"}}},{"parameters":{"jsCode":"// Google Documentの出力データを取得\nconst documentData = $input.all()[0].json;\nconst content = documentData.body.content;\n\n// 「コメント」見出しのエンドインデックスを検索\nlet commentEndIndex = null;\n\nfor (let i = 0; i < content.length; i++) {\n  const element = content[i];\n  \n  // paragraph要素をチェック\n  if (element.paragraph && element.paragraph.elements) {\n    for (let j = 0; j < element.paragraph.elements.length; j++) {\n      const textElement = element.paragraph.elements[j];\n      \n      // textRunの内容が「コメント」を含むかチェック\n      if (textElement.textRun && textElement.textRun.content.includes('コメント')) {\n        commentEndIndex = element.endIndex;\n        break;\n      }\n    }\n  }\n  \n  if (commentEndIndex !== null) break;\n}\n\n// 結果を返す\nreturn [{\n  json: {\n    commentEndIndex: commentEndIndex,\n    message: commentEndIndex ? `コメント見出しのエンドインデックス: ${commentEndIndex}` : 'コメント見出しが見つかりませんでした'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1800,0],"id":"01a89b5d-c89d-44e9-bde4-2c997c188534","name":"Code1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Code","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Get a document1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Code":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Get a document1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Update a document","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"aa098781-0afb-4d64-9088-81ae1bad4392","triggerCount":0,"tags":[]}