workflows/github api 連携.json
{"createdAt":"2025-07-08T05:54:10.988Z","updatedAt":"2025-07-29T08:48:51.000Z","id":"ocf1Ur2sPCwAizd0","name":"github api 連携","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"=https://api.github.com/repos/n8n-io/n8n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=$vars.GithubAPI"},{"name":"Accept","value":"application/vnd.github.v3+json"},{"name":"User-Agent","value":"n8n-star-tracker"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,-80],"id":"46c1dbab-6b67-45fd-847f-4ac785436599","name":"HTTP Request"},{"parameters":{"jsCode":"// リポジトリ情報から総スター数を取得\nconst repoInfo = $input.all()[0].json;\nconst totalStars = repoInfo.stargazers_count;\n\n// GraphQL APIでは一度に100件まで取得可能\nconst perPage = 100;\nconst totalPages = Math.ceil(totalStars / perPage);\n\nconsole.log(`Total stars: ${totalStars}, Pages needed: ${totalPages}`);\n\nreturn [{\n  json: {\n    totalStars: totalStars,\n    totalPages: totalPages,\n    perPage: perPage,\n    currentPage: 1\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1260,-80],"id":"2b210baf-66b3-4597-82c5-056f09ecd201","name":"Code3"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[820,-80],"id":"fe09eafc-6b9c-4c79-beb6-8fc406e5698d","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"https://api.github.com/graphql","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=$vars.GithubAPI"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"query\": \"query($owner: String!, $name: String!, $first: Int!, $after: String) { repository(owner: $owner, name: $name) { stargazers(first: $first, after: $after, orderBy: {field: STARRED_AT, direction: ASC}) { edges { starredAt node { login } } pageInfo { hasNextPage endCursor } totalCount } } }\",\n  \"variables\": {\n    \"owner\": \"n8n-io\",\n    \"name\": \"n8n\",\n    \"first\": 100,\n    \"after\": \"{{ $json.cursor || null }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1480,-80],"id":"6c9b1025-40b3-484c-a363-b7c63d62c77b","name":"HTTP Request1"},{"parameters":{"jsCode":"// 全てのスターデータを集約\nconst allStars = [];\nconst inputs = $input.all();\n\n// 各ページのデータを結合\ninputs.forEach(input => {\n  if (input.json.data && input.json.data.repository) {\n    const stars = input.json.data.repository.stargazers.edges;\n    stars.forEach(star => {\n      allStars.push({\n        date: star.starredAt.split('T')[0], // 日付部分のみ\n        user: star.node.login\n      });\n    });\n  }\n});\n\n// 日別でグループ化\nconst dailyStars = {};\nlet totalCount = 0;\n\nallStars.forEach(star => {\n  const date = star.date;\n  if (!dailyStars[date]) {\n    dailyStars[date] = 0;\n  }\n  dailyStars[date]++;\n  totalCount++;\n});\n\n// CSVデータ生成\nlet csvContent = 'date,day-stars,total-stars\\n';\nlet runningTotal = 0;\n\n// 日付順にソート\nconst sortedDates = Object.keys(dailyStars).sort();\n\nsortedDates.forEach(date => {\n  const dayStars = dailyStars[date];\n  runningTotal += dayStars;\n  csvContent += `${date},${dayStars},${runningTotal}\\n`;\n});\n\n// ファイル名生成\nconst today = new Date().toISOString().split('T')[0];\nconst filename = `n8n-stars-history-${today}.csv`;\n\nreturn [{\n  json: {\n    filename: filename,\n    totalStarsProcessed: totalCount,\n    csvContent: csvContent\n  },\n  binary: {\n    data: {\n      data: Buffer.from(csvContent, 'utf8').toString('base64'),\n      mimeType: 'text/csv',\n      fileName: filename\n    }\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1700,-80],"id":"af0bdcae-f458-4634-8504-b31c6131fffc","name":"Code"}],"connections":{"HTTP Request":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"faa065b8-dea8-4ae5-b325-f68cf292de60","triggerCount":0,"tags":[]}