workflows/Github stars report_v02.json
{"createdAt":"2025-07-09T04:23:04.058Z","updatedAt":"2025-07-09T08:32:54.000Z","id":"iRNo3hzN6UNWCvBK","name":"Github stars report_v02","active":false,"isArchived":false,"nodes":[{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[480,-660],"id":"9d8b106a-f9b3-412d-be9c-a165c7695cc5","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ZBhCWqXdaUyUv0yT","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[360,-800],"id":"d8ee2a0e-1cd3-4bc3-bc4d-c4dc219d69f1","name":"Aggregate"},{"parameters":{"content":"## 表・レポート作成","height":340,"width":1340},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-140,-380],"id":"8b6eb457-7d6d-435f-a072-669c0fa7cfef","name":"Sticky Note"},{"parameters":{"content":"## チャート挿入パート","height":300,"width":520,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-140,40],"id":"3ec42daf-15a8-4a21-aed4-872259ba1012","name":"Sticky Note1"},{"parameters":{"content":"## コメント作成","height":360,"width":1320,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-140,-900],"id":"fb5a9d62-ea04-42aa-adce-919da19bd332","name":"Sticky Note2"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.output }}","options":{"emoji":true,"tables":true}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[880,-800],"id":"f7d4297a-ea12-4ab3-a339-39d5a8e7f035","name":"MarkdownToHtml"},{"parameters":{"jsCode":"const today = new Date();\n\n// 先月末の日付を計算（今月の1日から1日引く）\nconst lastMonthEnd = new Date(today.getFullYear(), today.getMonth(), 0);\n\n// 先々月末の日付を計算（先月の1日から1日引く）\nconst twoMonthsAgoEnd = new Date(today.getFullYear(), today.getMonth() - 1, 0);\n\n// フォーマット関数（元のコードと同じ形式）\nfunction formatDate(date) {\n  const day = String(date.getDate()).padStart(2, '0');\n  const month = String(date.getMonth() + 1).padStart(2, '0'); // 月は0から始まるため+1\n  const year = date.getFullYear();\n  return `${day}-${month}-${year}`;\n}\n\nreturn {\n  thisMonthEnd:formatDate(today),\n  lastMonthEnd: formatDate(lastMonthEnd),\n  twoMonthsAgoEnd: formatDate(twoMonthsAgoEnd)\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,-800],"id":"0d6bcd0f-8ffb-4eeb-8295-26c18ed2d3a5","name":"Date Format"},{"parameters":{"resource":"fileFolder","queryString":"={{ $json.lastMonthEnd }}","filter":{"folderId":{"__rl":true,"value":"1V1bCgvnHrflUMQEAVDAopkq0YsgzVbf2","mode":"list","cachedResultName":"report","cachedResultUrl":"https://drive.google.com/drive/folders/1V1bCgvnHrflUMQEAVDAopkq0YsgzVbf2"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-520,-800],"id":"465f7229-5238-467c-bbd0-22f15b49f11d","name":"Folder Search","credentials":{"googleDriveOAuth2Api":{"id":"lmnuDwCZk9MHgyvY","name":"Google Drive account"}}},{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-320,-800],"id":"f199c755-26c2-4ce7-8565-bec9eb2dc49e","name":"File Search","credentials":{"googleDriveOAuth2Api":{"id":"lmnuDwCZk9MHgyvY","name":"Google Drive account"}}},{"parameters":{"operation":"get","documentURL":"={{ $json.id }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-60,-800],"id":"39d25835-6c24-4632-863c-5e89443951c5","name":"Read Report","credentials":{"googleDocsOAuth2Api":{"id":"QWyOjlguPBITSjRi","name":"n8n-saas-dev"}}},{"parameters":{"documentId":{"__rl":true,"value":"1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4","mode":"list","cachedResultName":"master_githubstars comparison_v02","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"charts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[160,-800],"id":"a95e9b38-50da-4164-9f33-ce6743c8e1cc","name":"Read github stars","credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=# 指示\n## 前回レポートのコメント を参考にしながら、## difyとn8nのgithub stars数の時系列変化 から先月末から今日までの値の変化から読み取れる示唆をコメントしてください。\n\n## difyとn8nのgithub stars数の時系列変化\n{{ JSON.stringify($json.data) }}\n\n## 前回レポートのコメント\n{{ $('Read Report').item.json.content }}\n\n## 現在の日時\n{{ $now }}\n\n# 備考\n- 出力するマークダウン記法のテキストについて、見出しは「見出し3(###)」もしくは「見出し4(####)」を利用してください。\n\n# 出力例\n### Difyとn8nのGitHubスター数増減分析（2024年7月分）\n#### 概要\n提供されたデータに基づき、Difyとn8nのGitHubスター数の増減傾向を分析しました。この期間、両プロジェクトともに着実にスター数を伸ばしており、コミュニティからの関心の高まりを示唆しています。","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[540,-800],"id":"f8af0726-46b6-4161-8bca-ae32d100b349","name":"AI Agent"},{"parameters":{"documentId":{"__rl":true,"value":"1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4","mode":"list","cachedResultName":"master_githubstars comparison_v02","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"charts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"date","lookupValue":"={{ $('Date Format').item.json.thisMonthEnd }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-40,-260],"id":"e46b0331-8002-44a9-94cb-5f42f1637686","name":"Read This Month's Data","credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4","mode":"list","cachedResultName":"master_githubstars comparison_v02","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"charts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"date","lookupValue":"={{ $('Date Format').item.json.lastMonthEnd }}"}]},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[180,-260],"id":"a8ee42aa-d9c4-4b5f-83b7-098eee2ecc5f","name":"Read last Month's Data","credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}}},{"parameters":{"resource":"folder","name":"={{ $('Date Format').item.json.thisMonthEnd }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1V1bCgvnHrflUMQEAVDAopkq0YsgzVbf2","mode":"list","cachedResultName":"report","cachedResultUrl":"https://drive.google.com/drive/folders/1V1bCgvnHrflUMQEAVDAopkq0YsgzVbf2"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[400,-260],"id":"053e3ffb-1c66-4625-9a70-f42b21d27f2a","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"lmnuDwCZk9MHgyvY","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"af469dbb-38e5-408d-8040-dcd922c64336","name":"dify_total_stars_thisMonthEnd","value":"={{ $('Read This Month\\'s Data').item.json[\"total-stars(Dify)\"] }}","type":"number"},{"id":"12f040b0-9a87-4693-b736-6b97ca0a76f9","name":"n8n_total_stars_thisMonthEnd","value":"={{ $('Read This Month\\'s Data').item.json[\"total-stars(n8n)\"] }}","type":"number"},{"id":"7b73bdfc-8bb0-434e-a550-375a35637616","name":"dify_total_stars_lastMonthEnd","value":"={{ $('Read last Month\\'s Data').item.json[\"total-stars(Dify)\"] }}","type":"number"},{"id":"ead05b5a-5a94-4bfe-ac71-d45d8c356c72","name":"n8n_total_stars_lastMonthEnd","value":"={{ $('Read last Month\\'s Data').item.json[\"total-stars(n8n)\"] }}","type":"number"},{"id":"b9ed66e9-4331-48fe-a585-101efe62feea","name":"comment","value":"={{ $('MarkdownToHtml').item.json.data }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[620,-260],"id":"bda49614-abd8-4519-beed-d096a9b61405","name":"Set Variable","notesInFlow":true},{"parameters":{"jsCode":"// set_fields から値を取得\nconst inputData = $input.first().json;\n\n// デバッグ\nconsole.log('Full input data:', inputData);\n\nconst difyThisMonth  = inputData.dify_total_stars_thisMonthEnd;\nconst n8nThisMonth   = inputData.n8n_total_stars_thisMonthEnd;\nconst difyLastMonth  = inputData.dify_total_stars_lastMonthEnd;\nconst n8nLastMonth   = inputData.n8n_total_stars_lastMonthEnd;\nconst commentHTML    = inputData.comment || '';\n\nconst missing = [];\nif (difyThisMonth === undefined)  missing.push('dify_total_stars_thisMonthEnd');\nif (n8nThisMonth  === undefined)  missing.push('n8n_total_stars_thisMonthEnd');\nif (difyLastMonth === undefined)  missing.push('dify_total_stars_lastMonthEnd');\nif (n8nLastMonth  === undefined)  missing.push('n8n_total_stars_lastMonthEnd');\nif (missing.length) {\n  throw new Error(`Missing fields: ${missing.join(', ')}`);\n}\n\n// 差分計算\nconst difyDiff = difyThisMonth - difyLastMonth;\nconst n8nDiff  = n8nThisMonth  - n8nLastMonth;\n\n// フォーマッタ\nconst formatNumber = n => (typeof n === 'number' && !isNaN(n)) ? n.toLocaleString() : '-';\nconst formatDiff   = d => d >= 0 ? `+${formatNumber(d)}` : formatNumber(d);\n\n// 日付計算\nconst today      = new Date();\nconst thisMonth  = today.getMonth() + 1; // 今月（1-12）\nconst lastMonth  = thisMonth === 1 ? 12 : thisMonth - 1; // 先月（1-12）\nconst thisYear   = today.getFullYear();\nconst lastMonthYear = thisMonth === 1 ? thisYear - 1 : thisYear;\n\n// タイトル用（今月を基準に）\nconst titleDate  = `${String(thisMonth).padStart(2, '0')}_${thisYear}_`;\nconst docName    = `${titleDate}github stars comparison`;\nconst docTitle   = docName;\n\n// ------------ 重要: Create folder ノードからフォルダIDを取得 ------------\nconst folderData = $('Create folder').first().json;\nconst folderId = folderData.id;\n\nconsole.log('Using folder ID from Create folder node:', folderId);\n\nif (!folderId) {\n  throw new Error('Folder ID not found from Create folder node');\n}\n\n// ------------ HTML 本文 ------------\nconst htmlDocument = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><style>\nbody{\n  font-family: 'Arial', 'Helvetica', sans-serif;\n  margin: 40px;\n  line-height: 1.6;\n  color: #333;\n  background-color: #fff;\n}\np{\n  margin: 10px 0;\n  line-height: 1.6;\n}\nh1{\n  color: #000;\n  font-size: 26px;\n  margin-bottom: 30px;\n  font-weight: normal;\n  letter-spacing: 0.5px;\n}\nh2{\n  color: #0066CC;\n  font-size: 20px;\n  margin-top: 35px;\n  margin-bottom: 20px;\n  font-weight: normal;\n}\nh5{\n  color: #0066CC;\n  font-size: 14px;\n  margin-top: 20px;\n  margin-bottom: 15px;\n  font-weight: normal;\n}\n/* コメントセクション内の見出しスタイル */\n#comment-section h2{\n  color: #333;\n  font-size: 18px;\n  margin-top: 25px;\n  margin-bottom: 15px;\n  font-weight: bold;\n}\n#comment-section h3{\n  color: #333;\n  font-size: 16px;\n  margin-top: 20px;\n  margin-bottom: 12px;\n  font-weight: bold;\n}\n#comment-section h4{\n  color: #333;\n  font-size: 14px;\n  margin-top: 15px;\n  margin-bottom: 10px;\n  font-weight: bold;\n}\n#comment-section p{\n  margin-bottom: 12px;\n  line-height: 1.8;\n}\n#comment-section ul{\n  margin-left: 20px;\n  margin-bottom: 15px;\n}\n#comment-section li{\n  margin-bottom: 8px;\n  line-height: 1.6;\n}\n#comment-section strong{\n  font-weight: bold;\n}\ntable{\n  border-collapse: collapse;\n  width: 60%;\n  margin: 25px 0;\n  box-shadow: none;\n  border: 1px solid #ccc;\n  line-height: 1;\n}\nth,td{\n  border: 1px solid #ccc;\n  padding: 10px 15px;\n  text-align: center;\n  white-space: nowrap;\n  line-height: 1;\n}\nth{\n  background: #f5f5f5;\n  color: #333;\n  font-weight: normal;\n}\ntd:first-child{\n  font-weight: normal;\n  background: #f9f9f9;\n  text-align: left;\n}\n.number{\n  text-align: right;\n  font-family: 'Courier New', monospace;\n}\n.positive{\n  color: #0066CC;\n  font-weight: normal;\n}\ntr{\n  line-height: 1;\n  margin: 0;\n  padding: 0;\n}\n.spacer{\n  height: 20px;\n}\n</style></head><body>\n<h1>${docTitle}</h1>\n<h2>グラフ</h2>\n<p>グラフがここに挿入されます</p>\n<div class=\"spacer\"></div>\n<h2>表</h2>\n<table><thead><tr><th></th><th>Dify</th><th>n8n</th></tr></thead><tbody><tr><td>今月 (${thisMonth}月)</td><td class=\"number\">${formatNumber(difyThisMonth)}</td><td class=\"number\">${formatNumber(n8nThisMonth)}</td></tr><tr><td>先月 (${lastMonth}月)</td><td class=\"number\">${formatNumber(difyLastMonth)}</td><td class=\"number\">${formatNumber(n8nLastMonth)}</td></tr><tr><td>差分</td><td class=\"number ${difyDiff>=0?'positive':'negative'}\">${formatDiff(difyDiff)}</td><td class=\"number ${n8nDiff>=0?'positive':'negative'}\">${formatDiff(n8nDiff)}</td></tr></tbody></table>\n<h2>コメント</h2>\n<div id=\"comment-section\">\n${commentHTML}\n</div>\n</body></html>`;\n\n// ------------ Google Drive 用 multipart 本文 ------------\nconst boundary = 'divider';\nconst CRLF     = '\\r\\n';\n\nconst metadata = JSON.stringify({\n  name    : docName,\n  mimeType: 'application/vnd.google-apps.document',\n  parents : [folderId], // 動的に取得したフォルダIDを使用\n});\n\n// マルチパート組み立て（CRLF を実文字）\nlet body  = `--${boundary}${CRLF}`;\nbody     += `Content-Type: application/json; charset=UTF-8${CRLF}${CRLF}`;\nbody     += `${metadata}${CRLF}`;\nbody     += `--${boundary}${CRLF}`;\nbody     += `Content-Type: text/html${CRLF}${CRLF}`;\nbody     += `${htmlDocument}${CRLF}`;\nbody     += `--${boundary}--${CRLF}`;   // ← 終端境界\n\nreturn {\n  rawData     : body,\n  documentName: docName,\n  titleDate   : titleDate,\n  folderId    : folderId,\n  debugInfo   : {\n    n8nThisMonth, difyThisMonth, n8nDiff, difyDiff,\n    thisMonth, lastMonth,\n    bodyLength : body.length,\n    boundaryOK : body.includes(`--${boundary}--${CRLF}`),\n    folderInfo : folderData,\n    hasComment : !!commentHTML\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[840,-260],"id":"132dbbcf-b155-4d81-9ad6-cc03f2c0e04f","name":"Create Report(HTML)"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"uploadType","value":"multipart"},{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"contentType":"raw","rawContentType":"multipart/related; boundary=divider","body":"={{ $json.rawData }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1020,-260],"id":"a206ebdd-caf2-4ac5-9f0c-97774ed7c13d","name":"Create Google Doc","notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"lmnuDwCZk9MHgyvY","name":"Google Drive account"}}},{"parameters":{"operation":"get","documentURL":"={{ $json.id }}","simple":false},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-40,140],"id":"01c4a1df-e7a2-4165-a5d0-adb158ec6ed5","name":"Search Google Doc","credentials":{"googleDocsOAuth2Api":{"id":"QWyOjlguPBITSjRi","name":"n8n-saas-dev"}}},{"parameters":{"method":"POST","url":"https://script.google.com/macros/s/AKfycbyIEbU9oanU0muo8ftl9G_Mxb-NiVeqxWPGu_3jIV-SMpmiFFIBye_qLpFbOTtoOfT_mg/exec","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"spreadsheetId","value":"=1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4"},{"name":"documentId","value":"={{ $('Create Google Doc').item.json.id }}"},{"name":"sheetName","value":"charts"},{"name":"searchText","value":"=グラフがここに挿入されます"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[140,140],"id":"e6b113b4-f142-4273-996a-51f99bf10e9a","name":"Insert chart"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtDayOfMonth":30,"triggerAtHour":12}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-920,-800],"id":"d0ea6577-5ff6-4129-8c8f-0d7520e9785c","name":"Schedule Trigger"}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"MarkdownToHtml":{"main":[[{"node":"Read This Month's Data","type":"main","index":0}]]},"Date Format":{"main":[[{"node":"Folder Search","type":"main","index":0}]]},"Folder Search":{"main":[[{"node":"File Search","type":"main","index":0}]]},"File Search":{"main":[[{"node":"Read Report","type":"main","index":0}]]},"Read Report":{"main":[[{"node":"Read github stars","type":"main","index":0}]]},"Read github stars":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"MarkdownToHtml","type":"main","index":0}]]},"Read This Month's Data":{"main":[[{"node":"Read last Month's Data","type":"main","index":0}]]},"Read last Month's Data":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"Set Variable","type":"main","index":0}]]},"Set Variable":{"main":[[{"node":"Create Report(HTML)","type":"main","index":0}]]},"Create Report(HTML)":{"main":[[{"node":"Create Google Doc","type":"main","index":0}]]},"Create Google Doc":{"main":[[{"node":"Search Google Doc","type":"main","index":0}]]},"Search Google Doc":{"main":[[{"node":"Insert chart","type":"main","index":0}]]},"Insert chart":{"main":[[]]},"Schedule Trigger":{"main":[[{"node":"Date Format","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"548d2a9b-b597-4455-858c-c8b8e1bc3f37","triggerCount":0,"tags":[{"createdAt":"2025-07-08T11:07:35.684Z","updatedAt":"2025-07-08T11:07:35.684Z","id":"vvfWgqZsnpuwtXLo","name":"github stars comparison"}]}