workflows/Kajiwara san's schedule_2.json
{"createdAt":"2025-07-02T06:33:21.194Z","updatedAt":"2025-07-02T07:45:23.000Z","id":"S52esJWd5izcrAMb","name":"Kajiwara san's schedule_2","active":false,"isArchived":true,"nodes":[{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[480,240],"id":"80d3a38d-b4f2-436e-9c8e-5a83a42bdd9e","name":"Aggregate"},{"parameters":{"workflowInputs":{"values":[{"name":"Input"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[40,240],"id":"6a8e5fdb-2b9b-4404-95cb-27f2378eec93","name":"When Executed by Another Workflow"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"skajiwara@rstreet.co.jp","mode":"list","cachedResultName":"skajiwara@rstreet.co.jp"},"returnAll":true,"timeMin":"={{ $now.plus({ days: 1 }).startOf('day') }}","timeMax":"={{ $now.plus({ weeks: 1 }).endOf('day') }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[260,240],"id":"656a5f16-8d95-48cb-92aa-9dded2e309e1","name":"Get many events","alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"RWBDOCdnjcMlP7IO","name":"Google Calendar account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=あなたはカレンダー分析の専門家です。\n以下のJSON形式の予定一覧から、カレンダーの持ち主（attendees配列内で \"self\": true となっているユーザー）の空き時間を分析し、指定された構造化JSON形式で出力してください。\n\n# 入力データ（JST時刻）:\n{{ JSON.stringify($json.events) }}\n\n# 出力形式:\n以下のJSON構造で、カレンダーの持ち主のメールアドレスを含めて出力してください：\n\n```json\n{\n  \"analysis_date\": \"YYYY-MM-DD\",\n  \"timezone\": \"JST\",\n  \"user\": {\n    \"email\": \"（ここに 'self: true' のユーザーのメールアドレスが入る）\"\n  },\n  \"available_slots\": [\n    {\n      \"date\": \"YYYY-MM-DD\",\n      \"day_of_week\": \"月曜日\",\n      \"slots\": [\n        {\n          \"start_time\": \"HH:MM\",\n          \"end_time\": \"HH:MM\",\n          \"duration_minutes\": 120,\n          \"description\": \"午前の空き時間\"\n        }\n      ]\n    }\n  ]\n}","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[680,240],"id":"246aac2f-8399-4a6a-bfa5-02005276f602","name":"Message a model","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}}],"connections":{"Aggregate":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Message a model":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1749553156,"possibleDuplicates":["197597ea59a0acde"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"6e9a5fe7-05b9-4cb7-9f7d-b1714c4526ae","triggerCount":1,"tags":[]}