workflows/Kajiwara-san's schedule_test.json
{"createdAt":"2025-06-24T03:08:12.534Z","updatedAt":"2025-06-30T07:24:18.000Z","id":"YqrWK1ECwpm8zX98","name":"Kajiwara-san's schedule_test","active":false,"isArchived":true,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"input"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"3b7e5eb9-b1e7-4498-a1b0-e6b02303c061","name":"When Executed by Another Workflow"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"skajiwara@rstreet.co.jp","mode":"list","cachedResultName":"skajiwara@rstreet.co.jp"},"timeMax":"={{ $now.plus({ month: 1 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[220,0],"id":"75c0f809-2423-4322-b06c-cf0424195561","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"RWBDOCdnjcMlP7IO","name":"Google Calendar account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=次の1ヶ月の予定一覧です（日時はすべて JST）。\n\n{{ $json.events\n    .sort((a, b) => a.start.dateTime.localeCompare(b.start.dateTime))\n    .map(e => `• ${e.summary} ｜ ${e.start.dateTime} 〜 ${e.end.dateTime}`)\n    .join('\\n') }}\n\n各日の予定時間帯とイベント名を箇条書きでまとめてください。"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[660,0],"id":"91aca9e2-281e-46fe-a2f3-e57212124dfc","name":"Message a model","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"events","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[440,0],"id":"92acfa5c-7fc7-4439-bab6-916574ac3409","name":"Aggregate"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Message a model","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a6a01306-0f3b-44b4-93d8-c29cab7f6c09","triggerCount":0,"tags":[]}