workflows/making github report_v01.json
{"createdAt":"2025-07-08T11:02:53.498Z","updatedAt":"2025-07-08T12:55:42.000Z","id":"naaQVHv7P8zgqiMp","name":"making github report_v01","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"uploadType","value":"multipart"},{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"contentType":"raw","rawContentType":"multipart/related; boundary=divider","body":"={{ $json.rawData }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1080,-300],"id":"9b95a0e2-c1aa-4d8e-ab6e-29abdc7845ed","name":"CreateGoogleDoc1","notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"lmnuDwCZk9MHgyvY","name":"Google Drive account"}}},{"parameters":{"jsCode":"// set_fields から値を取得\nconst inputData = $input.first().json;\n\n// デバッグ\nconsole.log('Full input data:', inputData);\n\nconst difyThisMonth  = inputData.dify_total_stars_lastMonthEnd;\nconst n8nThisMonth   = inputData.n8n_total_stars_lastMonthEnd;\nconst difyLastMonth  = inputData.dify_total_stars_twoMonthsAgoEnd;\nconst n8nLastMonth   = inputData.n8n_total_stars_twoMonthsAgoEnd;\n\nconst missing = [];\nif (difyThisMonth === undefined)  missing.push('dify_total_stars_lastMonthEnd');\nif (n8nThisMonth  === undefined)  missing.push('n8n_total_stars_lastMonthEnd');\nif (difyLastMonth === undefined)  missing.push('dify_total_stars_twoMonthsAgoEnd');\nif (n8nLastMonth  === undefined)  missing.push('n8n_total_stars_twoMonthsAgoEnd');\nif (missing.length) {\n  throw new Error(`Missing fields: ${missing.join(', ')}`);\n}\n\n// 差分計算\nconst difyDiff = difyThisMonth - difyLastMonth;\nconst n8nDiff  = n8nThisMonth  - n8nLastMonth;\n\n// フォーマッタ\nconst formatNumber = n => (typeof n === 'number' && !isNaN(n)) ? n.toLocaleString() : '-';\nconst formatDiff   = d => d >= 0 ? `+${formatNumber(d)}` : formatNumber(d);\n\n// 先月（タイトル用）\nconst today      = new Date();\nconst lastMonth  = new Date(today.getFullYear(), today.getMonth() - 1);\nconst titleDate  = `${String(lastMonth.getMonth() + 1).padStart(2, '0')}-${lastMonth.getFullYear()}`;\nconst docName    = `${titleDate}_github stars comparison`;\nconst docTitle   = docName;\n\n// ------------ 重要: Create folder ノードからフォルダIDを取得 ------------\nconst folderData = $('Create folder').first().json;\nconst folderId = folderData.id;\n\nconsole.log('Using folder ID from Create folder node:', folderId);\n\nif (!folderId) {\n  throw new Error('Folder ID not found from Create folder node');\n}\n\n// ------------ HTML 本文 ------------\nconst htmlDocument = `<!DOCTYPE html><html><head><meta charset=\"UTF-8\"><style>\nbody{font-family:Arial,sans-serif;margin:20px;line-height:1.6;}\nh1{color:#333;font-size:24px;margin-bottom:20px;border-bottom:2px solid #4285F4;padding-bottom:10px;}\nh2{color:#4285F4;font-size:18px;margin-top:30px;margin-bottom:15px;}\ntable{border-collapse:collapse;width:100%;margin:20px 0;box-shadow:0 2px 4px rgba(0,0,0,.1);}\nth,td{border:1px solid #ddd;padding:12px;text-align:center;}\nth{background:#4285F4;color:#fff;font-weight:bold;}\ntd:first-child{font-weight:bold;background:#f9f9f9;text-align:left;}\n.number{text-align:right;}\n.positive{color:#4CAF50;font-weight:bold;}\n.negative{color:#F44336;font-weight:bold;}\n.spacer{height:20px;}\n</style></head><body>\n<h1>${docTitle}</h1>\n<h2>グラフ</h2><div class=\"spacer\"></div>\n<h2>表</h2>\n<table><thead><tr><th></th><th>n8n</th><th>Dify</th></tr></thead><tbody>\n<tr><td>今月</td><td class=\"number\">${formatNumber(n8nThisMonth)}</td><td class=\"number\">${formatNumber(difyThisMonth)}</td></tr>\n<tr><td>先月</td><td class=\"number\">${formatNumber(n8nLastMonth)}</td><td class=\"number\">${formatNumber(difyLastMonth)}</td></tr>\n<tr><td>差分</td>\n  <td class=\"number ${n8nDiff>=0?'positive':'negative'}\">${formatDiff(n8nDiff)}</td>\n  <td class=\"number ${difyDiff>=0?'positive':'negative'}\">${formatDiff(difyDiff)}</td></tr>\n</tbody></table>\n<h2>コメント</h2><div class=\"spacer\"></div>\n<h2>ニュース</h2></body></html>`;\n\n// ------------ Google Drive 用 multipart 本文 ------------\nconst boundary = 'divider';\nconst CRLF     = '\\r\\n';\n\nconst metadata = JSON.stringify({\n  name    : docName,\n  mimeType: 'application/vnd.google-apps.document',\n  parents : [folderId], // 動的に取得したフォルダIDを使用\n});\n\n// マルチパート組み立て（CRLF を実文字）\nlet body  = `--${boundary}${CRLF}`;\nbody     += `Content-Type: application/json; charset=UTF-8${CRLF}${CRLF}`;\nbody     += `${metadata}${CRLF}`;\nbody     += `--${boundary}${CRLF}`;\nbody     += `Content-Type: text/html${CRLF}${CRLF}`;\nbody     += `${htmlDocument}${CRLF}`;\nbody     += `--${boundary}--${CRLF}`;   // ← 終端境界\n\nreturn {\n  rawData     : body,\n  documentName: docName,\n  titleDate   : titleDate,\n  folderId    : folderId,\n  debugInfo   : {\n    n8nThisMonth, difyThisMonth, n8nDiff, difyDiff,\n    bodyLength : body.length,\n    boundaryOK : body.includes(`--${boundary}--${CRLF}`),\n    folderInfo : folderData\n  },\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[860,-300],"id":"1817288e-286d-4e8c-a668-d00f4b3b773c","name":"Prepare_Request"},{"parameters":{"assignments":{"assignments":[{"id":"af469dbb-38e5-408d-8040-dcd922c64336","name":"dify_total_stars_lastMonthEnd","value":"={{ $('Get row(s) in sheet_lastMonthEnd').item.json[\"total-stars(Dify)\"] }}","type":"number"},{"id":"12f040b0-9a87-4693-b736-6b97ca0a76f9","name":"n8n_total_stars_lastMonthEnd","value":"={{ $('Get row(s) in sheet_lastMonthEnd').item.json[\"total-stars(n8n)\"] }}","type":"number"},{"id":"7b73bdfc-8bb0-434e-a550-375a35637616","name":"dify_total_stars_twoMonthsAgoEnd","value":"={{ $('Get row(s) in sheet_twoMonthsAgoEnd').item.json[\"total-stars(Dify)\"] }}","type":"number"},{"id":"ead05b5a-5a94-4bfe-ac71-d45d8c356c72","name":"n8n_total_stars_twoMonthsAgoEnd","value":"={{ $('Get row(s) in sheet_twoMonthsAgoEnd').item.json[\"total-stars(n8n)\"] }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[640,-300],"id":"8f877e10-bfa7-4734-b79f-833f12960110","name":"set_fields","notesInFlow":true},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-460,-300],"id":"9a429b65-8442-47f9-8741-1d735dfc84e9","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"const today = new Date();\n\n// 先月末の日付を計算（今月の1日から1日引く）\nconst lastMonthEnd = new Date(today.getFullYear(), today.getMonth(), 0);\n\n// 先々月末の日付を計算（先月の1日から1日引く）\nconst twoMonthsAgoEnd = new Date(today.getFullYear(), today.getMonth() - 1, 0);\n\n// フォーマット関数（元のコードと同じ形式）\nfunction formatDate(date) {\n  const day = String(date.getDate()).padStart(2, '0');\n  const month = String(date.getMonth() + 1).padStart(2, '0'); // 月は0から始まるため+1\n  const year = date.getFullYear();\n  return `${day}-${month}-${year}`;\n}\n\nreturn {\n  lastMonthEnd: formatDate(lastMonthEnd),\n  twoMonthsAgoEnd: formatDate(twoMonthsAgoEnd)\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-240,-300],"id":"d4645119-891e-4925-bb57-4a57f9d94654","name":"Code"},{"parameters":{"documentId":{"__rl":true,"value":"1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4","mode":"list","cachedResultName":"master_githubstars comparison_v02","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"charts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"date","lookupValue":"={{ $json.lastMonthEnd }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-20,-300],"id":"c6cc670b-7b6e-40c1-b862-0ee8a6e6f098","name":"Get row(s) in sheet_lastMonthEnd","credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4","mode":"list","cachedResultName":"master_githubstars comparison_v02","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"charts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"date","lookupValue":"={{ $('Code').item.json.twoMonthsAgoEnd }}"}]},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[200,-300],"id":"82cdb2da-2227-48ed-a85a-7ed9da5f5d3a","name":"Get row(s) in sheet_twoMonthsAgoEnd","credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}}},{"parameters":{"resource":"folder","name":"={{ $('Code').item.json.lastMonthEnd }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1V1bCgvnHrflUMQEAVDAopkq0YsgzVbf2","mode":"list","cachedResultName":"report","cachedResultUrl":"https://drive.google.com/drive/folders/1V1bCgvnHrflUMQEAVDAopkq0YsgzVbf2"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[420,-300],"id":"7116342c-7cda-4b13-a6ac-a49e0706c510","name":"Create folder","credentials":{"googleDriveOAuth2Api":{"id":"lmnuDwCZk9MHgyvY","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://script.google.com/macros/s/AKfycbyIEbU9oanU0muo8ftl9G_Mxb-NiVeqxWPGu_3jIV-SMpmiFFIBye_qLpFbOTtoOfT_mg/exec","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"spreadsheetId","value":"={{ $json.spreadsheetId }}"},{"name":"documentId","value":"={{ $json.documentId }}"},{"name":"sheetName","value":"charts"},{"name":"insertIndex","value":"={{ $json.insertIndex }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1960,-300],"id":"24761bd9-c353-4789-9681-04b74aac3992","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"fd072c6c-a34b-4acd-ac69-1198547dc841","name":"spreadsheetId","value":"1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4","type":"string"},{"id":"99d9af92-c5c4-451b-a722-0cd535876a66","name":"documentId","value":"={{ $('CreateGoogleDoc1').item.json.id }}","type":"string"},{"id":"55ee6674-74c4-4665-939c-d47038041f74","name":"insertIndex","value":"={{ $json.commentEndIndex }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1740,-300],"id":"b0c1e5dc-840e-47e7-ae4c-df5dbb100521","name":"Edit Fields"},{"parameters":{"operation":"get","documentURL":"={{ $json.id }}","simple":false},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1300,-300],"id":"4808e71d-a8f4-4f70-b2c2-a3c9e89541ae","name":"Get a document1","credentials":{"googleDocsOAuth2Api":{"id":"QWyOjlguPBITSjRi","name":"n8n-saas-dev"}}},{"parameters":{"jsCode":"// Google Documentの出力データを取得\nconst documentData = $input.all()[0].json;\nconst content = documentData.body.content;\n\n// 「グラフ」見出しの要素インデックスを検索\nlet elementIndex = null;\n\nfor (let i = 0; i < content.length; i++) {\n  const element = content[i];\n  \n  // paragraph要素をチェック\n  if (element.paragraph && element.paragraph.elements) {\n    for (let j = 0; j < element.paragraph.elements.length; j++) {\n      const textElement = element.paragraph.elements[j];\n      \n      // textRunの内容が「グラフ」を含むかチェック\n      if (textElement.textRun && textElement.textRun.content.includes('グラフ')) {\n        elementIndex = i + 1; // 見出しの次の位置に挿入\n        break;\n      }\n    }\n  }\n  \n  if (elementIndex !== null) break;\n}\n\n// 結果を返す\nreturn [{\n  json: {\n    commentEndIndex: elementIndex || content.length, // 見つからない場合は最後に挿入\n    message: elementIndex ? `グラフ挿入位置: ${elementIndex}` : '最後に挿入されます'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1520,-300],"id":"d615a22d-7468-4943-a3e5-3917c0e92bc5","name":"Code1"},{"parameters":{"operation":"update","documentURL":"={{ $('CreateGoogleDoc1').item.json.id }}","actionsUi":{"actionFields":[{"action":"insert","locationChoice":"location","index":"={{ $json.commentEndIndex }}","text":"={{ $('AI Agent').item.json.output }}"}]}},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1780,220],"id":"d7cff8c5-9d7a-44d0-bccb-8960a0b7ce9a","name":"Update a document","credentials":{"googleDocsOAuth2Api":{"id":"QWyOjlguPBITSjRi","name":"n8n-saas-dev"}}},{"parameters":{"operation":"get","documentURL":"1IjLivlrDc4rHotTyBNeJu15jkINWUcGjgR-cSItGeyo","simple":false},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[40,240],"id":"90863d8d-e032-49d1-abac-420f9e2c19dd","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"QWyOjlguPBITSjRi","name":"n8n-saas-dev"}}},{"parameters":{"documentId":{"__rl":true,"value":"1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4","mode":"list","cachedResultName":"master_githubstars comparison_v02","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"charts","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[480,240],"id":"7450f9ec-447c-4d40-947d-a16f250f2883","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは優秀な分析官です。\n\n# 指示\n前月に示唆したコメントを参考にしながら、difyとn8nのgithub stars数の時系列変化を確認し、今月の値変化から読み取れることを示唆してください。\n\n## difyとn8nのgithub stars数の時系列変化\n{{ JSON.stringify($json.data) }}\n\n## 前月の示唆\n{{ $('Code2').item.json.commentText }}\n\n## 現在の日時\n{{ $now }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[960,240],"id":"ff5cf393-fa23-4b14-ab0d-3122d44becea","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[920,460],"id":"90b434c9-4622-49f1-9466-932c4f4b2179","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ZBhCWqXdaUyUv0yT","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[700,240],"id":"2ef7033b-494a-4fbb-aabb-0f9c3f3ad2d1","name":"Aggregate"},{"parameters":{"jsCode":"// Google Documentの出力データを取得\nconst documentData = $input.all()[0].json;\nconst content = documentData.body.content;\n\n// 「コメント」見出しを検索\nlet commentStartIndex = null;\n\nfor (let i = 0; i < content.length; i++) {\n  const element = content[i];\n  \n  // paragraph要素で見出しスタイルを持つものをチェック\n  if (element.paragraph && element.paragraph.elements) {\n    for (let j = 0; j < element.paragraph.elements.length; j++) {\n      const textElement = element.paragraph.elements[j];\n      \n      if (textElement.textRun && textElement.textRun.content.includes('コメント')) {\n        commentStartIndex = element.endIndex;\n        break;\n      }\n    }\n  }\n  \n  if (commentStartIndex !== null) break;\n}\n\n// コメント見出しの次の段落を検索\nlet commentText = '';\n\nif (commentStartIndex !== null) {\n  for (let i = 0; i < content.length; i++) {\n    const element = content[i];\n    \n    if (element.startIndex === commentStartIndex && element.paragraph) {\n      // テキスト内容を抽出\n      if (element.paragraph.elements) {\n        for (let j = 0; j < element.paragraph.elements.length; j++) {\n          const textElement = element.paragraph.elements[j];\n          if (textElement.textRun && textElement.textRun.content) {\n            commentText += textElement.textRun.content;\n          }\n        }\n      }\n      break;\n    }\n  }\n}\n\n// 結果を返す\nreturn [{\n  json: {\n    commentText: commentText.trim(),\n    commentStartIndex: commentStartIndex\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,240],"id":"e6b57259-cccf-415b-96b8-20dfdb4e1945","name":"Code2"},{"parameters":{"operation":"get","documentURL":"={{ $('CreateGoogleDoc1').item.json.id }}","simple":false},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1340,240],"id":"b562ba7c-f173-44f6-aecd-2ab459f89d23","name":"Get a document2","credentials":{"googleDocsOAuth2Api":{"id":"QWyOjlguPBITSjRi","name":"n8n-saas-dev"}}},{"parameters":{"jsCode":"// Google Documentの出力データを取得\nconst documentData = $input.all()[0].json;\nconst content = documentData.body.content;\n\n// 「コメント」見出しのエンドインデックスを検索\nlet commentEndIndex = null;\n\nfor (let i = 0; i < content.length; i++) {\n  const element = content[i];\n  \n  // paragraph要素をチェック\n  if (element.paragraph && element.paragraph.elements) {\n    for (let j = 0; j < element.paragraph.elements.length; j++) {\n      const textElement = element.paragraph.elements[j];\n      \n      // textRunの内容が「コメント」を含むかチェック\n      if (textElement.textRun && textElement.textRun.content.includes('コメント')) {\n        commentEndIndex = element.endIndex;\n        break;\n      }\n    }\n  }\n  \n  if (commentEndIndex !== null) break;\n}\n\n// 結果を返す\nreturn [{\n  json: {\n    commentEndIndex: commentEndIndex,\n    message: commentEndIndex ? `コメント見出しのエンドインデックス: ${commentEndIndex}` : 'コメント見出しが見つかりませんでした'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1560,220],"id":"058a4676-4fda-4e79-ac05-44f3b39cae73","name":"Code3"},{"parameters":{"content":"## 表挿入パート","height":340,"width":1500},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-280,-440],"id":"8db261ec-014a-4473-a16c-5b3d0447df4e","name":"Sticky Note"},{"parameters":{"content":"## チャート挿入パート","height":340,"width":820,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1280,-440],"id":"b87503bb-f6b3-4256-b328-473dc0c6ba46","name":"Sticky Note1"},{"parameters":{"content":"## コメント挿入 by Agentパート","height":460,"width":2040,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-80,120],"id":"6b6d2698-3aab-4eb6-9ced-afd98666eb6f","name":"Sticky Note2"}],"connections":{"Prepare_Request":{"main":[[{"node":"CreateGoogleDoc1","type":"main","index":0}]]},"set_fields":{"main":[[{"node":"Prepare_Request","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get row(s) in sheet_lastMonthEnd","type":"main","index":0}]]},"Get row(s) in sheet_lastMonthEnd":{"main":[[{"node":"Get row(s) in sheet_twoMonthsAgoEnd","type":"main","index":0}]]},"Get row(s) in sheet_twoMonthsAgoEnd":{"main":[[{"node":"Create folder","type":"main","index":0}]]},"Create folder":{"main":[[{"node":"set_fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Get a document1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"CreateGoogleDoc1":{"main":[[{"node":"Get a document1","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Get a document2","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get a document2":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Update a document","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Get a document","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1f90d730-ab19-4b1e-a994-35e665c80908","triggerCount":0,"tags":[{"createdAt":"2025-07-08T11:07:35.684Z","updatedAt":"2025-07-08T11:07:35.684Z","id":"vvfWgqZsnpuwtXLo","name":"github stars comparison"}]}