workflows/My Sub-Workflow 1.json
{"createdAt":"2025-06-06T09:28:27.763Z","updatedAt":"2025-06-06T09:31:35.000Z","id":"Sd0uNIF4ZLULPZoW","name":"My Sub-Workflow 1","active":false,"isArchived":true,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"aaa"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[260,300]},{"parameters":{"content":"## Save your expenses via chat message. \n\nLLM will parse your message to structured JSON and save as a new row into Google Sheet.\n\n## Installation\n### 1. Set up Google Sheets:\nClone this Sheet:\nhttps://docs.google.com/spreadsheets/d/1D0r3tun7LF7Ypb21CmbTKEtn76WE-kaHvBCM5NdgiPU/edit?gid=0#gid=0\n\n(File -> Make a copy)\n\nChoose this sheet into \"Save expense into Google Sheets\" node.\n\n\n### 2. Fix sub-workflow dropdown: \nopen \"Parse msg and save to Sheets\" node (which is an n8n sub-workflow executor tool) and choose the SAME workflow in the dropdown. it will allow n8n to call \"Workflow Input Trigger\" properly when needed.\n\n\n### 3. Activate the workflow to make chat work properly.\nSent message to chat, something like \"car wash; 59.3 usd; 25 jan 2024\"\n\nyou should get a response:\nYour expense saved, here is the output of save sub-workflow:{\"cost\":59.3,\"descr\":\"car wash\",\"date\":\"2024-01-25\",\"msg\":\"car wash; 59.3 usd; 25 jan 2024\"}\n\nand new row in Google sheets should be inserted!","height":500,"width":720},"id":"716c2655-faa1-4f89-b681-fb17bdfb40a1","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-660,-60],"typeVersion":1},{"parameters":{"options":{}},"id":"f30adc2e-8627-4a7f-ae5f-1eb7ecf3200c","name":"OpenAI Chat Model1","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[568,520],"typeVersion":1.1,"credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"text":"=convert expense to JSON:  \n\n{{ $json.input1 }}","attributes":{"attributes":[{"name":"cost","type":"number","description":"expense cost","required":true},{"name":"descr","description":"description of expense","required":true},{"name":"date","type":"date","description":"date in UTC format. "}]},"options":{}},"id":"b3920967-daae-4f5a-bdac-4c3e735e321f","name":"Expense text to JSON parser","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[480,300],"typeVersion":1},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1DpMHuB3mpbBk-2whevNPCjEPrr9PMtVIXm1lFKMLbRo","mode":"list","cachedResultName":"20250417_顧客マスタ_内田編集用","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DpMHuB3mpbBk-2whevNPCjEPrr9PMtVIXm1lFKMLbRo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1596231066,"mode":"list","cachedResultName":"AI Agent Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DpMHuB3mpbBk-2whevNPCjEPrr9PMtVIXm1lFKMLbRo/edit#gid=1596231066"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"名前","displayName":"名前","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"身長","displayName":"身長","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"体重","displayName":"体重","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"出身","displayName":"出身","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"cf3a42da-13ae-475e-a400-aa27c9c17964","name":"Save expense into Google Sheets","type":"n8n-nodes-base.googleSheets","position":[856,300],"notesInFlow":true,"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}},"notes":"Do not forget to Clone the Google Sheet and re-link this node to your sheet!"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Expense text to JSON parser","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Expense text to JSON parser","type":"ai_languageModel","index":0}]]},"Expense text to JSON parser":{"main":[[{"node":"Save expense into Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"adfcade0-267f-49c9-9240-f531ecf6c7aa","triggerCount":0,"tags":[]}