workflows/My workflow 8.json
{"createdAt":"2025-07-28T06:57:28.072Z","updatedAt":"2025-07-28T06:57:30.000Z","id":"FH4YcqzU7SshUSKj","name":"My workflow 8","active":false,"isArchived":true,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"id":"062aa583-80df-456b-afb9-daec3dc57195","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[920,200],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63"},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"b7607cfc-441b-4962-9f74-995fa8076178","name":"Set 'Text'","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1300,220]},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}"},"id":"14a32686-805c-4e44-af05-503328bb1fba","name":"Download Voice File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1240,40],"webhookId":"c0b376b1-7b63-41b6-8063-0b3096b8333d"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"c795f7c2-a231-4abd-bcc7-8ecf2e41ebf1","name":"Transcribe Audio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[1400,40]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"cd4141fd-32f4-48a7-9d5c-c29f80ff8079","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1060,200]},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[1740,200],"id":"561f3271-57c9-4d0b-b0ef-639f4f168afa","name":"AI Agent","onError":"continueErrorOutput"},{"parameters":{"sendTo":"={{ $fromAI(\"emailAddress\") }}","subject":"={{ $fromAI(\"subject\") }}","message":"={{ $fromAI(\"emailBody\") }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1580,760],"id":"a31e5517-800f-4ba3-a398-c3e163b22111","name":"Send Email","webhookId":"86c8c4b1-13bb-4ebe-acb9-30e1d7082d55"},{"parameters":{"operation":"getAll","limit":"={{ $fromAI(\"limit\",\"how many emails the user wants\") }}","simple":false,"filters":{"sender":"={{ $fromAI(\"sender\",\"who the emails are from\") }}"},"options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1200,760],"id":"42f5d8cb-00d6-46bf-9809-5121f1d5a7f9","name":"Get Emails","webhookId":"af4b3298-9037-44b0-aa12-2acbfbb5e66f"},{"parameters":{"resource":"draft","subject":"={{ $fromAI(\"subject\") }}","emailType":"html","message":"={{ $fromAI(\"emailBody\") }}","options":{"threadId":"={{ $fromAI(\"threadID\") }}","sendTo":"={{ $fromAI(\"emailAddress\") }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1580,620],"id":"9dcdf923-1af1-4cac-b6b8-052b34a9ffa4","name":"Create Draft","webhookId":"17016bce-d7d7-428a-a56c-f6ea122db8be"},{"parameters":{"operation":"reply","messageId":"={{ $fromAI(\"ID\",\"the message ID\") }}","message":"={{ $fromAI(\"emailBody\") }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1320,620],"id":"bfc2ef71-92b4-4368-9f96-d6ef7b4ee16f","name":"Email Reply","webhookId":"114785e6-a859-432b-81b4-c490c1c35b1c"},{"parameters":{"resource":"label","returnAll":true},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1320,760],"id":"14dd30db-6315-464e-a63f-1011b6605570","name":"Get Labels","webhookId":"9e08b59e-792d-4566-83f1-9263c9ad86ae"},{"parameters":{"operation":"addLabels","messageId":"={{ $fromAI(\"ID\",\"the ID of the message\") }}","labelIds":"={{ $fromAI(\"labelID\") }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1440,620],"id":"a490fdb4-54da-44f6-bbd2-be6283ffe515","name":"Label Emails","webhookId":"0e951529-2e6d-40bf-ac40-fc0947e242e2"},{"parameters":{"operation":"markAsUnread","messageId":"={{ $fromAI(\"messageID\") }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1440,760],"id":"eccb22b8-aa2a-4c48-8fa8-2f6daaa29f6b","name":"Mark Unread","webhookId":"a35af9d8-f67d-4ff9-803f-59ec6356e795"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[1380,440],"id":"706c879f-00fc-40f6-a865-9e9b4cc73176","name":"Email Agent"},{"parameters":{"calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":["={{ $fromAI(\"eventAttendeeEmail\") }}"],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1980,760],"id":"5f8d573d-92e2-4171-83b6-2b2da2a0b3bd","name":"Create Event with Attendee"},{"parameters":{"calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":[],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1720,760],"id":"cd397e41-5e2d-41dd-b83b-815297ca1d8e","name":"Create Event"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"timeMin":"={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}","timeMax":"={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1980,620],"id":"b85089a8-2032-4180-8bb1-747c00bf8d76","name":"Get Events"},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1840,620],"id":"fb101263-3c1a-48af-a13d-7994277c590e","name":"Delete Event"},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","updateFields":{"end":"={{ $fromAI(\"endTime\") }}","start":"={{ $fromAI(\"startTime\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1840,760],"id":"96e6c4d0-e161-4a5d-a0c8-2d08035057e8","name":"Update Event"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[1740,440],"id":"8e7b9a57-91b2-4dc7-9378-b83f0e579c37","name":"Calendar Agent"},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appK0rbtvf9e7vt6w","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w"},"table":{"__rl":true,"value":"tbl08JGCfUK1RhXsG","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w/tbl08JGCfUK1RhXsG"},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[2220,600],"id":"1ac0f1a4-ef08-40f4-b863-54edeac72c67","name":"Get Contacts"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appK0rbtvf9e7vt6w","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w"},"table":{"__rl":true,"value":"tbl08JGCfUK1RhXsG","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w/tbl08JGCfUK1RhXsG"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $fromAI(\"name\") }}","email":"={{ $fromAI(\"emailAddress\") }}","phoneNumber":"={{ $fromAI(\"phoneNumber\") }}"},"matchingColumns":["name"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[2320,600],"id":"73f95d1f-1a0c-448f-834f-45aa68d80398","name":"Add or Update Contact"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[2080,440],"id":"9c68913f-99b7-4f9f-b07b-d44d1f17e4ee","name":"Contact Agent"},{"parameters":{},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[2320,920],"id":"5900108f-f268-47c7-84b4-d88d81244b03","name":"Tavily","credentials":{}},{"parameters":{"model":"sonar","messages":{"message":[{"content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexityTool","typeVersion":1,"position":[2440,920],"id":"6963f8d8-f628-45f9-8220-0852c8545f73","name":"Perplexity"},{"parameters":{"format":"imperial","cityName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City', ``, 'string') }}","language":"en"},"type":"n8n-nodes-base.openWeatherMapTool","typeVersion":1,"position":[2560,920],"id":"185d2d36-8ff8-47f2-9532-66a07b09cb06","name":"OpenWeatherMap"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[2200,760],"id":"09aca16e-166a-4681-98d9-381006b389bb","name":"Web Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[2460,440],"id":"cacfa2c2-7fc6-4c67-8e72-15a5f33272e5","name":"YouTube Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[980,440],"id":"7bfa54cf-886e-4115-96f6-24f28fe749be","name":"GPT 4.1-mini"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1200,620],"id":"ece54b1a-521e-4671-a560-49a82dc14b09","name":"GPT 4.1-mini1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[1720,620],"id":"86170d5c-be49-488c-90c5-6814b85bb45f","name":"GPT 4.1-mini2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2080,600],"id":"74571c11-6163-403e-9224-eab62ac28ee7","name":"GPT 4.1-mini3"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2220,920],"id":"9dee5d3f-2ef8-4d86-91de-57e3cc2f2b16","name":"GPT 4.1-mini4"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[2460,600],"id":"64f77cc2-22a6-474a-91f1-3e05a3cbc3f8","name":"GPT 4.1-mini5"},{"parameters":{"jsCode":"// Initialize the output arrays\nconst steps = [];\nconst tokens = [];\nlet totalTokens = 0; // Changed to track total tokens instead of cost\n\n// Process each item in the input\nfor (const item of $input.all()) {\n  let data = item.json;\n  \n  // Check if the data is an array itself (like your example JSON)\n  if (Array.isArray(data)) {\n    // Process each object in the array\n    for (const obj of data) {\n      // Extract steps information\n      if (obj.intermediateSteps && Array.isArray(obj.intermediateSteps)) {\n        for (const step of obj.intermediateSteps) {\n          if (step.action) {\n            steps.push({\n              tool: step.action.tool,\n              toolInput: step.action.toolInput,\n              observation: step.observation\n            });\n          }\n        }\n      }\n      \n      // Extract token information\n      if (obj.intermediateSteps && Array.isArray(obj.intermediateSteps)) {\n        for (const step of obj.intermediateSteps) {\n          if (step.action && step.action.messageLog && Array.isArray(step.action.messageLog)) {\n            for (const message of step.action.messageLog) {\n              if (message.kwargs && message.kwargs.response_metadata && message.kwargs.response_metadata.usage) {\n                const usage = message.kwargs.response_metadata.usage;\n                tokens.push({\n                  prompt_tokens: usage.prompt_tokens,\n                  completion_tokens: usage.completion_tokens,\n                  total_tokens: usage.total_tokens,\n                  model_name: message.kwargs.response_metadata.model_name\n                });\n                \n                // Add the tokens to our running total\n                if (typeof usage.total_tokens === 'number') {\n                  totalTokens += usage.total_tokens;\n                }\n              }\n            }\n          }\n        }\n      }\n    }\n  } else {\n    // If data is not an array, process it as a single object\n    // Extract steps information\n    if (data.intermediateSteps && Array.isArray(data.intermediateSteps)) {\n      for (const step of data.intermediateSteps) {\n        if (step.action) {\n          steps.push({\n            tool: step.action.tool,\n            toolInput: step.action.toolInput,\n            observation: step.observation\n          });\n        }\n      }\n    }\n    \n    // Extract token information\n    if (data.intermediateSteps && Array.isArray(data.intermediateSteps)) {\n      for (const step of data.intermediateSteps) {\n        if (step.action && step.action.messageLog && Array.isArray(step.action.messageLog)) {\n          for (const message of step.action.messageLog) {\n            if (message.kwargs && message.kwargs.response_metadata && message.kwargs.response_metadata.usage) {\n              const usage = message.kwargs.response_metadata.usage;\n              tokens.push({\n                prompt_tokens: usage.prompt_tokens,\n                completion_tokens: usage.completion_tokens,\n                total_tokens: usage.total_tokens,\n                model_name: message.kwargs.response_metadata.model_name\n              });\n              \n              // Add the tokens to our running total\n              if (typeof usage.total_tokens === 'number') {\n                totalTokens += usage.total_tokens;\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}\n\n// Return the processed data with total_tokens included\nreturn [{\n  json: {\n    steps: steps,\n    tokens: tokens,\n    total_tokens: totalTokens\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2100,40],"id":"943e4b56-00dc-423b-b20d-f7651428a4d0","name":"Clean Up"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"144h5vN3d_SsZMNkZncQAKMrwJ3wkceUEq47dO7FwLyA","mode":"list","cachedResultName":"Agent Logs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/144h5vN3d_SsZMNkZncQAKMrwJ3wkceUEq47dO7FwLyA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/144h5vN3d_SsZMNkZncQAKMrwJ3wkceUEq47dO7FwLyA/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $now.format('yyyy-MM-dd hh:m a') }}","Workflow":"={{ $workflow.name }}","Input":"={{ $('Input').item.json.input }}","Output":"={{ $('AI Agent').item.json.output }}","Actions":"={{ JSON.stringify($json.steps, null, 2) }}","Tokens":"={{ JSON.stringify($json.tokens, null, 2) }}","Total Tokens":"={{ $json.total_tokens }}"},"matchingColumns":[],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Workflow","displayName":"Workflow","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Output","displayName":"Output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Actions","displayName":"Actions","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tokens","displayName":"Tokens","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Total Tokens","displayName":"Total Tokens","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2240,40],"id":"9879bf33-4d4c-425c-bcd9-6c8c33d5fc3c","name":"Append row in sheet"},{"parameters":{"documentId":{"__rl":true,"value":"15CpqbdciFb023LElHxiDQ-CSfbXg-Gk6g5A7Dl_b8Ls","mode":"list","cachedResultName":"Video Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15CpqbdciFb023LElHxiDQ-CSfbXg-Gk6g5A7Dl_b8Ls/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15CpqbdciFb023LElHxiDQ-CSfbXg-Gk6g5A7Dl_b8Ls/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[2680,600],"id":"08b8555d-4094-4f8e-90c7-b4eda5d7a8a6","name":"Get Ideas"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"15CpqbdciFb023LElHxiDQ-CSfbXg-Gk6g5A7Dl_b8Ls","mode":"list","cachedResultName":"Video Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15CpqbdciFb023LElHxiDQ-CSfbXg-Gk6g5A7Dl_b8Ls/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Ideas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/15CpqbdciFb023LElHxiDQ-CSfbXg-Gk6g5A7Dl_b8Ls/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Idea":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Idea', `Idea title`, 'string') }}","Description":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Idea description`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Idea","displayName":"Idea","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Description","displayName":"Description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[2800,600],"id":"c32dc5d0-8817-415b-82d6-6d2d641ac402","name":"Add Idea"},{"parameters":{"toolDescription":"Use this tool to find high-performing YouTube videos","method":"POST","url":"https://api.apify.com/v2/acts/streamers~youtube-scraper/run-sync-get-dataset-items","sendQuery":true,"queryParameters":{"parameters":[{"name":"token","value":"YOUR APIFY API KEY"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"dateFilter\": \"month\",\n    \"downloadSubtitles\": false,\n    \"hasCC\": false,\n    \"hasLocation\": false,\n    \"hasSubtitles\": false,\n    \"is360\": false,\n    \"is3D\": false,\n    \"is4K\": false,\n    \"isBought\": false,\n    \"isHD\": false,\n    \"isHDR\": false,\n    \"isLive\": false,\n    \"isVR180\": false,\n    \"maxResultStreams\": 0,\n    \"maxResults\": {{$fromAI(\"maxResults\",\"how many videos the user wants, if not specified, default to 3\",\"number\",3)}},\n    \"maxResultsShorts\": 0,\n    \"oldestPostDate\": \"6 months\",\n    \"preferAutoGeneratedSubtitles\": false,\n    \"saveSubsToKVS\": false,\n    \"searchQueries\": [\n        \"{{$fromAI(\"searchTerm\",\"The topic of the video to search for\")}}\"\n    ],\n    \"sortVideosBy\": \"POPULAR\",\n    \"sortingOrder\": \"views\"\n}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[2560,600],"id":"dc4610f6-0da5-4307-92c7-1eeb4e352a98","name":"YouTube Videos"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1100,440],"id":"fd290493-5595-47b8-b36e-317188e30ecc","name":"Think"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1220,440],"id":"ae6e2a89-3e9d-48c5-a220-6f42c5a22c0b","name":"Simple Memory"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.error }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2100,200],"id":"a28756be-c0d0-435b-885d-60546329718b","name":"Error Message","webhookId":"7065a160-b927-43b6-b327-feec46cc0088"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $('AI Agent').item.json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[2400,40],"id":"53f59987-b39e-478f-90d6-99a383f5d833","name":"Response","webhookId":"4d174459-d5cc-4297-a449-369d3f10ef23"},{"parameters":{"assignments":{"assignments":[{"id":"976cf2c9-01b6-46cf-97b4-675a67ca57bc","name":"input","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1580,200],"id":"6ae81213-a0c4-4b74-a25b-66150fc81de2","name":"Input"},{"parameters":{"content":"# ⚙️ Setup Guide  \n**Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\nFollow these steps to get your n8n AI agent workflow fully configured and connected:\n\n### ✅ Step 1: Connect Your Telegram Account  \nUse the **Telegram Trigger** node to link your Telegram account. This allows you to interact with your agent via Telegram. Make sure it's fully connected—it’s used in both the **Telegram Response** nodes and the **Simple Memory** node.\n\n### ✅ Step 2: Add Your [OpenRouter](https://openrouter.ai/) API Key  \nThis is the \"brain\" of your AI agent. Plug in your API key using the **HTTP Request** or **Credential** node to power intelligent responses.\n\n### ✅ Step 3: Connect Your App Integrations  \nSet up the following API connections so your agent can take meaningful actions:\n- **Gmail**\n- **Google Calendar**\n- **Airtable**\n- **Google Sheets**\n- **Apify** – Used in the YouTube video node.  \n  💡 *Use code* **`30NATEHERK`** *for 30% off your first 3 months at [Apify](https://www.apify.com/?fpr=nate)*\n\n### ✅ Step 4: Connect Research & Utility APIs  \nAdd these keys for more powerful features:\n- [**Tavily API Key**](https://www.tavily.com/)\n- [**Perplexity API Key**](https://www.perplexity.ai/)\n- [**Open Weather Map API Key**](https://openweathermap.org/api)\n\n### ✅ Step 5: Link Your Google Sheets Templates  \n- 📄 [Agent Action Log Sheet](https://docs.google.com/spreadsheets/d/1PlRVi9Iv2n11SPYdshjhPGWccRCpKLHn3PjUkJEjgAQ/edit?usp=sharing) – Logs the agent’s actions.\n- 🎬 [YouTube Ideas Sheet](https://docs.google.com/spreadsheets/d/1Jazczp5HtPwcJvu6bmJQrjkqt31S7adVqIFVCqXZwGk/edit?usp=sharing) – Used for the YouTube agent’s video ideas.\n\n### 🚀 Final Step: Start Prompting  \nWith everything connected, start chatting with your agent on Telegram and watch it take intelligent action across your tool stack!\n","height":912,"width":784},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"6467c30b-fdcf-46e4-b883-4d25bc697035","name":"Sticky Note"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Download Voice File":{"main":[[{"node":"Transcribe Audio","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download Voice File","type":"main","index":0}],[{"node":"Set 'Text'","type":"main","index":0}]]},"Set 'Text'":{"main":[[{"node":"Input","type":"main","index":0}]]},"Transcribe Audio":{"main":[[{"node":"Input","type":"main","index":0}]]},"Clean Up":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"92c593fd-3a4e-446e-9852-61a588e73987","triggerCount":0,"tags":[]}