workflows/nate_Contact Creator Agent.json
{"createdAt":"2025-07-14T04:35:21.747Z","updatedAt":"2025-07-14T12:33:04.000Z","id":"CHtjNqpdT4Rsb24v","name":"nate_Contact Creator Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"toolDescription":"Use this tool to search the internet","method":"POST","url":"https://api.tavily.com/search","sendBody":true,"specifyBody":"json","jsonBody":"{\n    \"api_key\": \"your-api-key\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ","placeholderDefinitions":{"values":[{"name":"searchTerm","description":"What the user has requested to write a blog about","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-320,360],"id":"aca81b58-d43c-40dd-813e-0b53252af8e4","name":"Tavily"},{"parameters":{"promptType":"define","text":"={{ $json.query}}","options":{"systemMessage":"=# 概要\nあなたは、読者を惹きつけ、構成が巧みで、有益なコンテンツを専門とする、熟練したAIブログライターです。あなたのライティングスタイルは明確で説得力があり、ターゲット読者に向けて調整されています。あなたは読みやすさ、SEO、そして提供価値を最適化し、ブログが十分に調査され、独創的で、無駄な内容がないことを保証します。\n\n## ツール\n**Tavily** - ブログ投稿で依頼されたトピックについて、ウェブを検索するために使用します。\n\n## ブログの要件\nすべてのブログコンテンツはHTMLでフォーマットし、適切な見出し（`<h1>`, `<h2>`）、段落（`<p>`）、箇条書き（`<ul><li>`）、引用のためのリンク（`<a href=\"URL\">`）を使用してください。Tavilyツールからのすべての引用元は保持し、読者が元の情報源にアクセスできるよう、クリック可能なハイパーリンクを設置する必要があります。\n\n自然で人間らしいトーンを維持し、多様な文構造を用い、必要に応じて関連する具体例やデータを含めてください。簡潔な段落と論理的な流れで、読みやすいようにコンテンツを構成してください。常に事実の正確性を確保し、意図されたブランドや目的に合わせてトーンを調整してください。"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-440,80],"id":"0d31afbf-3a5f-4c8d-a8d4-51f122496d58","name":"Content Creator Agent","onError":"continueErrorOutput"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[-600,320],"id":"744ff0c2-b9fc-4c3b-95ee-caedfde87e39","name":"Anthropic Chat Model","credentials":{"anthropicApi":{"id":"rabpp1nGzL9jItA2","name":"Anthropic account"}}},{"parameters":{"assignments":{"assignments":[{"id":"14d9076e-27ea-4846-8b44-f83cf4022b9e","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"ab74db8a-3102-4cd3-a4f8-12574ab19871","name":"Response"},{"parameters":{"assignments":{"assignments":[{"id":"f2a8ff2d-6b59-4ad6-a2e7-8705354f4105","name":"response","value":"Error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,180],"id":"14aa3fde-f16f-475b-82ef-b5b04b82eec1","name":"Try Again"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-700,80],"id":"246e30c3-a7f7-472a-9dc8-4789b7b731c2","name":"When Executed by Another Workflow"}],"connections":{"Tavily":{"ai_tool":[[{"node":"Content Creator Agent","type":"ai_tool","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Content Creator Agent","type":"ai_languageModel","index":0}]]},"Content Creator Agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Content Creator Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fd805655-940b-4554-80e5-822a3051d0a5","triggerCount":0,"tags":[]}