workflows/nate_Email Agent.json
{"createdAt":"2025-07-14T04:21:46.552Z","updatedAt":"2025-07-14T04:24:19.000Z","id":"ClGf5WfOxp0YwuyS","name":"nate_Email Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{}},"id":"b66d90e4-6c3e-4a38-aaf8-f1b4e3c7b76e","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1080,360],"credentials":{"openAiApi":{"id":"eC3peUNFchecOFHu","name":"OpenAi account 5"}}},{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"Unable to perform task. Please try again.","type":"string"}]},"options":{}},"id":"afddcda9-3e44-42af-9793-11254d5b9689","name":"Try Again","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,180]},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"={{$json.output}}","type":"string"}]},"options":{}},"id":"35d59478-2cea-4b7f-bd3e-46d7a8ce1ac0","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# 概要\nあなたはメール管理アシスタントです。すべてのメールはHTML形式でプロフェッショナルにフォーマットし、署名は「Nate」としてください。\n\n**メール管理ツール**\n- メールの送信には「Send Email」を使用してください。\n- ユーザーが下書きを求めた場合は「Create Draft」を使用してください。\n- メールの取得を要求された場合は「Get Emails」を使用してメールを取得してください。\n- ラベルを取得するには「Get Labels」を使用してください。\n- メールを未読にするには「Mark Unread」を使用してください。その際、まず「Get Emails」を使用して、対象メールのメッセージIDを取得する必要があります。\n- メールにラベルを付けるには「Label Email」を使用してください。その際、まず「Get Emails」を使用して対象メールのメッセージIDを取得し、次に「Get Labels」を使用してラベルIDを取得する必要があります。\n- メールに返信するには「Email Reply」を使用してください。その際、まず「Get Emails」を使用して、返信対象のメールのメッセージIDを取得する必要があります。\n\n## 最終的な注意点\n- 現在の日時はこちらです: {{ $now }}"}},"id":"41f16ce7-eb9b-402e-a4ec-4ad78eb7d618","name":"Email Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-600,80],"onError":"continueErrorOutput"},{"parameters":{"sendTo":"={{ $fromAI(\"emailAddress\") }}","subject":"={{ $fromAI(\"subject\") }}","message":"={{ $fromAI(\"emailBody\") }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-920,440],"id":"9beb3554-fa1b-416c-b8fd-99b98c5b0b11","name":"Send Email","webhookId":"86c8c4b1-13bb-4ebe-acb9-30e1d7082d55","credentials":{"gmailOAuth2":{"id":"eawXuiOGkVGOyVTm","name":"R STREET"}}},{"parameters":{"operation":"getAll","limit":"={{ $fromAI(\"limit\",\"how many emails the user wants\") }}","simple":false,"filters":{"sender":"={{ $fromAI(\"sender\",\"who the emails are from\") }}"},"options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-280,540],"id":"d8168400-c70a-44ef-85d3-4913b52fd7b1","name":"Get Emails","webhookId":"af4b3298-9037-44b0-aa12-2acbfbb5e66f","credentials":{"gmailOAuth2":{"id":"eawXuiOGkVGOyVTm","name":"R STREET"}}},{"parameters":{"resource":"draft","subject":"={{ $fromAI(\"subject\") }}","emailType":"html","message":"={{ $fromAI(\"emailBody\") }}","options":{"sendTo":"={{ $fromAI(\"emailAddress\") }}"}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-440,560],"id":"9428e136-fad1-46e5-905d-91d5bf84bbe5","name":"Create Draft","webhookId":"17016bce-d7d7-428a-a56c-f6ea122db8be","credentials":{"gmailOAuth2":{"id":"eawXuiOGkVGOyVTm","name":"R STREET"}}},{"parameters":{"operation":"reply","messageId":"={{ $fromAI(\"ID\",\"the message ID\") }}","message":"={{ $fromAI(\"emailBody\") }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-760,500],"id":"1e620c4d-bf25-42c6-a7ec-8a043e789360","name":"Email Reply","webhookId":"114785e6-a859-432b-81b4-c490c1c35b1c","credentials":{"gmailOAuth2":{"id":"eawXuiOGkVGOyVTm","name":"R STREET"}}},{"parameters":{"resource":"label","returnAll":true},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-160,480],"id":"4a9e8e9a-872c-4056-ba11-cf8256463e10","name":"Get Labels","webhookId":"9e08b59e-792d-4566-83f1-9263c9ad86ae","credentials":{"gmailOAuth2":{"id":"eawXuiOGkVGOyVTm","name":"R STREET"}}},{"parameters":{"operation":"addLabels","messageId":"={{ $fromAI(\"ID\",\"the ID of the message\") }}","labelIds":"={{ $fromAI(\"labelID\") }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-600,540],"id":"c73f4c8e-16f2-4e5d-b687-ada07577bcbd","name":"Label Emails","webhookId":"0e951529-2e6d-40bf-ac40-fc0947e242e2","credentials":{"gmailOAuth2":{"id":"eawXuiOGkVGOyVTm","name":"R STREET"}}},{"parameters":{"operation":"markAsUnread","messageId":"={{ $fromAI(\"messageID\") }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-20,420],"id":"3e489396-0d48-432f-b815-4012c9fdfd78","name":"Mark Unread","webhookId":"a35af9d8-f67d-4ff9-803f-59ec6356e795","credentials":{"gmailOAuth2":{"id":"eawXuiOGkVGOyVTm","name":"R STREET"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-840,80],"id":"1aca86de-d540-4301-a61d-7b3c33383f26","name":"When Executed by Another Workflow"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Email Agent","type":"ai_languageModel","index":0}]]},"Email Agent":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"Send Email":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"Email Reply":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"Get Emails":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"Create Draft":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"Get Labels":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"Label Emails":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"Mark Unread":{"ai_tool":[[{"node":"Email Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Email Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"044a3e66-8c8f-458f-87c0-ca4cead10aea","triggerCount":0,"tags":[{"createdAt":"2025-07-14T04:21:01.609Z","updatedAt":"2025-07-14T04:21:01.609Z","id":"pCHRXZVS7mqzkyBO","name":"nate"}]}