workflows/nate_Calendar Agent.json
{"createdAt":"2025-07-14T04:36:33.124Z","updatedAt":"2025-07-14T12:32:59.000Z","id":"kX7LvxefYmWxXSHY","name":"nate_Calendar Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"model":"gpt-4o","options":{}},"id":"0bf4ea8f-2e6d-43cc-b36b-a75432340326","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-920,360],"credentials":{"openAiApi":{"id":"eC3peUNFchecOFHu","name":"OpenAi account 5"}}},{"parameters":{"assignments":{"assignments":[{"id":"7ab380a2-a8d3-421c-ab4e-748ea8fb7904","name":"response","value":"Unable to perform task. Please try again.","type":"string"}]},"options":{}},"id":"56c49c33-8966-439f-9173-942b88e92969","name":"Try Again","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,200]},{"parameters":{"assignments":{"assignments":[{"id":"39c2f302-03be-4464-a17a-d7cc481d6d44","name":"=response","value":"={{$json.output}}","type":"string"}]},"options":{}},"id":"199e5791-113c-4ceb-aaae-c831fed25e29","name":"Success","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0]},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# 概要\nあなたはカレンダーアシスタントです。あなたの責務は、ユーザーのカレンダーでイベントの作成、取得、削除を行うことです。\n\n**カレンダー管理ツール**\n- イベントに参加者が含まれる場合は、「Create Event with Attendee」を使用してください。\n- 自分一人のイベントの場合は、「Create Event」を使用してください。\n- カレンダーの予定取得を要求された場合は、「Get Events」を使用してください。\n- イベントを削除するには、「Delete Event」を使用してください。その際、まず「Get Events」を使用して削除対象のイベントIDを取得する必要があります。\n- イベントを更新するには、「Update Event」を使用してください。その際、まず「Get Events」を使用して更新対象のイベントIDを取得する必要があります。\n\n## 最終的な注意点\n現在の日時はこちらです: {{ $now }}\nイベントの所要時間が指定されていない場合は、1時間と想定してください。"}},"id":"ca692823-a98c-48cb-b088-9392957a97cc","name":"Calendar Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[-680,100],"onError":"continueErrorOutput"},{"parameters":{"calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":["={{ $fromAI(\"eventAttendeeEmail\") }}"],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-220,360],"id":"0dc9ce23-8ec9-47d0-926a-cf6cd6bb55ce","name":"Create Event with Attendee","credentials":{"googleCalendarOAuth2Api":{"id":"gL2zKI1q7Yn5bbSl","name":"R STREET"}}},{"parameters":{"calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"start":"={{ $fromAI(\"eventStart\") }}","end":"={{ $fromAI(\"eventEnd\") }}","additionalFields":{"attendees":[],"summary":"={{ $fromAI(\"eventTitle\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-360,460],"id":"bd69149a-0861-40ec-b2ec-ae7548928315","name":"Create Event","credentials":{"googleCalendarOAuth2Api":{"id":"gL2zKI1q7Yn5bbSl","name":"R STREET"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"timeMin":"={{ $fromAI(\"dayBefore\",\"the day before the date the user requested\") }}","timeMax":"={{ $fromAI(\"dayAfter\",\"the day after the date the user requested\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-500,500],"id":"9edb1eca-5332-41df-a85d-d13b2b96d8ba","name":"Get Events","credentials":{"googleCalendarOAuth2Api":{"id":"gL2zKI1q7Yn5bbSl","name":"R STREET"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-640,480],"id":"be7808e3-d0c7-462a-bd0b-eb6fb86496df","name":"Delete Event","credentials":{"googleCalendarOAuth2Api":{"id":"gL2zKI1q7Yn5bbSl","name":"R STREET"}}},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"nateherk88@gmail.com","mode":"list","cachedResultName":"nateherk88@gmail.com"},"eventId":"={{ $fromAI(\"eventID\") }}","updateFields":{"end":"={{ $fromAI(\"endTime\") }}","start":"={{ $fromAI(\"startTime\") }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-780,440],"id":"81d9c527-9fa7-45e0-94e4-5423bc785a15","name":"Update Event","credentials":{"googleCalendarOAuth2Api":{"id":"gL2zKI1q7Yn5bbSl","name":"R STREET"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-920,100],"id":"5378e6df-feaf-4b41-bd72-fc7aaddc6b56","name":"When Executed by Another Workflow"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Calendar Agent","type":"ai_languageModel","index":0}]]},"Calendar Agent":{"main":[[{"node":"Success","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"Create Event with Attendee":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Create Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Get Events":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Delete Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"Update Event":{"ai_tool":[[{"node":"Calendar Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Calendar Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"924dbe21-ccac-4e4e-81c8-8437d84b62cd","triggerCount":0,"tags":[]}