workflows/nate_Contact Agent.json
{"createdAt":"2025-07-14T04:36:00.018Z","updatedAt":"2025-07-14T06:59:15.000Z","id":"7qenquJz7v7PUXOL","name":"nate_Contact Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-640,300],"id":"b8b4dc2f-c134-4436-b527-4822cd33a55c","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"eC3peUNFchecOFHu","name":"OpenAi account 5"}}},{"parameters":{"operation":"search","base":{"__rl":true,"value":"appK0rbtvf9e7vt6w","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w"},"table":{"__rl":true,"value":"tbl08JGCfUK1RhXsG","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w/tbl08JGCfUK1RhXsG"},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-460,300],"id":"bb7cb761-96f1-465a-89fa-f775eba4ad2e","name":"Get Contacts"},{"parameters":{"operation":"upsert","base":{"__rl":true,"value":"appK0rbtvf9e7vt6w","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w"},"table":{"__rl":true,"value":"tbl08JGCfUK1RhXsG","mode":"list","cachedResultName":"Contacts","cachedResultUrl":"https://airtable.com/appK0rbtvf9e7vt6w/tbl08JGCfUK1RhXsG"},"columns":{"mappingMode":"defineBelow","value":{"name":"={{ $fromAI(\"name\") }}","email":"={{ $fromAI(\"emailAddress\") }}","phoneNumber":"={{ $fromAI(\"phoneNumber\") }}"},"matchingColumns":["name"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"phoneNumber","displayName":"phoneNumber","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-300,300],"id":"0eadd7ea-513c-4f7e-aeb0-cd33eec5c7f6","name":"Add or Update Contact"},{"parameters":{"promptType":"define","text":"={{ $json.query }}","options":{"systemMessage":"=# 概要\nあなたは連絡先管理アシスタントです。あなたの責務は、連絡先の検索、新しい連絡先の追加、または連絡先情報の更新です。\n\n**連絡先管理**\n- 連絡先情報を取得するには、「Get Contacts」を使用してください。\n- 新しい連絡先情報を保存したり、既存の項目を修正したりするには、「Add or Update Contact」を使用してください。"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[-520,80],"id":"d79c514b-3718-4ddf-812b-6a7786a6f199","name":"Contact Agent","onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"f3155878-11ca-4563-894c-95b38e637d06","name":"Response"},{"parameters":{"assignments":{"assignments":[{"id":"4f360190-a717-4a93-8336-d03ea65975d5","name":"response","value":"An error occurred. Please try again.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,180],"id":"de22c984-88b8-42fe-a431-2178bcb704be","name":"Try Again"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-740,80],"id":"cd431266-9249-45b4-a2ec-8dcd07b97ec9","name":"When Executed by Another Workflow"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Contact Agent","type":"ai_languageModel","index":0}]]},"Get Contacts":{"ai_tool":[[{"node":"Contact Agent","type":"ai_tool","index":0}]]},"Add or Update Contact":{"ai_tool":[[{"node":"Contact Agent","type":"ai_tool","index":0}]]},"Contact Agent":{"main":[[{"node":"Response","type":"main","index":0}],[{"node":"Try Again","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Contact Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d4e2542c-e45a-4cbf-9f1f-abc8001f4ce9","triggerCount":0,"tags":[]}