workflows/Ochiai san's schedule Agent_2.json
{"createdAt":"2025-07-02T07:00:36.314Z","updatedAt":"2025-07-11T08:59:52.000Z","id":"mpIKA6eOGmDJ7Irw","name":"Ochiai san's schedule Agent_2","active":false,"isArchived":false,"nodes":[{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"events","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[700,320],"id":"26906bf5-d5b9-40cb-8233-c49546ee0a93","name":"Aggregate"},{"parameters":{"workflowInputs":{"values":[{"name":"Input"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[40,520],"id":"1e8cba83-0f13-4371-b279-d4958f170265","name":"When Executed by Another Workflow"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"ai_bootcamp@rstreet.co.jp","mode":"list","cachedResultName":"ai_bootcamp@rstreet.co.jp"},"returnAll":true,"timeMin":"={{ $now.plus({ days: 1 }).startOf('day') }}","timeMax":"={{ $now.plus({ weeks: 3 }).endOf('day') }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[260,520],"id":"b90e400f-ed69-4221-93f3-5042802b225b","name":"Get many events","alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"RWBDOCdnjcMlP7IO","name":"Google Calendar account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9d3e6920-ef2d-4c17-a794-3cd3433e1107","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[480,520],"id":"99feacef-b09f-4549-a720-cf48e9073830","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"a793ba78-081f-45b2-b9a0-2d012cf41fb6","name":"email","value":"ai_bootcamp@rstreet.co.jp","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[700,720],"id":"53ac4444-4e5c-42a4-89bf-0ab3c3523dd8","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは、Googleカレンダーの予定データ（ビジー時間）を基に、指定された期間の**すべての日付**についてユーザーの空き時間を、一日の抜け漏れもなく、体系的に算出するデータ処理の専門家です。\n\n# 最重要ルール\n- **分析期間内のすべての日付（{{ $now.plus({ days: 1 }).startOf('day') }} から {{ $now.plus({ weeks: 3 }).endOf('day') }} まで）を、必ず1日ずつ処理し、出力に含めてください。**\n- **予定が一つも存在しない日は、その日全体（00:00から24:00）が空いている「終日空き」として扱います。これらの日を出力から省略することは絶対に許可されません。**\n\n# 思考アルゴリズム\n以下のステップ（アルゴリズム）に従い、一連の処理を機械的かつ正確に実行してください。\n\n### Step 1: 分析期間の全日付をループ処理\n- まず、指定された分析期間の開始日から終了日まで、1日ずつ順番に処理するループを開始します。以降のステップは、このループ内の各日付に対して実行されます。\n\n### Step 2: 当該日付の「ビジーブロック」を確定させる\nループで現在処理中の日付について、入力データから該当する予定をすべてリストアップします。\n\n- **Case A: 当該日付に予定が【存在しない】場合**\n  - その日の「ビジーブロック」は空（ゼロ個）であると確定します。\n\n- **Case B: 当該日付に予定が【存在する】場合**\n  1.  予定を開始時刻の昇順で並べ替えます。\n  2.  時間的に重複または連続している予定（例：9:00-10:00と10:00-11:00）を一つの連続した時間の塊に統合（マージ）します。\n  3.  最終的にマージされた、重複のない予定時間のリストが、その日の「ビジーブロック」となります。\n     - （例）「09:30-11:00」と「16:00-16:30」の2つの予定がある場合、ビジーブロックは `[\"09:30-11:00\", \"16:00-16:30\"]` となります。\n\n### Step 3: 「空き時間スロット」を算出する\n- Step 2で確定した「ビジーブロック」を基に、1日のタイムライン（**00:00から24:00**）から時間を逆算し、「空き時間スロット」をすべて特定します。\n\n- **ビジーブロックが空の場合（Case Aより）**:\n  - 空き時間スロットは `{\"start_time\": \"00:00\", \"end_time\": \"24:00\"}` の一つだけになります。`description` は「終日空き」とします。\n\n- **ビジーブロックが存在する場合（Case Bより）**:\n  - （例）ビジーブロックが `[\"09:30-11:00\", \"16:00-16:30\"]` の場合、空き時間スロットは以下の3つになります。\n    1.  `{\"start_time\": \"00:00\", \"end_time\": \"09:30\"}`\n    2.  `{\"start_time\": \"11:00\", \"end_time\": \"16:00\"}`\n    3.  `{\"start_time\": \"16:30\", \"end_time\": \"24:00\"}`\n\n### Step 4: 日付ごとの結果を整形する\n- 算出した「空き時間スロット」を、後述の出力形式に従って、日付ごとにまとめます。\n- `duration_minutes` や `day_of_week` などの各フィールドは正確に計算・設定してください。\n\n### Step 5: 最終的なJSONを生成する\n- ループ処理が完了した後、すべての日付の分析結果を単一のJSONオブジェクトに統合し、出力します。\n- `user.email` には、カレンダーの持ち主（`\"self\": true` のユーザー）のメールアドレスを正しく設定してください。\n\n# 期間\n## 開始\n{{ $now.plus({ days: 1 }).startOf('day') }}\n## 終了\n{{ $now.plus({ weeks: 3 }).endOf('day') }}\n\n# 入力データ（JST時刻）:\n{{ JSON.stringify($json.events) }}\n\n# 出力形式:\n以下のJSON構造を厳密に守り、カレンダーの持ち主のメールアドレスを含めて出力してください。他の説明テキストは一切不要です。\n```json\n{\n  \"analysis_date\": \"（処理実行日）\",\n  \"timezone\": \"JST\",\n  \"user\": {\n    \"email\": \"（ここに 'self: true' のユーザーのメールアドレスが入る）\"\n  },\n  \"available_slots\": [\n    {\n      \"date\": \"YYYY-MM-DD\",\n      \"day_of_week\": \"月曜日\",\n      \"slots\": [\n        {\n          \"start_time\": \"HH:MM\",\n          \"end_time\": \"HH:MM\",\n          \"duration_minutes\": 120,\n          \"description\": \"適切な説明\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[920,220],"id":"493d2f17-cea3-4c6e-a627-3e705d3956fa","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1008,440],"id":"de723eb0-9562-4c1a-be74-53653e0e7a87","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"HLetr3K9FMGJtocg","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは、指定された期間と条件に基づいて、ユーザーの空き時間を示すJSONデータを生成する専門家です。\n\n# 指示\nこのプロンプトは、ユーザーの予定が指定期間内に全くない場合に実行されます。\n以下の生成条件に従って、ユーザーが完全に空いている状態を示すJSONを生成してください。入力データは存在しないため、このプロンプト内の指示のみを元にしてください。\n\n# 生成条件\n- **ユーザーのメールアドレス**: `{{ $json.email }}` を `user.email` に設定してください。\n- **分析日**: `analysis_date` には本日の日付 `{{ $now.toISODate() }}` を設定してください。\n- **対象期間**: `{{ $now.plus({ days: 1 }).startOf('day').toISODate() }}` から `{{ $now.plus({ weeks: 3 }).endOf('day').toISODate() }}` まで。\n- **空き時間の定義**: 上記の対象期間に含まれる全ての日について、00:00から24:00までを一つの空き時間スロットとしてください。\n\n# 出力形式\n以下のJSON構造を厳密に守って出力してください。他のテキストは一切含めないでください。\n\n```json\n{\n  \"analysis_date\": \"YYYY-MM-DD\",\n  \"timezone\": \"JST\",\n  \"user\": {\n    \"email\": \"ai_bootcamp@rstreet.co.jp\"\n  },\n  \"available_slots\": [\n    {\n      \"date\": \"YYYY-MM-DD\",\n      \"day_of_week\": \"月曜日\",\n      \"slots\": [\n        {\n          \"start_time\": \"00:00\",\n          \"end_time\": \"24:00\",\n          \"duration_minutes\": 1440,\n          \"description\": \"終日対応可能\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[920,720],"id":"69b6e6e2-3918-493e-9020-1f08c71b2d94","name":"AI Agent1"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1008,940],"id":"087822b7-fcb4-40a5-ade7-f662305841e8","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"HLetr3K9FMGJtocg","name":"Google Gemini(PaLM) Api account 4"}}}],"connections":{"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1749553156,"possibleDuplicates":["197597ea59a0acde"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e43da2b7-a760-4490-a435-62a8ed1f1bc7","triggerCount":1,"tags":[{"createdAt":"2025-07-03T07:23:34.599Z","updatedAt":"2025-07-03T09:57:04.256Z","id":"Zey1DTgFzw4vuivz","name":"Secretary Agent"}]}