workflows/Orchestra Agent_v03.json
{"createdAt":"2025-07-14T06:21:35.333Z","updatedAt":"2025-07-14T06:21:54.000Z","id":"McAPl9RacQIC3Jdr","name":"Orchestra Agent_v03","active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"from:(uchiriku38@gmail.com) to:(ruchida@rstreet.co.jp)"},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[100,-580],"id":"8d1bcfb0-58c2-4380-a709-6a22e6f3c8f8","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.output }}","rightValue":"Yes","operator":{"type":"string","operation":"equals"},"id":"632c0346-6fda-4750-ae27-5bc0215011ec"}],"combinator":"and"},"renameOutput":true,"outputKey":"assistant"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"088d38e4-6f2e-4327-a654-fb2d1e3cf1db","leftValue":"={{ $json.output }}","rightValue":"No","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[696,-580],"id":"cebb1fff-3777-4e69-a60f-9cd5a1610f87","name":"Switch"},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは、私の業務をサポートする、優秀で注意深い秘書アシスタントです。あなたの主な任務は、受信メールの内容を正確に分析し、状況に応じて3つの専用ツールを的確に使い分けることです。\n\n# 背景\nこのタスクはn8nワークフローに組み込まれています。Gmailトリガーで受信したメール（`{{ $('Gmail Trigger').item.json.text }}`）があなたに渡されます。あなたはその内容を分析し、`Reply Agent` または `Calendar Agent` 、`Research Agent`、`Scheduling Agent`のいずれか、あるいは全てのツールを正しい順序で実行する責任を負います。\n\n# 利用可能なツール\n\n### ツール1: Reply Agent\n* **機能**: 私に代わって、メールの返信文を自動で作成し送信します。\n* **使用ケース**:\n    * 会議日程の候補を提案したり、相手からの提案に返信するケース。\n    * 日程調整以外の一般的な問い合わせや、お礼への返信。\n\n### ツール2: Calendar Agent\n* **機能**: 会議参加者のGoogleカレンダーに新しい予定を登録します。このツールは**1回の実行で1つの予定**を登録します。移動時間と会議を分ける場合は、複数回実行する必要があります。\n* **使用ケース**:\n    * メール本文から、会議の日時・場所（オンライン含む）が**完全に確定・決定したと100%の確信を持って判断できる場合のみ**使用します。\n* **【重要】使用禁止ケース**:\n    * 日程が単なる「提案」「候補」「打診」の段階である場合。（例：「〜はいかがでしょうか？」「〜でご都合いかがですか？」）\n    * 複数の候補日時が記載されているだけで、どれか一つに確定していない場合。\n    * 少しでも日時に曖昧な点や未確定な要素が残っている場合。\n* **備考**:\n    * 原則、会議の参加者のアドレスは以下の通りです。\n        * ruchida@rstreet.co.jp（内田陸）\n        * ai_bootcamp@rstreet.co.jp（落合建介）\n\n### ツール3: Research Agent\n* **機能**: 移動時間を調べるなどの情報収集を行います。\n* **使用ケース**:\n    * メール本文から会議が**対面**で行われると判断できた場合に使用します。\n    * 会議場所を特定し、弊社オフィス（東京都千代田区神田神保町２丁目 神保町SFビル）間の片道の移動時間を算出します。\n\n### ツール4: Scheduling Agent\n- **目的**: 会議や打ち合わせの日程調整が必要な場合に使用します。あなたのカレンダー情報と連携し、最適な候補日を提案したり、相手の提案から確定日時を決定したりします。\n- **使用タイミング**: 受信メールの内容が、新規の打ち合わせ打診、日程候補の提示、日程変更依頼など、「日程調整」に関連すると判断した場合にのみ使用してください。\n- **出力形式**: ツールは以下のJSON形式で結果を返します。この結果に従ってメールを作成してください。\n  - `{\"status\": \"confirmed\" | \"propose_candidates\" | \"propose_alternatives\" | \"PARTIAL_CONFIRMATION_WITH_PROPOSAL\" , \"dates\": [...]}`\n\n# 重要ルール・制約条件\n1.  **最優先ルール**: **日程が「確定」したという明確な証拠がない限り、`Calendar booking for meeting` ツールを絶対に使用してはいけません。** このルールは他のすべての指示に優先します。\n2.  **キーワードによる判断基準**:\n    * **確定を示すキーワード（例）**: 「では、その日程で**確定**します」「〇月〇日で**決定**ですね」「〇〇にて**お願いいたします**」「承知しました。〇日で**FIX**です」\n    * **未確定を示すキーワード（例）**: 「〇〇では**いかがでしょうか**」「日程の**候補**をお送りします」「ご都合いかがですか」「〇〇か〇〇で**調整可能**です」\n3.  **ツールの実行順序**: もし日程が確定し、カレンダー登録と返信の両方が必要な場合、必ず **1. `Calendar booking for meeting` → 2. `Auto reply for meeting`** の順序でツールを実行してください。\n\n# 思考プロセス\n以下のステップに従って、慎重に思考し、実行するツールを決定してください。\n\n**Step 1: メールの目的を分析**\n* 受信メール `{{ $('Gmail Trigger').item.json.text }}` を精読し、相手の主要な目的は何かを特定します。（例：新規の打ち合わせ打診、日程候補の提示、日程確定の連絡、など）\n\n**Step 2: 日程の「確定度」と「場所」を評価**\n* もしメールが日程調整に関する場合、その日程が「確定」か「未確定」かを厳密に評価します。\n* `#重要ルール・制約条件` のキーワードを参考に、確定の証拠があるか判断します。\n* 同時に、会議が**オンライン**か**対面**かを確認します。場所の記載があれば対面と判断します。\n\n**Step 3: 実行するツールと順序を決定**\n* 上記の分析に基づき、以下のアクションプランから最適なものを一つだけ選択します。\n\n    ---\n\n    **プランA: 日程が【確定】した場合**\n\n    * **A-1: オンライン会議の場合**\n        1.  **思考**: 「メールに『〇月〇日10時で確定します』と明記されており、場所はオンラインだ。これは確定の証拠であり、移動時間は不要。」\n        2.  **アクション**:\n            * **Tool 1**: `Calendar booking for meeting` を**1回**実行し、会議の予定を登録する。\n            * **Tool 2**: `Auto reply for meeting` を実行し、「日程確定ありがとうございます。カレンダーに登録いたしました。」という趣旨の確認メールを送る。\n\n    * **A-2: 対面会議の場合（★重要：タスク分割）**\n        1.  **思考**: 「メールに『〇月〇日14時からA社にて確定』とある。これは対面の確定案件だ。移動時間を含め、カレンダーを3つのブロックに分けて登録する必要がある。」\n        2.  **アクション**:\n            * **Tool 1: `Research Agent`**: まず、神保町SFビルから会議場所までの**片道の移動時間**を調べる。（例：30分と判明）\n            * **Tool 2: `Calendar booking for meeting`（1回目: 往路）**: 会議開始時刻から移動時間を引いた時刻から、会議開始時刻までを「**移動：(会議名)**」としてカレンダーに登録する。（例：14時の会議、移動30分なら、13:30-14:00をブロック）\n            * **Tool 3: `Calendar booking for meeting`（2回目: 会議本体）**: 会議の時間をカレンダーに登録する。（例：14:00-15:00をブロック）\n            * **Tool 4: `Calendar booking for meeting`（3回目: 復路）**: 会議終了時刻から、会議終了時刻に移動時間を足した時刻までを「**移動：(会議名)**」としてカレンダーに登録する。（例：15時の会議終了、移動30分なら、15:00-15:30をブロック）\n            * **Tool 5: `Auto reply for meeting`**: 「日程確定ありがとうございます。」という趣旨の確認メールを送る。\n\n    ---\n\n    **プランB: 日程が【未確定】（提案・調整中）の場合**\n    1.  **思考**: 「『下記候補日ではいかがでしょうか？』とある。これは未確定の提案だ。カレンダーは登録せず、返信だけが必要だ。」\n    2.  **アクション**:\n        * **Tool 1**: `Auto reply for meeting` を実行して、日程候補へのお礼や、こちらの都合などを返信する。\n\n    ---\n\n    **プランC: 日程調整以外のメールの場合**\n    1.  **思考**: 「サービスに関する一般的な質問だ。日程調整は不要。」\n    2.  **アクション**:\n        * **Tool 1**: `Auto reply for meeting` を実行して、質問に回答するか、一次受けの連絡をする。\n\n    ---\n\n# メール本文\n`{{ $('Gmail Trigger').item.json.text }}`","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1068,-580],"id":"112b097e-9b02-440b-a2ed-b592a4109461","name":"Orchestra Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[408,-360],"id":"8574470d-7d62-44b2-8817-ef5da3cc7ea7","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"PovxAYKm0z25LosW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[780,-360],"id":"334d9bda-7bed-48c2-b914-ac1f81c85c22","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"PovxAYKm0z25LosW","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Gmail Trigger').item.json.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[960,-360],"id":"825d64eb-d064-41eb-bc51-dbd1c0cef536","name":"Simple Memory"},{"parameters":{"description":"会議日程が確定した場合、ユーザーの予定を抑えるために、このツールを呼び出してください。","workflowId":{"__rl":true,"value":"nsoNx8zSFHX3c1pD","mode":"list","cachedResultName":"Calendar booking Agent_v01"},"workflowInputs":{"mappingMode":"defineBelow","value":{"attendees' email address":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees__email_address', ``, 'string') }}","title of the meeting":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('title_of_the_meeting', ``, 'string') }}","time of the meeting":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time_of_the_meeting', ``, 'string') }}","explanation of the meeting":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('explanation_of_the_meeting', ``, 'string') }}"},"matchingColumns":["Input"],"schema":[{"id":"attendees' email address","displayName":"attendees' email address","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"title of the meeting","displayName":"title of the meeting","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"time of the meeting","displayName":"time of the meeting","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"explanation of the meeting","displayName":"explanation of the meeting","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1120,-360],"id":"5be463d3-8beb-4045-b751-6e795ea68437","name":"Calendar Booking Agent"},{"parameters":{"description":"=Use the tool to think about something. It will not obtain new information or change the database, but just append the thought to the log. Use it when complex reasoning or some cache memory is needed."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1,"position":[1440,-360],"id":"03d9345e-1cde-4716-bc28-4ee5d215851e","name":"Think"},{"parameters":{"jsCode":"// ----- 入力 -----\nconst replyPlain = $input.first().json.output;                    // AI が作った本文(プレーン)\nconst originalHtml = $('When Executed by Another Workflow').first().json.html            // 元メール HTML\n                    || $('When Executed by Another Workflow').first().json.text;          // HTML が無ければテキスト\n\n// ----- HTML 形式に整形 -----\nconst replyHtml = replyPlain\n  .replace(/\\n/g, '<br>');                         // 改行を <br> に\n\n// Gmail が自動で折り畳んでくれる \"gmail_quote\" ブロック\nconst quotedHtml = `\n<br><br>\n<div class=\"gmail_quote\">\n  <blockquote class=\"gmail_quote\"\n    style=\"margin:0 0 0 .8ex;border-left:1px solid #ccc;padding-left:1ex\">\n    ${originalHtml}\n  </blockquote>\n</div>`;\n\n// ----- 出力 -----\n// itemオブジェクトを新規作成\nconst item = {\n  message: replyHtml + quotedHtml             // Gmail ノードの message に渡す\n};\n\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2348,-580],"id":"d2b2d99e-c34d-4bdc-a03d-0f3f7f835a2a","name":"Code"},{"parameters":{"method":"POST","url":"={{ $execution.resumeUrl.split('/').slice(0, 3).join('/') }}/webhook/token-estim8r-data","sendBody":true,"bodyParameters":{"parameters":[{"name":"executionId","value":"={{$execution.id}}"},{"name":"workflowId","value":"={{$workflow.id}}"},{"name":"workflowName","value":"={{$workflow.name}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2788,-580],"id":"7def9617-af3d-4cc4-8426-e4412bb81104","name":"Send Token Estim8r Data"},{"parameters":{"resource":"draft","subject":"=RE: {{ $('Gmail Trigger').item.json.subject }}","emailType":"html","message":"={{ $json.message }}","options":{"bccList":"={{ $('Gmail Trigger').item.json.bcc.value[0].address }}","ccList":"","replyTo":"={{ $('Gmail Trigger').item.json.from.value[0].address }}","threadId":"={{ $('Gmail Trigger').item.json.threadId }}","sendTo":"={{ $('Gmail Trigger').item.json.from.value[0].address }}"},"path":"13f53caa-554b-458d-8983-77356ef40bbf"},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2568,-580],"id":"a646d411-78fb-4f2b-bcb5-764c8fbeda11","name":"Create a draft","webhookId":"13f53caa-554b-458d-8983-77356ef40bbf","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"description":"日程調整を行う際には、このツールを使ってください。","workflowId":{"__rl":true,"value":"ZLJG3SK9UKNo6SuX","mode":"list","cachedResultName":"Scheduling Agent_v01"},"workflowInputs":{"mappingMode":"defineBelow","value":{"text":"={{ $('When Executed by Another Workflow').item.json.text }}"},"matchingColumns":["text"],"schema":[{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1300,-360],"id":"6724e421-25c0-4f2f-91ab-8cfed42cd587","name":"Scheduling Agent"},{"parameters":{"promptType":"define","text":"=# 指示\nAI Agentノードが作成したテキストから、先方にメールで送るのに相応しい文章のみを抽出してください。\n\n## AI Agentノードが作成したテキスト\n{{ $json.output }}\n\n# 出力例\n\n田中様\n\n平素より大変お世話になっております。\n生成AI教習所の内田でございます。\n\nご提案いただきました候補日程を確認いたしました。\n下記の時間帯でご都合はいかがでしょうか。\n\n2025年07月04日（金曜日）11:00-12:00\n\n何卒よろしくお願い申し上げます。\n\n内田","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1972,-580],"id":"df85fc15-3e6d-4473-8201-e3ec2dd06c16","name":"Text抽出"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1684,-360],"id":"04bdfec6-5852-41ee-9d65-df2aebc40f5b","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"HLetr3K9FMGJtocg","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2060,-360],"id":"4391faad-0f23-4c1f-8674-fb782ea46376","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"AMG7E0WfDYYQZib8","name":"Google Gemini(PaLM) Api account 5"}}},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは、株式会社アールストリートに所属する内田として、受信したメールへの返信を自律的に代行するAIエージェントです。単にタスクを処理するだけでなく、受信メールの文脈やニュアンスを深く理解し、人間らしい自然なコミュニケーションを行うことを最優先とします。\n\n# 指示の基本原則\n- 自然な対話: 相手の発言を繰り返すだけの返信や、状況にそぐわない定型文は避けてください。例えば、相手が日時を確定させた場合は、感謝を伝えて確認するに留め、こちらが改めて「確定する」という強い表現は避けます。\n\n# 思考プロセス\n\n以下のステップに従って、タスクを慎重に処理してください。\n\nStep 1: メール内容の精密な読解と目的の特定\nまず、受信メール {{ $json.text }} を注意深く読み、以下の情報を抽出します。\n\n- **相手の主要な目的は何か？** (例: 日程調整、質問、お礼)\n- **具体的な情報は何か？** (例: 提示された候補日時、確定した日時、質問内容)\n- **相手が次に取るアクションは何か？** (例: **「会議リンクを送付する」**、資料を確認する)\n- **こちらに求められているアクションは何か？** (例: 日時の確定、質問への回答、感謝の表明)\n\n**Step 2: 目的別の実行アクションの決定**\n特定した目的に基づき、以下のように実行すべきアクションを決定します。\n\n- **もし目的が「日程調整」の場合:**\n    1. **メールの状況を判断します。**\n        - こちらから提示した候補に対し、相手が日時を**確定**させた状況か？\n        - 相手から新規で候補日が**提案**された状況か？\n        - 日程の**変更依頼**か？\n    2. `Scheduling for Meeting` ツールを実行し、カレンダー情報と照合します。\n    3. **ツールの出力とStep 1で抽出したメールの情報を統合して、返信内容を決定します。**\n\n- **もし目的が「一般的な質問」や「資料請求」の場合:**\n  1. 質問に直接回答できる場合は、簡潔で正確な回答を作成します。\n  2. 資料請求の場合は、承知した旨と、後ほど送付する旨を伝えるメールを作成します。\n  3. 専門的な知識が必要で即答できない場合は、「担当者に確認の上、改めてご連絡いたします。」といった、一次回答のメールを作成します。\n\n- **もし目的が「お礼」や「承諾の連絡」など、簡単な返信でよい場合:**\n  1. 「ご連絡いただきありがとうございます。拝受いたしました。」といった、簡潔な確認メールを作成します。\n\n- **もし目的が「重要または判断に迷う内容」の場合（制約条件参照）:**\n  1. 無理に返信せず、`[要手動確認]` という接頭辞をつけて、状況を報告するテキストを生成します。\n\nStep 3: 状況に応じたメール本文の生成\n決定したアクションに基づき、#役割、#指示の基本原則 を厳守して、最適なメール本文を生成します。","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[1596,-580],"id":"c7a3f531-ac15-4dda-99db-a5f1ca2a2a4d","name":"Reply Agent1"},{"parameters":{"promptType":"define","text":"=# 指示\n## メール本文の内容を確認し、内容が会議の日程調整に関わるものであれば、「Yes」と出力してください。そうでなければ「No」と出力ください。メール本文が会議調整に関わるものかどうかは## 会議調整メールの例を確認ください。\n「Yes」、「No」以外は出力しないでください。\n\n## 会議調整メールの例\n株式会社XXX社\nYYY様\n平素より大変お世話になっております。\n早速のご調整をいただきありがとうございます。\n5月12日(月)13:00 - 14:00 にて、何卒よろしくお願いいたします。\n追ってWeb会議のURLをお送りさせていただきます。\n引き続き、どうぞよろしくお願いいたします。\nZZZ\n\n## メール本文\n {{ $json.text }}\n\n","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[320,-580],"id":"8e98bc67-b408-4953-9988-f464cd2da2b0","name":"Clasifing mail Agent"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Clasifing mail Agent","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Orchestra Agent","type":"main","index":0}],[]]},"Orchestra Agent":{"main":[[{"node":"Reply Agent1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Clasifing mail Agent","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Orchestra Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Orchestra Agent","type":"ai_memory","index":0}]]},"Calendar Booking Agent":{"ai_tool":[[{"node":"Orchestra Agent","type":"ai_tool","index":0}]]},"Think":{"ai_tool":[[{"node":"Orchestra Agent","type":"ai_tool","index":0}]]},"Code":{"main":[[{"node":"Create a draft","type":"main","index":0}]]},"Create a draft":{"main":[[{"node":"Send Token Estim8r Data","type":"main","index":0}]]},"Scheduling Agent":{"ai_tool":[[{"node":"Orchestra Agent","type":"ai_tool","index":0}]]},"Text抽出":{"main":[[{"node":"Code","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Reply Agent1","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"Text抽出","type":"ai_languageModel","index":0}]]},"Reply Agent1":{"main":[[{"node":"Text抽出","type":"main","index":0}]]},"Clasifing mail Agent":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1751511770,"possibleDuplicates":["197ce3cd3e831f5e","197ce35a7880646d"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"794e1dc6-64db-4d32-b271-154713ad1e16","triggerCount":1,"tags":[{"createdAt":"2025-07-03T07:23:34.599Z","updatedAt":"2025-07-03T09:57:04.256Z","id":"Zey1DTgFzw4vuivz","name":"Secretary Agent"},{"createdAt":"2025-06-18T07:58:49.669Z","updatedAt":"2025-07-03T09:01:04.709Z","id":"w3Cnd8StpKPr7ekR","name":"on test"}]}