workflows/Orchestra Agent for meeting_v01.json
{"createdAt":"2025-07-03T01:53:55.504Z","updatedAt":"2025-07-04T00:09:49.000Z","id":"0kynmixNsaG2xBIp","name":"Orchestra Agent for meeting_v01","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"from:(uchiriku38@gmail.com) to:(ruchida@rstreet.co.jp)"},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[100,-580],"id":"c111a28b-152d-446c-8e9b-cc1e552f0363","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"jsCode":"// ----- 入力 -----\nconst replyPlain = $input.first().json.message.content;                    // AI が作った本文(プレーン)\nconst originalHtml = $('When Executed by Another Workflow').first().json.html            // 元メール HTML\n                    || $('When Executed by Another Workflow').first().json.text;          // HTML が無ければテキスト\n\n// ----- HTML 形式に整形 -----\nconst replyHtml = replyPlain\n  .replace(/\\n/g, '<br>');                         // 改行を <br> に\n\n// Gmail が自動で折り畳んでくれる \"gmail_quote\" ブロック\nconst quotedHtml = `\n<br><br>\n<div class=\"gmail_quote\">\n  <blockquote class=\"gmail_quote\"\n    style=\"margin:0 0 0 .8ex;border-left:1px solid #ccc;padding-left:1ex\">\n    ${originalHtml}\n  </blockquote>\n</div>`;\n\n// ----- 出力 -----\n// itemオブジェクトを新規作成\nconst item = {\n  message: replyHtml + quotedHtml             // Gmail ノードの message に渡す\n};\n\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1140,-120],"id":"21a0fa0f-764c-401e-96ff-fd03e3e18f0d","name":"Code"},{"parameters":{"description":"このツールを呼び出して、内田陸の今後1週間の空き時間を取得してください。","workflowId":{"__rl":true,"value":"QJEwr3iNXoXzPosM","mode":"list","cachedResultName":"Uchida san's schedule_2"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Input', ``, 'string') }}"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[440,100],"id":"934e41ff-b31b-4df5-bd16-967775e1a5c9","name":"Uchida san's free schedule"},{"parameters":{"description":"このツールを呼び出して、梶原俊一の今後1週間の空き時間を取得してください。","workflowId":{"__rl":true,"value":"ow4XQWTdsrDHbWD3","mode":"list","cachedResultName":"Kajiwara san's schedule_2"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Input', ``, 'string') }}"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[620,100],"id":"b8ad4f20-6dac-4c33-894c-0e6993861557","name":"Kajiwara san's free schedule"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=# 指示\n## メール本文の内容を確認し、内容が会議の日程調整に関わるものであれば、「Yes」と出力してください。そうでなければ「No」と出力ください。メール本文が会議調整に関わるものかどうかは## 会議調整メールの例を確認ください。\n「Yes」、「No」以外は出力しないでください。\n\n## 会議調整メールの例\n株式会社XXX社\nYYY様\n平素より大変お世話になっております。\n早速のご調整をいただきありがとうございます。\n5月12日(月)13:00 - 14:00 にて、何卒よろしくお願いいたします。\n追ってWeb会議のURLをお送りさせていただきます。\n引き続き、どうぞよろしくお願いいたします。\nZZZ\n\n## メール本文\n {{ $json.text }}\n\n"}]},"simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[320,-580],"id":"8ce4bf94-e1f5-4e84-8016-5c0fafc68676","name":"Message a model","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"description":"このツールを呼び出して、落合建介の今後1週間の空き時間を取得してください。","workflowId":{"__rl":true,"value":"mpIKA6eOGmDJ7Irw","mode":"list","cachedResultName":"Ochiai san's schedule_2"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Input', ``, 'string') }}"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[780,100],"id":"75d32d5a-705a-4021-b8a8-732a4cfffe0c","name":"Ochiai san's free schedule"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.choices[0].message.content }}","rightValue":"Yes","operator":{"type":"string","operation":"equals"},"id":"632c0346-6fda-4750-ae27-5bc0215011ec"}],"combinator":"and"},"renameOutput":true,"outputKey":"assistant"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"088d38e4-6f2e-4327-a654-fb2d1e3cf1db","leftValue":"={{ $json.choices[0].message.content }}","rightValue":"No","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[696,-580],"id":"db318121-38b0-4bdb-b318-040ec58e6b8b","name":"Switch"},{"parameters":{"workflowInputs":{"values":[{"name":"text"},{"name":"subject"},{"name":"to_Email"},{"name":"thread_id"},{"name":"html"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[100,-120],"id":"e15bd1f5-dff9-447f-acd8-2d92357d148d","name":"When Executed by Another Workflow"},{"parameters":{"description":"メールにて会議調整を行う場合には、このツールを実行してください。","workflowId":{"__rl":true,"value":"0kynmixNsaG2xBIp","mode":"list","cachedResultName":"Orchestra Agent for meeting_v01"},"workflowInputs":{"mappingMode":"defineBelow","value":{"text":"={{ $('Gmail Trigger').item.json.text }}","thread_id":"={{ $('Gmail Trigger').item.json.threadId }}","subject":"={{ $('Gmail Trigger').item.json.subject }}","html":"={{ $('Gmail Trigger').item.json.html }}","to_Email":"={{ $('Gmail Trigger').item.json.from.value[0].address }}"},"matchingColumns":[],"schema":[{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"subject","displayName":"subject","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"to_Email","displayName":"to_Email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"thread_id","displayName":"thread_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"html","displayName":"html","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1000,-360],"id":"944f9482-5f95-4f09-9d70-ef16ece40912","name":"Auto reply for meeting"},{"parameters":{"resource":"draft","subject":"=RE: {{ $('When Executed by Another Workflow').item.json.subject }}","emailType":"html","message":"={{ $json.message }}","options":{"replyTo":"={{ $('When Executed by Another Workflow').item.json.to_Email }}","threadId":"={{ $('When Executed by Another Workflow').item.json.thread_id }}","sendTo":"={{ $('When Executed by Another Workflow').item.json.to_Email }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1320,-120],"id":"7be7ec81-cf51-47d5-9638-dc05eae2b59e","name":"Create a draft","webhookId":"37cbfefc-986e-4bff-9071-c0b4c410da70","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"description":"会議日程が確定した場合、ユーザーの予定を抑えるために、このツールを呼び出してください。","workflowId":{"__rl":true,"value":"nsoNx8zSFHX3c1pD","mode":"list","cachedResultName":"Calendar booking_vo1"},"workflowInputs":{"mappingMode":"defineBelow","value":{"attendees' email address":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees__email_address', ``, 'string') }}","title of the meeting":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('title_of_the_meeting', ``, 'string') }}","time of the meeting":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('time_of_the_meeting', ``, 'string') }}","explanation of the meeting":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('explanation_of_the_meeting', ``, 'string') }}"},"matchingColumns":["Input"],"schema":[{"id":"attendees' email address","displayName":"attendees' email address","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"title of the meeting","displayName":"title of the meeting","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"time of the meeting","displayName":"time of the meeting","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"explanation of the meeting","displayName":"explanation of the meeting","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1180,-360],"id":"9a66dc14-cef9-4f06-9b20-61fc11b34405","name":"Calendar booking for meeting"},{"parameters":{"description":"会議が確定し、先方に返信メールドラフトを作成する場合に、このツールを使ってください。","workflowId":{"__rl":true,"value":"1vVeRsEa5ZgSJfOr","mode":"list","cachedResultName":"Create a draft  for meeting_v01"},"workflowInputs":{"mappingMode":"defineBelow","value":{"reply message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('reply_message', ``, 'string') }}","thread_id":"={{ $('Gmail Trigger').item.json.threadId }}","to_Email":"={{ $('Gmail Trigger').item.json.from.value[0].address }}","text":"={{ $('Gmail Trigger').item.json.text }}","html":"={{ $('Gmail Trigger').item.json.html }}","subject":"={{ $('Gmail Trigger').item.json.subject }}"},"matchingColumns":[],"schema":[{"id":"reply message","displayName":"reply message","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"subject","displayName":"subject","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"to_Email","displayName":"to_Email","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"thread_id","displayName":"thread_id","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"html","displayName":"html","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1360,-360],"id":"f2419b84-a6c1-4a3c-9010-52e991594341","name":"Create a draft in Gmail"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# 指示\nAI Agentノードが作成したテキストから、先方にメールで送るのに相応しい文章のみを抽出してください。\n\n## AI Agentノードが作成したテキスト\n{{ $json.output }}\n\n# 出力例\n\n田中様\n\n平素より大変お世話になっております。\n生成AI教習所の内田でございます。\n\nご提案いただきました候補日程を確認いたしました。\n下記の時間帯でご都合はいかがでしょうか。\n\n2025年07月04日（金曜日）11:00-12:00\n\n何卒よろしくお願い申し上げます。\n\n内田"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[780,-120],"id":"d84e8a0f-356f-419d-b895-0850dc0a0e14","name":"本文抽出","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは「生成AI教習所」の内田陸として会議調整メールを執筆します。\n\n# 対象者\n- 内田陸\n- 梶原俊一\n\n# 処理手順\n\n## 1. スケジュール情報の取得\n# 対象者に応じて、以下のツールを呼び出してください：\n- 対象者に内田陸が含まれる場合：「Uchida san's free schedule」ツール\n- 対象者に梶原俊一が含まれる場合：「Kajiwara san's free schedule」ツール\n- 対象者に落合建介が含まれる場合：「Ochiai san's free schedule」ツール\n\n\n## 2. メール内容の分析\n受信メールから以下を抽出してください：\n\n### 所要時間の特定\nメール本文から会議時間を抽出（例：「30分程度」「1時間」「1〜2時間」「半日」）\n- 明記されていない場合：**1時間をデフォルト**とする\n\n### 候補時間帯の理解\n- 先方が提示した時間帯 = **先方の空き時間**\n- この時間帯内で上記所要時間の会議枠を探索する\n\n## 3. 会議枠の探索と選定\n\n### A. 候補日時が提示されている場合\n各時間帯内で以下を実行：\n1. **会議枠候補の生成**：所要時間に基づく全ての可能な会議枠を作成\n2. **有効性チェック**：各候補が対象者全員の連続空きスロット内に完全に収まるかを確認\n3. **最適枠の選定**：有効な候補から最も早い時間を選択\n\n### B. 候補日時が提示されていない場合\n対象者全員の共通空き時間から、所要時間分の会議が収まるスロットを特定\n\n## 4. 返信メール作成\n- 宛先：相手会社名・氏名\n- 挨拶：生成AI教習所の内田として\n- 日時提示：「YYYY年MM月DD日（曜日）HH:MM-HH:MM」形式\n\n## 受信メール\n{{ $json.text }}\n\n# 具体例\n\n## 所要時間抽出パターン\n| メール表現 | 抽出時間 |\n|------------|----------|\n| 「30分程度の打ち合わせ」 | 30分 |\n| 「1時間の会議」 | 1時間 |\n| 「1〜2時間程度を想定」 | 1時間と2時間 |\n| 「半日程度」 | 3〜4時間 |\n| 記載なし | 1時間（デフォルト） |\n\n## 会議枠生成例\n**先方提示：7月4日（金）10:00〜14:00、所要時間：1時間**\n- 生成候補：10:00-11:00, 11:00-12:00, 12:00-13:00, 13:00-14:00\n- 内田の空き：11:00-16:00、梶原の空き：11:00-23:59、落合の空き：12:00-14:00\n- 有効候補：12:00-13:00, 13:00-14:00\n- **選定結果：12:00-13:00**（最も早い時間）\n\n# 出力例\n\n## パターン1：確定可能\n山田様\n\n平素より大変お世話になっております。\n生成AI教習所の内田でございます。\n\nご提案いただきました候補日程の件、ありがとうございます。\n対象者全員のスケジュールを確認いたしましたところ、下記日程にて調整させていただけますでしょうか。\n\n**確定日時：2025年07月04日（金曜日）11:00-12:00**\n\n改めて会議詳細につきましては、別途ご連絡させていただきます。\n\n何卒よろしくお願い申し上げます。\n\n内田\n\n## パターン2：複数候補\n山田様\n\n平素より大変お世話になっております。\n生成AI教習所の内田でございます。\n\nご提案いただきました候補日程を確認いたしました。\n下記の時間帯でご都合はいかがでしょうか。\n\n**候補1：2025年07月04日（金曜日）11:00-12:00**\n**候補2：2025年07月04日（金曜日）12:00-13:00**\n\nご都合の良い時間をお知らせいただければと思います。\n\n何卒よろしくお願い申し上げます。\n\n内田\n\n## パターン3：代替提案\n山田様\n\n平素より大変お世話になっております。\n生成AI教習所の内田でございます。\n\nご提案いただきました候補日程を確認いたしましたが、恐れ入りますが当方のスケジュールと調整が困難でございます。\nつきましては、下記の候補日程はいかがでしょうか。\n\n**候補1：2025年07月02日（水曜日）10:00-11:00**\n**候補2：2025年07月03日（木曜日）13:00-14:00**\n**候補3：2025年07月05日（土曜日）11:00-12:00**\n\nご都合の良い日時をお知らせいただければと思います。\n\n何卒よろしくお願い申し上げます。\n\n内田\n\n# 重要ルール\n\n## 必須事項\n- 対象者全員のスケジュールツール呼び出し\n- メール本文からの所要時間正確抽出\n- 先方時間帯の正しい解釈（空き時間として）\n- 連続空きスロット内での完全収容確認\n- 対象者全員の共通時間のみでの候補生成\n\n## 禁止事項\n- 先方時間帯の固定会議時間としての誤解釈\n- 空きスロット境界を超える会議提案\n- 複数スロットにまたがる会議提案\n- 一部の対象者のスケジュールのみでの判断","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[412,-120],"id":"b7e41345-e194-404f-b427-7c63252a8d1c","name":"Scheduling Agent"},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは送られてきたメールに応じて、適切なツールを使い、ユーザーの代わりに会議調整やカレンダーの予定を管理するエージェントです。\n\n# 指示\n送られてきたメール本文の最新の内容を確認して、その後に必要なアクションを考えて、ツールを実行してください。\n\n## メール本文\n{{ $('Gmail Trigger').item.json.text }}\n\n## ツール\n　- 会議の日程が未確定で、会議の日程調整が必要な場合には、「Auto reply for meeting」を使用します。\n　- 会議の日程が確定して、ユーザーの予定を抑える場合には「Calendar booking for meeting」を使用します。\n - 会議の日程が確定して、先方に「当日はよろしくお願いします」という旨のメールを返信する場合には「Create a draft in Gmail」を使用してください。","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1008,-580],"id":"050ef21d-b656-4bbd-98cb-e94cd2a67092","name":"Orchestra Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[860,-360],"id":"f3eaee8f-cdbc-416b-bd07-30f6ee5452cc","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"ZBhCWqXdaUyUv0yT","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[300,100],"id":"00e4a5b7-3914-4474-8805-38c5c9eafec0","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"ZBhCWqXdaUyUv0yT","name":"Google Gemini(PaLM) Api account 4"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Code":{"main":[[{"node":"Create a draft","type":"main","index":0}]]},"Uchida san's free schedule":{"ai_tool":[[{"node":"Scheduling Agent","type":"ai_tool","index":0}]]},"Kajiwara san's free schedule":{"ai_tool":[[{"node":"Scheduling Agent","type":"ai_tool","index":0}]]},"Message a model":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Ochiai san's free schedule":{"ai_tool":[[{"node":"Scheduling Agent","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Orchestra Agent","type":"main","index":0}],[]]},"When Executed by Another Workflow":{"main":[[{"node":"Scheduling Agent","type":"main","index":0}]]},"Auto reply for meeting":{"ai_tool":[[{"node":"Orchestra Agent","type":"ai_tool","index":0}]]},"Create a draft":{"main":[[]]},"Calendar booking for meeting":{"ai_tool":[[{"node":"Orchestra Agent","type":"ai_tool","index":0}]]},"Create a draft in Gmail":{"ai_tool":[[{"node":"Orchestra Agent","type":"ai_tool","index":0}]]},"本文抽出":{"main":[[{"node":"Code","type":"main","index":0}]]},"Scheduling Agent":{"main":[[{"node":"本文抽出","type":"main","index":0}]]},"Orchestra Agent":{"main":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Orchestra Agent","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Scheduling Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1751511770,"possibleDuplicates":["197ce3cd3e831f5e","197ce35a7880646d"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e78f3869-48f5-4866-b7a2-8a32c222f905","triggerCount":1,"tags":[{"createdAt":"2025-07-03T08:44:53.259Z","updatedAt":"2025-07-03T08:44:53.259Z","id":"WQ2os50uMIbKDpUI","name":"for Toyo様"},{"createdAt":"2025-06-18T07:58:49.669Z","updatedAt":"2025-07-03T09:01:04.709Z","id":"w3Cnd8StpKPr7ekR","name":"on test"}]}