workflows/pdf writer automation.json
{"createdAt":"2025-06-25T09:11:37.999Z","updatedAt":"2025-06-25T09:18:51.000Z","id":"X7GmjCdqCxjdgSM6","name":"pdf writer automation","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"n8n JSON Input","formDescription":"n8nのJSON Fileを入力してください。","formFields":{"values":[{"fieldLabel":"File","fieldType":"file"},{"fieldLabel":"Who","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Uchida"},{"option":"Kajiwara"}]}}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,-600],"id":"018079e4-f303-4023-a878-763603e61e1f","name":"On form submission","webhookId":"91ca2ca2-abc4-426d-bb51-e9625b6c1ea0"},{"parameters":{"promptType":"define","text":"=# 指示\n以下の手順で pdfの補助資料（テキスト）を作成してください：\n1. ユーザーが提供する ### pdf を分析\n2. ユーザー{{ $('On form submission').item.json.Who }}を確認する\n3. ツールを利用して、最も適切な yaml 設定を参照\n4. 指定された## 出力フォーマットに従って記事を作成\n\n## 入力データ\n### pdf\n{{ $json.text }}\n\n## 出力フォーマット\n```markdown\n<タイトル>\n\n<本文全体を Markdown で出力>\n```","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[440,-600],"id":"3dbaec01-e620-423d-b563-a0180dd66cbf","name":"AI Agent"},{"parameters":{"operation":"pdf","binaryPropertyName":"File","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[220,-600],"id":"ceb69613-b0c3-41d5-bab6-ba5845b1e83d","name":"Extract from File"},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"uploadType","value":"multipart"},{"name":"supportsAllDrives","value":"true"}]},"sendBody":true,"contentType":"raw","rawContentType":"multipart/related; boundary=divider","body":"={{ $json.rawData }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1476,-600],"id":"d5f5b832-0929-4b01-98e2-9ef48cdf57b2","name":"CreateGoogleDoc1","notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"IdrdQNKG669nhJ05","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e7ee03ac-13e3-4fca-a7bc-57c8fc56dc42","name":"document_name","value":"={{$now}}","type":"string"},{"id":"48a07ef2-ae46-4bfc-aa7e-d92a74ef46d6","name":"html_content","value":"={{ $json.data }}","type":"string"},{"id":"22b02fba-ba72-423a-b92f-1191a183a554","name":"drive_folder_id","value":"1i2gELyC1JoJvmfcMCqY768zT6I8UglbD","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1036,-600],"id":"9b9a943c-921f-421e-a8e3-cd42bb901a4f","name":"set_fields","notesInFlow":true},{"parameters":{"jsCode":"const boundary = 'divider';\nconst docName = $input.first().json.document_name;\nconst folderId = $input.first().json.drive_folder_id;\nconst htmlContent = $input.first().json.html_content;\n\nconst metadata = JSON.stringify({\n  name: docName,\n  mimeType: \"application/vnd.google-apps.document\",\n  parents: [folderId]\n});\n\nconst htmlWithStyles = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    /* Add bottom margin to block elements for spacing */\n    p,\n    ul,\n    ol,\n    table,\n    h1,\n    h2,\n    h3,\n    h4,\n    h5,\n    h6 {\n      margin-bottom: 10pt;\n    }\n\n    h2 {\n      margin-top: 20pt;\n    }\n\n    /* Prevent margin collapse issues or excessive space inside lists */\n    li {\n       margin-bottom: 2pt; /* Optional: small space between list items */\n    }\n\n    /* Remove margin from the last child within common containers if needed */\n    /* This might be overly aggressive, test without it first */\n    /*\n    body > *:last-child,\n    li > *:last-child {\n       margin-bottom: 0;\n    }\n    */\n  </style>\n</head>\n<body>\n  ${htmlContent}\n</body>\n</html>\n`;\n\n// Construct the body with literal \\r\\n ONLY\nlet body = `--${boundary}\\r\\n`;\nbody += `Content-Type: application/json; charset=UTF-8\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${metadata}\\r\\n`;\nbody += `--${boundary}\\r\\n`;\nbody += `Content-Type: text/html\\r\\n`;\nbody += `\\r\\n`; // Blank line\nbody += `${htmlWithStyles}\\r\\n`; // Add the HTML content\nbody += `--${boundary}--\\r\\n`; // Final boundary\n\nreturn {\n  rawData: body \n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1256,-600],"id":"e1f957c4-8743-4091-98e0-74c5664e6b8a","name":"Prepare_Request"},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.output }}","options":{"emoji":true,"tables":true}},"type":"n8n-nodes-base.markdown","typeVersion":1,"position":[816,-600],"id":"79a69a70-6601-4597-adee-35c6fb5b67fc","name":"Markdown"},{"parameters":{"operation":"completion","completionTitle":"完了","completionMessage":"下書きが作成されました。\n\n以下のリンクよりご確認ください。\nhttps://drive.google.com/drive/folders/1i2gELyC1JoJvmfcMCqY768zT6I8UglbD","options":{}},"type":"n8n-nodes-base.form","typeVersion":1,"position":[1696,-600],"id":"e8db96e1-b13f-4ac2-89b2-d4b60ca3c026","name":"Form","webhookId":"3edeeefd-ffff-4478-a8e9-27c0a6745a9c"},{"parameters":{"description":"Uchidaさんとしてnote記事を作成する場合には、このノードから出力されるyaml設定を参照してください。","workflowId":{"__rl":true,"value":"D3se8Dxy5CL2oVCc","mode":"list","cachedResultName":"Writing note as Uchida"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"Input"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[640,-380],"id":"5d7a9a60-ca21-47cd-87f0-ece1510665a3","name":"Writing note as Uchida"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[440,-380],"id":"8f3eb312-9786-4377-bfc5-d4b956f4e5b1","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"pkkgMgQ2rSCnE7kR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"description":"Kajiwaraさんとしてnote記事を作成する場合には、このノードから出力されるyaml設定を参照してください。","workflowId":{"__rl":true,"value":"6ZegQYwBDJjfxUtt","mode":"list","cachedResultName":"Writing note as Kajiwara"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Input":"Input"},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[780,-380],"id":"cc601e0b-4963-4770-b94c-0b0d73736969","name":"Writing note as Kajiwara"}],"connections":{"On form submission":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Markdown","type":"main","index":0}]]},"set_fields":{"main":[[{"node":"Prepare_Request","type":"main","index":0}]]},"Prepare_Request":{"main":[[{"node":"CreateGoogleDoc1","type":"main","index":0}]]},"Markdown":{"main":[[{"node":"set_fields","type":"main","index":0}]]},"CreateGoogleDoc1":{"main":[[{"node":"Form","type":"main","index":0}]]},"Writing note as Uchida":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Writing note as Kajiwara":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fd1ffdf2-2d9f-4bf3-9af7-a5b81de176cb","triggerCount":1,"tags":[{"createdAt":"2025-06-18T07:58:49.669Z","updatedAt":"2025-07-03T09:01:04.709Z","id":"w3Cnd8StpKPr7ekR","name":"on test"}]}