workflows/ReplyToInfoMail.json
{"createdAt":"2025-06-02T07:32:03.247Z","updatedAt":"2025-07-03T07:26:28.000Z","id":"xIKJhftQPeXM4sGi","name":"ReplyToInfoMail","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":"to:(info@rstreet.co.jp)"},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[0,50],"id":"2ea20b4e-edd6-45d9-8aba-d1caa6df9020","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45b6221b-0ac6-4345-b043-804f3458842f","leftValue":"={{ $json.message.content }}","rightValue":"Yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[596,50],"id":"002710ff-92f2-452e-954e-d23e7daef2a6","name":"If"},{"parameters":{"operation":"removeLabels","messageId":"={{ $('Gmail Trigger').item.json.id }}","labelIds":["INBOX"]},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[894,-100],"id":"43e54c32-4f66-489c-b6a0-d6aefc431ef8","name":"Gmail","webhookId":"178f34bd-a971-45e1-a77e-45f1bc2ec1d9","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"authentication":"oAuth2","select":"channel","channelId":{"__rl":true,"value":"C07P1SQ28S1","mode":"list","cachedResultName":"sales-and-marketing"},"text":"=info@rstreet.co.jp宛にメールが来ております。\n---\n{{ $json.message.content }}\n\n","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.3,"position":[1192,200],"id":"5e54eda7-6822-4d51-ad40-653fed99f907","name":"Slack","webhookId":"63d6b781-9618-4118-9836-13a74c79b308","credentials":{"slackOAuth2Api":{"id":"Yij6pb8FycZpB7Wg","name":"Slack account"}}},{"parameters":{"promptType":"define","text":"=# 営業メール判定システムプロンプト\n\nあなたは営業メール判定AIです。入力されたメール内容を分析し、営業目的のメールかどうかを判定してください。\n\n## 入力されたメール内容\n{{ $json.text }}\n\n## 判定基準\n**営業メール（Yes）の特徴:**\n- サービス・商品の宣伝や紹介\n- 展示会・イベントへの参加案内\n- 商談・打ち合わせの申し込み\n- 自社サービスの売り込み\n- 明確な営業・販売目的がある\n- メールの配信停止に関する内容\n\n**非営業メール（No）の特徴:**\n- 技術的な質問や問い合わせ\n- 既存サービスに関する具体的な質問\n- 情報提供や回答を求める内容\n\n## 出力形式\n営業メールの場合: `Yes`\n営業メールではない場合: `No`\n\n判定結果のみを出力し、理由や説明は不要です。","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[220,50],"id":"ece832d4-8223-4b52-bf2d-d1b2ae874285","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[308,270],"id":"90928935-1834-40ab-b41e-5b08ecbbda33","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"hQrWMZTR28FmPDiJ","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"=# 指示\n受信した## メール本文に関して、以下の観点が明記される文章を作成ください。\n- どの企業に所属している誰からのメールか？\n- メールの送り主の目的は？\n- 受信したユーザーに求められるネクストアクションは？\n\n## メール本文\n{{ $('Gmail Trigger').item.json.text }}\n\n## 出力形式\n【送り主】[メールの送り主]\n【用件】[メールの用件]\n【ネクストアクション】[受信側のネクストアクション]","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[816,200],"id":"a5e3be8e-ee80-499f-a480-b3b075f54122","name":"AI Agent1"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[904,420],"id":"c25edd18-ad25-4d9d-9798-ee06aaece464","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"hQrWMZTR28FmPDiJ","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If":{"main":[[{"node":"Gmail","type":"main","index":0}],[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Slack","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1751521182,"possibleDuplicates":["197cecc58040cd5a","197ceb109cfb625f"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"25e3a22d-ee8b-403b-883e-5cdab104323e","triggerCount":1,"tags":[]}