workflows/Reply Agent_v01.json
{"createdAt":"2025-07-03T05:24:20.535Z","updatedAt":"2025-07-14T06:35:00.000Z","id":"1vVeRsEa5ZgSJfOr","name":"Reply Agent_v01","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// ----- 入力 -----\nconst replyPlain = $input.first().json.output;                    // AI が作った本文(プレーン)\nconst originalHtml = $('When Executed by Another Workflow').first().json.html            // 元メール HTML\n                    || $('When Executed by Another Workflow').first().json.text;          // HTML が無ければテキスト\n\n// ----- HTML 形式に整形 -----\nconst replyHtml = replyPlain\n  .replace(/\\n/g, '<br>');                         // 改行を <br> に\n\n// Gmail が自動で折り畳んでくれる \"gmail_quote\" ブロック\nconst quotedHtml = `\n<br><br>\n<div class=\"gmail_quote\">\n  <blockquote class=\"gmail_quote\"\n    style=\"margin:0 0 0 .8ex;border-left:1px solid #ccc;padding-left:1ex\">\n    ${originalHtml}\n  </blockquote>\n</div>`;\n\n// ----- 出力 -----\n// itemオブジェクトを新規作成\nconst item = {\n  message: replyHtml + quotedHtml             // Gmail ノードの message に渡す\n};\n\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[892,-20],"id":"f6ed5fd5-a8d0-43aa-843d-f1f58a9e27a9","name":"Code"},{"parameters":{"method":"POST","url":"={{ $execution.resumeUrl.split('/').slice(0, 3).join('/') }}/webhook/token-estim8r-data","sendBody":true,"bodyParameters":{"parameters":[{"name":"executionId","value":"={{$execution.id}}"},{"name":"workflowId","value":"={{$workflow.id}}"},{"name":"workflowName","value":"={{$workflow.name}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1332,-20],"id":"19a99e94-2ddc-4914-be0a-47e7bf265bc4","name":"Send Token Estim8r Data"},{"parameters":{"workflowInputs":{"values":[{"name":"text"},{"name":"subject"},{"name":"to_Email"},{"name":"thread_id"},{"name":"html"},{"name":"id"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-80,-20],"id":"d65845a9-60c3-4302-8e04-eac07e3318e4","name":"When Executed by Another Workflow"},{"parameters":{"resource":"draft","subject":"=RE: {{ $('When Executed by Another Workflow').item.json.subject }}","emailType":"html","message":"={{ $json.message }}","options":{"replyTo":"={{ $('When Executed by Another Workflow').item.json.to_Email }}","threadId":"={{ $('When Executed by Another Workflow').item.json.thread_id }}","sendTo":"={{ $('When Executed by Another Workflow').item.json.to_Email }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1112,-20],"id":"9d09a4e5-dc00-4895-b10b-9d95db3c4a11","name":"Create a draft","webhookId":"37cbfefc-986e-4bff-9071-c0b4c410da70","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-60,220],"id":"fe60e689-5343-42c3-af15-556310275773","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"HLetr3K9FMGJtocg","name":"Google Gemini(PaLM) Api account 4"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[604,200],"id":"b82eff63-8ae0-49a0-83d0-ee9894da474c","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"AMG7E0WfDYYQZib8","name":"Google Gemini(PaLM) Api account 5"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When Executed by Another Workflow').item.json.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[100,220],"id":"d1cbbd48-1484-4eb1-b132-b2f98ee4c706","name":"Simple Memory"},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは、株式会社アールストリートに所属する内田として、受信したメールへの返信を自律的に代行するAIエージェントです。単にタスクを処理するだけでなく、受信メールの文脈やニュアンスを深く理解し、人間らしい自然なコミュニケーションを行うことを最優先とします。\n\n# 指示の基本原則\n- 自然な対話: 相手の発言を繰り返すだけの返信や、状況にそぐわない定型文は避けてください。例えば、相手が日時を確定させた場合は、感謝を伝えて確認するに留め、こちらが改めて「確定する」という強い表現は避けます。\n\n# 思考プロセス\n\n以下のステップに従って、タスクを慎重に処理してください。\n\nStep 1: メール内容の精密な読解と目的の特定\nまず、受信メール {{ $json.text }} を注意深く読み、以下の情報を抽出します。\n\n- **相手の主要な目的は何か？** (例: 日程調整、質問、お礼)\n- **具体的な情報は何か？** (例: 提示された候補日時、確定した日時、質問内容)\n- **相手が次に取るアクションは何か？** (例: **「会議リンクを送付する」**、資料を確認する)\n- **こちらに求められているアクションは何か？** (例: 日時の確定、質問への回答、感謝の表明)\n\n**Step 2: 目的別の実行アクションの決定**\n特定した目的に基づき、以下のように実行すべきアクションを決定します。\n\n- **もし目的が「日程調整」の場合:**\n    1. **メールの状況を判断します。**\n        - こちらから提示した候補に対し、相手が日時を**確定**させた状況か？\n        - 相手から新規で候補日が**提案**された状況か？\n        - 日程の**変更依頼**か？\n    2. `Scheduling for Meeting` ツールを実行し、カレンダー情報と照合します。\n    3. **ツールの出力とStep 1で抽出したメールの情報を統合して、返信内容を決定します。**\n\n- **もし目的が「一般的な質問」や「資料請求」の場合:**\n  1. 質問に直接回答できる場合は、簡潔で正確な回答を作成します。\n  2. 資料請求の場合は、承知した旨と、後ほど送付する旨を伝えるメールを作成します。\n  3. 専門的な知識が必要で即答できない場合は、「担当者に確認の上、改めてご連絡いたします。」といった、一次回答のメールを作成します。\n\n- **もし目的が「お礼」や「承諾の連絡」など、簡単な返信でよい場合:**\n  1. 「ご連絡いただきありがとうございます。拝受いたしました。」といった、簡潔な確認メールを作成します。\n\n- **もし目的が「重要または判断に迷う内容」の場合（制約条件参照）:**\n  1. 無理に返信せず、`[要手動確認]` という接頭辞をつけて、状況を報告するテキストを生成します。\n\nStep 3: 状況に応じたメール本文の生成\n決定したアクションに基づき、#役割、#指示の基本原則 を厳守して、最適なメール本文を生成します。","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[140,-20],"id":"1d2e217c-b2dc-4d7b-b5c6-b31f26b19faf","name":"Reply Agent"},{"parameters":{"description":"日程調整を行う際には、このツールを使ってください。","workflowId":{"__rl":true,"value":"ZLJG3SK9UKNo6SuX","mode":"list","cachedResultName":"Scheduling Agent_v01"},"workflowInputs":{"mappingMode":"defineBelow","value":{"text":"={{ $('When Executed by Another Workflow').item.json.text }}"},"matchingColumns":["text"],"schema":[{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[260,220],"id":"090c16cf-e018-42d6-a37f-1c0536e46a23","name":"Scheduling Agent"},{"parameters":{"promptType":"define","text":"=# 指示\nAI Agentノードが作成したテキストから、先方にメールで送るのに相応しい文章のみを抽出してください。\n\n## AI Agentノードが作成したテキスト\n{{ $json.output }}\n\n# 出力例\n\n田中様\n\n平素より大変お世話になっております。\n生成AI教習所の内田でございます。\n\nご提案いただきました候補日程を確認いたしました。\n下記の時間帯でご都合はいかがでしょうか。\n\n2025年07月04日（金曜日）11:00-12:00\n\n何卒よろしくお願い申し上げます。\n\n内田","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[516,-20],"id":"eb0a0617-0b77-42fc-b0ab-74d2b887f6ce","name":"Text抽出"}],"connections":{"Code":{"main":[[{"node":"Create a draft","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Reply Agent","type":"main","index":0}]]},"Create a draft":{"main":[[{"node":"Send Token Estim8r Data","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Reply Agent","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Text抽出","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Reply Agent","type":"ai_memory","index":0}]]},"Reply Agent":{"main":[[{"node":"Text抽出","type":"main","index":0}]]},"Scheduling Agent":{"ai_tool":[[{"node":"Reply Agent","type":"ai_tool","index":0}]]},"Text抽出":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f92ad7e9-9d55-4cc5-b010-9ac71482c775","triggerCount":0,"tags":[{"createdAt":"2025-07-03T07:23:34.599Z","updatedAt":"2025-07-03T09:57:04.256Z","id":"Zey1DTgFzw4vuivz","name":"Secretary Agent"},{"createdAt":"2025-06-18T07:58:49.669Z","updatedAt":"2025-07-03T09:01:04.709Z","id":"w3Cnd8StpKPr7ekR","name":"on test"}]}