workflows/Research Agent_homula.json
{"createdAt":"2025-07-17T12:19:39.459Z","updatedAt":"2025-07-17T12:23:32.000Z","id":"nUQM6zMJ0meiF2MD","name":"Research Agent_homula","active":false,"isArchived":false,"nodes":[{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[200,300],"id":"87237474-f5f3-4d04-9ade-46b7bf6596a4","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"EegFUvMSmnaSrtDO","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"model":"sonar-deep-research","messages":{"message":[{"content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexityTool","typeVersion":1,"position":[580,300],"id":"fc3cd4f2-ca35-4b6b-b15e-03f17615e637","name":"Message a model in Perplexity","credentials":{"perplexityApi":{"id":"tSwqH0DkkfCVIBPI","name":"Perplexity account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[60,80],"id":"8a1e6285-0031-43d7-9a01-93d904c93d6a","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=# 指示\nユーザーの要望に対して、 **必ず** ツールを使って情報収集しながら答えてください。\n\n## ユーザーの要望\n{{ $json.query }}\n\n## ツール\n- \"Message a model in Perplexity\"：リサーチをする際には、このツールを使ってください。","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[280,80],"id":"a0af23bb-0e06-4e48-8d95-d49bf95e5930","name":"Research Agent"}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Research Agent","type":"ai_languageModel","index":0}]]},"Message a model in Perplexity":{"ai_tool":[[{"node":"Research Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Research Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9a208bbc-3a98-45cb-acdc-6a2bce046c17","triggerCount":0,"tags":[{"createdAt":"2025-07-17T12:18:06.544Z","updatedAt":"2025-07-17T12:18:06.544Z","id":"rHPcfSr19Pi3atvf","name":"homula"}]}