workflows/Research Agent_v01.json
{"createdAt":"2025-07-07T02:09:03.231Z","updatedAt":"2025-07-25T06:45:12.000Z","id":"f2rTNBHWtkr3Nh2p","name":"Research Agent_v01","active":false,"isArchived":false,"nodes":[{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[308,350],"id":"4797b625-c66d-4d24-8394-dc23128a5986","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"EegFUvMSmnaSrtDO","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"model":"sonar-deep-research","messages":{"message":[{"content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexityTool","typeVersion":1,"position":[428,350],"id":"330a6216-d6a7-42e8-884a-619e54c4960c","name":"Message a model in Perplexity","credentials":{"perplexityApi":{"id":"HTm4KYxOh4ySM54Z","name":"Perplexity account"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[60,130],"id":"a0f0908a-89a8-4f75-824d-0e3935b2e159","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=# 指示\nユーザーの要望に対して、 **必ず** ツールを使って情報収集しながら答えてください。\n\n## ユーザーの要望\n{{ $json.query }}\n\n## ツール\n- \"Message a model in Perplexity\"：リサーチをする際には、このツールを使ってください。","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[280,130],"id":"02b39ce4-26ef-4eea-91cf-2c2e87c04f0c","name":"Research Agent"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af73644b-c83a-4774-a0a6-c35d8e756785","leftValue":"={{ $json.output }}","rightValue":"Yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1032,130],"id":"3c8b181a-f7e7-4c6a-877e-0a5f6f921bed","name":"If"},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは前段ノード「Research Agent」の出力結果を確認して、ユーザーが期待する出力内容か確認し、「Yes」もしくは「No」とフラグを立てる役割を与えられています。\n\n# 指示\n# Research Agentの出力内容 を確認してください。その内容がユーザーの ## クエリ に対する回答として適切であると判断される場合には、「Yes」と出力してください。そうでない場合には「No」と出力ください。\n\n## クエリ\n{{ $('When Executed by Another Workflow').item.json.query }}\n\n## Research Agentの出力内容\n{{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[656,130],"id":"ea48785b-63be-4c3c-a848-1c02f49261b0","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[744,350],"id":"cbeaf5dc-cb9c-4058-9c24-456f8a0acc95","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"NMm1O0ZYMrpQVDiG","name":"Google Gemini(PaLM) Api account 9"}}},{"parameters":{"assignments":{"assignments":[{"id":"918cd208-7be7-407b-85f6-ff5ac8cc6249","name":"output","value":"={{ $('Research Agent').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1330,-20],"id":"6a51d1bc-8ff0-4c33-bb7f-7b7f1bd21e88","name":"Edit Fields"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1280,500],"id":"b7915c23-98b9-44e9-a4b2-ee013342aa1b","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"EegFUvMSmnaSrtDO","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"model":"sonar-deep-research","messages":{"message":[{"content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexityTool","typeVersion":1,"position":[1400,500],"id":"3ba9b839-3b7b-4319-8cd5-0104f9ec2c30","name":"Message a model in Perplexity1","credentials":{"perplexityApi":{"id":"HTm4KYxOh4ySM54Z","name":"Perplexity account"}}},{"parameters":{"promptType":"define","text":"=# 指示\nユーザーの要望に対して、 **必ず** ツールを使って情報収集しながら答えてください。\n\n## ユーザーの要望\n{{ $('When Executed by Another Workflow').item.json.query }}\n\n## ツール\n- \"Message a model in Perplexity\"：リサーチをする際には、このツールを使ってください。","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1252,280],"id":"0fa42602-fb6d-4d9f-bf25-4c1d5a3092fd","name":"Research Agent1"},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは前段ノード「Research Agent」の出力結果を確認して、ユーザーが期待する出力内容か確認し、「Yes」もしくは「No」とフラグを立てる役割を与えられています。\n\n# 指示\n# Research Agentの出力内容 を確認してください。その内容がユーザーの ## クエリ に対する回答として適切であると判断される場合には、「Yes」と出力してください。そうでない場合には「No」と出力ください。\n\n## クエリ\n{{ $('When Executed by Another Workflow').item.json.query }}\n\n## Research Agentの出力内容\n{{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[1628,280],"id":"538437ae-3fbe-4ee7-8095-2a061ec13e52","name":"AI Agent1"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1716,500],"id":"319b9cb0-450c-4f6d-a591-1e5aa2f440f9","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"NMm1O0ZYMrpQVDiG","name":"Google Gemini(PaLM) Api account 9"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"af73644b-c83a-4774-a0a6-c35d8e756785","leftValue":"={{ $json.output }}","rightValue":"Yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{"ignoreCase":false}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2004,280],"id":"6c7ce1c1-f6ed-4c34-80a2-718db6c7869b","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"918cd208-7be7-407b-85f6-ff5ac8cc6249","name":"output","value":"={{ $('Research Agent1').item.json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2302,130],"id":"ca1c2f3a-f3eb-432f-9a2b-357e2c29d489","name":"Edit Fields1"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2252,650],"id":"821529df-91dc-4fad-9adb-c8bdea7bc5fd","name":"Google Gemini Chat Model4","credentials":{"googlePalmApi":{"id":"EegFUvMSmnaSrtDO","name":"Google Gemini(PaLM) Api account 2"}}},{"parameters":{"model":"sonar-deep-research","messages":{"message":[{"content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexityTool","typeVersion":1,"position":[2372,650],"id":"ed07d24c-725b-4e64-abe5-2e91b6688247","name":"Message a model in Perplexity2","credentials":{"perplexityApi":{"id":"HTm4KYxOh4ySM54Z","name":"Perplexity account"}}},{"parameters":{"promptType":"define","text":"=# 指示\nユーザーの要望に対して、 **必ず** ツールを使って情報収集しながら答えてください。\n\n## ユーザーの要望\n{{ $('When Executed by Another Workflow').item.json.query }}\n\n## ツール\n- \"Message a model in Perplexity\"：リサーチをする際には、このツールを使ってください。","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2224,430],"id":"02afcebb-949c-4e7e-b0bd-552eb13c462a","name":"Research Agent2"},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは前段ノード「Research Agent」の出力結果を確認して、ユーザーが期待する出力内容か確認し、「Yes」もしくは「No」とフラグを立てる役割を与えられています。\n\n# 指示\n# Research Agentの出力内容 を確認してください。その内容がユーザーの ## クエリ に対する回答として適切であると判断される場合には、「Yes」と出力してください。そうでない場合には「No」と出力ください。\n\n## クエリ\n{{ $('When Executed by Another Workflow').item.json.query }}\n\n## Research Agentの出力内容\n{{ $json.output }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[2600,430],"id":"861ec4b5-1d43-4918-a445-0c0d045e5a03","name":"AI Agent2"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[2688,650],"id":"5868fcde-e0a6-4a15-94d9-dc08c9af89ef","name":"Google Gemini Chat Model5","credentials":{"googlePalmApi":{"id":"NMm1O0ZYMrpQVDiG","name":"Google Gemini(PaLM) Api account 9"}}}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Research Agent","type":"ai_languageModel","index":0}]]},"Message a model in Perplexity":{"ai_tool":[[{"node":"Research Agent","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Research Agent","type":"main","index":0}]]},"Research Agent":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"If","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Research Agent1","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Research Agent1","type":"ai_languageModel","index":0}]]},"Message a model in Perplexity1":{"ai_tool":[[{"node":"Research Agent1","type":"ai_tool","index":0}]]},"Research Agent1":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Research Agent2","type":"main","index":0}]]},"Google Gemini Chat Model4":{"ai_languageModel":[[{"node":"Research Agent2","type":"ai_languageModel","index":0}]]},"Message a model in Perplexity2":{"ai_tool":[[{"node":"Research Agent2","type":"ai_tool","index":0}]]},"Research Agent2":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Google Gemini Chat Model5":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2426bcd7-fe1b-4d3e-b04e-c408cd67e25b","triggerCount":0,"tags":[{"createdAt":"2025-07-03T07:23:34.599Z","updatedAt":"2025-07-03T09:57:04.256Z","id":"Zey1DTgFzw4vuivz","name":"Secretary Agent"}]}