workflows/Seminar remid mail_v01.json
{"createdAt":"2025-06-02T05:07:04.235Z","updatedAt":"2025-07-03T10:00:06.000Z","id":"MK71MHRCIHHNLaMM","name":"Seminar remid mail_v01","active":false,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1sU8GTblpVrmNj0SWnzGLNrxdJ_eLXvJTadZ8rjIhwPM","mode":"list","cachedResultName":"2025 6月版ウェビナーフォーム","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sU8GTblpVrmNj0SWnzGLNrxdJ_eLXvJTadZ8rjIhwPM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":421058587,"mode":"list","cachedResultName":"フォームの回答 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1sU8GTblpVrmNj0SWnzGLNrxdJ_eLXvJTadZ8rjIhwPM/edit#gid=421058587"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[516,-60],"id":"8717a614-7483-4e08-a3ce-1834eb7af50f","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":9,"triggerAtMinute":55}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-80,-60],"id":"a0afa3f3-4608-4a1d-b605-8bc117cc5d5d","name":"Schedule Trigger"},{"parameters":{"promptType":"define","text":"=# 指示\n## 本日の日付を## 出力形式に従って出力してください。## 出力形式以外の内容は絶対に出力しないでください。\n\n## 出力例\n### 本日の日付\n2025年June月08日\n### 出力例\n6/8\n\n## 本日の日付\n{{ $json.Year }}年{{ $json.Month }}月{{ $json['Day of month'] }}日\n\n## 出力形式\n6/1","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[140,-60],"id":"0c030189-c7d3-43f2-b032-6fb5b7b62a90","name":"AI Agent"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['生成AI基礎 ウェビナー 参加日'] }}","rightValue":"={{ $('AI Agent').item.json.output }}","operator":{"type":"string","operation":"contains"},"id":"3236d1d0-4a4e-4acf-a295-22dfd1d898a4"}],"combinator":"and"},"renameOutput":true,"outputKey":"生成AI基礎ウェビナー"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d007255e-3e8e-40cd-ad0c-01186e4c6bb1","leftValue":"={{ $json['Difyハンズオン ウェビナー 参加日'] }}","rightValue":"={{ $('AI Agent').item.json.output }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Difyハンズオンウェビナー"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f410bb37-93a3-4318-b23d-385f2e0b2823","leftValue":"={{ $json['AIエージェント「インハウス化」ロードマップ ウェビナー 参加日'] }}","rightValue":"={{ $('AI Agent').item.json.output }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AIエージェント「インハウス化」ロードマップ"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[736,-60],"id":"a4ced18f-83ef-4221-af28-4f1155d5adf5","name":"Switch"},{"parameters":{"sendTo":"={{ $json['ご連絡先（メールアドレス）'] }}","subject":"【リマインド】生成AIウェビナーのご案内","emailType":"text","message":"={{ $json['会社名・所属'] }}\n{{ $json['部署名'] }}\n{{ $json['役職'] }}\n{{ $json['ご氏名'] }}様\n\n平素よりお世話になっております。生成AI教習所でございます。\n\n\nご予約いただいているAIエージェント「インハウス化」ロードマップウェビナーですが本日開催となりますため、リマインドさせていただきました。\n\nお時間になりましたら下記リンクよりウェビナーにご参加ください。\n\nhttps://us06web.zoom.us/j/87851658818\n\n何卒よろしくお願い致します。\n\n生成AI教習所サポートセンター","options":{"ccList":"seminar_support@rstreet.co.jp"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[960,140],"id":"d7bd01d2-193c-4eff-88b6-c70a2881af2e","name":"Gmail2","webhookId":"33c3d9f2-ba5e-4294-b94b-fde5a982f601","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"sendTo":"={{ $json['ご連絡先（メールアドレス）'] }}","subject":"【リマインド】生成AIウェビナーのご案内","emailType":"text","message":"={{ $json['会社名・所属'] }}\n{{ $json['部署名'] }}\n{{ $json['役職'] }}\n{{ $json['ご氏名'] }}様\n\n平素よりお世話になっております。生成AI教習所でございます。\n\nご予約いただいているDifyハンズオンウェビナーですが本日開催となりますため、リマインドさせていただきました。\n\nお時間になりましたら、下記リンクよりウェビナーにご参加ください。\n\nhttps://us06web.zoom.us/j/87851658818\n\n何卒よろしくお願い致します。\n\n生成AI教習所サポートセンター","options":{"ccList":"seminar_support@rstreet.co.jp"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[956,-60],"id":"827e2179-5699-4470-bf3f-3eb10a86941a","name":"Gmail1","webhookId":"33c3d9f2-ba5e-4294-b94b-fde5a982f601","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"sendTo":"={{ $json['ご連絡先（メールアドレス）'] }}","subject":"【リマインド】生成AIウェビナーのご案内","emailType":"text","message":"={{ $json['会社名・所属'] }}\n{{ $json['部署名'] }}\n{{ $json['役職'] }}\n{{ $json['ご氏名'] }}様\n\n平素よりお世話になっております。生成AI教習所でございます。\n\nご予約いただいている生成AI基礎ウェビナーですが本日開催となりますため、リマインドさせていただきました。\n\nお時間になりましたら、下記リンクよりウェビナーにご参加ください。\n\nhttps://us06web.zoom.us/j/87851658818\n\n何卒よろしくお願い致します。\n\n生成AI教習所サポートセンター","options":{"ccList":"seminar_support@rstreet.co.jp"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[956,-260],"id":"b2f31075-a5c3-44f5-88a9-b097bc6bec5b","name":"Gmail","webhookId":"33c3d9f2-ba5e-4294-b94b-fde5a982f601","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[180,160],"id":"43f4f4d0-f121-4b1d-9a37-4c07ddce41ae","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}}],"connections":{"Google Sheets":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Gmail","type":"main","index":0}],[{"node":"Gmail1","type":"main","index":0}],[{"node":"Gmail2","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"42bbd2c1-14a5-471c-9dfa-95af139773a1","triggerCount":1,"tags":[{"createdAt":"2025-06-18T09:35:28.296Z","updatedAt":"2025-07-03T09:34:07.873Z","id":"6LG0nAjoGruqaSGj","name":"published on note"},{"createdAt":"2025-06-18T06:02:05.329Z","updatedAt":"2025-07-03T09:34:21.359Z","id":"gLHg8oyeUvCcFN2z","name":"progress"}]}