workflows/Spreadsheet Agent.json
{"createdAt":"2025-06-06T09:23:25.768Z","updatedAt":"2025-06-30T11:58:29.000Z","id":"BKCvuscmocYYM3rT","name":"Spreadsheet Agent","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{"systemMessage":"あなたは優秀なアシスタントです。\nユーザーの意図する形でスプレッドシートを更新もしくは追加するために各ツールを利用してください。\n一度でもエラーなくツールを利用できたら、”スプレッドシートを更新しました。”と回答ください。","maxIterations":3}},"id":"9af6ab16-0916-4eda-a58c-2c21615c9ee0","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[572,-500],"typeVersion":1.7},{"parameters":{"options":{}},"id":"e4aaf2f0-5a75-49f8-928f-d42b362d4900","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","position":[320,-400],"webhookId":"6a34ec84-459d-4cc4-83b6-06ae4c99dc8f","typeVersion":1.1},{"parameters":{"workflowInputs":{"values":[{"name":"input1"}]}},"id":"93c99575-e013-4311-a380-4bb62064606a","name":"Workflow Input Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","position":[320,60],"typeVersion":1.1},{"parameters":{"text":"=convert expense to JSON:  \n\n{{ $json.input1 }}","attributes":{"attributes":[{"name":"name","description":"person name","required":true},{"name":"tall","type":"number","description":"tall of person","required":true},{"name":"weight","description":"weight of person","required":true},{"name":"resion","description":"resion of person","required":true}]},"options":{}},"id":"92183f15-a564-4e6a-b042-ed08c1565549","name":"Expense text to JSON parser","type":"@n8n/n8n-nodes-langchain.informationExtractor","position":[540,60],"typeVersion":1},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1DpMHuB3mpbBk-2whevNPCjEPrr9PMtVIXm1lFKMLbRo","mode":"list","cachedResultName":"20250417_顧客マスタ_内田編集用","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DpMHuB3mpbBk-2whevNPCjEPrr9PMtVIXm1lFKMLbRo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1596231066,"mode":"list","cachedResultName":"AI Agent Sheet","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1DpMHuB3mpbBk-2whevNPCjEPrr9PMtVIXm1lFKMLbRo/edit#gid=1596231066"},"columns":{"mappingMode":"defineBelow","value":{"名前":"={{ $json.output.name }}","身長":"={{ $json.output.tall }}","体重":"={{ $json.output.weight }}","出身":"={{ $json.output.resion }}"},"matchingColumns":["名前"],"schema":[{"id":"名前","displayName":"名前","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"身長","displayName":"身長","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"体重","displayName":"体重","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"出身","displayName":"出身","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"aa1ebb16-7c87-4317-ad47-ca5d338936c0","name":"Save expense into Google Sheets","type":"n8n-nodes-base.googleSheets","position":[916,60],"notesInFlow":true,"typeVersion":4.5,"credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}},"notes":"Do not forget to Clone the Google Sheet and re-link this node to your sheet!"},{"parameters":{},"id":"d7ca84ad-8d33-440c-9a77-8f730ff3238d","name":"Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[660,-280],"typeVersion":1.3},{"parameters":{"name":"save_expense_in_db","description":"スプレッドシートを更新するために、このツールを使ってください。","workflowId":{"__rl":true,"value":"BKCvuscmocYYM3rT","mode":"list","cachedResultName":"update Spreadsheet"},"workflowInputs":{"value":{"input1":"={{ $json.chatInput }}"},"schema":[{"id":"input1","type":"string","display":true,"removed":false,"required":false,"displayName":"input1","defaultMatch":false,"canBeUsedToMatch":true}],"mappingMode":"defineBelow","matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"id":"0a4de436-208e-407f-b0f3-0548087e3dc1","name":"call n8n workflow for updating ss","type":"@n8n/n8n-nodes-langchain.toolWorkflow","position":[840,-260],"notesInFlow":true,"typeVersion":2,"notes":"Make sure that this SAME workflow is chosen in the Workflow dropdown!"},{"parameters":{"description":"スプレッドシートに値を追加するために、ツールを利用してください。","workflowId":{"__rl":true,"value":"ScEmLwHIIUV84qla","mode":"list","cachedResultName":"append Spreadsheet"},"workflowInputs":{"mappingMode":"defineBelow","value":{"input1":"{{ $json.chatInput }}"},"matchingColumns":["input1"],"schema":[{"id":"input1","displayName":"input1","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1000,-260],"id":"4a8471b5-3eaf-4ac6-8ea6-a69cd733b92f","name":"Call n8n Workflow Tool for appending ss"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[640,280],"id":"197df715-f8a7-4b93-a8f1-a7410791ecd6","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"pkkgMgQ2rSCnE7kR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[560,-300],"id":"eff40a00-9e84-4e91-98b9-d8383b81a8b9","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"pkkgMgQ2rSCnE7kR","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Workflow Input Trigger":{"main":[[{"node":"Expense text to JSON parser","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Expense text to JSON parser":{"main":[[{"node":"Save expense into Google Sheets","type":"main","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"call n8n workflow for updating ss":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Call n8n Workflow Tool for appending ss":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Expense text to JSON parser","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d6337d10-4358-4ac4-8408-203b7d884d51","triggerCount":0,"tags":[{"createdAt":"2025-06-18T07:58:49.669Z","updatedAt":"2025-07-03T09:01:04.709Z","id":"w3Cnd8StpKPr7ekR","name":"on test"}]}