workflows/SsChartToDoc_v01.json
{"createdAt":"2025-07-08T10:27:59.462Z","updatedAt":"2025-07-08T12:53:04.000Z","id":"1taAPEiWATCFbcwh","name":"SsChartToDoc_v01","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-180,-240],"id":"ca788799-e100-47ce-80ee-7c7bf634faf7","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://script.google.com/macros/s/AKfycbyIEbU9oanU0muo8ftl9G_Mxb-NiVeqxWPGu_3jIV-SMpmiFFIBye_qLpFbOTtoOfT_mg/exec","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"spreadsheetId","value":"={{ $json.spreadsheetId }}"},{"name":"documentId","value":"={{ $json.documentId }}"},{"name":"sheetName","value":"charts"},{"name":"insertIndex","value":"={{ $json.insertIndex }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[700,-240],"id":"910c3ce1-b783-46da-a576-5686c999c168","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"fd072c6c-a34b-4acd-ac69-1198547dc841","name":"spreadsheetId","value":"1eofv8PH004zSc3LuNNu9BVrz3NjPJx759iBezQUqYZ4","type":"string"},{"id":"99d9af92-c5c4-451b-a722-0cd535876a66","name":"documentId","value":"1IJtVLxHzt2B59BGOM65Of_98dMKkF49b78QJUxAu894","type":"string"},{"id":"55ee6674-74c4-4665-939c-d47038041f74","name":"insertIndex","value":"={{ $json.commentEndIndex }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[480,-240],"id":"fb765c1a-6715-4476-905f-1ca1af1a87df","name":"Edit Fields"},{"parameters":{"operation":"get","documentURL":"1IJtVLxHzt2B59BGOM65Of_98dMKkF49b78QJUxAu894","simple":false},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[40,-240],"id":"3ab26d5e-7c2f-4ccf-b513-ceadcc7c6cd8","name":"Get a document1","credentials":{"googleDocsOAuth2Api":{"id":"QWyOjlguPBITSjRi","name":"n8n-saas-dev"}}},{"parameters":{"jsCode":"// Google Documentの出力データを取得\nconst documentData = $input.all()[0].json;\nconst content = documentData.body.content;\n\n// 「グラフ」見出しの要素インデックスを検索\nlet elementIndex = null;\n\nfor (let i = 0; i < content.length; i++) {\n  const element = content[i];\n  \n  // paragraph要素をチェック\n  if (element.paragraph && element.paragraph.elements) {\n    for (let j = 0; j < element.paragraph.elements.length; j++) {\n      const textElement = element.paragraph.elements[j];\n      \n      // textRunの内容が「グラフ」を含むかチェック\n      if (textElement.textRun && textElement.textRun.content.includes('グラフ')) {\n        elementIndex = i + 1; // 見出しの次の位置に挿入\n        break;\n      }\n    }\n  }\n  \n  if (elementIndex !== null) break;\n}\n\n// 結果を返す\nreturn [{\n  json: {\n    commentEndIndex: elementIndex || content.length, // 見つからない場合は最後に挿入\n    message: elementIndex ? `グラフ挿入位置: ${elementIndex}` : '最後に挿入されます'\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[260,-240],"id":"76cddf9d-17fd-435d-a9a3-9cfeb546bbeb","name":"Code1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get a document1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Get a document1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f466a497-87bc-4283-87e6-6a99f27c98f9","triggerCount":0,"tags":[]}