workflows/Test Workflow Kimiyori.json
{"createdAt":"2025-06-19T08:49:20.950Z","updatedAt":"2025-06-30T11:58:25.000Z","id":"ISNfiqvAzl4vWpww","name":"Test Workflow Kimiyori","active":false,"isArchived":true,"nodes":[{"parameters":{"mode":"runOnceForEachItem","jsCode":"const encoded = Buffer.from($json.raw).toString('base64');\n\nreturn { encoded };"},"id":"fb4e3153-6a24-41f5-be72-adf349254473","name":"Convert raw to base64","type":"n8n-nodes-base.code","position":[1120,-160],"typeVersion":2},{"parameters":{"method":"POST","url":"https://www.googleapis.com/gmail/v1/users/me/drafts","authentication":"predefinedCredentialType","nodeCredentialType":"gmailOAuth2","sendBody":true,"specifyBody":"json","jsonBody":"={\"message\":{\"raw\":\"{{ $json.encoded }}\", \"threadId\": \"{{ $('Map fields for further processing').item.json[\"threadId\"] }}\"}}","options":{}},"id":"fb5ab33b-aa24-4643-a32b-377ec9b51f8d","name":"Add email draft to thread","type":"n8n-nodes-base.httpRequest","position":[1380,-160],"typeVersion":4.1,"credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"resource":"thread","operation":"removeLabels","threadId":"={{ $('Map fields for further processing').item.json[\"threadId\"] }}","labelIds":"={{ \"Label_1009547477038132618\" }}"},"id":"3826d2f1-5b6d-453f-9117-0ca68c713fc0","name":"Remove AI label from email","type":"n8n-nodes-base.gmail","position":[1620,-160],"typeVersion":2.1,"webhookId":"677e2616-80da-41d7-98ce-75a754172310","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"assignments":{"assignments":[{"id":"a77b2d79-1e70-410c-a657-f3d618154ea1","name":"response","type":"string","value":"={{ $json.data.outputs.result }}"},{"id":"20850cac-f82c-4f02-84f0-3de31871a5b8","name":"threadId","type":"string","value":"={{ $('Get single message content').item.json[\"threadId\"] }}"},{"id":"d270c18e-39a0-4d87-85f0-cc1ffc9c10ff","name":"to","type":"string","value":"={{ $('Get single message content').item.json[\"from\"][\"text\"] }}"},{"id":"30acb50b-bdde-44bf-803c-76e0ae65f526","name":"subject","type":"string","value":"={{ $('Get single message content').item.json[\"subject\"] }}"},{"id":"88914536-8c25-4877-8914-feab5e32fae3","name":"messageId","type":"string","value":"={{ $('Get single message content').item.json[\"id\"] }}"}]},"options":{}},"id":"c0bd4e3f-a77d-4e68-9d4e-dc9a8164fd3a","name":"Map fields for further processing","type":"n8n-nodes-base.set","position":[200,-160],"typeVersion":3.3},{"parameters":{"mode":"markdownToHtml","markdown":"={{ $json.response }}","destinationKey":"response","options":{"simpleLineBreaks":false}},"id":"0c9e4d64-3032-4f7e-aa7d-e92204a80de9","name":"Convert response to HTML","type":"n8n-nodes-base.markdown","position":[440,-160],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"913e9cb1-10de-4637-bf48-40272c7c7fe3","name":"raw","type":"string","value":"=To: {{ $('Get single message content').item.json.from.value[0].address }}\nSubject: {{ $json.encodedSubject }}\nContent-Type: text/html; charset=\"utf-8\"\n\n{{ $json.response }}\n\n<div class=\"gmail_quote\">\n<blockquote class=\"gmail_quote\" style=\"margin: 0px 0px 0px 0.8ex; border-left: 1px solid rgb(204, 204, 204); padding-left: 1ex;\">\n {{ $('Get single message content').item.json.html }}\n</blockquote>\n</div>"}]},"options":{}},"id":"4643c170-b0f2-4ed7-a3d2-0c5474b47bc9","name":"Build email raw","type":"n8n-nodes-base.set","position":[900,-160],"typeVersion":3.3},{"parameters":{"content":"### Schedule trigger and get emails\nRun the workflow in equal intervals and check for threads with specific labels (trigger labels).","height":313.3056033573073,"width":451.41125086385614},"id":"af958aaf-1f24-481b-a4ad-b4d98d7a38f5","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[-1520,-280],"typeVersion":1},{"parameters":{"content":"### Generate reply\nTransfer email content to Dify and return AI-generated reply.\n","height":313.7892229150129,"width":381.6458068293894},"id":"eb0a9681-3372-431a-9fe2-3bb7441249f5","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[-260,-280],"typeVersion":1},{"parameters":{"content":"### Create HTML message\nConvert incoming Markdown from OpenAI Assistant into HTML content.","height":314.75072291501283,"width":219.88389496558554},"id":"bbaa08f8-27ef-4c40-9f44-43081a09f56f","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[380,-280],"typeVersion":1},{"parameters":{"content":"### Build and encode message\nCreate raw message in RFC standard and encode it into base64 string (please see [Gmail API reference](https://developers.google.com/gmail/api/reference/rest/v1/users.drafts/create) for more details).","height":314.75072291501283,"width":676.0754642863596},"id":"3ee4b459-8186-4ba6-847f-c3eb61fe0a59","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","position":[640,-280],"typeVersion":1},{"parameters":{"content":"### Insert reply draft\nAdd reply draft from OpenAI Assistant to specific Gmail thread.","height":314.75072291501283,"width":219.88389496558554},"id":"0f3d05e3-2297-405b-8913-fc374995767a","name":"Sticky Note8","type":"n8n-nodes-base.stickyNote","position":[1320,-280],"typeVersion":1},{"parameters":{"content":"### Remove label\nDelete trigger label from the Gmail thread.","height":314.75072291501283,"width":219.88389496558554},"id":"ef2789f3-cc96-436a-8d0d-ada3f768ed13","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","position":[1560,-280],"typeVersion":1},{"parameters":{"resource":"thread","returnAll":true,"filters":{"labelIds":"={{ \"Label_1009547477038132618\" }}"}},"id":"b3c4c8ae-c77b-4333-92e8-a01d484a4e6d","name":"Get threads with specific labels","type":"n8n-nodes-base.gmail","position":[-1240,-160],"typeVersion":2.1,"webhookId":"ecdce0d3-c438-46c6-8f14-0a3875748776"},{"parameters":{"options":{}},"id":"a179daef-f866-4b9a-ba6e-65007d0efdd7","name":"Loop over threads","type":"n8n-nodes-base.splitInBatches","position":[-980,-160],"typeVersion":3},{"parameters":{"resource":"thread","operation":"get","threadId":"={{ $json.id }}","options":{"returnOnlyMessages":true}},"id":"7e8bbacc-3661-4021-b751-f791a62e791a","name":"Get thread messages","type":"n8n-nodes-base.gmail","position":[-720,80],"typeVersion":2.1,"webhookId":"38dc4ffd-64c2-44dc-99b9-93d4091dde15","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"keep":"lastItems"},"id":"28437659-de19-4206-9cb5-9124dfdae4c2","name":"Return last message in thread","type":"n8n-nodes-base.limit","position":[-500,80],"typeVersion":1},{"parameters":{"operation":"get","messageId":"={{ $json.id }}","simple":false,"options":{}},"id":"c91c6f95-ed01-43e3-b5b6-6de13068e4d1","name":"Get single message content","type":"n8n-nodes-base.gmail","position":[-720,-280],"typeVersion":2.1,"webhookId":"dbdce935-648c-4275-8a29-5f2d68080919","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"content":"### Return message content\nRetrieve content of the last message in the thread.","height":314.75072291501283,"width":219.88389496558554},"id":"6a6f4d64-2d29-4ee9-8164-8bdfb940ca56","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","position":[-780,-400],"typeVersion":1},{"parameters":{"content":"### Get last message from thread\nReturn all messages for a single thread and pass for further processing only the last one.","height":314.75072291501283,"width":470.88389496558545},"id":"4499d412-a9a5-4e70-9cd3-8a0120901781","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","position":[-780,-60],"typeVersion":1},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"id":"75d190bd-619a-47e2-80bf-e4ee6637e41d","name":"Schedule trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-1460,-160],"typeVersion":1.1},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// 前のノードの出力から 'text' フィールドを取得\nconst text = $input.item.json.text || '';\n\n// 特殊文字をエスケープする関数\nfunction escapeJsonString(str) {\n  return str.replace(/\\\\/g, '\\\\\\\\')\n            .replace(/\\n/g, '\\\\n')\n            .replace(/\"/g, '\\\\\"')\n            .replace(/\\r/g, '\\\\r')\n            .replace(/\\t/g, '\\\\t')\n            .replace(/\\b/g, '\\\\b')\n            .replace(/\\f/g, '\\\\f');\n}\n\n// 'text' フィールドをエスケープ\nconst sanitizedText = escapeJsonString(text);\n\n// 置換後の 'sanitizedText' を出力\nreturn {\n  json: {\n    sanitizedText: sanitizedText\n  }\n};"},"id":"d41f5fb1-f551-4e23-b870-411c5245cda9","name":"sanitizedText","type":"n8n-nodes-base.code","typeVersion":2,"position":[-460,-220]},{"parameters":{"method":"POST","url":"https://example.com/v1/workflows/run","authentication":"genericCredentialType","genericAuthType":"httpCustomAuth","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"content-type\": \"application/json\"\n}","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"inputs\":{\n    \"text\" : \"{{ $json.sanitizedText }}\"\n  },\n  \"response_mode\": \"blocking\",\n  \"user\": \"username\"\n}","options":{}},"id":"2e89a5bf-6244-437d-8bd4-f57477b6d4b1","name":"Dify HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-120,-160]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Base64エンコード関数\nfunction base64EncodeUnicode(str) {\n    return Buffer.from(str).toString('base64');\n}\n\n// 件名のエンコード\nconst encodedSubject = `=?UTF-8?B?${base64EncodeUnicode($json.subject)}?=`;\n\n// エンコードされた値を出力\nreturn {\n    json: {\n        ...$json,\n        encodedSubject\n    }\n};"},"id":"3eb121cf-2c75-4d0c-8fb4-4fe029d59748","name":"Encode Subject","type":"n8n-nodes-base.code","typeVersion":2,"position":[700,-160]}],"connections":{"Build email raw":{"main":[[{"node":"Convert raw to base64","type":"main","index":0}]]},"Loop over threads":{"main":[[{"node":"Get single message content","type":"main","index":0}],[{"node":"Get thread messages","type":"main","index":0}]]},"Get thread messages":{"main":[[{"node":"Return last message in thread","type":"main","index":0}]]},"Convert raw to base64":{"main":[[{"node":"Add email draft to thread","type":"main","index":0}]]},"Convert response to HTML":{"main":[[{"node":"Encode Subject","type":"main","index":0}]]},"Add email draft to thread":{"main":[[{"node":"Remove AI label from email","type":"main","index":0}]]},"Get single message content":{"main":[[{"node":"sanitizedText","type":"main","index":0}]]},"Return last message in thread":{"main":[[{"node":"Loop over threads","type":"main","index":0}]]},"Get threads with specific labels":{"main":[[{"node":"Loop over threads","type":"main","index":0}]]},"Map fields for further processing":{"main":[[{"node":"Convert response to HTML","type":"main","index":0}]]},"Schedule trigger":{"main":[[{"node":"Get threads with specific labels","type":"main","index":0}]]},"sanitizedText":{"main":[[{"node":"Dify HTTP Request","type":"main","index":0}]]},"Dify HTTP Request":{"main":[[{"node":"Map fields for further processing","type":"main","index":0}]]},"Encode Subject":{"main":[[{"node":"Build email raw","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"f6638956-0920-4c34-b828-da0c2db2be82","triggerCount":0,"tags":[{"createdAt":"2025-06-18T07:58:49.669Z","updatedAt":"2025-07-03T09:01:04.709Z","id":"w3Cnd8StpKPr7ekR","name":"on test"}]}