workflows/Trigger by Notion.json
{"createdAt":"2025-07-22T06:26:32.422Z","updatedAt":"2025-07-29T05:56:14.000Z","id":"1eV0P2JJKo1F6OVo","name":"Trigger by Notion","active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"databaseId":{"__rl":true,"value":"1ff1746d-b916-80ec-822e-e6e10cc8ba67","mode":"list","cachedResultName":"朝会DB","cachedResultUrl":"https://www.notion.so/1ff1746db91680ec822ee6e10cc8ba67"},"simple":false},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[0,0],"id":"fcc91bca-d73f-4b33-b8af-24bef6a32bf3","name":"Notion Trigger","credentials":{"notionApi":{"id":"QqSdrPma5jBH8adF","name":"Notion account"}}},{"parameters":{"resource":"block","operation":"getAll","blockId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"returnAll":true,"fetchNestedBlocks":true,"simplifyOutput":false},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[240,0],"id":"b43b810f-807d-40d3-b982-0e2e6655e17c","name":"Get many child blocks","credentials":{"notionApi":{"id":"QqSdrPma5jBH8adF","name":"Notion account"}}},{"parameters":{"jsCode":"// Notionブロックからテキストを抽出し整形\nlet fullText = '';\nlet title = '';\n\n// 最初のアイテムからページタイトルを取得\nconst firstItem = $('Notion Trigger1').first();\nif (firstItem.json.properties && firstItem.json.properties.Name) {\n  title = firstItem.json.properties.Name.title[0]?.plain_text || '無題のドキュメント';\n} else {\n  title = '朝会メモ_' + new Date().toISOString().split('T')[0];\n}\n\n// 各ブロックからテキストを抽出\nfor (const item of $input.all()) {\n  const block = item.json;\n  \n  switch (block.type) {\n    case 'paragraph':\n      if (block.paragraph && block.paragraph.rich_text) {\n        const text = block.paragraph.rich_text.map(rt => rt.plain_text).join('');\n        if (text.trim()) {\n          fullText += text + '\\n\\n';\n        }\n      }\n      break;\n      \n    case 'heading_1':\n      if (block.heading_1 && block.heading_1.rich_text) {\n        const text = block.heading_1.rich_text.map(rt => rt.plain_text).join('');\n        fullText += '# ' + text + '\\n\\n';\n      }\n      break;\n      \n    case 'heading_2':\n      if (block.heading_2 && block.heading_2.rich_text) {\n        const text = block.heading_2.rich_text.map(rt => rt.plain_text).join('');\n        fullText += '## ' + text + '\\n\\n';\n      }\n      break;\n      \n    case 'heading_3':\n      if (block.heading_3 && block.heading_3.rich_text) {\n        const text = block.heading_3.rich_text.map(rt => rt.plain_text).join('');\n        fullText += '### ' + text + '\\n\\n';\n      }\n      break;\n      \n    case 'bulleted_list_item':\n      if (block.bulleted_list_item && block.bulleted_list_item.rich_text) {\n        const text = block.bulleted_list_item.rich_text.map(rt => rt.plain_text).join('');\n        fullText += '• ' + text + '\\n';\n      }\n      break;\n      \n    case 'numbered_list_item':\n      if (block.numbered_list_item && block.numbered_list_item.rich_text) {\n        const text = block.numbered_list_item.rich_text.map(rt => rt.plain_text).join('');\n        fullText += '1. ' + text + '\\n';\n      }\n      break;\n      \n    case 'to_do':\n      if (block.to_do && block.to_do.rich_text) {\n        const text = block.to_do.rich_text.map(rt => rt.plain_text).join('');\n        const checkbox = block.to_do.checked ? '☑' : '☐';\n        fullText += checkbox + ' ' + text + '\\n';\n      }\n      break;\n      \n    case 'quote':\n      if (block.quote && block.quote.rich_text) {\n        const text = block.quote.rich_text.map(rt => rt.plain_text).join('');\n        fullText += '> ' + text + '\\n\\n';\n      }\n      break;\n      \n    case 'code':\n      if (block.code && block.code.rich_text) {\n        const text = block.code.rich_text.map(rt => rt.plain_text).join('');\n        fullText += '```\\n' + text + '\\n```\\n\\n';\n      }\n      break;\n  }\n}\n\n// 空の場合のフォールバック\nif (!fullText.trim()) {\n  fullText = 'このページにはコンテンツがありませんでした。';\n}\n\nreturn {\n  json: {\n    title: title,\n    content: fullText.trim(),\n    timestamp: new Date().toISOString()\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[820,-140],"id":"d55e4b57-f2ae-4bcd-a5c1-fe6777e60304","name":"Format Text Content"},{"parameters":{"title":"={{ $json.title }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1060,-140],"id":"d0a3c21a-dbc0-4ef5-8b13-d4450f05a570","name":"Create Google Doc"},{"parameters":{"operation":"move","fileId":{"__rl":true,"value":"={{ $json.documentId }}","mode":"id"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"your-folder-id-here","mode":"list","cachedResultName":"朝会メモフォルダ"}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1300,-140],"id":"9cde0f94-5152-46a2-a350-fbb07b465b21","name":"Move to Folder"},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"databaseId":{"__rl":true,"value":"1ff1746d-b916-80ec-822e-e6e10cc8ba67","mode":"list","cachedResultName":"朝会DB","cachedResultUrl":"https://www.notion.so/1ff1746db91680ec822ee6e10cc8ba67"},"simple":false},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[340,-140],"id":"962b1564-7fee-49bd-8fed-17ef028c99b0","name":"Notion Trigger1","credentials":{"notionApi":{"id":"QqSdrPma5jBH8adF","name":"Notion account"}}},{"parameters":{"resource":"block","operation":"getAll","blockId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"returnAll":true,"fetchNestedBlocks":true,"simplifyOutput":false},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[580,-140],"id":"5f06d49e-5ab9-44e3-8634-bdbfd190fbab","name":"Get many child blocks1","credentials":{"notionApi":{"id":"QqSdrPma5jBH8adF","name":"Notion account"}}}],"connections":{"Notion Trigger":{"main":[[{"node":"Get many child blocks","type":"main","index":0}]]},"Get many child blocks":{"main":[[]]},"Format Text Content":{"main":[[{"node":"Create Google Doc","type":"main","index":0}]]},"Create Google Doc":{"main":[[{"node":"Move to Folder","type":"main","index":0}]]},"Notion Trigger1":{"main":[[{"node":"Get many child blocks1","type":"main","index":0}]]},"Get many child blocks1":{"main":[[{"node":"Format Text Content","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"915ae3b1-e699-4b5e-ab31-2851d325b2f2","triggerCount":0,"tags":[]}