workflows/Uchida-san's schedule_test.json
{"createdAt":"2025-06-24T02:55:24.187Z","updatedAt":"2025-06-30T07:24:09.000Z","id":"MP6MFZeSzU9zl7TX","name":"Uchida-san's schedule_test","active":false,"isArchived":true,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"input"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"9b314640-b9d4-4009-b22f-c870069e9ac9","name":"When Executed by Another Workflow"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"ruchida@rstreet.co.jp","mode":"list","cachedResultName":"ruchida@rstreet.co.jp"},"timeMax":"={{ $now.plus({ month: 1 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[220,0],"id":"c2d68596-0a14-443a-a5ce-f110887e8771","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"RWBDOCdnjcMlP7IO","name":"Google Calendar account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=次の1ヶ月の予定一覧です（日時はすべて JST）。\n\n{{ $json.events\n    .sort((a, b) => a.start.dateTime.localeCompare(b.start.dateTime))\n    .map(e => `• ${e.summary} ｜ ${e.start.dateTime} 〜 ${e.end.dateTime}`)\n    .join('\\n') }}\n\n各日の予定時間帯とイベント名を箇条書きでまとめてください。"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[660,0],"id":"0b21fe2c-0904-4abe-8a4e-b37141da49c3","name":"Message a model","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"events","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[440,0],"id":"352d52b6-c9cf-4e8e-8ab0-e5e181a03a56","name":"Aggregate"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Message a model","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1c100676-c47a-4678-8e6a-ec600c28cb06","triggerCount":0,"tags":[]}