workflows/Uchida san's schedule.json
{"createdAt":"2025-06-19T07:49:02.102Z","updatedAt":"2025-07-03T07:25:43.000Z","id":"VYxpfBhlme8n3qAV","name":"Uchida san's schedule","active":false,"isArchived":true,"nodes":[{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"events","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[480,240],"id":"385fbcdf-3ed9-4f30-a36e-9808888b8955","name":"Aggregate"},{"parameters":{"workflowInputs":{"values":[{"name":"Input"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[40,240],"id":"57bfaf9f-beeb-4dfa-ad51-21ade67f18ce","name":"When Executed by Another Workflow"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"ruchida@rstreet.co.jp","mode":"list","cachedResultName":"ruchida@rstreet.co.jp"},"returnAll":true,"options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[260,240],"id":"e5c2462a-d72e-459f-b22c-3b73eed6b670","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"RWBDOCdnjcMlP7IO","name":"Google Calendar account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=あなたはカレンダー分析の専門家です。以下の予定一覧から、ユーザーの空き時間を分析して構造化されたJSON形式で出力してください。\n\n# 入力データ（JST時刻）:\n{{ $json.events\n    .sort((a, b) => a.start.dateTime.localeCompare(b.start.dateTime))\n    .map(e => `• ${e.summary} ｜ ${e.start.dateTime} 〜 ${e.end.dateTime}`)\n    .join('\\n') }}\n\n# 出力形式:\n以下のJSON構造で出力してください：\n\n```json\n{\n  \"analysis_date\": \"YYYY-MM-DD\",\n  \"timezone\": \"JST\",\n  \"available_slots\": [\n    {\n      \"date\": \"YYYY-MM-DD\",\n      \"day_of_week\": \"月曜日\",\n      \"slots\": [\n        {\n          \"start_time\": \"HH:MM\",\n          \"end_time\": \"HH:MM\",\n          \"duration_minutes\": 120,\n          \"description\": \"午前の空き時間\"\n        }\n      ]\n    }\n  ]\n}\n```\n\n上記の条件に従って、実用的で分かりやすい空き時間分析を行ってください。","role":"system"}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[680,240],"id":"761295d5-0e62-4e75-a900-02be801d17e5","name":"Message a model","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}}],"connections":{"Aggregate":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Message a model":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1749553156,"possibleDuplicates":["197597ea59a0acde"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7c906ef9-6525-4d42-94dc-3b34173d0d6c","triggerCount":1,"tags":[{"createdAt":"2025-06-18T09:35:28.296Z","updatedAt":"2025-07-03T09:34:07.873Z","id":"6LG0nAjoGruqaSGj","name":"published on note"},{"createdAt":"2025-06-18T06:02:05.329Z","updatedAt":"2025-07-03T09:34:21.359Z","id":"gLHg8oyeUvCcFN2z","name":"progress"}]}