workflows/Update SS from Notion.json
{"createdAt":"2025-06-06T07:42:37.325Z","updatedAt":"2025-06-10T07:27:42.000Z","id":"5PlJcQ6mYlVqTPKQ","name":"Update SS from Notion","active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[0,0],"id":"792db9d4-25c1-4140-9606-66fb15038316","name":"When chat message received","webhookId":"5bee352d-dcb1-4ffc-ac75-bf08f465f3ea"},{"parameters":{"promptType":"define","text":"={{ $('When chat message received').item.json.chatInput }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[312,0],"id":"57289359-8d49-4635-a1b9-9d198a8603ca","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-preview-05-20","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[220,220],"id":"d3c49dcf-7a9c-45db-a798-3c98b149f8e8","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"pkkgMgQ2rSCnE7kR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('When chat message received').item.json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[340,220],"id":"5d8b3461-03ae-400e-ace9-1b5f7df8fc7b","name":"Simple Memory"},{"parameters":{"description":"スプレッドシートを更新するために、このツールを呼び出してください。","workflowId":{"__rl":true,"value":"BKCvuscmocYYM3rT","mode":"list","cachedResultName":"20250606_test_AI Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["input1"],"schema":[{"id":"input1","displayName":"input1","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[480,220],"id":"8695f9ec-eb78-46f7-b792-20b12bf64579","name":"Call n8n Workflow Tool"},{"parameters":{},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,400],"id":"d37f1ed3-e117-47c9-9c1c-25e377e6a7de","name":"When Executed by Another Workflow"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Call n8n Workflow Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f1772404-35fa-42e9-84fe-7af47ed9c8d6","triggerCount":0,"tags":[]}