workflows/Webinar Analysis Agent copy.json
{"createdAt":"2025-06-18T08:14:12.043Z","updatedAt":"2025-06-30T11:58:05.000Z","id":"N4C5gNsmmq1Uo0iW","name":"Webinar Analysis Agent copy","active":false,"isArchived":true,"nodes":[{"parameters":{"promptType":"define","text":"=# 目的\nGoogle Sheetsノード（May_Webinar_Results）に格納された **2025年5月開催ウェビナーの参加データ** を分析し、次の観点で洞察をまとめた\nレポート（プレーンテキスト／箇条書き）を生成する。  \n- 曜日別の参加者数  \n- 時間帯別（午前 / 午後 / 夜）の参加傾向  \n- 所属企業カテゴリ別の参加比率  \n- 役職別の参加比率  \n- 主要なトレンドと示唆（次回開催への提案を含む）\n\n# ツール使用指針\n- Google Sheetsノード  \n  - シートID: May_Webinar_Results  \n  - 取得範囲: ヘッダー行を含む全行・全列  \n- SerpAPI（必要時のみ）  \n  - 参加企業の正式業種や企業規模を補完する際に利用可  \n  - 外部検索結果はレポート末尾の「参考情報」に箇条書きで簡潔に列挙する\n\n# 分析ステップ\n1. シートを読み込み、必要列を抽出  \n2. SessionDate → 曜日、SessionTime → 時間帯（午前=05-12時 / 午後=12-18時 / 夜=18-24時）へ変換  \n3. 集計  \n   - 曜日別参加者数  \n   - 時間帯別参加者数  \n   - Industry列を用いた業種分布  \n   - Role列を用いた役職分布  \n4. インサイト生成（トレンド・相関・改善提案）  \n5. プレーンテキスト形式でレポートを作成（下記フォーマット厳守）\n\n# 出力フォーマット（プレーンテキスト例）\n5月ウェビナー分析レポート\n--------------------------------------------------\n1. 参加者サマリー  \n   - 総参加者数: NNN名  \n   - 開催回数  : X回  \n\n2. 曜日別参加状況  \n   - 月: 00名（00%）  \n   - 火: 00名（00%）  \n   - ...  \n   - Insight: 〇〇（最大2行）\n\n3. 時間帯別参加状況  \n   - 午前: 00名（00%）  \n   - 午後: 00名（00%）  \n   - 夜  : 00名（00%）  \n   - Insight: 〇〇\n\n4. 業種別参加比率  \n   - IT      : 00名（00%）  \n   - 製造    : 00名（00%）  \n   - 教育    : 00名（00%）  \n   - その他  : 00名（00%）\n\n5. 役職別参加比率  \n   - 経営層      : 00名（00%）  \n   - 部長クラス  : 00名（00%）  \n   - 担当者      : 00名（00%）\n\n6. 全体インサイトと提案  \n   - 最適開催曜日 : 〇〇  \n   - 推奨時間帯   : 〇〇  \n   - ターゲット企業像 : 〇〇  \n   - 次回改善ポイント : 〇〇\n\n7. 参考情報（SerpAPI使用時のみ）  \n   - 例）<企業名> : 従業員数〇〇名、業種〇〇\n--------------------------------------------------\n\n# 注意事項\n- 出力は必ず日本語・プレーンテキスト。改行とインデントで見やすく箇条書きにする  \n- データ欠損があっても推測や外部検索で補完し、必ずレポートを返す  \n- 個人情報は統計値のみ記載し、個別の氏名やメールを出力しない  \n- ツールエラー時も処理可能な範囲でレポートを返し、エラーメッセージは表示しない\n","options":{"passthroughBinaryImages":false}},"id":"214915d6-fa66-4b8b-bcd5-952f1bacaf82","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","position":[1132,120],"typeVersion":1.8},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1100,340],"id":"60c4d803-12b5-4b41-b2c1-67318dffb19e","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"pkkgMgQ2rSCnE7kR","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[880,120],"id":"d271acf9-b8a9-4bd1-a303-49f0f7f520d7","name":"When clicking ‘Test workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1T0vfLl6YP_Teavm2j36xjOclrEQ4KcFXFDgfyyReeQc","mode":"list","cachedResultName":"ウェビナー参加フォーム（回答）","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T0vfLl6YP_Teavm2j36xjOclrEQ4KcFXFDgfyyReeQc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":203937854,"mode":"list","cachedResultName":"日程表(5月)","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T0vfLl6YP_Teavm2j36xjOclrEQ4KcFXFDgfyyReeQc/edit#gid=203937854"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[1220,340],"id":"eede24c9-f297-4872-a3a5-ed679ef8c059","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}}},{"parameters":{"resource":"block","blockId":{"__rl":true,"value":"2161746db916800c90b2f648032ca700","mode":"id"},"blockUi":{"blockValues":[{"type":"toggle","textContent":"=5月ウェビナーレポート"}]}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1540,120],"id":"f77fe328-14d1-48c7-abc4-df5c87385975","name":"Notion","credentials":{"notionApi":{"id":"QqSdrPma5jBH8adF","name":"Notion account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.toolSerpApi","typeVersion":1,"position":[1340,340],"id":"f377c53e-a870-4739-9b91-7e8d8f18fd3e","name":"SerpAPI","credentials":{"serpApi":{"id":"FgWRYS4uv3YayDyC","name":"SerpAPI account"}}},{"parameters":{"resource":"block","blockId":{"__rl":true,"value":"={{ $json.results[0].id }}","mode":"id"},"blockUi":{"blockValues":[{"textContent":"={{ $('AI Agent1').item.json.output }}"}]}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[1760,120],"id":"a1d29468-5144-4fdf-b507-877bbd783963","name":"Notion1","credentials":{"notionApi":{"id":"QqSdrPma5jBH8adF","name":"Notion account"}}}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"AI Agent1":{"main":[[{"node":"Notion","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Google Sheets":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"SerpAPI":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"Notion":{"main":[[{"node":"Notion1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9f389219-91b5-4582-9247-fe6713ed64a0","triggerCount":0,"tags":[{"createdAt":"2025-06-18T07:58:49.669Z","updatedAt":"2025-07-03T09:01:04.709Z","id":"w3Cnd8StpKPr7ekR","name":"on test"}]}