workflows/Writing note about other.json
{"createdAt":"2025-06-26T04:58:51.408Z","updatedAt":"2025-07-03T09:35:09.000Z","id":"aQDoFO5l8cFZeaWb","name":"Writing note about other","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Input"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"1dbeffc2-b265-44ed-946d-e7e9e8f1fa4c","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","documentURL":"1jVfvR5AEqdK4sbPcDMYNwkXkptnWDTxOLnmAYXMkPxE"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"c0efb7e3-7e3a-4e87-9d80-ef841da395a6","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"dCf3uU05KsBVVmht","name":"Google Docs account"}}},{"parameters":{"assignments":{"assignments":[{"id":"3b70235b-6c7d-47d7-bfd7-846916840c7e","name":"content","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"478eb69b-ad23-4120-8888-cdae976e9f73","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4b68cfa0-0fae-4624-8de1-586c501838ab","triggerCount":0,"tags":[{"createdAt":"2025-07-03T09:34:43.179Z","updatedAt":"2025-07-03T09:34:43.179Z","id":"hYhvZiYkDJFZv9gD","name":"Auto writing \"note\""}]}