workflows/Writing note as Uchida.json
{"createdAt":"2025-06-25T07:08:16.420Z","updatedAt":"2025-07-03T09:22:46.000Z","id":"D3se8Dxy5CL2oVCc","name":"Writing note as Uchida","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Input"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"b32551bd-5df9-46c1-913e-233a5e9e30cc","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","documentURL":"14VD1RFKFqyBlkj94MJovyHmPDiH9RzO9jAZs5fS3P0M"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"e76e122a-24d9-44f2-a22d-c948c6eeb020","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"qawVFxyF0OvSWiCs","name":"Google Docs account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"3b70235b-6c7d-47d7-bfd7-846916840c7e","name":"content","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"8473507f-d346-466f-b5b1-989d583264b8","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"797a8271-2128-4cbf-9992-ac23f116734b","triggerCount":0,"tags":[{"createdAt":"2025-07-03T08:44:53.259Z","updatedAt":"2025-07-03T08:44:53.259Z","id":"WQ2os50uMIbKDpUI","name":"for Toyo様"}]}