workflows/Writing note as Kajiwara.json
{"createdAt":"2025-06-25T07:33:50.598Z","updatedAt":"2025-07-03T09:24:55.000Z","id":"6ZegQYwBDJjfxUtt","name":"Writing note as Kajiwara","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Input"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"426c4fdf-2698-4776-8083-14e428813f9d","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","documentURL":"1e9DeT6YFYmmY-JYbw-tnh_R9wfqema05W4Zj18jNCFo"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"e58a3ce1-4090-4e5f-b976-5128394c902e","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"qawVFxyF0OvSWiCs","name":"Google Docs account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"3b70235b-6c7d-47d7-bfd7-846916840c7e","name":"content","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"c9b7a269-e5c1-4d0d-9edc-a6cec797617e","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a548e7ab-8750-4bdb-a3da-8ee3800b881e","triggerCount":0,"tags":[{"createdAt":"2025-07-03T08:44:53.259Z","updatedAt":"2025-07-03T08:44:53.259Z","id":"WQ2os50uMIbKDpUI","name":"for Toyo様"}]}