workflows/Writing note as Yamada.json
{"createdAt":"2025-06-25T09:58:59.127Z","updatedAt":"2025-07-03T10:01:47.000Z","id":"ZLpv02c6M5qIKU6z","name":"Writing note as Yamada","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Input"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"91d8d820-68b1-43a7-8bee-51830da00a30","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","documentURL":"1chhn437fNVJrjLuQTO_lGkZGqwp1YsuQGHXfTyQ-xaY"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"bf9b7846-7919-448b-9604-e8aabee86ab1","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"qawVFxyF0OvSWiCs","name":"Google Docs account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"3b70235b-6c7d-47d7-bfd7-846916840c7e","name":"content","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"df77827a-4942-41d2-a597-29296ff4fba9","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fd1bf4d8-ae66-40c7-881a-e0aead78a35f","triggerCount":0,"tags":[{"createdAt":"2025-07-03T08:44:53.259Z","updatedAt":"2025-07-03T08:44:53.259Z","id":"WQ2os50uMIbKDpUI","name":"for Toyo様"},{"createdAt":"2025-07-03T09:34:43.179Z","updatedAt":"2025-07-03T09:34:43.179Z","id":"hYhvZiYkDJFZv9gD","name":"Auto writing \"note\""}]}