workflows/Writing note about minutes.json
{"createdAt":"2025-06-26T04:59:36.421Z","updatedAt":"2025-07-03T10:01:22.000Z","id":"SAtA0b7PBaD2IoLK","name":"Writing note about minutes","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Input"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"47a5aa19-bb6c-4ba9-8fe5-cbe6779be200","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","documentURL":"1HylFmXu8-VGHy0BATCBITI4ZqPwK7705a91FVe7XMbI"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"fd4cfadd-a6ff-4f6b-8cda-0409ed533dce","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"qawVFxyF0OvSWiCs","name":"Google Docs account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"3b70235b-6c7d-47d7-bfd7-846916840c7e","name":"content","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"640e20fc-98b9-4a52-b0e8-e13f75f31a5c","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"23fe8f37-a262-4af2-bad4-9866ec3440cf","triggerCount":0,"tags":[{"createdAt":"2025-07-03T09:34:43.179Z","updatedAt":"2025-07-03T09:34:43.179Z","id":"hYhvZiYkDJFZv9gD","name":"Auto writing \"note\""}]}