workflows/Writing note about meeting.json
{"createdAt":"2025-06-26T04:51:46.224Z","updatedAt":"2025-07-03T09:35:01.000Z","id":"nuuQs8jC5HVKlh8a","name":"Writing note about meeting","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Input"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"9ee20630-1e6a-4d08-9c2a-95c04409cac1","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","documentURL":"1njTG2wJLrVTQySQiufy2zzbZQdkbSRu_-jM4xJ-HePY"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"6c74d760-1119-49c5-8c2b-5835f9fa44f5","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"dCf3uU05KsBVVmht","name":"Google Docs account"}}},{"parameters":{"assignments":{"assignments":[{"id":"3b70235b-6c7d-47d7-bfd7-846916840c7e","name":"content","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"4a0c7d84-de39-4efd-b9a2-beb00a8edf26","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fdfcc1b8-7483-4022-8b7a-96edbc6cec9c","triggerCount":0,"tags":[{"createdAt":"2025-07-03T09:34:43.179Z","updatedAt":"2025-07-03T09:34:43.179Z","id":"hYhvZiYkDJFZv9gD","name":"Auto writing \"note\""}]}