workflows/Writing note about webinar.json
{"createdAt":"2025-06-26T04:57:35.070Z","updatedAt":"2025-07-03T09:34:51.000Z","id":"FcqSS858l5EzlaEJ","name":"Writing note about webinar","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Input"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"a27b6ddd-abf8-47ba-b750-a2e083d22aa6","name":"When Executed by Another Workflow"},{"parameters":{"operation":"get","documentURL":"16a8w6j5mjb2qG-ss_nEm64mmpTIZVRMlS_tg_YJWrHc"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[220,0],"id":"b0241246-e316-4800-a0cd-422a96ccb4db","name":"Get a document","credentials":{"googleDocsOAuth2Api":{"id":"qawVFxyF0OvSWiCs","name":"Google Docs account 2"}}},{"parameters":{"assignments":{"assignments":[{"id":"3b70235b-6c7d-47d7-bfd7-846916840c7e","name":"content","value":"={{ $json.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[440,0],"id":"d76efa22-590a-4552-805e-66c52f4f39ed","name":"Edit Fields"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get a document","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3281896f-9345-40c6-bcc6-af2db518fc09","triggerCount":0,"tags":[{"createdAt":"2025-07-03T09:34:43.179Z","updatedAt":"2025-07-03T09:34:43.179Z","id":"hYhvZiYkDJFZv9gD","name":"Auto writing \"note\""}]}