workflows/Yotube_Get Availability Agent.json
{"createdAt":"2025-07-18T16:01:48.056Z","updatedAt":"2025-07-18T16:40:35.000Z","id":"acWOpTepmwj8ZfzA","name":"Yotube_Get Availability Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"email"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"b6b0586c-f105-4def-90e2-7537862e2624","name":"When Executed by Another Workflow"},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"={{ $json.email }}","mode":"id"},"timeMax":"={{ $now.plus({ week: 3 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[220,0],"id":"ab20edbb-7cd7-4ba5-b1c2-7d4dac1300a9","name":"Get availability in a calendar","credentials":{"googleCalendarOAuth2Api":{"id":"gL2zKI1q7Yn5bbSl","name":"R STREET"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5edb8671-6430-4c80-be3f-87c49b9e590a","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[440,0],"id":"e17d4648-7a58-4093-a716-df3a6fe0c6a9","name":"If"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"events","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[660,-100],"id":"dfc8ad88-0ac1-4469-b49a-16fade7b2f29","name":"Aggregate"},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは、Googleカレンダーの予定データ（ビジー時間）を基に、指定された期間の**すべての日付**についてユーザーの空き時間を、一日の抜け漏れもなく、体系的に算出するデータ処理の専門家です。\n\n# 最重要ルール\n- **分析期間内のすべての日付（{{ $now.plus({ days: 1 }).startOf('day') }} から {{ $now.plus({ weeks: 3 }).endOf('day') }} まで）を、必ず1日ずつ処理し、出力に含めてください。**\n- **予定が一つも存在しない日は、その日全体（00:00から24:00）が空いている「終日空き」として扱います。これらの日を出力から省略することは絶対に許可されません。**\n\n# 思考アルゴリズム\n以下のステップ（アルゴリズム）に従い、一連の処理を機械的かつ正確に実行してください。\n\n### Step 1: 分析期間の全日付をループ処理\n- まず、指定された分析期間の開始日から終了日まで、1日ずつ順番に処理するループを開始します。以降のステップは、このループ内の各日付に対して実行されます。\n\n### Step 2: 当該日付の「ビジーブロック」を確定させる\nループで現在処理中の日付について、入力データから該当する予定をすべてリストアップします。\n\n- **Case A: 当該日付に予定が【存在しない】場合**\n  - その日の「ビジーブロック」は空（ゼロ個）であると確定します。\n\n- **Case B: 当該日付に予定が【存在する】場合**\n  1.  予定を開始時刻の昇順で並べ替えます。\n  2.  時間的に重複または連続している予定（例：9:00-10:00と10:00-11:00）を一つの連続した時間の塊に統合（マージ）します。\n  3.  最終的にマージされた、重複のない予定時間のリストが、その日の「ビジーブロック」となります。\n     - （例）「09:30-11:00」と「16:00-16:30」の2つの予定がある場合、ビジーブロックは `[\"09:30-11:00\", \"16:00-16:30\"]` となります。\n\n### Step 3: 「空き時間スロット」を算出する\n- Step 2で確定した「ビジーブロック」を基に、1日のタイムライン（**00:00から24:00**）から時間を逆算し、「空き時間スロット」をすべて特定します。\n\n- **ビジーブロックが空の場合（Case Aより）**:\n  - 空き時間スロットは `{\"start_time\": \"00:00\", \"end_time\": \"24:00\"}` の一つだけになります。`description` は「終日空き」とします。\n\n- **ビジーブロックが存在する場合（Case Bより）**:\n  - （例）ビジーブロックが `[\"09:30-11:00\", \"16:00-16:30\"]` の場合、空き時間スロットは以下の3つになります。\n    1.  `{\"start_time\": \"00:00\", \"end_time\": \"09:30\"}`\n    2.  `{\"start_time\": \"11:00\", \"end_time\": \"16:00\"}`\n    3.  `{\"start_time\": \"16:30\", \"end_time\": \"24:00\"}`\n\n### Step 4: 日付ごとの結果を整形する\n- 算出した「空き時間スロット」を、後述の出力形式に従って、日付ごとにまとめます。\n- `duration_minutes` や `day_of_week` などの各フィールドは正確に計算・設定してください。\n\n### Step 5: 最終的なJSONを生成する\n- ループ処理が完了した後、すべての日付の分析結果を単一のJSONオブジェクトに統合し、出力します。\n- `user.email` には、カレンダーの持ち主（`\"self\": true` のユーザー）のメールアドレスを正しく設定してください。\n\n# 期間\n## 開始\n{{ $now.plus({ days: 1 }).startOf('day') }}\n## 終了\n{{ $now.plus({ weeks: 3 }).endOf('day') }}\n\n# 入力データ（JST時刻）:\n{{ JSON.stringify($json.events) }}\n\n# 出力形式:\n以下のJSON構造を厳密に守り、カレンダーの持ち主のメールアドレスを含めて出力してください。他の説明テキストは一切不要です。\n```json\n{\n  \"analysis_date\": \"（処理実行日）\",\n  \"timezone\": \"JST\",\n  \"user\": {\n    \"email\": \"（ここに 'self: true' のユーザーのメールアドレスが入る）\"\n  },\n  \"available_slots\": [\n    {\n      \"date\": \"YYYY-MM-DD\",\n      \"day_of_week\": \"月曜日\",\n      \"slots\": [\n        {\n          \"start_time\": \"HH:MM\",\n          \"end_time\": \"HH:MM\",\n          \"duration_minutes\": 120,\n          \"description\": \"適切な説明\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[880,-100],"id":"086727c7-3905-422c-883a-8b84dca52596","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[920,120],"id":"d4acd77b-0251-4625-a4e2-d1d04926c0f5","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NMm1O0ZYMrpQVDiG","name":"Google Gemini(PaLM) Api account 9"}}},{"parameters":{"assignments":{"assignments":[{"id":"e22e2e84-acd2-4cd9-a034-97a85012caa2","name":"email","value":"={{ $('When Executed by Another Workflow').item.json.email }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[680,360],"id":"106d6630-4a8b-4c40-9636-1ab224fcf049","name":"Edit Fields"},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは、指定された期間と条件に基づいて、ユーザーの空き時間を示すJSONデータを生成する専門家です。\n\n# 指示\nこのプロンプトは、ユーザーの予定が指定期間内に全くない場合に実行されます。\n以下の生成条件に従って、ユーザーが完全に空いている状態を示すJSONを生成してください。入力データは存在しないため、このプロンプト内の指示のみを元にしてください。\n\n# 生成条件\n- **ユーザーのメールアドレス**: `{{ $json.email }}` を `user.email` に設定してください。\n- **分析日**: `analysis_date` には本日の日付 `{{ $now.toISODate() }}` を設定してください。\n- **対象期間**: `{{ $now.plus({ days: 1 }).startOf('day').toISODate() }}` から `{{ $now.plus({ weeks: 3 }).endOf('day').toISODate() }}` まで。\n- **空き時間の定義**: 上記の対象期間に含まれる全ての日について、00:00から24:00までを一つの空き時間スロットとしてください。\n\n# 出力形式\n以下のJSON構造を厳密に守って出力してください。他のテキストは一切含めないでください。\n\n```json\n{\n  \"analysis_date\": \"YYYY-MM-DD\",\n  \"timezone\": \"JST\",\n  \"user\": {\n    \"email\": \"ai_bootcamp@rstreet.co.jp\"\n  },\n  \"available_slots\": [\n    {\n      \"date\": \"YYYY-MM-DD\",\n      \"day_of_week\": \"月曜日\",\n      \"slots\": [\n        {\n          \"start_time\": \"00:00\",\n          \"end_time\": \"24:00\",\n          \"duration_minutes\": 1440,\n          \"description\": \"終日対応可能\"\n        }\n      ]\n    }\n  ]\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[900,360],"id":"d9e7771a-1f0b-457a-81a4-616c707c7cbc","name":"AI Agent1"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[840,600],"id":"9440c7d2-2e43-41ac-87ed-e234c82b1fcd","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"NMm1O0ZYMrpQVDiG","name":"Google Gemini(PaLM) Api account 9"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get availability in a calendar","type":"main","index":0}]]},"Get availability in a calendar":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a71456b7-d56d-439f-9dde-c1a1137b6547","triggerCount":0,"tags":[{"createdAt":"2025-06-19T03:34:48.675Z","updatedAt":"2025-06-19T03:34:48.675Z","id":"lRd7nLlonyK6zPAC","name":"YouTube"}]}