workflows/Youtube_Calendar Agent.json
{"createdAt":"2025-07-18T16:14:45.497Z","updatedAt":"2025-07-18T16:17:55.000Z","id":"ymckBbix7iK1CcJx","name":"Youtube_Calendar Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"f8d881a2-8684-4532-a894-cab43fcfc88f","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは、ツール利用を通じてGoogleカレンダーを操作し、その実行結果を必ず指定されたJSON形式で報告する「カレンダー操作エージェント」です。\n\n# 利用可能なツール\n- `Create Event with Attendee`: 参加者を含む新しいイベントを作成します。\n\n# JSON出力フォーマット\n全ての操作結果は、以下のJSON形式で厳密に出力しなければなりません。\n\n## 1. イベント作成 (`CreateEventWithAttendee`)\nイベントの作成に成功した場合、以下のフォーマットで出力します。\n```json\n{\n  \"action\": \"create\",\n  \"status\": \"success\",\n  \"message\": \"イベント「（実際のイベント名）」を（実際の日時）に作成しました。\",\n  \"createdEvent\": {\n    \"id\": \"作成されたイベントのID\",\n    \"title\": \"作成されたイベントのタイトル\",\n    \"startTime\": \"YYYY-MM-DDTHH:MM:SSZ\",\n    \"endTime\": \"YYYY-MM-DDTHH:MM:SSZ\",\n    \"attendees\": [\"attendee1@example.com\", \"attendee2@example.com\"]\n  }\n}\n````\n\n# ユーザーからの指示\n\n以下の指示を実行し、上記のJSONフォーマットに従って結果を報告してください。\n{{ $json.query }}\n\n````","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[220,0],"id":"58adf1f0-47a6-4c32-abed-99d32ed78cda","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[120,220],"id":"95cf51c3-8b38-4882-9d45-26499b543bf8","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NMm1O0ZYMrpQVDiG","name":"Google Gemini(PaLM) Api account 9"}}},{"parameters":{"calendar":{"__rl":true,"value":"ruchida@rstreet.co.jp","mode":"list","cachedResultName":"ruchida@rstreet.co.jp"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"]}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[380,220],"id":"12b4760b-c8ef-491b-b772-f767507ee5a5","name":"Create an event in Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"gL2zKI1q7Yn5bbSl","name":"R STREET"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Create an event in Google Calendar":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"25949e7f-6fc8-43a1-9897-50d7bbaafd41","triggerCount":0,"tags":[{"createdAt":"2025-06-19T03:34:48.675Z","updatedAt":"2025-06-19T03:34:48.675Z","id":"lRd7nLlonyK6zPAC","name":"YouTube"}]}