workflows/Youtube_research Agent.json
{"createdAt":"2025-07-18T16:12:02.983Z","updatedAt":"2025-07-18T16:45:41.000Z","id":"WJeJUwxpapKU11nU","name":"Youtube_research Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"de56f556-d7ea-45cd-ab9a-efd4f28b7fa5","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=# 指示\nユーザーの要望に対して、 **必ず** ツールを使って情報収集しながら答えてください。この命令は **死守** してください。\n\n## ユーザーの要望\n{{ $json.query }}\n\n## ツール\n- \"Message a model in Perplexity\"：リサーチをする際には、このツールを使ってください。","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[180,-20],"id":"2264c398-3daf-41c8-8c23-24f95c0e7d2d","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[120,200],"id":"87c80345-59a0-4c6a-94bc-25cb000c4b2c","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NMm1O0ZYMrpQVDiG","name":"Google Gemini(PaLM) Api account 9"}}},{"parameters":{"model":"sonar-deep-research","messages":{"message":[{"content":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message0_Text', ``, 'string') }}"}]},"options":{},"requestOptions":{}},"type":"n8n-nodes-base.perplexityTool","typeVersion":1,"position":[340,200],"id":"e6ba34ae-6015-452f-9aeb-884c3fc8514a","name":"Message a model in Perplexity","credentials":{"perplexityApi":{"id":"tSwqH0DkkfCVIBPI","name":"Perplexity account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Message a model in Perplexity":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ae1d901f-a07f-4ae5-a2d0-54da5f3b05aa","triggerCount":0,"tags":[{"createdAt":"2025-06-19T03:34:48.675Z","updatedAt":"2025-06-19T03:34:48.675Z","id":"lRd7nLlonyK6zPAC","name":"YouTube"}]}