workflows/YouTube_13_2.json
{"createdAt":"2025-06-18T04:01:21.183Z","updatedAt":"2025-06-19T03:34:53.000Z","id":"PRwKBdkIxoHfEKir","name":"YouTube_13_2","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"2161746d-b916-8046-b218-da59bb7d7a20","mode":"list","cachedResultName":"YT_test_顧客管理","cachedResultUrl":"https://www.notion.so/2161746db9168046b218da59bb7d7a20"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[0,0],"id":"163d743a-5665-4e03-b981-cd2f7836aeb8","name":"Notion Trigger","credentials":{"notionApi":{"id":"4mJIvtppb9w8lNHu","name":"Notion account_YouTube"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=## 指示\nNotion DB認定を使用された企業名 {{ $json['顧客名'] }}を読み方とセットでテキストとして出力してください\n\n## 出力例\n株式会社梶原商事（かぶしきかいしゃかじわらしょうじ）"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,0],"id":"7910cb2b-3cc5-4614-b351-a90001925a02","name":"OpenAI","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"resource":"block","blockId":{"__rl":true,"value":"2161746db91681498c01f77bcfceb65f","mode":"id"},"blockUi":{"blockValues":[{"type":"toggle","textContent":"={{ $json.message.content }}"},{}]}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[580,0],"id":"9c5eaee8-b2c6-49fd-9147-1888a6999252","name":"Notion","credentials":{"notionApi":{"id":"4mJIvtppb9w8lNHu","name":"Notion account_YouTube"}}}],"connections":{"Notion Trigger":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Notion","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3e03c2ad-7077-43c2-96d3-4e4545d38ef1","triggerCount":0,"tags":[{"createdAt":"2025-06-19T03:34:48.675Z","updatedAt":"2025-06-19T03:34:48.675Z","id":"lRd7nLlonyK6zPAC","name":"YouTube"}]}