workflows/Youtube_contact Agent.json
{"createdAt":"2025-07-18T15:54:24.304Z","updatedAt":"2025-07-18T16:42:29.000Z","id":"BOSj4pvA7M8TgKa3","name":"Youtube_contact Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"member"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"2f0cea95-3aa1-4300-9142-3db4bbbed5e2","name":"When Executed by Another Workflow"},{"parameters":{"promptType":"define","text":"=# 役割\nあなたは、連絡先情報をGoogleスプレッドシートから検索する専門エージェントです。\n\n# 厳守すべきルール\n- あなたの唯一の任務は、`members' email address`ツールを使って、入力された人物のメールアドレスを検索することです。\n- **いかなる状況でも、あなた自身の記憶や推測からメールアドレスを回答してはいけません。**\n- ユーザーからの入力（query）に氏名が含まれている場合、**必ず`members' email address`ツールを呼び出す必要があります。**\n\n# 実行プロセス\n1. 入力 {{ $json.member }}から検索対象の氏名を受け取ります。\n2. `members' email address`ツールを使い、その氏名に対応するメールアドレスを検索します。\n3. ツールの検索結果を基に、以下の「出力例」の形式に従って、最終的な回答を生成します。\n4. もしツールを使っても名前が見つからなかった場合は、「〇〇様は見つかりませんでした。」と明確に回答してください。\n\n# 入出力の例\n\n## 入力 (query) の例:\n内田陸、落合建介\n\n## 出力例:\n内田陸様、落合建介様を検索しました。\n\n内田陸様: ruchida@rstreet.co.jp\n落合建介様: ai_bootcamp@rstreet.co.jp","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[220,0],"id":"b24f54ca-561b-4a53-8b6f-ce48606318d1","name":"AI Agent"},{"parameters":{"modelName":"models/gemini-2.5-flash-lite-preview-06-17","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[160,240],"id":"f889485d-0243-4d04-8a77-cf6fc253265b","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"NMm1O0ZYMrpQVDiG","name":"Google Gemini(PaLM) Api account 9"}}},{"parameters":{"documentId":{"__rl":true,"value":"1T3zfPIMzT_B8OS5WqH96l08qk2L1VdfmAGBajwHvPYg","mode":"list","cachedResultName":"members' email address","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T3zfPIMzT_B8OS5WqH96l08qk2L1VdfmAGBajwHvPYg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"シート1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1T3zfPIMzT_B8OS5WqH96l08qk2L1VdfmAGBajwHvPYg/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[400,240],"id":"cbcf0b0d-5429-4a7c-99b0-e40d6c83e965","name":"Get row(s) in sheet in Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Get row(s) in sheet in Google Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f1f8a950-c8ba-4fe1-a9de-137860ac048a","triggerCount":0,"tags":[{"createdAt":"2025-06-19T03:34:48.675Z","updatedAt":"2025-06-19T03:34:48.675Z","id":"lRd7nLlonyK6zPAC","name":"YouTube"}]}