workflows/YT Auto Mail Sending.json
{"createdAt":"2025-06-26T08:24:15.823Z","updatedAt":"2025-07-20T11:16:38.000Z","id":"StRhsnB0KnMEdy3l","name":"YT Auto Mail Sending","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"filters":{"q":"to:(rstreet@rstreet.co.jp) subject:TEST"}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[0,0],"id":"866f701e-91d2-4bb0-9c97-40f869f65c16","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"eawXuiOGkVGOyVTm","name":"R STREET"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=# 指示\n## メール本文の内容を確認し、内容が会議の日程調整に関わるものであれば、「Yes」と出力してください。そうでなければ「No」と出力ください。メール本文が会議調整に関わるものかどうかは`会議調整メールの例`を確認ください。\n「Yes」、「No」以外は出力しないでください。\n\n## 会議調整メールの例\n株式会社XXX社\nYYY様\n平素より大変お世話になっております。\n早速のご調整をいただきありがとうございます。\n5月12日(月)13:00 - 14:00 にて、何卒よろしくお願いいたします。\n追ってWeb会議のURLをお送りさせていただきます。\n引き続き、どうぞよろしくお願いいたします。\nZZZ\n\n## メール本文\n{{ $json.snippet }}"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[160,0],"id":"eec975f1-648b-4419-afda-cd30a75ea075","name":"Message a model","credentials":{"openAiApi":{"id":"t9wV87qZLXIjiQf4","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d8a25c30-ccf7-451f-97d1-d77f32692b2d","leftValue":"={{ $json.message.content }}","rightValue":"Yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[520,0],"id":"0db5617d-d298-49cd-8763-7c40dd0c1035","name":"If"},{"parameters":{"promptType":"define","text":"=# 役割\n- あなたは株式会社アールストリートの田中としてメールを執筆します。\n\n# 指示\n1. 受信メールを確認し、候補日時が記載されているかチェックする\n2. 候補日時が記載されている場合：\n   - 提案された候補日時と `チームメンバー` の2週間分の予定の空き時間を突き合わせ、最も早い一致時間帯を1つ確定させる\n   - ただし打ち合わせ時間は1時間とする。`チームメンバー`の空き時間を1時間確保できない時間枠には打ち合わせは設定できません。\n   - もし一致する時間帯が無い場合は、`チームメンバー`が空いている別候補を最大３件（早い順）提示する\n3. 候補日時が記載されていない場合：\n   - `チームメンバー` の今後2週間分の予定を確認し、`チームメンバー`が空いている時間帯から最小３件（早い順）の候補日程を提示する\n4. 上記を踏まえた返信メール本文を生成する\n\n## 受信メール\n{{ $('Gmail Trigger').item.json.snippet }}\n\n## チームメンバー\n- 田中太郎\n- 梶原俊一\n\n# 出力例\n（相手会社名）\n（相手氏名） 様\n\n平素より大変お世話になっております。\n株式会社アールストリートの田中でございます。\n\n（本文：確定日時の連絡または候補日程の提示）\n\n何卒よろしくお願い申し上げます。\n\nアールストリート\n田中\n\n# 備考\n- ツールを使うことで `チームメンバー` の今後2週間分の予定が確認できます。\n- 繰り返し、`チームメンバー`の空き時間を1時間確保できない時間枠には打ち合わせは設定できないことに、絶対に間違えることのないように慎重を期して打ち合わせを設定してください。","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[740,-100],"id":"ed85aa94-445c-4c9a-9176-c6a420f6b4c2","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"value":"o4-mini","mode":"list","cachedResultName":"o4-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[680,140],"id":"042d6de1-c87d-4e18-bc40-164901c182d2","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"t9wV87qZLXIjiQf4","name":"OpenAi account"}}},{"parameters":{"description":"このツールを呼び出して、田中の今後2週間の予定を取得してください。","workflowId":{"__rl":true,"value":"f5N2SOYGuyPOtACk","mode":"list","cachedResultName":"YT_Tanaka-san's Schedule"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[840,180],"id":"c1e332fc-f984-4aa8-817a-f0939c00958b","name":"YT_Tanaka-san's Schedule"},{"parameters":{"description":"このツールを呼び出して、梶原の今後2週間の予定を取得してください。","workflowId":{"__rl":true,"value":"7Uo1C13Bzpy5fF6p","mode":"list","cachedResultName":"YT_Kajiwara-san's Schedule"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[980,180],"id":"0e4134ef-c68e-420b-9960-760250162485","name":"YT_Kajiwara-san's Schedule"}],"connections":{"Gmail Trigger":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"YT_Tanaka-san's Schedule":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"YT_Kajiwara-san's Schedule":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b61897cb-f3a4-45e5-a781-151d7446bd26","triggerCount":0,"tags":[]}