workflows/YT_test_schedule_Kajiwara.json
{"createdAt":"2025-06-26T05:31:32.200Z","updatedAt":"2025-06-26T07:17:03.000Z","id":"A7fM5EG5jHs1xn1J","name":"YT_test_schedule_Kajiwara","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Input"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"5ad88b1b-f84a-45c0-8275-e75aab88629b","name":"When Executed by Another Workflow"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"skajiwara@rstreet.co.jp","mode":"list","cachedResultName":"skajiwara@rstreet.co.jp"},"returnAll":true,"timeMax":"={{ $now.plus({ week: 2 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[220,0],"id":"404ce4a2-4b1e-408a-8f93-55a1339bbdf4","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"gL2zKI1q7Yn5bbSl","name":"R STREET"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"=events","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[440,0],"id":"fb1a8f69-570e-4836-bca7-30a046acc54f","name":"Aggregate"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=次の2週間の予定一覧です（日時はすべて JST）。\n\n{{ $json.events\n    .sort((a, b) => a.start.dateTime.localeCompare(b.start.dateTime))\n    .map(e => `• ${e.summary} ｜ ${e.start.dateTime} 〜 ${e.end.dateTime}`)\n    .join('\\n') }}\n\n各日の予定時間帯とイベント名を箇条書きでまとめてください。"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[660,0],"id":"e2b4b83c-b4cc-4673-8748-00a910406f6d","name":"Message a model","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Message a model","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"deef1741-131d-41e1-8d47-442e8247abeb","triggerCount":0,"tags":[]}