workflows/YT_Tanaka-san's Schedule.json
{"createdAt":"2025-06-26T08:42:03.315Z","updatedAt":"2025-06-26T08:53:06.000Z","id":"f5N2SOYGuyPOtACk","name":"YT_Tanaka-san's Schedule","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Input"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,0],"id":"3a9a4206-77eb-4190-ad1a-46334b6c4214","name":"When Executed by Another Workflow"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"rstreet@rstreet.co.jp","mode":"list","cachedResultName":"rstreet@rstreet.co.jp"},"returnAll":true,"timeMax":"={{ $now.plus({ week: 2 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[220,0],"id":"b19ab8be-c295-435c-8bf1-94fbcc27c71c","name":"Get many events","credentials":{"googleCalendarOAuth2Api":{"id":"gL2zKI1q7Yn5bbSl","name":"R STREET"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"events","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[440,0],"id":"880f8118-360a-4089-9bf9-683d5dcdc7c1","name":"Aggregate"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=次の2週間の予定一覧です（日時はすべて JST）。\n\n{{ $json.events\n    .sort((a, b) => a.start.dateTime.localeCompare(b.start.dateTime))\n    .map(e => `• ${e.summary} ｜ ${e.start.dateTime} 〜 ${e.end.dateTime}`)\n    .join('\\n') }}\n\n各日の予定時間帯とイベント名を箇条書きでまとめてください。"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[660,0],"id":"375d0915-67bc-456a-9048-5e9dc4088245","name":"Message a model","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Get many events","type":"main","index":0}]]},"Get many events":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Message a model","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"31836211-0779-4f21-a116-f31ce158596f","triggerCount":0,"tags":[]}