workflows/【note共有用】Auto drafting mail for meeting.json
{"createdAt":"2025-06-20T07:57:45.425Z","updatedAt":"2025-06-20T08:37:26.000Z","id":"vROQjLekinalauet","name":"【note共有用】Auto drafting mail for meeting","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"filters":{"q":""},"options":{}},"type":"n8n-nodes-base.gmailTrigger","typeVersion":1.2,"position":[0,-200],"id":"ccfa4349-20e1-4d14-8689-1404276aa96a","name":"Gmail Trigger","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# 指示\n## メール本文の内容を確認し、内容が会議の日程調整に関わるものであれば、「Yes」と出力してください。そうでなければ「No」と出力ください。メール本文が会議調整に関わるものかどうかは## 会議調整メールの例を確認ください。\n「Yes」、「No」以外は出力しないでください。\n\n## 会議調整メールの例\n株式会社XXX社\nYYY様\n平素より大変お世話になっております。\n早速のご調整をいただきありがとうございます。\n5月12日(月)13:00 - 14:00 にて、何卒よろしくお願いいたします。\n追ってWeb会議のURLをお送りさせていただきます。\n引き続き、どうぞよろしくお願いいたします。\nZZZ\n\n## メール本文\n {{ $json.text }}\n\n"}]},"simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,-200],"id":"ded39e19-6136-449c-9877-9207bf097d71","name":"OpenAI","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bec68fec-a5d0-41d6-8836-e7ea25fab658","leftValue":"={{ $json.choices[0].message.content }}","rightValue":"Yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[596,-200],"id":"77a5dea4-698f-43d2-9c43-4d2576ce6658","name":"If"},{"parameters":{"promptType":"define","text":"=# 役割\n- あなたは「XXX」のYYYとしてメールを執筆します。\n\n# 指示\n1. 受信メールを確認し、候補日時が記載されているかチェックする\n2. 候補日時が記載されている場合：\n   - 提案された候補日時と ## チームメンバー の1ヶ月分の予定を突き合わせ、最も早い一致時間帯を1つ確定させる\n   - もし一致枠が無い場合は、両名が空いている別候補を最大３件（早い順）提示する\n3. 候補日時が記載されていない場合：\n   - ## チームメンバー の今後1ヶ月の予定を確認し、両名が空いている時間帯から最小３件（早い順）の候補日程を提示する\n4. 上記を踏まえた返信メール本文を生成する\n\n## 受信メール\n{{ $('Gmail Trigger').item.json.text }}\n\n## チームメンバー\n- YYY\n- ZZZ\n\n# 出力例\n（相手会社名）\n（相手氏名） 様\n\n平素より大変お世話になっております。\nXXXのYYYでございます。\n\n（本文：確定日時の連絡または候補日程の提示）\n\n何卒よろしくお願い申し上げます。\n\nYYY\n\n# 備考\nツールを使うことで ## チームメンバー の今後1ヶ月の予定が確認できます。","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[848,-200],"id":"4e4532de-ed1d-4c5a-97ce-3a50320e0bef","name":"AI Agent"},{"parameters":{"resource":"draft","subject":"=RE: {{ $('Gmail Trigger').item.json.subject }}","emailType":"html","message":"={{ $json.message }}","options":{"replyTo":"={{ $('Gmail Trigger').item.json.headers[\"message-id\"] }}","threadId":"={{ $('Gmail Trigger').item.json.threadId }}"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1476,-200],"id":"192374ee-3bbc-4bba-ace4-005209537b37","name":"Gmail","webhookId":"8de97749-d0c9-4174-ac5e-3e5f50a07feb","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"jsCode":"// ----- 入力 -----\nconst replyPlain = $input.first().json.output;                    // AI が作った本文(プレーン)\nconst originalHtml = $('Gmail Trigger').first().json.html            // 元メール HTML\n                    || $('Gmail Trigger').first().json.text;          // HTML が無ければテキスト\n\n// ----- HTML 形式に整形 -----\nconst replyHtml = replyPlain\n  .replace(/\\n/g, '<br>');                         // 改行を <br> に\n\n// Gmail が自動で折り畳んでくれる \"gmail_quote\" ブロック\nconst quotedHtml = `\n<br><br>\n<div class=\"gmail_quote\">\n  <blockquote class=\"gmail_quote\"\n    style=\"margin:0 0 0 .8ex;border-left:1px solid #ccc;padding-left:1ex\">\n    ${originalHtml}\n  </blockquote>\n</div>`;\n\n// ----- 出力 -----\n// itemオブジェクトを新規作成\nconst item = {\n  message: replyHtml + quotedHtml             // Gmail ノードの message に渡す\n};\n\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1256,-200],"id":"b93746fe-c5c1-42b0-8e25-8a17c2595a27","name":"Code"},{"parameters":{"description":"このツールを呼び出して、YYYの今後1ヶ月の予定を取得してください。","workflowId":{"__rl":true,"value":"VYxpfBhlme8n3qAV","mode":"list","cachedResultName":"Uchida san's schedule"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[936,20],"id":"2521aa31-28d4-46b4-858f-470d49152266","name":"Uchida san's schedule"},{"parameters":{"description":"このツールを呼び出して、ZZZの今後1ヶ月の予定を取得してください。","workflowId":{"__rl":true,"value":"1GhfXG6OoiO58l7C","mode":"list","cachedResultName":"Kajiwara san's schedule"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":["Input"],"schema":[{"id":"Input","displayName":"Input","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1056,20],"id":"9ef0b4fc-901e-4935-84b9-774c2e99f881","name":"Kajiwara san's schedule"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[816,20],"id":"b9e3a451-b429-4d07-b530-09c27f3ef85e","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}}],"connections":{"Gmail Trigger":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}],[]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Gmail","type":"main","index":0}]]},"Uchida san's schedule":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Kajiwara san's schedule":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1750404346,"possibleDuplicates":["197597ea59a0acde"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e3b95107-1c51-4df0-b0a5-1bfc7dcea379","triggerCount":1,"tags":[]}