workflows/【note】seminarRemidMail.json
{"createdAt":"2025-06-17T05:19:19.016Z","updatedAt":"2025-06-17T11:03:45.000Z","id":"durC1DweGpdDUMmj","name":"【note】seminarRemidMail","active":false,"isArchived":true,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"118bx5QaArjQY0QjajX5FY1jZsgSB5e3uxmrI5tDpwCA","mode":"list","cachedResultName":"copy_2025 6月版ウェビナーフォーム","cachedResultUrl":"https://docs.google.com/spreadsheets/d/118bx5QaArjQY0QjajX5FY1jZsgSB5e3uxmrI5tDpwCA/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":421058587,"mode":"list","cachedResultName":"フォームの回答 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/118bx5QaArjQY0QjajX5FY1jZsgSB5e3uxmrI5tDpwCA/edit#gid=421058587"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[516,-60],"id":"73a62d8c-d1d8-4606-bc0b-c4913d0843d4","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"2r0S3wqaeXCs9rgr","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-80,-60],"id":"8067ef75-4901-4d8b-83a7-e3dc50aa26bd","name":"Schedule Trigger"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json['生成AI基礎 ウェビナー 参加日'] }}","rightValue":"={{ $('OpenAI').item.json.message.content }}","operator":{"type":"string","operation":"contains"},"id":"3236d1d0-4a4e-4acf-a295-22dfd1d898a4"}],"combinator":"and"},"renameOutput":true,"outputKey":"生成AI基礎ウェビナー"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d007255e-3e8e-40cd-ad0c-01186e4c6bb1","leftValue":"={{ $json['Difyハンズオン ウェビナー 参加日'] }}","rightValue":"={{ $('OpenAI').item.json.message.content }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Difyハンズオンウェビナー"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f410bb37-93a3-4318-b23d-385f2e0b2823","leftValue":"={{ $json['AIエージェント「インハウス化」ロードマップ ウェビナー 参加日'] }}","rightValue":"={{ $('OpenAI').item.json.message.content }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"AIエージェント「インハウス化」ロードマップ"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[736,-60],"id":"00e9072e-9f11-479b-8dd5-acbee1e62036","name":"Switch"},{"parameters":{"sendTo":"={{ $json['ご連絡先（メールアドレス）'] }}","subject":"【リマインド】生成AI基礎ウェビナー・Difyハンズオンウェビナーのご案内","emailType":"text","message":"={{ $json['会社名・所属'] }}\n{{ $json['部署名'] }}\n{{ $json['役職'] }}\n{{ $json['ご氏名'] }}様\n\n平素よりお世話になっております。生成AI教習所でございます。\n\n\nご予約いただいているAIエージェント「インハウス化」ロードマップウェビナーですが本日開催となりますため、リマインドさせていただきました。\n\nお時間になりましたら下記リンクよりウェビナーにご参加ください。\n\nhttps://us06web.zoom.us/j/87851658818\n\n何卒よろしくお願い致します。\n\n生成AI教習所サポートセンター","options":{"ccList":"seminar_support@rstreet.co.jp"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[956,140],"id":"8c799b1d-4d7c-4301-88a4-fd2e50b0a007","name":"Gmail2","webhookId":"aa3d11a0-33f4-4a6e-83f5-6d7564076ad9","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"sendTo":"={{ $json['ご連絡先（メールアドレス）'] }}","subject":"【リマインド】生成AI基礎ウェビナー・Difyハンズオンウェビナーのご案内","emailType":"text","message":"={{ $json['会社名・所属'] }}\n{{ $json['部署名'] }}\n{{ $json['役職'] }}\n{{ $json['ご氏名'] }}様\n\n平素よりお世話になっております。生成AI教習所でございます。\n\nご予約いただいているDifyハンズオンウェビナーですが本日開催となりますため、リマインドさせていただきました。\n\nお時間になりましたら、下記リンクよりウェビナーにご参加ください。\n\nhttps://us06web.zoom.us/j/87851658818\n\n何卒よろしくお願い致します。\n\n生成AI教習所サポートセンター","options":{"ccList":"seminar_support@rstreet.co.jp"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[956,-60],"id":"c243a5d1-b1f1-4bd7-9846-581f038a04cb","name":"Gmail1","webhookId":"ac899a4d-8a7c-47cb-bf44-87ae504f050c","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"sendTo":"={{ $json['ご連絡先（メールアドレス）'] }}","subject":"【リマインド】生成AI基礎ウェビナー・Difyハンズオンウェビナーのご案内","emailType":"text","message":"={{ $json['会社名・所属'] }}\n{{ $json['部署名'] }}\n{{ $json['役職'] }}\n{{ $json['ご氏名'] }}様\n\n平素よりお世話になっております。生成AI教習所でございます。\n\nご予約いただいている生成AI基礎ウェビナーですが本日開催となりますため、リマインドさせていただきました。\n\nお時間になりましたら、下記リンクよりウェビナーにご参加ください。\n\nhttps://us06web.zoom.us/j/87851658818\n\n何卒よろしくお願い致します。\n\n生成AI教習所サポートセンター","options":{"ccList":"seminar_support@rstreet.co.jp"}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[956,-260],"id":"044d9638-310b-4aef-89f9-e63251f2006f","name":"Gmail","webhookId":"30462942-9aee-4629-80d8-d4e404454689","credentials":{"gmailOAuth2":{"id":"WQeEtFqzTJPbvZ66","name":"Gmail account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=# 指示\n## 本日の日付を## 出力形式に従って出力してください。## 出力形式以外の内容は絶対に出力しないでください。\n\n## 出力例\n### 本日の日付\n2025年June月08日\n### 出力例\n6/8\n\n## 本日の日付\n{{ $json.Year }}年{{ $json.Month }}月{{ $json['Day of month'] }}日\n\n## 出力形式\n6/1"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[140,-60],"id":"b12dc0af-a5fb-433c-be63-dc9c834e76d3","name":"OpenAI","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}}],"connections":{"Google Sheets":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Gmail","type":"main","index":0}],[{"node":"Gmail1","type":"main","index":0}],[{"node":"Gmail2","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5cb55d54-57c7-4410-b322-0fde3f197156","triggerCount":1,"tags":[]}