workflows/【note用】Notion*n8n.json
{"createdAt":"2025-06-13T10:39:32.797Z","updatedAt":"2025-06-23T05:12:49.000Z","id":"4zHSgbQQD0RXJj3v","name":"【note用】Notion*n8n","active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"pagedUpdatedInDatabase","databaseId":{"__rl":true,"value":"2111746d-b916-800e-95b2-df214da5594b","mode":"list","cachedResultName":"顧客データベース","cachedResultUrl":"https://www.notion.so/2111746db916800e95b2df214da5594b"}},"type":"n8n-nodes-base.notionTrigger","typeVersion":1,"position":[0,0],"id":"ae3442d9-db6e-418e-83c7-d245dac7344e","name":"Notion Trigger","credentials":{"notionApi":{"id":"QqSdrPma5jBH8adF","name":"Notion account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"messages":{"values":[{"content":"=# 指示\nNotion DBに更新された企業名（{{ $json['企業名'] }}）を読み方とセットで、テキストとして出力してください。\n\n## 出力例\n株式会社ABC（読み方：かぶしきがいしゃえーびーしー）"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[220,0],"id":"22071800-eefa-41fc-8955-d7c1065ac22f","name":"OpenAI","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}},{"parameters":{"resource":"block","blockId":{"__rl":true,"value":"2111746db91680428092dea7e56945d2","mode":"id"},"blockUi":{"blockValues":[{"type":"bulleted_list_item","textContent":"={{ $json.message.content }}"}]}},"type":"n8n-nodes-base.notion","typeVersion":2.2,"position":[580,0],"id":"5685c1cc-e560-48de-971e-57a025b67dcd","name":"Notion","credentials":{"notionApi":{"id":"QqSdrPma5jBH8adF","name":"Notion account"}}}],"connections":{"Notion Trigger":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"OpenAI":{"main":[[{"node":"Notion","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Notion Trigger":{"lastTimeChecked":"2025-06-13T12:12:00.000Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ecf96e1b-03f5-4488-acfa-2a8a381a8063","triggerCount":1,"tags":[]}