workflows/【note共有用】YYY san's schedule.json
{"createdAt":"2025-06-20T08:01:05.432Z","updatedAt":"2025-06-20T08:02:03.000Z","id":"d9ibWDlT9QIz8cuP","name":"【note共有用】YYY san's schedule","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"ja.japanese#holiday@group.v.calendar.google.com","mode":"list","cachedResultName":"日本の祝日"},"returnAll":true,"timeMax":"={{ $now.plus({ month: 1 }) }}","options":{}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[260,240],"id":"ee75d9f9-a7e8-4356-86ba-452e8af85e95","name":"Google Calendar","credentials":{"googleCalendarOAuth2Api":{"id":"RWBDOCdnjcMlP7IO","name":"Google Calendar account"}}},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"events","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[480,240],"id":"5d29706e-ae23-436b-8d51-5e412aec0927","name":"Aggregate"},{"parameters":{"workflowInputs":{"values":[{"name":"Input"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[40,240],"id":"12d20a9f-f2b8-43b2-82dc-4ef2986331da","name":"When Executed by Another Workflow"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"GPT-4.1-MINI"},"messages":{"values":[{"content":"=次の1ヶ月の予定一覧です（日時はすべて JST）。\n\n{{ $json.events\n    .sort((a, b) => a.start.dateTime.localeCompare(b.start.dateTime))\n    .map(e => `• ${e.summary} ｜ ${e.start.dateTime} 〜 ${e.end.dateTime}`)\n    .join('\\n') }}\n\n各日の予定時間帯とイベント名を箇条書きでまとめてください。","role":"system"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[700,240],"id":"11f0cf01-e256-466e-9185-caad1b48db63","name":"OpenAI","credentials":{"openAiApi":{"id":"kR54dvRsml2LlPBc","name":"OpenAi account"}}}],"connections":{"Google Calendar":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"OpenAI","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Google Calendar","type":"main","index":0}]]},"OpenAI":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Gmail Trigger":{"Gmail Trigger":{"lastTimeChecked":1749553156,"possibleDuplicates":["197597ea59a0acde"]}}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9ae926f2-c9b0-4cee-a2c3-47686bd09c96","triggerCount":1,"tags":[]}