workflows/【テンプレート】n8n採用自動化.json
{"createdAt":"2025-06-12T09:55:44.692Z","updatedAt":"2025-06-23T05:12:25.000Z","id":"CiuzGszGbPYGSbe7","name":"【テンプレート】n8n採用自動化","active":false,"isArchived":true,"nodes":[{"parameters":{"method":"POST","url":"=https://zoom.us/oauth/token","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"applitcation/x-www-form-urlencoded"},{"name":"Authorization","value":"=Basic {{ $json.encodedCredentials }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"account_credentials"},{"name":"account_id","value":"={{ $('API KEYs').first().json.zoomAccountID }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2180,560],"id":"df1384f7-a010-425d-9527-22e40a607eb4","name":"Generate Access Token"},{"parameters":{"content":"## Retrieve Event, Set API Keys, Route Call OR SMS\n\n\n\n","height":260,"width":1120},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2920,500],"id":"6a2d96c4-d265-400a-9739-05a962f99611","name":"Sticky Note3"},{"parameters":{"jsCode":"const clientId = items[0].json.zoomClientID;\nconst clientSecret = items[0].json.zoomClientSecret;\n\n// Concatena com dois-pontos e codifica em Base64\nconst encodedCredentials = Buffer.from(`${clientId}:${clientSecret}`, 'utf8').toString('base64');\n\nconsole.log(\"Base64:\", encodedCredentials);\n\n// Retornar para uso no fluxo n8n\nreturn { encodedCredentials };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2400,560],"id":"f15e32cd-e72d-40e2-94a1-6de02151036d","name":"Encoded Zoom Credentials"},{"parameters":{"httpMethod":"POST","path":"TEST","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2840,560],"id":"8f160d05-526a-42a9-9dd4-eadb723ce9db","name":"Webhook","webhookId":"7481f1cb-7052-4d32-9c9d-04d976cf031b"},{"parameters":{"assignments":{"assignments":[{"id":"0216bed2-dd73-4c98-847f-47b3735b4577","name":"zoomClientID","value":"TEST","type":"string"},{"id":"1beb0cde-6a96-4eba-b8da-3b122770094f","name":"zoomClientSecret","value":"TEST","type":"string"},{"id":"4adcca19-62d7-49cb-9b93-241c5a57a954","name":"crelateApiKey","value":"TEST","type":"string"},{"id":"5837ccb9-d2f5-4fff-93f6-612d13a3084b","name":"zoomAccountID","value":"TEST","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2620,560],"id":"a817fe3f-f2b6-4653-98c1-786d25642a2a","name":"API KEYs"},{"parameters":{"assignments":{"assignments":[{"id":"a7607486-2d52-48cc-997d-52b6d506c160","name":"senderPhoneNumber","value":"={{ $('Webhook').item.json.body.payload.object.sender.phone_number }}","type":"string"},{"id":"46da155d-e623-46e6-92d1-3b6a6934b596","name":"receivedPhoneNumber","value":"={{ $('Webhook').item.json.body.payload.object.to_members[0].phone_number }}","type":"string"},{"id":"b33ccb2a-58b8-4697-8d1f-ab74083bb3b0","name":"message","value":"={{ $('Webhook').item.json.body.payload.object.message }}","type":"string"},{"id":"1a095a0d-a3f6-40b3-bd31-7f33d386f063","name":"timeStamp","value":"={{ $('Webhook').item.json.body.payload.object.date_time }}","type":"string"},{"id":"a441febd-6f70-48e1-bbc1-c3d1370ae373","name":"received","value":false,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1520,760],"id":"fd4790df-c316-4446-a090-346a06e298e5","name":"SET DATA SMS"},{"parameters":{"url":"https://app.crelate.com/api3/contacts/","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{ $('API KEYs').item.json.crelateApiKey }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_key","value":"={{ $('API KEYs').item.json.crelateApiKey }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone_numbers","value":"={{ [$json.receivedPhoneNumber] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1080,860],"id":"160cb9bd-59e7-442e-95bf-626ddddbc85e","name":"Get Contacts Crelate By SMS"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-640,760],"id":"4cc667a3-dd19-45da-9c34-386b6eecd681","name":"No Operation, do nothing3"},{"parameters":{"method":"POST","url":"=https://app.crelate.com/api3/activities/","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"entity\": {\n    \"Subject\": \"SMS\",\n    \"Display\": \"{{ $json.cleanedDisplay }}\\n\\n{{ new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) }} Contact:\\n{{ $('Webhook').first().json.body.payload.object.message }}\\n\",\n    \"Completed\": true,\n    \"IsEngagement\": true,\n    \n\n    \"When\": \"{{ new Date().toISOString() }}\",\n\n\n    \"ParentId\": {\n      \"Id\": \"{{ $('Get Contacts Crelate By SMS').first().json.Data[0].Id }}\",\n      \"EntityName\": \"Contacts\"\n    },\n\n    \"VerbId\": {\n      \"Id\": \"36e4b200-e8ca-47f5-b9bb-a09101058595\",\n      \"Title\": \"Note\"\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,680],"id":"dfd12377-4c1d-49b2-87e9-429a2a46dd28","name":"Create Sent Note SMS"},{"parameters":{"assignments":{"assignments":[{"id":"a7607486-2d52-48cc-997d-52b6d506c160","name":"senderPhoneNumber","value":"={{ $('Webhook').item.json.body.payload.object.to_members[0].phone_number }}","type":"string"},{"id":"46da155d-e623-46e6-92d1-3b6a6934b596","name":"receivedPhoneNumber","value":"={{ $('Webhook').item.json.body.payload.object.sender.phone_number }}","type":"string"},{"id":"b33ccb2a-58b8-4697-8d1f-ab74083bb3b0","name":"message","value":"={{ $('Webhook').item.json.body.payload.object.message }}","type":"string"},{"id":"1a095a0d-a3f6-40b3-bd31-7f33d386f063","name":"timeStamp","value":"={{ $('Webhook').item.json.body.payload.object.date_time }}","type":"string"},{"id":"b4464b28-c7ec-452c-ab70-d83105e0df96","name":"received","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1520,960],"id":"efa4a2c2-851d-4975-87f8-637a6afcd85b","name":"SET DATA SMS1"},{"parameters":{"assignments":{"assignments":[{"id":"af8f8031-f727-4417-ab28-015f1bb1416f","name":"senderPhoneNumber","value":"={{ $json.senderPhoneNumber }}","type":"string"},{"id":"fb9654dd-aec2-45d1-9470-3a08f5f2d16c","name":"receivedPhoneNumber","value":"={{ $json.receivedPhoneNumber }}","type":"string"},{"id":"4472c3c9-a0c1-476d-ad32-d526934e9f8f","name":"message","value":"={{ $json.message }}","type":"string"},{"id":"cbd5b59e-d907-4e6e-9e25-b76102741829","name":"timeStamp","value":"={{ $json.timeStamp }}","type":"string"},{"id":"397af380-669f-488f-9b23-87f1dd3ce01e","name":"received","value":"={{ $json.received }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1300,860],"id":"ecb1b5c8-32dd-4587-9b36-ca0ef2ca2ae0","name":"setting variables"},{"parameters":{"method":"POST","url":"=https://app.crelate.com/api3/activities/","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"entity\": {\n    \"Subject\": \"SMS\",\n    \"Display\": \"{{ $json.cleanedDisplay }}{{ new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) }} - Rep. {{ $('Get Activities by Contact').item.json.Data[0].CreatedById.Title }}:\\n {{ $('Webhook').first().json.body.payload.object.message }}\\n\",\n    \"Completed\": true,\n    \"IsEngagement\": false,\n    \"IsReachout\": true,\n\n    \"When\": \"{{ new Date().toISOString() }}\",\n    \"ParentId\": {\n      \"Id\": \"{{ $('Get Contacts Crelate By SMS').first().json.Data[0].Id }}\",\n      \"EntityName\": \"Contacts\"\n    },\n\n    \"VerbId\": {\n      \"Id\": \"36e4b200-e8ca-47f5-b9bb-a09101058595\",\n      \"Title\": \"Note\"\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,1040],"id":"809abaf7-f8de-46b3-a90b-dc0492230b32","name":"Create Sent Note SMS1"},{"parameters":{"jsCode":"const display = $input.first().json.Display;\n\n\n// Replace real newlines with a literal \\n string\nconst cleaned = display.replace(/\\r?\\n/g, '\\\\n');\n\nreturn [{ json: { cleanedDisplay: cleaned } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,680],"id":"379a313d-5f65-4159-ab9a-7a4a88a7fb1e","name":"Format BReaklines"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c36004f5-b09d-46b6-aac3-4b37090c6c13","leftValue":"={{ $('Filter Activity').item.json.Display }}","rightValue":"={{ $('setting variables').item.json.senderPhoneNumber }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[40,1140],"id":"d25844b4-6cc5-4b67-af51-61adf8fcdf23","name":"Filter BY SENT","alwaysOutputData":true},{"parameters":{"jsCode":"const display = $input.first().json.Display;\n\n\n// Replace real newlines with a literal \\n string\nconst cleaned = display.replace(/\\r?\\n/g, '\\\\n');\n\nreturn [{ json: { cleanedDisplay: cleaned } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[460,1040],"id":"e12fa6ec-0723-4447-80cd-f8d626a28d7e","name":"UPDATE NOTE - FORMAT TXT"},{"parameters":{"method":"POST","url":"=https://app.crelate.com/api3/activities/","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"entity\": {\n    \"Subject\": \"SMS\",\n    \"Display\": \"Between ({{ $('setting variables').item.json.senderPhoneNumber.replaceAll('+', '') }} & {{ $('setting variables').item.json.receivedPhoneNumber }}) - {{ new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) }}: {{ $('Webhook').first().json.body.payload.object.message }}\",\n    \"Completed\": true,\n    \"IsEngagement\": true,\n\n    \"When\": \"{{ new Date().toISOString() }}\",\n\n\n    \"ParentId\": {\n      \"Id\": \"{{ $('Get Contacts Crelate By SMS').first().json.Data[0].Id }}\",\n      \"EntityName\": \"Contacts\"\n    },\n\n    \"VerbId\": {\n      \"Id\": \"36e4b200-e8ca-47f5-b9bb-a09101058595\",\n      \"Title\": \"Note\"\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,880],"id":"82030043-2e1b-4645-986e-46d98102ddc9","name":"Create note if recieved"},{"parameters":{"method":"POST","url":"https://app.crelate.com/api3/activities","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"entity\": {\n    \"Subject\": \"SMS\",\n    \"Display\": \"Between ({{ $('setting variables').first().json.senderPhoneNumber.replaceAll('+', '') }} & {{ $('setting variables').first().json.receivedPhoneNumber }})\\n\\n{{ new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' }) }} {{ $('Webhook').first().json.body.payload.object.sender.display_name }}:\\n{{ $('Webhook').first().json.body.payload.object.message }}\",\n    \"Completed\": true,\n    \"IsEngagement\": false,\n    \"IsReachout\": true,\n\n    \"When\": \"{{ new Date().toISOString() }}\",\n\n    \"ParentId\": {\n      \"Id\": \"{{ $('Get Contacts Crelate By SMS').first().json.Data[0].Id }}\",\n      \"EntityName\": \"Contacts\"\n    },\n\n    \"VerbId\": {\n      \"Id\": \"36e4b200-e8ca-47f5-b9bb-a09101058595\",\n      \"Title\": \"Note\"\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,1260],"id":"6123c1d8-10f9-4dd0-a9d0-d50de3e343f3","name":"Create note if not recived"},{"parameters":{"method":"DELETE","url":"=https://app.crelate.com/api3/activities/{{ $('Filter BY SENT').first().json.Id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{ $('API KEYs').first().json.crelateApiKey }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_key","value":"={{ $('API KEYs').first().json.crelateApiKey }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,1040],"id":"ffdd8a7b-8296-41ca-8330-abbd516a1e24","name":"Delete Activity"},{"parameters":{"method":"DELETE","url":"=https://app.crelate.com/api3/activities/{{ $('Filter By RECEIVED').first().json.Id }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{ $('API KEYs').first().json.crelateApiKey }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_key","value":"={{ $('API KEYs').first().json.crelateApiKey }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,680],"id":"336a96cc-d355-4881-bb66-09a85762e6da","name":"Delete Activity1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f1c0a9fc-d887-4e68-92e4-5bf0f7852f2e","leftValue":"={{ $('Webhook').item.json.body.event }}","rightValue":"call","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"CALL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cdec5bce-81eb-4898-9440-dc06db5b49bb","leftValue":"={{ $('Webhook').item.json.body.event }}","rightValue":"phone.callee_missed​","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Missed Call"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.event }}","rightValue":"=sms","operator":{"type":"string","operation":"contains"},"id":"630f0c45-848c-481c-8d9b-e9ac1b2882ca"}],"combinator":"and"},"renameOutput":true,"outputKey":"SMS"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1960,560],"id":"a078fe82-1d06-48d3-aa64-4ddeb037cafa","name":"Switch"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"a1378c7b-a33b-43f6-857c-76ba035fe6dc","leftValue":"={{ $('Webhook').item.json.body.event }}","rightValue":"phone.sms_received","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1740,860],"id":"f932fb3a-15bc-4461-8f58-24523ec0c56c","name":"IF Received VS Sent"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f589a8f-4116-4b05-80b8-31e337c2cd1b","leftValue":"={{ $json.Data[0].Id }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-860,860],"id":"292240a3-fbfc-4d9c-80b3-eb308ee43e05","name":"I Contact Doesn't Exist"},{"parameters":{"content":"## Check SMS & Contact Exists","height":500,"width":1700,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1780,700],"id":"deb0a862-1af5-4885-a8b3-17141ba9982b","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9af50792-d441-436c-bca3-a3c2951eb65c","leftValue":"={{ $json}}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,780],"id":"9e24142a-01c4-4437-9ce3-0f2c5aa3b3bc","name":"If Note Exists"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9af50792-d441-436c-bca3-a3c2951eb65c","leftValue":"={{ $json}}","rightValue":"","operator":{"type":"object","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,1140],"id":"e68d9f80-4799-4a3b-abe5-f12adb7ea664","name":"If Note Exists1"},{"parameters":{"content":"## Check IF Note Exists & Push To Crelate","height":780,"width":1140,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,660],"id":"e6286b32-754a-4063-8198-69b19deb97b1","name":"Sticky Note1"},{"parameters":{"url":"=https://app.crelate.com/api3/activities","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"},{"name":"parent_ids","value":"={{ $json.Data[0].Id }}"},{"name":"verb_ids","value":"36e4b200-e8ca-47f5-b9bb-a09101058595"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-640,960],"id":"2e0ba512-1379-49ad-9245-c39d15a91271","name":"Get Activities by Contact"},{"parameters":{"jsCode":"const VERB_ID_TO_FILTER = '36e4b200-e8ca-47f5-b9bb-a09101058595';\n\nconst raw = items[0].json;\nconst activities = raw.Data || [];\n\nconst filtered = activities\n  .filter(act => act.VerbId?.Id === VERB_ID_TO_FILTER)\n  .map(act => ({\n    Id: act.Id,\n    Display: act.Display,\n  }));\n\nif (filtered.length === 0) {\n  return [{\n    json: {\n      Id: 'false',\n      Display: 'false',\n    },\n  }];\n}\n\nreturn filtered.map(entry => ({\n  json: entry,\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-420,960],"id":"b34a614b-cae1-42b5-902a-9f8fc229426d","name":"Filter Activity"},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-180,160],"id":"3f4818b5-5811-4c05-8fb4-59289e03f833","name":"Wait3","webhookId":"cb2b7782-6e0a-4d51-87fc-057dfcb65f14"},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[460,360],"id":"9542c654-812c-4cf6-82f6-c4f3a293a186","name":"OpenAI Chat Model1"},{"parameters":{"jsonSchemaExample":"{\n    \"subject\": \"string\",\n    \"body\": \"body\",\n    \"email\": \"\",\n    \"summary\": \"summary of the conversation\",\n    \"tasks\": \"1. First action item 2. Second action item or\",\n    \"when\": \"yyyy-mm-dd\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[620,360],"id":"0b4f1f88-9e90-434d-a002-23b8cb87db81","name":"Structured Output Parser"},{"parameters":{"url":"=https://api.zoom.us/v2/phone/recording_transcript/download/{{ $('Webhook').item.json.body.payload.object.call_logs[0].recording_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Switch').item.json.accessToken }}"}]},"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[20,160],"id":"de5f55b3-7e2c-4d9f-a2c7-c43d619929ac","name":"Download Transcription","retryOnFail":true,"waitBetweenTries":5000},{"parameters":{"promptType":"define","text":"={{ $json.timeline }}","hasOutputParser":true,"options":{"systemMessage":"=Rewrite the transcript as a threaded conversation with yours timestamps.format(\"00:00:00\")\n\nFor the summary: provide a concise yet meaningful overview of the conversation. It should capture the core purpose or key theme discussed between the speakers, highlighting any major decisions, context, or conclusions. The summary should not exceed two sentences and must be written in natural, plain English. Avoid repeating what’s already in the conversation — instead, synthesize the essence of what was discussed or agreed upon, don't grab the names just, write a Candidate and the Recepient.\n\nFor tasks: detect any spoken action items, decisions, follow-ups, or next steps that imply someone has to do something — whether it's explicitly stated or implied. Remove these from the dialogue body and store them separately as a plain string containing a numbered list. Each task should start with a number, followed by a period and a space (e.g., \"1. Schedule the next meeting 2. Send the revised proposal\"). The tasks string must contain all tasks in a single line, separated by a space after each task. If there are no action items or follow-ups in the conversation, return the string \"false\" for the tasks field. Analyze the input context to determine when the task must be performed.Your goal is to extract the due date in ISO 8601 format (YYYY-MM-DDTHH:mm:ss.sssZ). When multiple dates are mentioned in the input (explicit or relative), always select the latest (most distant) date in the future.\n\n\nIf a specific date is mentioned (e.g., April 10, 2025 or 10/04/25), return it in ISO format.\nIf a relative expression is used (e.g., tomorrow, next Monday, in 3 days), calculate the corresponding date and return it in ISO format.\nIf no date or time frame is mentioned, default to the current date using:\n{{ new Date().toISOString() }}\nIf the transcript says “schedule one task for Wednesday and another for Thursday”, you must return: Thursday.\nIf dates like tomorrow and next week appear, return next week — the most distant one.\nDo not return the earliest or first-mentioned date.\nYour job is to identify all valid dates and choose the latest one, even if it appears earlier in the text.\n\nReturn only the ISO date string, no explanation or extra formatting.\nExamples:\nInput: “Please schedule the task for next Friday.”\n➜ Output: \"2025-04-11T00:00:00.000Z\" (calculated)\nInput: “We need to follow up in 2 days.”\n➜ Output: \"2025-04-04T00:00:00.000Z\"\nInput: “No rush, just whenever.”\n➜ Output: \"{{ new Date().toISOString() }}\"\nHere is the transcription JSON:\n\n{{ $json.timeline }}\n\nThe output should be:\n\n{\n    \"subject\": \"string\",\n    \"body\": \"body\",\n    \"email\": \"\",\n    \"summary\": \"summary of the conversation\",\n    \"tasks\": \"1. First action item 2. Second action item\" // or \"false\" if there are none,\n    \"when\": \"yyyy-mm-dd\"\n}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[460,160],"id":"51f6ddf7-f5ef-4d2a-908c-95182a2ba939","name":"AI Clean Transcription"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2160,60],"id":"693a2ba3-f9f9-43ce-bf6d-bcb45dadb026","name":"No Operation, do nothing2"},{"parameters":{"jsCode":"const rawData = items[0].binary.data.data;\nconst jsonString = Buffer.from(rawData, 'base64').toString('utf-8');\nconst jsonObject = JSON.parse(jsonString);\n\nreturn [{ json: jsonObject }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,160],"id":"ee9176eb-ec5c-42b5-bfbd-36eb02bc56de","name":"Transform to JSON"},{"parameters":{"jsCode":"const data = $('Webhook').first().json.body.payload.object.call_logs[0];\n// Esse código pega o conteúdo do campo 'mensagem' vindo do nó anterior\nconst conteudo = $input.first().json.output.body || 'No contetnt received.';\nconst repName = data.callee_name || data.caller_name || 'Unknown Rep';\n// Converte o conteúdo em buffer para salvar como arquivo .txt\nconst buffer = Buffer.from(conteudo, 'utf-8');\n\nreturn [\n  {\n    binary: {\n      data: {\n        data: buffer.toString('base64'), // conteúdo em base64\n        mimeType: 'text/plain',\n        fileName: 'REP ' + repName + ' - ' + $('If Contact Exists').first().json.Data[0].FirstName +' '+ $('If Contact Exists').first().json.Data[0].LastName + ' ' + $now.toFormat('yyyy-mm-dd')+'.txt'  ,\n      },\n    },\n  },\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[840,160],"id":"61b3dbc7-8a28-403f-891b-221da9eaa90c","name":"Generate txt file"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1120,460],"id":"9b000312-3450-4a16-8faf-ac65b1fbcb04","name":"No Operation, do nothing5"},{"parameters":{"method":"POST","url":"https://app.crelate.com/api3/tasks","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{ $('API KEYs').first().json.crelateApiKey }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_key","value":"={{ $('API KEYs').first().json.crelateApiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"entity\": {\n    \"Subject\": \"{{ $('AI Clean Transcription').first().json.output.subject }}\",\n    \"Display\": \"Tasks: {{ $('AI Clean Transcription').first().json.output.tasks }}\",\n    \"Completed\": false,\n    \"When\": \"{{  $('AI Clean Transcription').first().json.output. when|| new Date().toISOString() }}\",\n\n    \"ParentId\": {\n      \"Id\": \"{{ $('Crelate Contact').item.json.contactId }}\",\n      \"EntityName\": \"Contacts\"\n    },\n\n    \"VerbId\": {\n      \"Id\": \"73c73a4f-9de4-4205-a0e5-a14600e9e70a\",\n      \"Title\": \"Task\"\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2160,260],"id":"cbf22e92-9dd7-49b3-9121-dd435fdba9a8","name":"Create Task"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bc5f6517-4af6-4b41-b4f3-5b5d29b4abd6","leftValue":"={{ $('AI Clean Transcription').first().json.output.tasks }}","rightValue":"false","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1940,160],"id":"22958764-ca3a-40f1-a5e2-8f5abb4d75c4","name":"IF Task Exists"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e9d170eb-c3fd-4e79-b1c8-6d6bb15bb7aa","leftValue":"={{ $json.Data }}","rightValue":"1","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1300,360],"id":"7e111624-a905-433e-ac2d-8174ca15364f","name":"If Contact Exists"},{"parameters":{"method":"POST","url":"https://app.crelate.com/api3/activities","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"entity\": {\n    \"Subject\": \"Inbound Call: {{ $('Get Contacts Crelate Inbound').first().json.Data[0].FirstName }} {{ $('Get Contacts Crelate Inbound').first().json.Data[0].LastName }} called Rep. {{ $('Webhook').first().json.body.payload.object.callee.name }} at {{ $now.format('yyyy-MM-dd- HH:mma') }} – missed call\",\n    \"Completed\": true,\n    \"IsEngagement\": false,\n    \"IsReachOut\": false,\n    \"Pinned\": false,\n\n    \"When\": \"{{$now}}\",\n    \"WhenEnd\": \"{{$now}}\",\n\n    \"ParentId\": {\n      \"Id\": \"{{ $('Get Contacts Crelate Inbound').item.json.Data[0].Id }}\",\n      \"Title\": \"{{ $('Get Contacts Crelate Inbound').item.json.Data[0].Name }}\",\n      \"EntityName\": \"Contacts\"\n    },\n\n    \"VerbId\": {\n      \"Id\": \"b1c3b52e-5890-4b91-b8a2-a9e2003b318d\",\n      \"Title\": \"Communication (Candidate)\"\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-820,160],"id":"7e46a555-10aa-4807-9af4-4e4701a9a98a","name":"Create Note Call to Missed Call"},{"parameters":{"method":"POST","url":"https://app.crelate.com/api3/activities","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"entity\": {\n    \"Subject\": \"Call\",\n    \"Display\": \"Outbound Call: Rep. {{ $('Webhook').item.json.body.payload.object.call_logs[0].caller_name }} called {{ $('Get Contacts Crelate Outbound').first().json.Data[0].FirstName}} {{ $('Get Contacts Crelate Outbound').first().json.Data[0].LastName }} at {{ $now.format('yyyy-MM-dd- HH:mma') }} – Duration: {{ (new Date($('Webhook').item.json.body.payload.object.call_logs[0].end_time).getTime() - new Date($('Webhook').item.json.body.payload.object.call_logs[0].start_time).getTime()) / 1000 }}s\",\n    \"Announced\": false,\n    \"Completed\": true,\n    \"IsEngagement\": false,\n    \"IsReachOut\": false,\n    \"Pinned\": false,\n\n    \"When\": \"{{$now}}\",\n    \"WhenEnd\": \"{{$now}}\",\n\n    \"ParentId\": {\n      \"Id\": \"{{ $('Get Contacts Crelate Outbound').first().json.Data[0].Id }}\",\n      \"Title\": \"{{ $('Get Contacts Crelate Outbound').item.json.Data[0].Name }}\",\n      \"EntityName\": \"Contacts\"\n    },\n\n    \"VerbId\": {\n      \"Id\": \"b1c3b52e-5890-4b91-b8a2-a9e2003b318d\",\n      \"Title\": \"Communication (Candidate)\"\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-380,560],"id":"eccc1e4e-e67d-4cbc-85a0-8da32e4c59ac","name":"Create Note Outbound Call"},{"parameters":{"method":"POST","url":"https://app.crelate.com/api3/activities","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"entity\": {\n    \"Subject\": \"Call\",\n    \"Display\": \"Inbound Call: {{ $('Get Contacts Crelate Inbound').first().json.Data[0].FirstName || 'Contact Not Found:'}} {{ $('Get Contacts Crelate Inbound').first().json.Data[0].LastName || $('Webhook').item.json.body.payload.object.call_logs[0].caller_did_number }} called Rep. {{ $('Webhook').item.json.body.payload.object.call_logs[0].callee_name }} at {{ $now.format('yyyy-MM-dd- HH:mma') }} – Duration: {{ (new Date($('Webhook').item.json.body.payload.object.call_logs[0].end_time).getTime() - new Date($('Webhook').item.json.body.payload.object.call_logs[0].start_time).getTime()) / 1000 }}s\",\n    \"Announced\": false,\n    \"Completed\": true,\n    \"IsEngagement\": false,\n    \"IsReachOut\": false,\n    \"Pinned\": false,\n\n    \"When\": \"{{$now}}\",\n    \"WhenEnd\": \"{{$now}}\",\n\n    \"ParentId\": {\n      \"Id\": \"{{ $('Get Contacts Crelate Inbound').first().json.Data[0].Id }}\",\n      \"Title\": \"{{ $('Get Contacts Crelate Inbound').item.json.Data[0].Name }}\",\n      \"EntityName\": \"Contacts\"\n    },\n\n    \"VerbId\": {\n      \"Id\": \"b1c3b52e-5890-4b91-b8a2-a9e2003b318d\",\n      \"Title\": \"Communication (Candidate)\"\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-380,360],"id":"836e1693-9fbc-4d92-bc60-ace334a08ca6","name":"Create Note Inbound Call"},{"parameters":{"method":"POST","url":"https://app.crelate.com/api3/activities","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{ $('API KEYs').first().json.crelateApiKey }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_key","value":"={{ $('API KEYs').first().json.crelateApiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"entity\": {\n    \"Subject\": \"{{ $('AI Clean Transcription').first().json.output.subject }}\",\n      \"Display\": \"Inbound Call: {{ $('Get Contacts Crelate Inbound').item.json.Data[0].FirstName }} {{ $('Get Contacts Crelate Inbound').item.json.Data[0].LastName }} called Rep. {{ $('Webhook').item.json.body.payload.object.callee.name }} at {{ $now.format('yyyy-MM-dd- HH:mma') }} – Duration: {{ $('Get Recording').item.json.duration }}s\\nSummary: {{ $('AI Clean Transcription').first().json.output.summary }}\\nTranscript Link: {{ $('Microsoft OneDrive Inbound').item.json.link.webUrl }}\",\n    \"Completed\": true,\n    \"When\": \"{{ new Date().toISOString() }}\",\n\n    \"ParentId\": {\n      \"Id\": \"{{ $('Get Contacts Crelate Inbound').item.json.Data[0].Id }}\",\n      \"EntityName\": \"Contacts\"\n    },\n\n    \"VerbId\": {\n      \"Id\": \"b1c3b52e-5890-4b91-b8a2-a9e2003b318d\",\n      \"Title\": \"Communication (Candidate)\"\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1720,60],"id":"fa8143c8-0f7b-4e22-a2c8-b3d564d07e77","name":"Create Call Crelate Inbound"},{"parameters":{"method":"POST","url":"https://app.crelate.com/api3/activities","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{ $('API KEYs').first().json.crelateApiKey }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_key","value":"={{ $('API KEYs').first().json.crelateApiKey }}"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"entity\": {\n    \"Subject\": \"{{ $('AI Clean Transcription').item.json.output.subject }}\",\n    \"Display\": \"Outbound Call: Rep. {{ $('Webhook').item.json.body.payload.object.call_logs[0].caller_name }} called {{ $('Get Contacts Crelate Outbound').item.json.Data[0].FirstName }} {{ $('Get Contacts Crelate Outbound').item.json.Data[0].LastName }} at {{ $now.format('yyyy-MM-dd-HH:mma') }} – Duration: {{ $('Get Recording').item.json.duration }}s \\nSummary:{{ $('AI Clean Transcription').first().json.output.summary }}\\nTranscript Link: {{ $('Microsoft OneDrive Outbound').item.json.link.webUrl }}\",\n    \"Completed\": true,\n    \"When\": \"{{ new Date().toISOString() }}\",\n\n    \"ParentId\": {\n        \"Id\": \"{{ $('Get Contacts Crelate Outbound').item.json.Data[0].Id }}\",\n      \"EntityName\": \"Contacts\"\n    },\n\n    \"VerbId\": {\n      \"Id\": \"b1c3b52e-5890-4b91-b8a2-a9e2003b318d\",\n      \"Title\": \"Communication (Candidate)\"\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1720,260],"id":"4173e499-b74f-4725-8a37-c4a091f0bfb9","name":"Create Call Crelate Outbound"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.payload.object.call_logs[0].direction }}","rightValue":"inbound","operator":{"type":"string","operation":"equals"},"id":"4731b792-0b2e-4f46-9558-d409be4951d7"}],"combinator":"and"},"renameOutput":true,"outputKey":"Inbound"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"42db96f3-2300-4a92-b2b2-28c845311afc","leftValue":"={{ $('Webhook').item.json.body.payload.object.call_logs[0].direction }}","rightValue":"outbound","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Outbound"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1060,160],"id":"a0bef96e-d60e-4a74-bf60-3705879452a5","name":"If In/Outbound"},{"parameters":{"url":"=https://api.zoom.us/v2/phone/call_logs/{{ $('Webhook').item.json.body.payload.object.call_logs[0].call_id }}/recordings ","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $('Switch').item.json.accessToken }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-380,160],"id":"84f7e72d-5e29-42c5-be16-cea2f68f6adf","name":"Get Recording","onError":"continueRegularOutput"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.payload.object.call_logs[0].direction }}","rightValue":"inbound","operator":{"type":"string","operation":"equals"},"id":"633db917-3e7f-4195-a342-7dad4fbe63a8"}],"combinator":"and"},"renameOutput":true,"outputKey":"Inbound"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7a7f90ff-2245-4b31-8915-d3900b86f9c6","leftValue":"={{ $('Webhook').item.json.body.payload.object.call_logs[0].direction }}","rightValue":"outbound","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Outbound"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1740,360],"id":"a6374aba-f87c-4238-8efb-413fa1d3cf16","name":"Inbound or Outbound"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d258e050-fb28-4236-b275-01216e4b4866","leftValue":"={{ $('Webhook').item.json.body.payload.object.call_logs[0].direction }}","rightValue":"inbound","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-600,460],"id":"53190760-6426-4c0c-a4ab-39f5ec3a3618","name":"If inbound"},{"parameters":{"url":"https://app.crelate.com/api3/contacts/","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone_numbers","value":"={{ [$('Webhook').item.json.body.payload.object.call_logs[0].caller_did_number] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1520,260],"id":"f7ce47a1-6732-4579-9701-a8f91717a99f","name":"Get Contacts Crelate Inbound"},{"parameters":{"url":"https://app.crelate.com/api3/contacts/","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_key","value":"={{$('API KEYs').first().json.crelateApiKey}}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"phone_numbers","value":"={{ [$('Webhook').item.json.body.payload.object.call_logs[0].callee_did_number] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1520,460],"id":"1bf7c5ec-b2e9-45f8-a1f2-674ae7a96a4e","name":"Get Contacts Crelate Outbound"},{"parameters":{"operation":"share","fileId":"={{ $json.id }}","type":"edit","scope":"anonymous"},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[1500,60],"id":"e511bbd3-cfe4-40ab-ba31-2830ef1c2420","name":"Microsoft OneDrive Inbound"},{"parameters":{"operation":"share","fileId":"={{ $json.id }}","type":"edit","scope":"anonymous"},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[1500,260],"id":"bae6c305-0708-409d-8357-f679a254339a","name":"Microsoft OneDrive Outbound"},{"parameters":{"assignments":{"assignments":[{"id":"11ae9075-58a2-49a7-bd90-b6bbcee7c097","name":"contactId","value":"={{ $('If Contact Exists').Data[0].Id }}","type":"string"},{"id":"6270d928-4342-4485-92dd-7b9873011079","name":"contactName","value":"={{ $('If Contact Exists').Data[0].FirstName }} {{ $('If Contact Exists').Data[0].LastName }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-600,260],"id":"3b7be7c8-f83f-4a1b-ab92-a8206c6d0529","name":"Crelate Contact"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c753c839-31fc-4e2d-b111-64395db87645","leftValue":"={{ $('setting variables').item.json.received }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-200,960],"id":"1ab97cbb-5c9b-43cd-a518-0fa5a8ca525e","name":"Received/Sent"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c36004f5-b09d-46b6-aac3-4b37090c6c13","leftValue":"={{ $('Filter Activity').item.json.Display }}","rightValue":"={{ $('setting variables').item.json.receivedPhoneNumber }}","operator":{"type":"string","operation":"contains"}},{"id":"4554533c-d6bd-4d35-8eee-647ef12ba099","leftValue":"","rightValue":"","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[40,780],"id":"55c2ef61-77a5-4fb0-b930-1f22b27edd9a","name":"Filter By RECEIVED","alwaysOutputData":true},{"parameters":{"action":"hmac","type":"SHA256","value":"={{ $json.body.payload.plainToken }}","dataPropertyName":"=data","secret":"ji9Bi-zzS8SUGwueRq__dA"},"id":"db8626e6-9c89-4e02-97f6-0ff25f446802","name":"Crypto","type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-2380,940],"onError":"continueRegularOutput"},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"body","value":"={\"encryptedToken\":\"{{ $json.data }}\",\"plainToken\":\"{{ $json.body.payload.plainToken }}\"}"}]},"options":{}},"id":"e29be8a1-f4a4-4e16-90c5-3b163d1d6f61","name":"Set","type":"n8n-nodes-base.set","typeVersion":1,"position":[-2220,940]},{"parameters":{"content":"## Zoom Webhook Validation\nconnect webhook trigger in this nodes to encrypt tokens\n","height":300,"width":700,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2580,820],"id":"45b9d059-336b-48f9-a898-e4cab1de2e72","name":"Sticky Note2"},{"parameters":{"respondWith":"json","responseBody":"={{ $json.body }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-type","value":"application/json"}]}}},"id":"36fd7c81-1b40-40de-8e5f-8b32c532c02a","name":"Respond to Webhook1","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-2040,940]},{"parameters":{"httpMethod":"POST","path":"TEST","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2560,940],"id":"1ce1ef00-5d12-4616-a263-15f5f12638dd","name":"Webhook1","webhookId":"7481f1cb-7052-4d32-9c9d-04d976cf031b"},{"parameters":{"content":"## Check Crelate For Contact","height":480,"width":860,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1780,180],"id":"9b07016d-90ea-4413-96be-a0b52114ef5d","name":"Sticky Note4"},{"parameters":{"content":"## Add Task In Crealate IF - Missed Call/No Recording","height":600,"width":640,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-860,80],"id":"25c68769-9968-4506-8605-805204692dcd","name":"Sticky Note5"},{"parameters":{"content":"## Download Recording Create Summaries And Upload To Onedrive","height":500,"width":1640,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"16340c5b-73a5-40cc-890c-577adb628fbb","name":"Sticky Note6"},{"parameters":{"content":"## Create Call Event & Tasks","height":500,"width":660,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1680,0],"id":"8d73ce99-2783-451d-945d-bbd141fe91e1","name":"Sticky Note7"},{"parameters":{"fileName":"= {{ $('Webhook').first().json.body.payload.object.callee.name }} - {{ $('Get Contacts Crelate Inbound').item.json.Data[0].FirstName }} {{ $('Get Contacts Crelate Inbound').item.json.Data[0].LastName }} - {{ $now.format('yyyy-MM-dd') }}","parentId":"=01KAVBTQQ2HPDUFIMCSJBLVXIO624NTKWY","binaryData":true},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[1280,60],"id":"381c11a6-24c0-4be9-a7ea-2fc006493b50","name":"FOLDER","retryOnFail":true},{"parameters":{"fileName":"={{ $('Webhook').item.json.body.payload.object.call_logs[0].caller_name }} - {{ $('Get Contacts Crelate Outbound').item.json.Data[0].FirstName }} {{ $('Get Contacts Crelate Outbound').item.json.Data[0].LastName }} - {{ $now.format('yyyy-MM-dd') }}- {{ $now.format('yyyy-MM-dd') }}","parentId":"=01KAVBTQQ2HPDUFIMCSJBLVXIO624NTKWY","binaryData":true},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[1280,260],"id":"741bf311-47a1-43d7-ae01-75a87d220439","name":"FOLDER2","retryOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0dd13d92-3e07-40bf-a246-ea22d5af15d8","leftValue":"={{ $('Switch').item.json.event }}","rightValue":"=missed","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1120,240],"id":"4099ae64-cce2-43eb-8baa-0935e55a6a57","name":"If missed call"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c8dd9f60-0cf9-4e28-a1fd-2abc27baaeee","leftValue":"={{ $('Webhook').item.json.body.payload.object.call_logs[0].recording_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-820,360],"id":"19473c3b-aa62-49aa-b2a1-30cf16fad191","name":"If Recording Exists"},{"parameters":{"url":"https://app.crelate.com/api3/activitytypes","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"Your API KEY"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_key","value":"Your API KEY"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2540,1240],"id":"fc5a4ecb-7bd4-497b-85ea-2cf8d3892f0c","name":"Grab Activity Types"}],"connections":{"Generate Access Token":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Encoded Zoom Credentials":{"main":[[{"node":"Generate Access Token","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"API KEYs","type":"main","index":0}]]},"API KEYs":{"main":[[{"node":"Encoded Zoom Credentials","type":"main","index":0}]]},"SET DATA SMS":{"main":[[{"node":"setting variables","type":"main","index":0}]]},"Get Contacts Crelate By SMS":{"main":[[{"node":"I Contact Doesn't Exist","type":"main","index":0}]]},"SET DATA SMS1":{"main":[[{"node":"setting variables","type":"main","index":0}]]},"setting variables":{"main":[[{"node":"Get Contacts Crelate By SMS","type":"main","index":0}]]},"Format BReaklines":{"main":[[{"node":"Create Sent Note SMS","type":"main","index":0}]]},"Filter BY SENT":{"main":[[{"node":"If Note Exists1","type":"main","index":0}]]},"UPDATE NOTE - FORMAT TXT":{"main":[[{"node":"Create Sent Note SMS1","type":"main","index":0}]]},"Create Sent Note SMS":{"main":[[{"node":"Delete Activity1","type":"main","index":0}]]},"Create Sent Note SMS1":{"main":[[{"node":"Delete Activity","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Inbound or Outbound","type":"main","index":0}],[{"node":"Inbound or Outbound","type":"main","index":0}],[{"node":"IF Received VS Sent","type":"main","index":0}]]},"IF Received VS Sent":{"main":[[{"node":"SET DATA SMS","type":"main","index":0}],[{"node":"SET DATA SMS1","type":"main","index":0}]]},"I Contact Doesn't Exist":{"main":[[{"node":"No Operation, do nothing3","type":"main","index":0}],[{"node":"Get Activities by Contact","type":"main","index":0}]]},"If Note Exists":{"main":[[{"node":"Format BReaklines","type":"main","index":0}],[{"node":"Create note if recieved","type":"main","index":0}]]},"If Note Exists1":{"main":[[{"node":"UPDATE NOTE - FORMAT TXT","type":"main","index":0}],[{"node":"Create note if not recived","type":"main","index":0}]]},"Get Activities by Contact":{"main":[[{"node":"Filter Activity","type":"main","index":0}]]},"Filter Activity":{"main":[[{"node":"Received/Sent","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Download Transcription","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Clean Transcription","type":"ai_languageModel","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Clean Transcription","type":"ai_outputParser","index":0}]]},"Download Transcription":{"main":[[{"node":"Transform to JSON","type":"main","index":0}]]},"AI Clean Transcription":{"main":[[{"node":"Generate txt file","type":"main","index":0}]]},"Transform to JSON":{"main":[[{"node":"AI Clean Transcription","type":"main","index":0}]]},"Generate txt file":{"main":[[{"node":"If In/Outbound","type":"main","index":0}]]},"IF Task Exists":{"main":[[{"node":"No Operation, do nothing2","type":"main","index":0}],[{"node":"Create Task","type":"main","index":0}]]},"If Contact Exists":{"main":[[{"node":"If missed call","type":"main","index":0}],[{"node":"No Operation, do nothing5","type":"main","index":0}]]},"Create Call Crelate Inbound":{"main":[[{"node":"IF Task Exists","type":"main","index":0}]]},"Create Call Crelate Outbound":{"main":[[{"node":"IF Task Exists","type":"main","index":0}]]},"If In/Outbound":{"main":[[{"node":"FOLDER","type":"main","index":0}],[{"node":"FOLDER2","type":"main","index":0}]]},"Get Recording":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Inbound or Outbound":{"main":[[{"node":"Get Contacts Crelate Inbound","type":"main","index":0}],[{"node":"Get Contacts Crelate Outbound","type":"main","index":0}]]},"If inbound":{"main":[[{"node":"Create Note Inbound Call","type":"main","index":0}],[{"node":"Create Note Outbound Call","type":"main","index":0}]]},"Get Contacts Crelate Inbound":{"main":[[{"node":"If Contact Exists","type":"main","index":0}]]},"Get Contacts Crelate Outbound":{"main":[[{"node":"If Contact Exists","type":"main","index":0}]]},"Microsoft OneDrive Inbound":{"main":[[{"node":"Create Call Crelate Inbound","type":"main","index":0}]]},"Microsoft OneDrive Outbound":{"main":[[{"node":"Create Call Crelate Outbound","type":"main","index":0}]]},"Crelate Contact":{"main":[[{"node":"Get Recording","type":"main","index":0}]]},"Received/Sent":{"main":[[{"node":"Filter By RECEIVED","type":"main","index":0}],[{"node":"Filter BY SENT","type":"main","index":0}]]},"Filter By RECEIVED":{"main":[[{"node":"If Note Exists","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Set","type":"main","index":0}]]},"Set":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"FOLDER":{"main":[[{"node":"Microsoft OneDrive Inbound","type":"main","index":0}]]},"FOLDER2":{"main":[[{"node":"Microsoft OneDrive Outbound","type":"main","index":0}]]},"If missed call":{"main":[[{"node":"Create Note Call to Missed Call","type":"main","index":0}],[{"node":"If Recording Exists","type":"main","index":0}]]},"If Recording Exists":{"main":[[{"node":"Crelate Contact","type":"main","index":0}],[{"node":"If inbound","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"777c7fcd-2bdf-44d3-a977-7c52876c503d","triggerCount":0,"tags":[]}